[2020-11-30 20:22] RichatSCRF opened #1 "Create Notable Works for MDAGT"
Template here: https://docs.google.com/document/d/1SN_XDX5-kvfQRW31yflWqJDbseMZQeiaS3ZCQbecLoY/edit

[2020-12-01 18:41] ghettodev opened #2 "Make notable works template better"
fix indenting

[2020-12-01 20:46] ericjaurena opened #3 "Generate Research Summary for Tim Roughgarden's assessment of EIP-1559"
https://docs.google.com/document/d/1Soia7Da8jcsxfz9n1B_KjeBI8OBuLOM8m2agvqHstG8/edit#heading=h.vebeviabrepg

http://timroughgarden.org/papers/eip1559.pdf

[2020-12-02 04:42] RichatSCRF opened #4 "test 1"
adsfdsaf

[2020-12-02 04:42] ghettodev opened #5 "test 2"

[2020-12-04 18:29] visavishesh opened #6 "Generate Research Summary for Tim Roughgarden's assessment of EIP-1559"

[2020-12-04 18:29] #6 closed

[2020-12-04 19:17] Coinproz opened #7 "Research Summary for Ripple Protocol"
**What is this paper about?**
This is a mathematical analysis of the Ripple consensus protocol.

**Why is it important?**
The paper discovers some critical vulnerabilities in the protocol that are relevant to engineers to be able to either solve the problem or figure out how to warn users how to avoid succumbing to the issues.

Leonardo reviewed for content previously, so really just needs editori

[2020-12-04 19:30] ericjaurena opened #8 "Revamp One-Pager"
### One-Pager Review

- [ ] Change verbiage to active voice
- [ ] Review "What is the SCRF" section
- [ ] Review categories/areas of interest
- [ ] Review "Who will I find on SCRF" section
- [ ] Review "Why is the SCRF Significant" section
- [ ] Propose copy for a revamped "What Else Should I Know?" section

Make suggestions on this doc:
https://docs.google.com/document/d/1tTv8TYowj_Jo5xwb5lm9Ffha

[2020-12-04 20:07] visavishesh opened #9 "Discussion post: Flashbots"
https://docs.google.com/document/d/1BgRIbht_hMj1i_f_PS4Dw64SNS1g8T6st_g8pLHSq2s/edit

[2020-12-04 21:39] ericjaurena opened #10 "Andy's Example Content"
## Here it is babyyyy

[2020-12-04 22:06] jamesmcgirk opened #11 "Project: Create Research Team Mandate"
### Project Description

The research mandate is part of the onboarding pack, and it gives cultural context for the research team position.

### Workplan

- [x] first draft
- [x] schedule meeting with RT lead for notes
- [x] second draft
- [x] present to Team
- [x] get Team buy-in
- [x] post to Github repository

### Resources

[Research Team mandate](https://docs.google.com/document/d/1qkpj-aHYQ_

[2020-12-05 11:35] lpassos opened #12 "Research Summary: "The decentralized financial crisis""
**What is this paper about?**
This paper discusses the risks of financial loss in the DeFi ecosystem; by abstracting over an attack vector over Maker's governance design, the authors propose a framework to stress test a stylized lending protocol, showing how specific parameters could make the protocol under-collaterized.

**Why is it important?**
It provides auditors and security minded folks with

[2020-12-05 11:38] lpassos opened #13 "Add research summary for "Trustworthy Blockchain Oracles: Review, Comparison, and Open Research Challenges""
PDF at: https://www.researchgate.net/publication/341174793_Trustworthy_Blockchain_Oracles_Review_Comparison_and_Open_Research_Challenges

[2020-12-05 11:47] lpassos opened #14 "Add audit report summary for Teku"
**Goal**
Provide an audit summary for the Teku Eth2 client.

**Why is this important?**
Eth2 is the next big thing in the Ethereum network, where shards will be introduced with the aim of achieving higher network throughput

Report at: https://certificate.quantstamp.com/full/teku

[2020-12-07 17:29] ericjaurena commented on #8
Updated "What Else Should I Know" section to reflect liveness of site, and include team email.

[2020-12-07 19:52] visavishesh commented on #9
https://docs.google.com/document/d/1BgRIbht_hMj1i_f_PS4Dw64SNS1g8T6st_g8pLHSq2s/edit

[2020-12-07 20:09] jamesmcgirk opened #15 "Use Cases Presentation"
High-level document about Use Cases, for presentation 12/9
https://docs.google.com/document/d/1Qe0_-KE7Zzx-PG6Spdk2xfRb_lNMN3Xh6E_YaxHOpvA/edit

[2020-12-07 20:27] visavishesh opened #16 "Key Problems: Mechanism Design"
https://docs.google.com/document/d/15MVBe8GLATga_NgXzf2zQ-mbC4cMldbsDxvLxPoz8O8/edit

[2020-12-07 20:28] visavishesh opened #17 "Category Intro: Mechanism Design"

[2020-12-07 20:32] visavishesh opened #18 "Notable Works: Mechanism Design"
https://docs.google.com/document/d/1-yK46e17onMrwZU8ZYvFMFN5srR_u5q38xtIAhlkmdo/edit

[2020-12-09 18:51] #17 closed

[2020-12-09 18:58] ghettodev opened #19 "Add research summary for "A Survey on Applications of Game Theory in Blockchain - Mining Management""
https://arxiv.org/abs/1902.10865

This paper dives into the different applications of game theory to multiple blockchain issues. This research summary will summarize the first part of the paper (game theory) and then dive into the mining-management application's part of the paper

[2020-12-09 19:02] Coinproz opened #20 "Research summary for "Scalable and Probabilistic Leaderless BFT Consensus through Metastability""
https://docs.google.com/document/d/1kaLrxjBU6IY_NLa5V5R-ZUwirXD6bJ8-vitdGpsdf5I/edit?usp=sharing

[2020-12-09 19:53] tjd233 opened #21 "Research summary for "A Survey on Applications of Game Theory in Blockchain - Security Section""
https://arxiv.org/abs/1902.10865

This paper dives into the different applications of game theory to multiple blockchain issues. This research summary will summarize the first part of the paper (game theory) and then dive into the security applications part of the paper.

Link to drive file:
https://docs.google.com/document/d/1xlFf1o18tny8JR4CBRwSIeMZ38JaQAgfmPptOH2if4M/edit

[2020-12-09 22:29] visavishesh opened #22 "Some notable works to include"
- [ ] Highly Influential Blockchain Publications
- [ ] Selfish Mining: Top-cited paper after the Bitcoin whitepaper and Ethereum's yellow paper. It pointed out the biggest known flaw in Nakamoto mining and was used heavily to motivate for small blocks.
- [ ] Hawk: Seminal paper on smart contract confidentiality.
- [ ] A Fistful of Bitcoins: Characterizing Payments Among Men with No Names: The semi

[2020-12-09 22:43] dr-chain opened #23 "Research Summary for "Offline verification of Blockchain data for remote IoT/resource constrained devices"
Draft:

https://docs.google.com/document/d/1XvVS2agNlSvL0k45oDPi8kRrM22N_U9I97osNyg53KQ/edit

Paper: https://ieeexplore.ieee.org/abstract/document/9044957

The second part of the paper deals with the offline verification of blockchain data. This is an important issue for blockchain application as remote resource constrained devices cannot directly communicate with blockchain. A trust on an intermi

[2020-12-10 23:50] Coinproz commented on #20
https://docs.google.com/document/d/1kaLrxjBU6IY_NLa5V5R-ZUwirXD6bJ8-vitdGpsdf5I/edit

[2020-12-11 18:58] ghettodev commented on #18
This needs coverage, moving back to To Do until we find someone. @tjd233 any suggestions?

[2020-12-11 18:58] ghettodev commented on #3
@cipherix can we get a link to the draft doc?

[2020-12-11 19:10] bgits opened #24 "Research Summary: "Why and How zk-SNARK Works""
Paper:

https://arxiv.org/abs/1906.07221

Paper's contribution is a simplistic exposition with a sufficient and gradually increasing level of complexity, necessary to understand zk-SNARK without any prerequisite knowledge of the subject, cryptography or advanced math. The primary goal is not only to explain how it works but why it works and how it came to be this way.

[2020-12-11 20:41] jamesmcgirk commented on #15
Created a template with sample questions https://docs.google.com/document/d/1ddH65uj-UMbFfhMvq4VggILOjwOOcLG14CJqkJbPXx8/edit?usp=sharing

[2020-12-14 19:20] visavishesh opened #25 "An analysis of uniswap markets"
https://arxiv.org/pdf/1911.03380.pdf

https://docs.google.com/document/d/13FWfd1qSkpZpr4tRemNzfgf-qItT9K4I5oKZVCIWTqo/edit#heading=h.thzg29if21r

[2020-12-17 02:11] ghettodev opened #26 "asddsffdsdfgs"
dfsgsdfgsdfgdsfgdsfgfdsg

[2020-12-17 02:11] #26 closed

[2020-12-17 02:11] ghettodev commented on #26
closing disord test issue

[2020-12-17 20:33] visavishesh opened #27 "Generate Intro Post"
- [ ] Define what SCRF is
- [ ] Define what SCRF is not
- [ ] Convert frowns upside down
- [ ] Explain how SCRF what SCRF is doing now
- [ ] Explain needs it fills
- [ ] Reinforce this is agnostic platform
- [ ] Convey connecting researchers and engineers
- [ ] Provide examples of above

[2020-12-18 19:40] ericjaurena opened #28 "Shareable Presspacks"
[Document](https://docs.google.com/document/d/1nuk7ZtT2zkLuKOg9MR-XhTM-rVrJKmcJi7YGoj95-Is/edit)

[2020-12-19 05:33] Coinproz opened #29 "Discussion Post on "Meta Trust""
Discussion post on Meta Trust
https://docs.google.com/document/d/1FalPCvBQYR3rc438zNCSxNtExR3cPuK0jJaXnKFNhBs/edit?usp=sharing

[2020-12-21 16:18] ericjaurena opened #30 "Understanding Ethereum via Graph Analysis - Tina"
[Summary](https://docs.google.com/document/d/1bULyetoNwZzsujUV4LFYKzO3gA7P251_p3HLN8DogZE/edit)

[2020-12-23 16:49] jamesmcgirk opened #31 "Use Cases: eThor"
https://docs.google.com/document/d/1I1m6L_6RSi3aSIcmN7EMOvByVUWXHEqnoXnnWu65XKk/edit?usp=sharing

[2020-12-23 16:57] jamesmcgirk commented on #31
https://docs.google.com/document/d/1I1m6L_6RSi3aSIcmN7EMOvByVUWXHEqnoXnnWu65XKk/edit - transcript with timecode, will create Use Cases on this doc.

[2020-12-23 18:10] ericjaurena commented on #3
@cipherix and @visavishesh indicate this is ready for an editorial review. @bgits offered to do another content review. Assigned @bgits and @jamesmcgirk for these reviews.

[2020-12-23 20:23] bgits opened #32 "Add summary for Chain bridge audit"
As there is not white paper a review of the security audit with some notes from docs might be the best way to get familiar with Chain bridge.

https://chainsafe.github.io/ChainBridge/

https://consensys.net/diligence/audits/private/adash47d-chainbridge/

[2020-12-28 19:28] tjd233 opened #33 "Add research summary: Automated Market Makers for Decentralized Finance (DeFi)"
https://arxiv.org/abs/2009.01676

[2020-12-28 19:36] ericjaurena opened #34 "Research Summary: Zerocash: Decentralized Anonymous Payments from Bitcoin"
[Research Summary by Tina](https://docs.google.com/document/d/1nfh4An1g49jzV6wEaCrNDwc80nCQj1WQkJpSUQy17uQ/edit)

[2020-12-28 19:37] ericjaurena commented on #34
Ready for content review by @visavishesh

[2020-12-28 19:53] cipherix opened #35 "Research Summary: An Empirical Analysis of Chain Reorganizations and Double-Spend Attacks on Proof-of-Work Cryptocurrencies"

[2020-12-28 20:24] bgits opened #36 "Add research summary for NuCypher proxy re-encryption and homomorphic encryption"
https://github.com/nucypher/whitepaper/blob/master/whitepaper.pdf

[2020-12-28 20:25] bgits opened #37 "Add research summary for The Graph"
https://github.com/graphprotocol/research

Summary:
One of the few indexing networks.

topics:

- Middleware
- Indexing chain data
- crypto economics

[2020-12-29 16:29] tjd233 opened #38 "Research summary: "On the Instability of Bitcoin Without the Block Reward""
Draft link:
https://docs.google.com/document/d/1c_5XkJL-dCPnA46DM3a0-1lVGNkk0REia0HkpdxcdpI/edit

Paper link:
https://www.cs.princeton.edu/~arvindn/publications/mining_CCS.pdf

[2020-12-31 16:02] ericjaurena opened #39 "Research Summary: Attacking the DeFi Ecosystem with Flash Loans for Fun and Profit"
Summary: https://docs.google.com/document/d/1EXMJ_Ktgv-sxlILSz4kPidLp-zhfo00utiJwwgJ3W5Q/edit

[2021-01-04 19:46] visavishesh opened #40 "use cases for audits"

[2021-01-06 01:06] jamesmcgirk opened #41 "Press Pack - University"
University recruitment document (working on with Andy B):
https://docs.google.com/document/d/1jNYj09wOLfbqBgu_5mYrsPUQVSeY4qt8CnqGLcjZ3rM/edit#

[2021-01-08 01:17] ericjaurena opened #42 "Research Summary: Towards Understanding Flash Loan and Its Applications in DeFi Ecosystem"
Tina

https://docs.google.com/document/d/1shdP0RMftcMg0e4Sms5AMTlwFaIFk_RZ9q9P3pKov9I/edit

[2021-01-08 14:43] lpassos commented on #20
Did a first pass and left some comments in the Google Doc. @Coinproz and @visavishesh Let me know if you need anything in the time being. Thanks.

[2021-01-08 19:39] lpassos commented on #7
@Coinproz @visavishesh Did my first pass. IMHO, this is not an audit; rather, it is a research paper. I recommend changing the format from "audit summary" to "research summary" and adapting the content accordingly. Then, we do another review pass. My apologies for the delay in having the first review ready.

[2021-01-08 20:08] visavishesh commented on #7
@Coinproz Are you in agreement?

[2021-01-11 10:33] cryptohazard opened #43 "Presentation(video) of research summaries"
Some papers will spark more interest and questions than other. Users of SCRF may want to dig deeper but not necessarily read and digest the paper entirely.
if there is enough interest, can we  do video call to present the paper (sort of a longer summary)? This is also useful for the research team to learn more about other subjects.

And thinking about it, the authors had to present their work befo

[2021-01-11 11:06] cryptohazard opened #44 "Research (written) debate"
I stumble across this discussion/debate about cryptocurrencies role: https://www.pairagraph.com/dialogue/e3b365e55a9d4208873f7e92aa481ba8/1
I liked this back and worth style, like researchers use to do when writing to each other. This is already possible on the forum or Twitter and would be generally worth a listen as a podcast between researchers. But the format pushes "hot takes" while giving ea

[2021-01-11 11:15] cryptohazard commented on #44
As an example, POW vs POS would have been an interesting debate because it would have summarized all the assumptions and trade-offs from both consensus.

[2021-01-11 11:27] cryptohazard opened #45 "Notable Works: Scaling"

[2021-01-11 16:06] ericjaurena opened #46 "Research Summary: A First Look into DeFi Oracles"
Tina's [next research summary](https://docs.google.com/document/d/1hxhZqJoL5zrzzS9MBc3mHfBuAGbr9DSEWVW2VTWrUsc/edit)

[2021-01-11 19:56] lpassos commented on #40
@visavishesh Can you please provide some description here to give me better context?

[2021-01-13 01:21] lpassos commented on #7
@visavishesh and @Coinproz  Did my second pass on the document - the review is complete. Overall, I would suggest: (1) change this post into a research summary; (2) clarify terms with a Background section; (3) clarify some sentences as some parts could be better connected and explained. I've tried to highlight those to the best of my effort, but likely we will need a third pass after the changes a

[2021-01-13 22:10] ericjaurena commented on #9
Sure you're aware of this but just wanted to put it on your radar https://github.com/flashbots/mev-research

[2021-01-14 19:46] ghettodev commented on #11
This is still heavily a WIP. Targeting a dedicated call for the week of Jan 18th. @jamesmcgirk will be leaning on you to help with the presentation.

[2021-01-14 19:46] ghettodev commented on #11
Then something interesting happens.

[2021-01-14 19:47] ghettodev commented on #11
LGTM @jamesmcgirk can be moved.

[2021-01-14 19:48] ghettodev commented on #11
Problems with tone, moving back to draft.

[2021-01-14 23:33] jamesmcgirk opened #47 "What is our tone / voice?"
Eventually we'll also need a style guide. How formal / informal

[2021-01-15 16:35] jamesmcgirk commented on #42
Edits made, moved to calendaring

[2021-01-15 18:04] jamesmcgirk commented on #34
Edits done

[2021-01-18 19:31] dr-chain opened #48 "Research Summary: Multiple Private Keys for Single Public Key (EPID by Intel)"
https://eprint.iacr.org/2009/095.pdf

[2021-01-18 19:44] ghettodev commented on #48
@visavishesh  does this fit, lets talk on monday

[2021-01-18 19:51] drvarun opened #49 "Ethereum gas rebate project"
This project gives 100 percent gas rebate for ethereum txs.

(Whitepaper)
https://unidexgas.com/UNDG_Whitepaper.pdf

[2021-01-18 20:57] jamesmcgirk commented on #38
@tjd233 Trent - this one was in really good shape, my edits are ready for your okay. Ping me when you're done

[2021-01-20 15:44] ericjaurena commented on #30
Summary [published to SCRF](https://www.smartcontractresearch.org/t/research-summary-understand-ethereum-via-graph-analysis/168)

[2021-01-20 16:39] ericjaurena opened #50 "Research Summary: SoK: Transparent Dishonesty: Front-running Attacks on Blockchain"
Tina: [Summary](https://docs.google.com/document/d/1RfuLNvmXqCEGZcKz4f1ubZ_mjv3o7qEkT5WvEukFp0c/edit)

**Noteworthy**: this paper was authored by Shayan Eskandari, a previous SCRF contact

[2021-01-20 18:35] visavishesh commented on #7
Heading back to drafting based on meeting about definition of audits. This is a RP not an audit.

[2021-01-20 18:36] visavishesh commented on #39
@lpassos giving it a look as well

[2021-01-20 18:43] #18 closed

[2021-01-20 18:43] #21 closed

[2021-01-20 18:43] #13 closed

[2021-01-20 18:43] #30 closed

[2021-01-20 19:00] #3 closed

[2021-01-20 21:15] ghettodev commented on #31
We're running through some process stuff. Moving this ticket back to the idea column until the project plan has been ratified. Please see https://github.com/smartcontractresearchforum/research_team/issues/18

[2021-01-22 03:22] lpassos commented on #14
First summary draft available at: https://docs.google.com/document/d/1aNxX1NPU3iwd63XshZB0gjFoWvLrSTkGwbSaYjj_a1Q/edit?usp=sharing

[2021-01-22 03:32] lpassos commented on #39
@visavishesh and @tina1998612  Did my pass and this summary looks great! Left very few minor comments.

[2021-01-22 03:57] jamesmcgirk commented on #46
Made some edits, looks like Tina put them in. Ready for calendaring.

[2021-01-22 04:00] jamesmcgirk commented on #20
Hey @coinproz -- let me know when you're done with the edits. Let me know if you need anything, looked like there were a few places that needed a little more detail

[2021-01-22 04:02] jamesmcgirk commented on #31
Sounds good. I'll get started on a project plan.

[2021-01-22 04:06] jamesmcgirk opened #51 "Project Plan - Use Cases"
Use Case project plan will outline how the Use Case content type will work and how they'll go through the editorial process.
https://docs.google.com/document/d/1Nsz_SBKor4gUMTU26YwXrFArEzwV9DG9mW6D38TCyxI/edit

[2021-01-22 04:29] Coinproz commented on #20
Yessir!  Almost done and hopefully will have all the edits ready to move to
calendaring tomorrow!

On Thu, Jan 21, 2021 at 11:00 PM James McGirk <notifications@github.com>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-01-22 16:57] jamesmcgirk commented on #39
Looks like Tina put them in, I'll have another look and then put it through calendaring.

[2021-01-22 18:02] jamesmcgirk commented on #39
Looks good! Moved over to calendaring.

[2021-01-22 19:03] visavishesh commented on #39
get it published now @jamesmcgirk

[2021-01-25 06:11] jamesmcgirk opened #52 "My idea for a summary"
A few sentences of detail. A link to the academic paper. Why it's important.

[2021-01-25 06:12] jamesmcgirk commented on #52
I added google doc link @

[2021-01-25 06:28] #52 closed

[2021-01-25 06:43] tina1998612 opened #53 "Research Summary: PERIMETER: A network-layer attack on the anonymity of cryptocurrencies"
This would be a good post because it is the first passive attack that leverages the design of internet router to map transactions to IP addresses.

- Link to paper: https://nsg.ee.ethz.ch/fileadmin/user_upload/publications/perimeter.pdf
- Google doc: https://docs.google.com/document/d/1KfAbC9jd9NStwbtgIINKLWSZgt7xm9Etl0Wn9LUrCNs/edit

[2021-01-25 19:10] visavishesh opened #54 "Research Summary: Example Research Title"
(Link to Paper)[https://google.com]

This is a sentence about what this paper is and/or why we want to write about it.

(Optional) Here's a couple sub-tags I propose

[2021-01-26 14:25] tjd233 opened #55 "Research Summary: The Attack of the Clones Against Proof-of-Authority"
Paper link:
https://arxiv.org/pdf/1902.10244.pdf

Interest:
Discusses a potential security threat to PoA systems, specifically Aura and Clique. Respective teams have begun to implement security changes proposed in the paper to mitigate the risk of a clone attack.

[2021-01-26 14:27] tjd233 opened #56 "Research Summary: PoX: Proof of Transfer Mining with Bitcoin"
Paper link:
https://uploads-ssl.webflow.com/5e7b1a27d160ce49af1c24e1/5f1596b12bcc0800f3dcadcd_pox.pdf

Interest:
Whitepaper discussing a new consensus PoX. First, our consensus category is lacking content compared to other areas of the forum. Second, this is an interesting consensus structure that may result in further evolutions of it, and this paper leads into another reputation incentive mechan

[2021-01-26 14:30] tjd233 opened #57 "Research Summary: PoRX: A reputation incentive scheme for blockchain consensus of IIoT"
Paper link:
https://www.sciencedirect.com/science/article/pii/S0167739X19310581?casa_token=KJxU24taQboAAAAA:c-7ikk7bb1QSkUevtyrLGtCunpJo5NPjVEXJUyy0KXdvEf2DxMjTXZN9opO2MCUKtAwwyFZIqQ#b5

Interest:
Using PoX as a base the authors propose a change by including a reputation scheme to improve node participation. The authors use IIoT (Industrial Internet of Things) as an example of the potential benefi

[2021-01-26 19:25] visavishesh commented on #40
A meeting was had to explain and review this concept ~1 week ago. This should be a meta/intro post about "What is an Audit"

[2021-01-27 18:50] visavishesh commented on #54
Draft complete, ready for review

[2021-01-29 18:21] jamesmcgirk commented on #48
@drvarun when you have a moment, could you please paste the Google doc in here?

[2021-01-29 18:58] visavishesh commented on #14
We should add key takeaways

[2021-01-29 23:20] jamesmcgirk commented on #53
@tina1998612 Could you add a go to market strategy when you get chance, please?

[2021-01-29 23:24] jamesmcgirk commented on #50
@tina1998612 we could definitely include reaching out to the author (mentioned in the document) as one aspect of Go to Market strategy, let's come up with a couple of others too

[2021-02-01 06:27] jamesmcgirk commented on #50
moving this one over to published, as it went up on 1/22

[2021-02-01 09:28] jamesmcgirk commented on #53
Great work with go-to-market, I had a few minor changes. Take another look at the research question, I left some notes in the document. Other than that, excellent work!

[2021-02-01 09:32] jamesmcgirk commented on #14
Still missing a TL;DR (do we need one?), fixed a few spacing issues but otherwise flawless. Moving over to Calendaring

[2021-02-01 11:55] jamesmcgirk opened #59 "WIP: Finding Bugs Automatically in Smart Contacts"
Contracts with Parameterized (Called by Sean Sie) Invariants https://www.certora.com/pubs/sbc2020.pdf

An AAVE V2 white paper, and find out AAVE’s smart contract was audit by Certora.com. They published WIP: Finding Bugs Automatically in Smart Contracts with Parameterized Invariants last year. I think this framework is also works on lots of DeFi projects.

https://docs.google.com/document/d/1NiQ9p

[2021-02-01 11:57] jamesmcgirk commented on #59
Called (and created) by Sean Sie (Siemingfong)

[2021-02-01 11:59] jamesmcgirk commented on #14
Leo said he'll add a TL;DR, moved this back to Editiing

[2021-02-01 17:36] jamesmcgirk commented on #53
Changes made, moving this to calendaring.

[2021-02-01 17:48] #37 closed

[2021-02-01 18:48] jamesmcgirk opened #60 "Vector Smart Contracts Audit Summary by Chainsafe:"
https://medium.com/connext/audit-results-launch-plan-961411801388

https://drive.google.com/file/d/1l42vxzHwLXrKU10v3FutG2DWthU43vB8/view

[2021-02-01 18:50] jamesmcgirk commented on #60
@Coinproz converted this into an issue, if you get a chance could you please add a couple of lines describing why this would be important (I think we discussed this last week)

[2021-02-01 18:54] cipherix opened #61 "Research Summary: Blockchain-Based Settlement for Asset Trading"
Pitch:
An interesting paper on how viable it would be to settle securities on public and private blockchains.

Draft link:
https://docs.google.com/document/d/1KkQbpZHpGzk4Y_Y7GDOe2ISUYn5Dn96QrrvEkYWTSUg/edit

Update link:
https://www.researchgate.net/profile/Jonathan_Chiu/publication/327026205_Blockchain-Based_Settlement_for_Asset_Trading/links/5c2fcb9392851c22a35b2a23/Blockchain-Based-Settlement-

[2021-02-01 18:57] cipherix opened #62 "Research Summary: Quantifying Blockchain Extractable Value: How dark is the forest?"
Pitch:
Paper attempting to size MEV opportunities on Ethereum.

Proposed Sub-Tags:
MEV, DeFi

Link:
https://arxiv.org/pdf/2101.05511.pdf

Link to Draft:

https://docs.google.com/document/d/1l-IyX56ZbkGMuVmQYqlaGXZeJPfgklrhh9Nnr3KajhA/edit?usp=sharing

[2021-02-01 19:10] visavishesh opened #63 "WSBDao"
Analysis of the emergence of the DAO and breakdown of governance and coordination consensus mechanisms and how that applies to reddit and WSB.

[2021-02-01 19:13] bgits opened #64 "Research Summary: RenVM"
In a multichain world cross chain bridging is becoming a crucial component of the stack. This is a decentralized approach to it.

topics:
- Middleware
- Cross-chain bridging

https://github.com/renproject/ren/wiki

[2021-02-01 19:25] #60 closed

[2021-02-01 19:50] Coinproz opened #65 "Post-Quantum Security of the Bitcoin Backbone and Quantum Multi-Solution Bernoulli Search"
**Why is this important?**
This paper addresses the potential vulnerabilities of the Bitcoin blockchain in a scenario in which Quantum computing is no longer theoretical and Quantum-attacks on the blockchain become possible.

Link:

https://arxiv.org/pdf/2012.15254.pdf

doc:
https://docs.google.com/document/d/1y4f95soZCstD_8WBKtRFegNnlIf338QOrSYHg5V6VZ8/edit?usp=sharing

[2021-02-02 17:46] jamesmcgirk commented on #7
Made some editorial suggestions, let me know when it's ready @Coinproz

[2021-02-03 17:53] lpassos commented on #14
@jamesmcgirk TLDR added; please take a look again.

[2021-02-03 22:55] jamesmcgirk commented on #14
Thanks, @lpassos looks good. I'll move to calendaring

[2021-02-03 23:48] lpassos commented on #14
Thanks :)

On Wed, Feb 3, 2021 at 7:55 PM James McGirk <notifications@github.com>
wrote:

[2021-02-04 18:46] jamesmcgirk commented on #7
@Coinproz if you're pressed for time I can push through some of these changes. There were only a few I had questions about.

[2021-02-04 21:42] cipherix commented on #14
I like the minimalistic TLDR, @lpassos -- seems like we can use this as an example of an audit summary TLDR that simply restates the audit's finding (as opposed to an analysis-centric TLDR, which as we discussed may open up a can of worms).

[2021-02-04 21:48] cipherix commented on #7
@Coinproz @jamesmcgirk also went through a review -- the content itself looks good, but it seems like @Coinproz still needs to resolve the suggestions. We can then review the final piece once again and if there are no problems, we can move to calendaring.

[2021-02-04 22:21] lpassos commented on #14
@cipherix Sounds good to me :)

[2021-02-05 03:47] cipherix commented on #59
@jamesmcgirk Sean provided the following doc: https://docs.google.com/document/d/1NiQ9pL6yAYqdQn_r2BOXSV2EJ6DnZclGQjImvHN-FpU/edit?usp=sharing

I went over it a couple of days ago, looks like it's ready for content review.

[2021-02-05 12:19] lpassos commented on #7
Let me know if/when I should do a content review pass.

On Thu, Feb 4, 2021 at 6:48 PM LN <notifications@github.com> wrote:

[2021-02-05 18:21] visavishesh commented on #14
@lpassos good to post

[2021-02-05 19:10] visavishesh commented on #53
@tina1998612 ready to post

[2021-02-05 19:11] #63 closed

[2021-02-05 19:11] #20 closed

[2021-02-05 19:11] #46 closed

[2021-02-05 19:12] #42 closed

[2021-02-05 19:12] #34 closed

[2021-02-05 19:12] #50 closed

[2021-02-05 19:31] jamesmcgirk commented on #7
@Coinproz tidied up a few minor things. Ready to go!

[2021-02-07 18:50] lpassos commented on #14
@visavishesh There are some blockers that should be addressed prior to publishing this:
- There are no tags specifically targeting audit summaries (and I cannot add them)
- There are no intro texts for the subcategories under the Audit & Security Page, namely [Audit](https://www.smartcontractresearch.org/c/auditing-and-security/audits/19), [Standards](https://www.smartcontractresearch.org/c/auditi

[2021-02-07 19:22] lpassos commented on #14
After a few discussions on Discourd (see https://discord.com/channels/784234332617048065/784234333111451670/808043614096719902), this is now posted.

[2021-02-07 19:22] #14 closed

[2021-02-07 23:23] jamesmcgirk opened #66 "About post: audits"
About post for the "Audit" subcategory. https://www.smartcontractresearch.org/t/about-the-audits-category/49

[2021-02-07 23:23] jamesmcgirk commented on #66
@lpassos thank you for volunteering!

[2021-02-08 11:09] drvarun commented on #48
Moving to the icebox due to acceptance of my paper for a journal, deadline approaching. Will resume working on this soon.

[2021-02-08 11:32] jamesmcgirk opened #67 "Research Summary: Solana Whitepaper"
Sean Sie and Tina were discussing the Dec 4th, 2020 Solana bug and thought that the Solana  whitepaper might make a timely, interesting post. Sean called the paper first. Cites Definitely, interesting consensus and scalability features on Solana Chain infrastructure.
https://solana.com/solana-whitepaper.pdf - link to whitepaper
Size estimate: Medium

[2021-02-08 11:47] jamesmcgirk opened #68 "Research Summary: General Purpose AMM and Options"
Current progress:
The team has replied that they will provide a mathematical proof for their options AMM and a graph to illustrate the mechanism soon.

https://medium.com/podsfinance/general-purpose-amms-and-options-6d371dae396c

Tina chose this out of the Research Pulse

Google doc: https://docs.google.com/document/d/1YOvvOKxGyxXqiBNPKXK5f0GLfKlT3iVFP4LXE9wnw8s/edit#

[2021-02-08 15:03] tjd233 opened #69 "Research Summary: Markets for Crypto Tokens, and Security under Proof of Stake"
Interest: Discusses the robustness of PoS cryptocurrencies by modelling "... the market for tokens and determine how the cost of attacking the system depends on the level and shape of token supply and demand."

Key findings:
Stablecoins may be less vulnerable than free-floating PoS cryptocurrencies, currencies that act primarily as units of exchange are more vulnerable if the velocity of money is

[2021-02-08 19:30] Coinproz opened #70 "Research Summary: Experiments in Algorithmic Governance: A history"
Experiments in Algorithmic Governance: A history
and ethnography of “The DAO,” a failed
Decentralized Autonomous Organization

https://www.taylorfrancis.com/chapters/experiments-algorithmic-governance-quinn-dupont/e/10.4324/9781315211909-8

Link to draft:
https://docs.google.com/document/d/1GEw4zSdry8zUcusP3s98s3pgVloEFgYj62WlrRSInvg/edit?usp=sharing

Why is this important:

Helps establish a base

[2021-02-08 19:45] visavishesh opened #71 "discussion: oprollups v zkrollups"

[2021-02-08 19:51] ericjaurena commented on #69
@cipherix indicates this paper is relevant https://arxiv.org/abs/2006.11156

[2021-02-08 19:53] jamesmcgirk opened #72 "Research Summary: 'BitML: A Calculus for Bitcoin Smart Contracts' (CCS '18)"
Clara S. suggests this one, she notes it's older but is still relevant (and her team is studying it). Would this be worth creating a summary of?

(CCS '18): https://eprint.iacr.org/2018/122.pdf

[2021-02-08 19:57] tjd233 opened #73 "Research Summary: Why Stake When You Can Borrow?"
Link: https://arxiv.org/pdf/2006.11156.pdf

[2021-02-09 16:30] cipherix opened #74 "Research Summary: REDSHIFT: Transparent SNARKs from List Polynomial Commitment IOPs"
https://eprint.iacr.org/2019/1400.pdf

https://docs.google.com/document/d/1mPtCHfmDO4XABV1xMFR9LiGHPGi56UoCQKjHPGx98TU/edit?usp=sharing

[2021-02-09 18:45] jamesmcgirk commented on #33
@tjd233 this one is in really good shape, I had a suggestion for the TL;DR for you to consider and a couple of places where the wording could use rephrasing. Let me know when you're done and I'll copy your definitions into the glossary and move this over to Calendaring

[2021-02-09 19:09] jamesmcgirk commented on #33
Moved it over to Calendaring

[2021-02-09 20:10] jamesmcgirk commented on #61
@tjd233 also in good shape, mostly fixed the flow and flagged a few sentences that were a little garbled. Biggest change was making the background section into bullets. Feel free to revert. Ping me when you're ready and I'll go through a second time and drag to Calendaring

[2021-02-09 20:53] #7 closed

[2021-02-09 21:26] jamesmcgirk commented on #61
Nicely done, moved over to calendaring

[2021-02-09 22:38] cipherix opened #75 "Research Summary: "SoK: Unraveling Bitcoin Smart Contracts""
Pitch: a great paper to normalize the knowledge on Bitcoin's scripting language, with some toy applications and limitations.

Link: https://link.springer.com/chapter/10.1007/978-3-319-89722-6_9

[2021-02-10 22:51] jamesmcgirk commented on #59
Note for future @jamesmcgirk, ping Trent when this is ready

[2021-02-12 16:16] lpassos commented on #12
Update: this will be delayed to next week, as I was not able to put efforts on this front.

[2021-02-12 16:17] lpassos commented on #66
Update: this will be delayed to next week, as I was not able to put efforts on this front. Let me know of any issues.

[2021-02-12 16:34] jamesmcgirk commented on #66
Me either. Hope all is going well and let me know if you need anything from our end. - J

[2021-02-12 18:10] visavishesh commented on #53
@tina1998612 ready to post. any blockers?

[2021-02-12 18:10] visavishesh commented on #53
@tina1998612 once posted, author can close ticket. thanks for posting!

[2021-02-12 18:10] #53 closed

[2021-02-12 19:10] #49 closed

[2021-02-12 19:25] bgits opened #76 "Research Summary: "Game Theoretical Analysis of Atomic Cross-Chain Swaps""
With cross-chain bridging becoming more common, the security and reliability of these approaches is top of mind.

Presents a mathematical framework that characterizes blockchain swap protocols as the combination of a publishing and a commitment phase.

Proves that following a swap protocol characterized by concurrent publishing of exchange contracts and snap (immediate) assets transfers is a Nash

[2021-02-14 15:37] tjd233 opened #77 "Research Summary: Dynamic Curves for Decentralized Autonomous Cryptocurrency Exchanges"
Point of interest:
Discusses the potential limitations of current AMMs, primarily potential issues with liquidity pools. They propose a new "Dynamic Curve" utilizing a price oracle to change the underlying relationship between the asset and LP to confirm the price of the asset stays identical to the market price. This could be a good follow up on my previous AMM summary, as well as Tina's.

*NOTE*

[2021-02-15 10:57] jamesmcgirk commented on #59
Needs a little work on the TL;DR and background section. Please move the document into the SCRF shared drive as well. Let me know when this ready for another look. - J

[2021-02-15 11:35] bgits opened #78 "The Byzantine Generals Problem"
A commonly heard saying is that up until the invention of bitcoin the The Byzatine Generals Problem was an unsolved problem.

However the paper does propose solutions including a 99% fault tolerant consensus as described by Leslie Lamport on page 391.

We could use this as opportunity to compare the approaches described in the paper with POW and POS type consensus approaches.

The EF produced a py

[2021-02-15 17:50] cipherix commented on #70
@Coinproz added some comments. Generally speaking, we might need a more extensive background section for this one

[2021-02-15 17:55] cipherix opened #79 "Research Summary: "Attacking the DeFi Ecosystem with Flash Loans for Fun and Profit""
Paper: https://arxiv.org/abs/2003.03810

[2021-02-15 18:03] cipherix opened #80 "Research Summary: Bitcoin Covenants Unchained"
Paper:

https://arxiv.org/abs/2006.03918#:~:text=Covenants%20are%20linguistic%20primitives%20that,scripts%20of%20the%20redeeming%20ones.

[2021-02-15 18:10] cipherix opened #81 "Research Summary: Uniswap and the rise of the decentralized exchange"
Link: https://mpra.ub.uni-muenchen.de/103925/1/MPRA_paper_103925.pdf

[2021-02-15 19:14] jamesmcgirk commented on #79
Didn't we already cover this one?

[2021-02-15 19:16] lpassos commented on #79
Yeah, I was about to say the same. In the past, we had two tickets about this paper, so, it could be the case this is the extra one.

[2021-02-15 19:46] bgits opened #82 "StableSwap - efficient mechanism for Stablecoin liquidity"
https://www.curve.fi/stableswap-paper.pdf

[2021-02-17 17:16] jamesmcgirk commented on #59
@Siemingfong did @cipherix give you the okay to post this in the forum? We normally discuss a publishing strategy on Friday before posting.

[2021-02-17 17:22] lpassos commented on #40
I have a first draft available at: https://docs.google.com/document/d/1R-prDxhzO4JAo-qw55Zv9jD5-lhVOQ7Hcu54E9GCFfw/edit?usp=sharing

Some recent discussions posts published do not seem to follow the "Discussion Post" template. Are we still following that template?

[2021-02-17 18:47] jamesmcgirk commented on #68
https://docs.google.com/document/d/1YOvvOKxGyxXqiBNPKXK5f0GLfKlT3iVFP4LXE9wnw8s/edit

[2021-02-17 21:39] jamesmcgirk commented on #59
Moving this one into calendaring

[2021-02-18 03:17] Siemingfong commented on #59
@jamesmcgirk Sorry, I misunderstood the go to publishing strategy. I thought it is a draft version to get some new comments from the forum after two peer-review.
@cipherix Could you please kindly give me some advice from this document, thanks for your help :)

[2021-02-18 03:24] jamesmcgirk commented on #59
No worries, Sean! We can go over the publishing process on Monday— this one was in good shape so it was okay to publish :)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sean Sie <notifications@github.com>
Sent: Wednesday, February 17, 2021 7:17:18 PM
To: smartcontractresearchforum/research_content <research_content@noreply.github.com>
Cc: James McGirk <james.mc

[2021-02-18 05:14] Siemingfong commented on #59
Thanks! Look forward to hearing from everyone :)

[2021-02-18 16:46] tina1998612 opened #83 "Research Summary: Coding a DeFi arbitrage bot"
Google doc: https://docs.google.com/document/d/18sKWq9lhpCcc256eR2LCEPbJB-TJ3QWmwRrIn60nibs/edit#

Part 1: https://extropy-io.medium.com/coding-a-defi-arbitrage-bot-45e550d85089
Part 2: https://extropy-io.medium.com/arbitrage-bot-part-2-97e7b710dcf

Importance: DeFi arbitrage is a hot issue now, but few knows the underlying mechanism, so this type of article may drive traffic and raise discussions

[2021-02-18 16:47] tina1998612 opened #84 "Research Summary: TEX – A Securely Scalable Trustless Exchange"
Link: https://eprint.iacr.org/2019/265.pdf

[2021-02-18 16:54] jamesmcgirk commented on #84
@cipherix would this paper (or the coding an arbitrage bot paper) be worth starting a research summary on? Tina has some time this weekend.

[2021-02-19 04:24] cipherix commented on #84
fantastic suggestion, that paper was also on my radar @tina1998612!

[2021-02-19 17:18] jamesmcgirk commented on #73
@tjd233 another nicely edited paper - I added a few commas here and there and left a few edits for you to double check

[2021-02-19 17:28] #19 closed

[2021-02-19 22:35] jamesmcgirk commented on #70
@Coinproz did my first pass, I'd like to take a second look once you're done

[2021-02-19 22:54] jamesmcgirk commented on #40
@lpassos made some suggestions

[2021-02-19 23:36] lpassos commented on #40
Awesome, accepted all :)
@jamesmcgirk Should we move forward with this?

[2021-02-19 23:46] jamesmcgirk commented on #40
@lpassos great! I think we should @cipherix let me know if you think otherwise

[2021-02-20 18:22] jamesmcgirk commented on #70
@Coinproz next time please let me have a last look at it before we publish -- I like to do a last QA pass to make sure I haven't overlooked something

[2021-02-20 18:55] Coinproz commented on #70
👍

On Sat, Feb 20, 2021 at 1:22 PM James McGirk <notifications@github.com>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-02-20 22:38] jamesmcgirk commented on #70
moving this to calendaring as it's been published

[2021-02-20 22:43] Coinproz commented on #70
Cool!  I published it because I just accepted all your changes and made
some suggested changes, so will remember in the future to wait.

On Sat, Feb 20, 2021 at 5:38 PM James McGirk <notifications@github.com>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-02-20 22:45] jamesmcgirk commented on #70
No worries! Just trying to stick to the process, I also like to take a last look before I move it over

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Coinproz <notifications@github.com>
Sent: Saturday, February 20, 2021 2:43:28 PM
To: smartcontractresearchforum/research_content <research_content@noreply.github.com>
Cc: James McGirk <james.mcgirk@outlook.com>; Co

[2021-02-22 19:57] jamesmcgirk commented on #67
@Siemingfong let's hold off on this whitepaper for now, but please create an issue for the scalability paper you've written when you're ready. Thanks so much  - James

[2021-02-22 20:24] lpassos commented on #66
Suggestion:

Summaries of audit reports assessing  different aspects of a crypto project (e.g., code, economics, compliance, etc).

[2021-02-22 20:25] lpassos commented on #66
@jamesmcgirk and @ghettodev  Let me know if you are ok with the proposed one liner.

[2021-02-22 20:29] lpassos opened #85 "About post: standards"
About post for the "Standards" subcategory. https://www.smartcontractresearch.org/t/about-the-audits-category/48

[2021-02-22 20:42] lpassos commented on #85
Suggestion:

Improvement proposals (IPs), request for comments (RFCs), approved standards within or across different blockchain networks, etc.

[2021-02-22 20:45] lpassos commented on #85
@ghettodev and @jamesmcgirk Left a suggestion (one-liner) to be posted in the forum.

[2021-02-22 20:45] lpassos opened #86 "About post: postmortems"
About post for the "Postmortem" subcategory. https://www.smartcontractresearch.org/t/about-the-audits-category/50

[2021-02-22 20:46] lpassos commented on #86
Suggestion:

Lessons learnt from hacked projects.

[2021-02-22 20:46] lpassos commented on #86
@jamesmcgirk and @ghettodev Please review suggested one-liner.

[2021-02-23 04:02] ghettodev commented on #86
I like it. Maybe 'Lessons learned' gives us some more scope? not every emergency is from a hack...

[2021-02-23 04:07] ghettodev commented on #85
That section is mostly a placeholder example of what some subcategories could look like. The original thought was that we could use it as a location to discuss standards as they apply to Auditing.

Maybe 'standardization' should be a tag instead? Might be weird to have multiple subcategories with the same name.

[2021-02-23 13:33] lpassos commented on #86
@ghettodev Ok, how about:

Lessons learnt when addressing post-deployment issues, such as being hacked.

[2021-02-23 13:35] lpassos commented on #85
@ghettodev Yeah, standards seems to be a bigger theme than security. I am in favor of removing this subcategory altogether. Audits & postmortems, however, make sense in keeping.

[2021-02-23 19:02] jamesmcgirk commented on #86
Lessons learned is nice. I'm also partial to "autopsy" - I kind of like the 'postmortem' theme, gives us a little edge

[2021-02-24 22:48] jamesmcgirk commented on #45
Jean is in the middle of a hackathon and will work on this next week

[2021-02-24 23:31] jamesmcgirk commented on #23
In progress, should be done in ~week as DV wraps up his academic obligations

[2021-02-25 02:36] lpassos commented on #77
@visavishesh It seems I was assigned to this one, but I don't recall that. Can you please confirm?

[2021-02-25 04:02] visavishesh commented on #77
glitch. removing you.

[2021-02-25 18:36] jamesmcgirk commented on #25
@visavishesh done with my first pass, it's in really good shape - pretty much all of my edits are picky little things. Let me know when you're done and I'll have another look just to make sure I didn't introduce any errors

[2021-02-25 18:55] jamesmcgirk commented on #25
moved it over to calendaring

[2021-02-26 01:26] lpassos commented on #77
Thanks :)

On Thu, Feb 25, 2021 at 1:03 AM Vishesh Choudhry <notifications@github.com>
wrote:

[2021-02-26 17:53] cipherix commented on #35
https://docs.google.com/document/d/1Fq1em4cZsDAHOyAJ8b83PemWawWaim0Ra9lxmxpcW8A/edit?usp=sharing

[2021-02-26 19:15] visavishesh opened #87 "A Note on Privacy in Constant Function Market Makers"
https://arxiv.org/abs/2103.01193

[Draft](https://docs.google.com/document/d/1SjK0CCnz7X_oClEsnYRiRiJpVOg7E4M9dCdHNvGm278/edit)

[2021-02-26 19:15] visavishesh opened #88 "When does the tail wag the dog? Curvature and market making"

[2021-02-26 19:16] visavishesh opened #89 "Uniswap's Financial Alchemy"

[2021-02-26 19:28] visavishesh opened #90 "Liquidity Provider Wealth"

[2021-03-01 11:13] drvarun commented on #23
Finished drafting, flagging for content review

[2021-03-01 11:21] jamesmcgirk commented on #23
@visavishesh @cipherix - wasn't sure who to tag on this one, Dr. Varun says it's ready for content review.

[2021-03-01 19:16] visavishesh opened #91 "zksync"
Dependency on --> https://github.com/smartcontractresearchforum/research_content/issues/74

[2021-03-01 19:24] lpassos opened #92 "Tendermint: Byzantine Fault Tolerance in the Age of Blockchains"
## Tendermint: Byzantine Fault Tolerance in the Age of Blockchains

Link: http://knowen-production.s3.amazonaws.com/uploads/attachment/file/1814/Buchman_Ethan_201606_Msater%2Bthesis.pdf

or a more concise (and probably more up-to-date ) resource:

https://docs.tendermint.com/master/introduction/what-is-tendermint.html#

## Why this is good for SCRF?

It focus on an area where we are currently lack

[2021-03-04 00:24] jamesmcgirk commented on #31
Project Plan is done, meeting assigned. Going to move this to Idea Stage. @visavishesh

[2021-03-04 22:43] jamesmcgirk opened #93 "Test test test"
j

[2021-03-05 18:10] cipherix commented on #82
any updates on this ticket @bgits?

[2021-03-05 18:14] cipherix commented on #84
is this something you are still interested in covering @tina1998612?

[2021-03-05 18:52] Coinproz opened #94 "Off-Chain collusion/real-world collusion attacks as a theoretical problem for blockchains and sybil resistance"

[2021-03-05 20:46] bgits commented on #82
I have been busy with another project I have not been able devote time this week. I expect to be able to wrap it up in the next week.

[2021-03-05 21:06] lpassos commented on #12
WIP: https://docs.google.com/document/d/1M_oBMmbJ2iHqmcoj3qEF_BS4iy9ilLT3FKnc0xBP9x8/edit?usp=sharing

[2021-03-05 23:18] jamesmcgirk commented on #31
https://docs.google.com/document/d/1K36GVBZkNazv7HuCBQ28fzxDpe5EZ4_7xeJ7mFCdVbw/edit

Added some questions generated from a discussion by Leo and Larry. Waiting for Trents $0.02 then will reach out to Clara for answers

[2021-03-06 00:06] jamesmcgirk commented on #35
This one is in good shape, there was one area which looked like you forgot to delete a copy-paste. I flagged it. Other edits are mostly grammatical - seemed like there was only one author

[2021-03-06 00:21] jamesmcgirk commented on #68
Tina is busy with school so made the edits myself. Moving over to calendaring. Could be a good tool for engagement if Pods Finance can update us

[2021-03-06 15:09] tina1998612 commented on #84
Yeah I'll work on this tmr xD

[2021-03-08 01:50] cipherix commented on #35
Thanks @jamesmcgirk! Went over all of your suggestions, looks good. I will post it tomorrow.

[2021-03-08 02:03] cipherix commented on #23
@drvarun content looks great, but there are some missing areas as per our Research Summary format:

https://docs.google.com/document/d/1gs-a4wsgZhLxDioJzQjZDpOvDPl0xqrEKiQazY9nTEU/edit?usp=sharing

If you could please update it to keep it consistent other summaries, that'd be much appreciated. Moving this to drafting now.

[2021-03-08 02:05] cipherix commented on #82
Sounds good, thank you for the update

[2021-03-08 06:00] drvarun commented on #23
@jamesmcgirk Content OKed by LN. Edited the summary to comply with the format (https://github.com/smartcontractresearchforum/research_content/blob/main/templates/research_summary.md)
Flagging for the editorial review now.

[2021-03-08 18:48] lpassos commented on #86
@jamesmcgirk How about:

Lessons learnt and autopsies for post-deployment issues (e.g, hacks, undercollaterization, etc)

[2021-03-08 19:15] jamesmcgirk commented on #74
@Siemingfong - I just wanted to confirm, is this the one you're working on?

[2021-03-08 19:27] jamesmcgirk commented on #83
@tina1998612 are you still interested in working on this one? If not, Leo would like to do it

[2021-03-08 19:41] visavishesh commented on #62
@bgits are you fully-tasked with posts right now? I think this might be a good one for you to cover next.

[2021-03-08 19:46] visavishesh commented on #92
@cipherix do you have resources leo can use for this post?

[2021-03-08 22:29] tina1998612 commented on #83
I thought this article didn't pass other's review (no comment on GitHub issue) so I didn't know I can proceed xD" I'm still interested in covering this one if it's of the team's interest. Thanks:)

[2021-03-08 22:36] jamesmcgirk commented on #83
@lpassos I'm afraid that Tina still wants to do this one, I had to reassign it to her

[2021-03-09 18:15] jamesmcgirk commented on #23
@drvarun - looks really good overall, I made some changes to the TL;DR section which you should take a glance at to make sure I didn't obscure the meaning of. Otherwise mostly formatting changes.

[2021-03-09 20:55] bgits commented on #62
I've been busy with another project and I'm jumping on to finishing another paper after so it maybe a bit before I can seriously consider diving in here.

[2021-03-09 21:48] cipherix commented on #23
Went through another review, the new section looks good. Ready to post once the GTM field is filled.

[2021-03-09 21:51] drvarun commented on #23
@cipherix The GTM is filled in the original RS. Do you want a separate document for it?

[2021-03-09 21:53] jamesmcgirk commented on #23
@drvarun looks like he's updating the ticket to reflect that he approved the last edit

[2021-03-09 22:39] jamesmcgirk opened #95 "Technical Interview: An NFT Expert"
A nice way to take a crack at the NFT issue would be interviewing an NFT expert or perhaps someone at one of the major platforms. Open to suggestions or handing this project over to someone else.

[2021-03-09 23:32] jamesmcgirk commented on #86
@lpassos I'd go with  'lessons learned' (more common usage) and am obviously partial to 'autopsies' - I'll move this into Editorial review unless @ghettodev objects

[2021-03-10 14:28] cipherix commented on #23
Ok, tagging @tjd233 for engagement.

@drvarun, ready to post whenever you get a chance

[2021-03-10 18:02] drvarun commented on #23
@tjd233 Post is published. @jamesmcgirk and @cipherix thank you. Moving it to the published category and closing the issue.

[2021-03-11 19:41] jamesmcgirk commented on #31
Will present questions to @ClaraS and flag for content review once she's had a chance to review.

[2021-03-11 23:11] jamesmcgirk commented on #11
@cipherix do you have time for a conversation about the research mandate next week? (If you don't, you're welcome to add some info to the doc)

[2021-03-12 17:29] jamesmcgirk commented on #95
moved to ice box after a conversation with Rich. This is potentially spicy in the wrong way: too generative of conversation that isn't about blockchain research at the moment.

[2021-03-12 18:07] ghettodev commented on #86
I've made a bit of a judgment call on the working: "Lessons learned from hacked or exploited projects."

We are tabling the discussion about whether we actually need these categories now or later.

[2021-03-12 18:07] #86 closed

[2021-03-12 18:12] ghettodev commented on #85
Agreed. The standards category has been removed. Once we begin to dig into the supporting standards in the space we can consider a new tag or something more complex.

[2021-03-12 18:12] #85 closed

[2021-03-12 18:13] ghettodev commented on #66
Updated the category description.

[2021-03-12 18:13] #66 closed

[2021-03-13 00:18] jamesmcgirk commented on #12
@cipherix @lpassos - let me know when this is ready for editorial review

[2021-03-13 01:09] jamesmcgirk commented on #65
@Coinproz - super cool summary, I flagged a couple of places which might benefit from splitting your sentences into smaller chunks; otherwise ready for calendaring once you've added in a GtM strategy

[2021-03-13 01:26] jamesmcgirk commented on #39
@tina1998612 - this one is ready to be published, when you have a chance please prepare a Go to Market strategy for it as well. The research summary template: https://docs.google.com/document/d/1gs-a4wsgZhLxDioJzQjZDpOvDPl0xqrEKiQazY9nTEU/edit - contains the latest version of it

[2021-03-13 10:59] tina1998612 commented on #68
yeah thanks:) when can this one be published?

[2021-03-13 11:06] tina1998612 commented on #39
Just posted: https://www.smartcontractresearch.org/t/research-summary-attacking-the-defi-ecosystem-with-flash-loans-for-fun-and-profit/260
For the go to market strategy, should I email the author and ask for feedback directly? Thanks!

[2021-03-13 11:06] #39 closed

[2021-03-13 17:38] jamesmcgirk commented on #39
Why don’t you write that down as part of the go to market strategy, and we’ll talk about it on Monday

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: 李婷婷 Lee Ting Ting ***@***.***>
Sent: Saturday, March 13, 2021 3:07:10 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractre

[2021-03-13 17:39] jamesmcgirk commented on #68
This is another one that needs a go to market strategy.

@cipherix when should this one be published?

[2021-03-15 11:45] jamesmcgirk commented on #74
Sean is working on his draft, his progress so far is below -
https://docs.google.com/document/d/1mPtCHfmDO4XABV1xMFR9LiGHPGi56UoCQKjHPGx98TU/edit?usp=sharing

[2021-03-15 21:48] jamesmcgirk commented on #12
@lpassos looks really good, I tried making the TLDR a little easier to read, please have a look to make sure I didn't alter the meaning. Other than that it was in good shape, made a few formatting changes

[2021-03-15 22:20] tina1998612 commented on #84
This one is ready for review:)

[2021-03-15 22:23] jamesmcgirk commented on #84
@cipherix

[2021-03-16 20:15] #28 closed

[2021-03-17 11:07] tina1998612 opened #96 "Research Summary: Flash Ecosystem: An In-depth Explanation"
Link to article: https://xord.com/publications/flash-ecosystem-an-in-depth-explanation

Google doc: https://docs.google.com/document/d/1JL-n8y0yTFOjzm-08Ls9Y6bwG3VQdi-Q7KDVP5gTf0k/edit#

[2021-03-17 21:26] jamesmcgirk commented on #23
Reopening, just because this hasn't gone through the engagement process yet, moving back to calendaring

[2021-03-18 03:28] jamesmcgirk commented on #68
@jamesmcgirk check with engagement team

[2021-03-18 15:00] jamesmcgirk commented on #68
Tina is adding some context and the GtM

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: 李婷婷 Lee Ting Ting ***@***.***>
Sent: Saturday, March 13, 2021 3:00:10 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Assign ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Research Summary: General Purpose

[2021-03-18 17:42] jamesmcgirk commented on #31
Reached out to @ClaraS awaiting her decision on which questions to respond to...

[2021-03-18 17:43] jamesmcgirk commented on #76
@bgits - are you still working on this one?

[2021-03-18 17:44] jamesmcgirk commented on #69
@tjd233 Trent, welcome back - just wanted to see if you were still working on this one

[2021-03-18 17:47] jamesmcgirk commented on #77
@visavishesh - are you working on this one?

[2021-03-18 17:48] jamesmcgirk commented on #45
@cryptohazard - hey Jean, just wanted to see if you were still working on this one

[2021-03-18 18:45] jamesmcgirk commented on #11
@ghettodev can you please take a look at this draft and provide some guidance for the Discovery and Outreach sections please

[2021-03-18 18:46] jamesmcgirk commented on #11
@jamesmcgirk - you need to convert this to an issue in the format

[2021-03-19 16:11] bgits commented on #76
I'm not working on this. Maybe @drvarun is working on it as he moved it to drafting?

[2021-03-19 16:57] drvarun commented on #76
@bgits @jamesmcgirk Sorry, I think it was moved by mistake.

[2021-03-22 03:24] jamesmcgirk commented on #96
Tina said this is one is up for grabs

[2021-03-22 08:14] tina1998612 commented on #96
I took a deeper look into flashstake and discover that it’s a bit weird. The platform seems to create their token value out of nowhere.

- Users can only stake FLASH token to earn yields.
- Their swap can only exchange other assets into FLASH (which means that their platform revenue depends on the demand of FLASH token
- The yield depends on how long u stake your FLASH, the longer u stake, the hig

[2021-03-22 09:25] tina1998612 opened #97 "Research Summary: Formal Analysis of Composable DeFi Protocols"
- [ ] draft
- [ ] publish
- [ ] go to market

- Google doc: https://docs.google.com/document/d/1rcm4liRhV-uNSFNOHthMqbxMKPdKf3AKGTqqWALUpI8/edit#
- Link: https://arxiv.org/pdf/2103.00540.pdf
- It is in the Research Pulse.

[2021-03-22 09:47] tina1998612 opened #98 "Research Summary: Resource-Aware Session Types for Digital Contracts"
Importance:
- Resources are a new way of representing asset ownership and the properties of crypto-enabled digital assets directly in the programming language.
- It is adopted by the Flow blockchain and the Diem blockchain's Move programming language.

Link: https://www.cs.cmu.edu/~balzers/publications/digital_contracts_as_session_types.pdf

This may also be relevant:
[Cadence vs. Solidity](https:

[2021-03-22 18:16] lpassos commented on #92
After further discussions with Lucas, we decided to do a summary on "Dissecting Tendermint", whose pdf can be found here:
https://arxiv.org/pdf/1809.09858.pdf

[2021-03-22 18:19] cipherix commented on #76
Presented and approved. Moved to icebox for now.

[2021-03-22 18:20] #9 closed

[2021-03-23 20:09] jamesmcgirk commented on #31
Since this is really an engagement experiment, I'm going to execute it.

[2021-03-24 14:57] tina1998612 opened #99 "Research Summary: Smart contracts on the blockchain – A bibliometric analysis and review"
- Importance: This paper analyzes 468 articles on the topic of smart contracts and their 20,188 references, providing a
summary and analysis of the current state of research on smart contracts and identifying intellectual structures and emerging trends.

- [Link](https://pdf.sciencedirectassets.com/271579/1-s2.0-S0736585320X00116/1-s2.0-S0736585320301787/main.pdf?X-Amz-Security-Token=IQoJb3JpZ2luX

[2021-03-24 15:07] tina1998612 opened #100 "Research Summary: On Blockchain Metatransactions"
- Importance: This paper review existing designs of metatransactions, including miner based and payment channel based solutions. It also compares metatransactions with the fee delegation scheme. Lastly, they analyze its security and economic impact.
- Link: https://arxiv.org/pdf/2004.08094.pdf

[2021-03-24 15:22] tina1998612 opened #101 "Research Summary: FLOAT and the Money Gods"
- Importance: This article compares the three most popular algorithmic stablecoins: float, RAI, and FEI, highlighting their different approaches to peg, stabilisation mechanisms, risks and trade-offs.
- Link: https://floatprotocol.medium.com/float-and-the-money-gods-5509d41c9b3a

[2021-03-24 17:46] visavishesh opened #102 "Whitepaper Summary: Uniswap v3 Core"
Importance: This whitepaper breaks down the technical details of Uniswap v3 which is a groundbreaking new development in how AMMs work.

[Link to whitepaper](https://uniswap.org/whitepaper-v3.pdf)

[Draft](https://docs.google.com/document/d/1E3BZQoUn90fIQ9VzKbHjyUESDVf1SMQbn8VpCcNSdD4/edit)

[2021-03-24 19:30] jamesmcgirk commented on #44
@jamesmcgirk follow-up to see if he wants to do this

[2021-03-24 19:33] jamesmcgirk commented on #43
@jamesmcgirk follow up to see if he wants to do this

[2021-03-24 22:07] jamesmcgirk commented on #84
@tina1998612 done with the first editorial review, I added in a few go-to-market questions, let me know when you're done with them

[2021-03-24 22:45] jamesmcgirk commented on #83
@tina1998612 I've completed my first editorial pass and added some engagement team questions. Please let me know when you're done with this and I'll take another look.

[2021-03-24 23:59] tina1998612 commented on #84
@jamesmcgirk just done answering:)

[2021-03-25 01:10] tina1998612 commented on #83
@jamesmcgirk Done~

[2021-03-25 16:08] jamesmcgirk commented on #74
[Another version for LN](https://docs.google.com/document/d/1MP-E5pzYhhPwkWYCR5DU28IQiletXtNB1eogJeCBmgs/edit) - this one is almost done

[2021-03-25 16:56] jamesmcgirk commented on #84
@tina1998612 this looks good, @zubepaul this one is ready for the engagement team to work its magic

[2021-03-25 17:25] jamesmcgirk commented on #83
@tina1998612 thank you! @zubepaul this one is ready for the engagement team to work its magic

[2021-03-25 17:30] zubepaul commented on #84
Awesome! Because @tina1998612 did some filling out of the questions, do we want to do the engagement team interview asynchronously via text? Thoughts on that @jamesmcgirk? I know that I have some follow-ups so we could try to convert this into socials and comments, but we just need to figure out how to do that easily for everyone.

[2021-03-25 17:33] jamesmcgirk commented on #84
We could definitely do it over Discord. She's in Taipei, which is Greenwich + 7HR so she probably won't be available until this evening. I'd say we do it in the general channel

[2021-03-26 09:45] cryptohazard commented on #45
draft: https://docs.google.com/document/d/1whFTsUby0Pg1T2zUzVkYfrK_7CMQcf71Jhen6j3rsDM/edit

[2021-03-26 16:29] jamesmcgirk opened #103 "Research Summary: PLONK: Permutations over Lagrange-bases for Oecumenical Noninteractive arguments of Knowledge"
Suggested by Lucas as a first research summary. Assigned to Jerry, who needs access to Github and Google Drive.

[2021-03-26 16:40] jamesmcgirk commented on #103
The google link should be pasted here and the paper link...

[2021-03-26 16:50] cipherix commented on #80
Link to draft:

https://docs.google.com/document/d/1pXoo1O9UT6DK5f1SGn3hOtZO86p2LaUJrvM2QKEIT3Y/edit?usp=sharing

[2021-03-26 20:30] jamesmcgirk commented on #29
@Coinproz I made some suggested changes, please do push back if I'm not understanding something fundamental. 1) I think you should include Crypto kitties as term in the Background 2) you should cut the part about it being misleading / deceptive and replace that with some discussion of the legal case - doesn't have to be much, just the outlines, that'll let you introduce the misleading aspect while

[2021-03-29 15:42] jamesmcgirk commented on #29
@Coinproz we're hoping to get this one out today if you can review the edits today

[2021-03-29 15:48] Coinproz commented on #29
The researcher is the one that is calling it deceptive and makes the case
that conflating decentralized execution and trustless trust is the
deception.  I believe removing that changes what the researcher is trying
to assert.

On Fri, Mar 26, 2021 at 4:30 PM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-03-29 15:50] jamesmcgirk commented on #29
Maybe say: "according to the author, this type of 'deceptive' marketing..." (or ignore the suggestion)

[2021-03-29 15:54] Coinproz commented on #29
got it!

On Mon, Mar 29, 2021 at 11:50 AM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-03-29 16:13] Coinproz commented on #29
added a paragraph where requested that will likely reframe the summary to
get the proper point across.  please give a read when you have a moment.

On Mon, Mar 29, 2021 at 11:50 AM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-03-29 17:22] jamesmcgirk commented on #102
assigned myself as engagement coordinator

[2021-03-29 18:29] ghettodev commented on #45
@cipherix can you get with @cryptohazard to walk through this work? This is a pretty valuable content type for us, I would love to see some additional planning around this one.

[2021-03-29 20:29] jamesmcgirk commented on #29
Glad you did, provided some much needed clarity! I made a few minor grammar changes throughout. Ready to go in my opinion.

[2021-03-29 22:12] jamesmcgirk commented on #29
(You can publish whenever you're ready @Coinproz)

[2021-03-30 12:50] cryptohazard commented on #45
Hey @ghettodev I am planning to finish this one by the end of the week.
Feel free to comment @cipherix, even though for now it's just a list of papers.
 I have pretty much all the papers I want there but I am missing some categories like L2 I think.

[2021-03-30 12:54] cryptohazard commented on #43
Should we use this as part of the GTM strategy @jamesmcgirk ?
We could organize one on those big papers.

[2021-03-30 15:55] jamesmcgirk commented on #43
I do like the idea, I think we might end up folding this into what will become the SCRF Youtube channel. @ghettodev I think we can close this ticket

[2021-03-30 20:15] jamesmcgirk opened #104 "Use Case: Uniswap v3"
Use Case interview with Uniswap to accompany the research summary. It's a major release and has many potential applications that would be interesting to discuss. James will develop questions with Vishesh and other researchers after the editorial process has been completed.

[Use Case draft](https://docs.google.com/document/d/1k0zDrLbwYOsb60sI6-kjqcfjXqImEvlFwrd7I2MI-YY/edit)

[2021-03-31 00:29] jamesmcgirk commented on #103
@29988122 do you still need access to anything else? You should have write access to Github

[2021-03-31 01:03] 29988122 commented on #103
Yes, I do have access to github now; just need a google drive access for me to put the draft there.

[2021-03-31 01:09] jamesmcgirk commented on #103
@29988122 for now maybe you could post a link to your own Google Doc with open edit permissions and then we can move it later

[2021-03-31 01:15] 29988122 commented on #103
Sure thing, will do!

[2021-03-31 15:49] cipherix commented on #102
This was a good start and a fun read. We'll need to add a lot of background on some sections as noted in the review.

[2021-04-01 16:43] jamesmcgirk commented on #103
@cipherix Jerry gave me an update, he's about three hours in and debating how technical to get on the paper. He estimates that he'll get this one done on 4/9

[2021-04-01 17:51] tina1998612 commented on #84
published! https://www.smartcontractresearch.org/t/research-summary-tex-a-securely-scalable-trustless-exchange/275

[2021-04-01 18:20] tina1998612 commented on #84
and shared on twitter & linkedin
https://twitter.com/tinaaaaalee/status/1377685073042886659?s=20
https://www.linkedin.com/posts/activity-6783451882850533377-2gXI

[2021-04-02 18:28] ghettodev commented on #12
Summary tweeted: https://twitter.com/SCRForum/status/1375497748972113924

[2021-04-02 21:08] jamesmcgirk commented on #29
Status update: socials posted, original author contacted and invited to the forum. Next steps: follow-ups if necessary.

[2021-04-02 21:50] jamesmcgirk commented on #83
@tina1998612 you are clear to publish this one!

[2021-04-05 11:36] cipherix commented on #101
This seems like an interesting paper, great suggestion @tina1998612. Stablecoin coverage on the forum is thin so this looks like a promising start.

[2021-04-05 11:38] cipherix opened #105 "Research Summary: The Challenges of Investigating Cryptocurrencies and Blockchain Related Crime"
Link: https://arxiv.org/pdf/1907.12221.pdf

This paper provides a good framework to understand the problems with on-chain wallet clustering; a technique often used to de-anonymize blockchain entities.

[2021-04-05 11:45] cipherix opened #106 "Research Summary: On the Anonymity Guarantees of Anonymous Proof-of-Stake Protocols"

[2021-04-05 12:44] cipherix opened #107 "Research Summary: Veksel: Simple, efficient, anonymous payments with large anonymity sets from well-studied assumptions"
Link: https://eprint.iacr.org/2021/327.pdf

Significance: Veksel is an interesting design for next-gen mixers on account-based chains, like Ethereum.

[2021-04-05 16:46] jamesmcgirk commented on #83
Beginning our engagement campaign on 4/7

[2021-04-05 17:10] #25 closed

[2021-04-05 17:11] ericjaurena commented on #53
Socials drafted, submitted to @tina1998612 for posting at her soonest convenience

[2021-04-05 20:30] jamesmcgirk commented on #62
@coinproz I added the go to market questions in the doc, you're more than welcome to work on those while I go through the paper

[2021-04-05 20:54] jamesmcgirk commented on #62
@Coinproz this looks really good, I tried to simplify the language a bit in the TLDR; and the Implications and Follow-up section. Please check that I didn't change the intended meaning.

[2021-04-05 21:56] jamesmcgirk commented on #102
@visavishesh did my first pass, it's almost perfect. Added in some questions from the engagement team (these are separate from the forthcoming Use Case questions)

[2021-04-05 22:51] tina1998612 commented on #83
posted! https://www.smartcontractresearch.org/t/research-summary-coding-a-defi-arbitrage-bot/282

[2021-04-05 22:54] jamesmcgirk commented on #83
Thank you! @tina1998612 We'll begin executing our go to market strategy on Wednesday

[2021-04-05 23:14] tina1998612 commented on #53
posted on twitter & linkedin

[2021-04-06 19:29] jamesmcgirk commented on #11
@jamesmcgirk reach out to APAC and EU teams to get their input. Ensure people are reading the document before sign-off.

[2021-04-08 16:08] cipherix commented on #62
@Coinproz thanks for adding the suggestions. Seems like the next step for this one is for you to review @jamesmcgirk's suggestions and I can then jump back in and do a full review.

[2021-04-08 16:45] jamesmcgirk commented on #62
@Coinproz after that I'll go through it one last time to copyedit

[2021-04-08 17:09] zubepaul commented on #62
@Coinproz Will you be ready to do the GtM meeting post the Friday meeting?

[2021-04-08 17:11] Coinproz commented on #62
Sure will!

On Thu, Apr 8, 2021 at 1:10 PM zubepaul ***@***.***> wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-04-09 16:19] cipherix commented on #74
@Siemingfong I took the liberty to write the remaining sections of this summary. Please let me know if you have any content-related comments, specially on the Results and Applicability sections.

@jamesmcgirk this is ready for a first editorial pass if you want. Please connect with @Siemingfong when possible to go trough the GTM strategy. Thank you!

[2021-04-10 14:36] ClaraS commented on #72
The draft for review is here: https://docs.google.com/document/d/1oBFQEkjNApvFKKBzAjtly-M9Hf-KPZSa3IdlyJPXLDU/edit

[2021-04-10 17:30] jamesmcgirk commented on #74
@Siemingfong this was really good! I added a couple of bullet points to the TLDR; could you please check that they are accurate? I also have a few 'go to market' questions for the engagement team.

[2021-04-12 14:46] 29988122 commented on #103
https://docs.google.com/document/d/1NtUUerwDXnMj6p54DkomUH2xR9K0izgyWh9Wjl3pmWA/edit

This took me [far far far more longer than expected...](https://en.wikipedia.org/wiki/Hofstadter%27s_law)

@cipherix Please take a look into it, and fix/solve the annotations when necessary, thanks!

[2021-04-12 16:47] Coinproz opened #108 "Discussion Post: Creating Digital Uniqueness"
https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3821102

Draft Document:
https://docs.google.com/document/d/1iW1sa2nQyKcChXKStk7D1r0n5vzpWwfAArvfT-NA80Y/edit?usp=sharing

[2021-04-12 17:12] ghettodev commented on #73
WIll reach out to Aave this week. Let's recap on Friday.

[2021-04-12 18:22] visavishesh commented on #82
@bgits hey barry wanted to check and see if this is still in-progress?

[2021-04-12 18:55] Coinproz opened #109 "Discussion Post: Existing Legal Framework and Problems"
https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3821102

Doc:

https://docs.google.com/document/d/1paQJKH8yq1aaJMZsJbVgljWks67nDl8ZGYxrBMALgDc/edit?usp=sharing

[2021-04-12 18:56] Coinproz opened #110 "Discussion Post: Stable Legal Frameworks for Digital Uniqueness"
https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3821102

draft link:

https://docs.google.com/document/d/1R5q9vUqp-Ag7vdWUDrbnp6J87AAqbiVkGO2k14evHfM/edit?usp=sharing

[2021-04-12 19:30] jamesmcgirk commented on #11
ready for MD format!

[2021-04-12 19:54] bgits commented on #82
It's WIP, I stopped to address another project but expect to resume in a few days.

[2021-04-13 16:23] jamesmcgirk commented on #72
Added go-to-market questions, assigned myself to it for now

[2021-04-13 16:35] jamesmcgirk commented on #29
Status update: reached out to CLR, awaiting a response.

[2021-04-13 16:36] jamesmcgirk commented on #84
@zubepaul to increase content accessibility.

[2021-04-13 16:37] jamesmcgirk commented on #83
@jamesmcgirk will reach out to author today

[2021-04-13 16:39] jamesmcgirk commented on #65
Assigned to @ghettodev socials ready

[2021-04-13 16:40] jamesmcgirk commented on #53
GtM successfully launched?

[2021-04-13 16:42] jamesmcgirk commented on #102
@jamesmcgirk working on Use Case, digging up questions from researchers. Socials drafted.

[2021-04-13 17:57] ghettodev commented on #65
Can you put it on the calendar? The 'coding a bot' socials went out today.

[2021-04-13 18:51] ghettodev commented on #83
Socials posted: https://twitter.com/SCRForum/status/1382015967119560708

[2021-04-14 15:52] jamesmcgirk commented on #104
@visavishesh I've moved this into Content Review, you might want to have a glance at it / add a few more questions

[2021-04-14 16:31] cipherix opened #111 "Discussion Post: Upcoming Taproot Activation"
This discussion post is intended to highlight features and activation procedures of the upcoming Bitcoin soft fork.

[2021-04-14 17:01] lpassos commented on #92
WIP: https://docs.google.com/document/d/1nIPRj77IpqpcA0p_D5Vn6SC8q8VMjDtmxhLyljJhW4c/edit?usp=sharing

[2021-04-14 19:31] jamesmcgirk commented on #29
ET status update: James to create investigate other points brought up

[2021-04-14 19:32] jamesmcgirk commented on #83
Authors engaged. @jamesmcgirk to create discussion

[2021-04-14 19:33] jamesmcgirk commented on #65
Post-quantum socials scheduled for 4/15. @ghettodev to post.

[2021-04-14 19:34] jamesmcgirk commented on #53
GtM review scheduled for Friday @ericjaurena to brief (if he's available)

[2021-04-14 19:35] jamesmcgirk commented on #102
Use Case in content review. Research Team to post questions in the forum. James to post Use Case in forum, followed by outreach to authors.

[2021-04-14 19:36] jamesmcgirk commented on #62
@zubepaul to engage with the thread, investigate other avenues of discussion

[2021-04-14 19:37] jamesmcgirk commented on #74
@jamesmcgirk assigned for ET, prepared initial GtM, waiting for questions

[2021-04-14 19:38] jamesmcgirk commented on #103
@jamesmcgirk assigned for engagement, GtM to be scheduled, potential Aztec connection?

[2021-04-14 19:39] jamesmcgirk commented on #72
Added notes from Wed status update to GtM

[2021-04-14 19:40] jamesmcgirk commented on #25
@jamesmcgirk to revive with Uniswap v 3 release

[2021-04-15 14:13] zubepaul commented on #12
Go to market implemented. This now moves to routine thread monitoring and maintenance.

[2021-04-15 17:31] jamesmcgirk commented on #29
ET Status update: trying another external source, Larry to convert research to MD, posted a comment soliciting engagement from researchers

[2021-04-15 20:50] jamesmcgirk commented on #104
@cipherix are you and @visavishesh done looking this over? It might be nice to post this one today (assuming it passes the editorial review!)

[2021-04-15 21:09] cipherix commented on #104
looks good from my perspective -- @visavishesh, can you take a look?

[2021-04-16 00:02] visavishesh commented on #104
@cipherix @jamesmcgirk I redid the questions. IMO they were all basically just versions of asking whether v3 is more or less gas efficient. LMK what you think.

[2021-04-16 00:06] jamesmcgirk commented on #104
@visavishesh thanks a million, I think it's much stronger and I'm sure you're right. I'll do a quick read-through and then post it.

[2021-04-16 00:26] jamesmcgirk commented on #104
Posted to the forum. Socials will go out on 4/19. Email following day.

[2021-04-16 17:18] visavishesh opened #112 "Discussion: Multi-Client Ethereum"

[2021-04-16 17:42] Coinproz commented on #72
Create question about the limitations of blockchain functionality being a benefit over Turing complete functionality

[2021-04-16 20:24] jamesmcgirk commented on #104
Pulled per Ops meeting. Adding an introduction and reworking email around questions.

[2021-04-16 21:43] jamesmcgirk commented on #44
adding some notes from this morning's meeting... Larry suggested an opinion-like section. Vishesh created a ticket for a discussion post on the content board.

[2021-04-16 23:17] jamesmcgirk commented on #74
Looked over the rewrite, changed a few minor things. @Siemingfong you're free to publish this summary. Please answer the questions in blue when you can.

[2021-04-16 23:22] jamesmcgirk commented on #80
Per Friday's meeting, this to go before BitML

[2021-04-17 00:48] jamesmcgirk commented on #80
made some tiny changes, only reason I'm pinging you is that I didn't have Edit access @cipherix ready for Engagement Review when you make them. Might want to standardize Bitcoin/bitcoin capitalization (I'd lean toward capitalized but defer to convention)

[2021-04-19 09:07] Siemingfong commented on #74
@jamesmcgirk I finished the Go-To-Market questions. It's ready to publish

[2021-04-19 09:30] Siemingfong commented on #74
Publish
Twitter: https://twitter.com/SieMingFong/status/1384075324657307656?s=20
LinkedIn: https://www.linkedin.com/posts/siemingfong_research-summary-redshift-transparent-snarks-activity-6789840478918574080-foUY

[2021-04-19 16:43] dr-chain opened #113 "Mechanism for multiple data ingestion points for true decentralization in Blockchain based decentralized marketplaces"
## Steps to completion

- [x] Provide context/background for broader narrative
- [ ] GTM section filled out
- [ ] Editing step completed
- [x] Proposed tags
- [ ] Glossary items captured
- [ ] Post GTM Meeting

---

## Mechanism for multiple data ingestion points for true decentralization in Blockchain-based decentralized marketplaces

Source: https://www.researchgate.net/publication/341413269_Blo

[2021-04-19 16:53] jamesmcgirk commented on #74
Retweeting research post today, then GtM

[2021-04-19 17:24] jamesmcgirk commented on #29
Creating another comment thread.

[2021-04-19 18:01] lpassos commented on #105
I would be interested in covering this one.

[2021-04-19 18:03] visavishesh opened #114 "When does the tail wag the dog? Curvature and market making"
## Steps to completion

- [ ] Provide context/background for broader narrative
- [ ] GTM section filled out
- [ ] Editing step completed
- [ ] Proposed tags
- [ ] Glossary items captured
- [ ] Post GTM Meeting

---

## When does the tail wag the dog?
Curvature and market making

## https://arxiv.org/pdf/2012.08040.pdf

## Link to draft

## Assignee

## Content type tag (summary, discussion)

## Ca

[2021-04-19 18:12] lpassos opened #115 "Discussion post on strategies to mitigate flash loan attacks"
**Idea**

Flash loan attacks are a plague for smart contracts devs and users. There are, however, some strategies in place to mitigate flash loan attacks, although not yet captured in a single place.

Hopefully, we could get that discussion started. Publishing it on SCRF could bring more traction to the forum.

**Why is this important?**
- Flash loan attacks are one of the major causes for attacks

[2021-04-19 22:17] jamesmcgirk commented on #72
Minor edits. I left them as suggested changes because I'm not sure if it's "a small-semantics" or just "small-semantics"...

[2021-04-20 17:03] jamesmcgirk commented on #74
Seeded a comment. Next phase is reaching out to the authors.

[2021-04-21 00:01] jamesmcgirk commented on #104
Use Case posted 4/19.

[2021-04-21 00:04] jamesmcgirk commented on #80
Ready for publication?

[2021-04-21 13:28] cipherix opened #116 "Research Summary: Sample"
Test

[2021-04-21 13:31] #116 closed

[2021-04-22 15:38] jamesmcgirk commented on #103
@29988122 just wanted to check in and see if you need anything

[2021-04-22 15:40] jamesmcgirk commented on #104
Moved to published.

[2021-04-23 03:57] 29988122 commented on #103
I guess not, thanks for asking; waiting for Lucas to review the plonk article I assume.
For next step, I already have some papers to be summarized in mind, will probably put them onto SCRF for draft proposal early next week.

[2021-04-23 19:10] visavishesh commented on #108
@Coinproz status update on this?

[2021-04-23 19:17] Coinproz commented on #108
About halfway done with the draft, and going to fill in some of the
background terms here this evening.  Trying to finish the draft today.

On Fri, Apr 23, 2021 at 3:10 PM Vishesh Choudhry ***@***.***>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-04-23 19:18] visavishesh commented on #45
@cryptohazard status update

[2021-04-23 22:14] zubepaul commented on #72
@cipherix Please use the GTM document during the author interview to keep notes (on the bottom of the doc) so that the engagement team can use those notes for future engagement.

[2021-04-23 22:28] jamesmcgirk commented on #103
@29988122 LN is all done with it, I did my first pass - I have a few minor questions where I want to make sure that I didn't introduce any errors, please let me know when you're done and I'll do another check (it's such a complex paper I'm sure I missed something :).) Congratulations on nearing the end!

[2021-04-23 23:22] jamesmcgirk commented on #11
@jamesmcgirk review for MD

[2021-04-24 15:26] 29988122 opened #117 "Research Summary: "Tornado Cash""
https://www.smartcontractresearch.org/c/post-ideas/23
Somehow I cannot post in the Post Ideas section on the SCRF forum - lack of permission I suppose. So I'll put it here at the moment I guess.

Paper:
https://tornado.cash/Tornado.cash_whitepaper_v1.4.pdf
https://tornado.cash/audits/TornadoCash_cryptographic_review_ABDK.pdf
https://tornado.cash/audits/TornadoCash_circuit_audit_ABDK.pdf

Pitch:
Al

[2021-04-24 15:28] 29988122 commented on #117
@jamesmcgirk Please mention this idea and play the video in the monday meeting, and inform me the discussions/outcome. Thanks!

[2021-04-24 16:57] jamesmcgirk commented on #117
Of course!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jerry Ho ***@***.***>
Sent: Saturday, April 24, 2021 8:28:44 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Research Summary: "Tornado Cash" (#117)

@jamesmcgirk<https://github.c

[2021-04-24 18:43] ghettodev commented on #117
I've added you to the Research Team in the forum, you should be able to post there now @29988122

[2021-04-26 12:05] cryptohazard commented on #45
@visavishesh I will finish it this week!

[2021-04-26 14:34] SethAustinHarding opened #118 "Research Summary: Testbed Design and Performance Analysis for Multilayer Blockchains"
Comprehensive performance analysis for multilayer blockchains

Will be released to web soon...
Published to IEEE ICBC 2021: https://icbc2021.ieee-icbc.org/program

[2021-04-26 14:50] SethHasi opened #119 "Research Summary: Comparison of three papers (see below)"
Bitcoin: A Peer-to-Peer Electronic Cash System (2008)
vs.
Where Is Current Research on Blockchain Technology?—A Systematic Review (2016)
vs.
A survey of breakthrough in blockchain technology: Adoptions, applications, challenges and future research (2021)

[2021-04-26 15:52] cipherix commented on #111
Draft (WIP):

https://docs.google.com/document/d/1PpwxGJwYYV1sYZC2LwlgPXHibQKiEgvhUd6v_sOh8uU/edit?usp=sharing

Planning on finishing this by EOW.

[2021-04-26 18:23] cipherix commented on #108
We will use this post as a pilot for our "Peer Review" to account for:

--Soucing experts
--Limiting conflicts of interest

[2021-04-26 19:17] jamesmcgirk commented on #113
@drvarun here you go (he asked me to ping)

[2021-04-27 16:20] jamesmcgirk commented on #103
@29988122 this one is ready for publication - you're welcome to post some of the comments you had into the forum

[2021-04-28 19:06] jamesmcgirk commented on #72
@ClaraS @cipherix this one is ready to be published

[2021-04-29 19:42] jamesmcgirk opened #120 "Massimo Bartoletti: Technical Interview"
We have a series of Bartoletti's papers on the forum - BitML and Bitcoin Covenants. I'd like to solicit some questions from our experts (or perhaps facilitate an interview) and create a standalone 'technical interview' for the Forum.

Think of this as a Use Case without a research summary attached.

[2021-04-29 19:44] jamesmcgirk commented on #120
Tooling and languages tag

[2021-04-29 21:44] lpassos commented on #92
@visavishesh and @cipherix Ready for review.

[2021-04-30 01:19] cipherix commented on #87
any updates on this?

[2021-04-30 05:41] 29988122 opened #121 "Research Summary: Blockchain is Watching You: Profiling and Deanonymizing Ethereum Users"
Suggested here:

https://www.smartcontractresearch.org/t/post-idea-tornado-cash/366/7?u=jerry_ho

And I do agree it's worth reading & having a summary for it.

[2021-04-30 05:43] 29988122 commented on #117
temporarily on halt as suggested by
![圖片](https://user-images.githubusercontent.com/5474709/116653550-00f50180-a9ba-11eb-86a1-ee2d273970e3.png)
Will be back after we have more interest/paper for mixers.

[2021-04-30 15:59] jamesmcgirk commented on #102
Use Case complete. Backgrounder linking to other summaries scheduled for 5/5.

[2021-04-30 16:00] jamesmcgirk commented on #74
Socials posted. Inviting authors.

[2021-04-30 16:00] jamesmcgirk commented on #103
Socials posted.

[2021-04-30 16:02] jamesmcgirk commented on #80
Begin GtM. Socials drafted, ready to go when BitML is published.

[2021-04-30 17:26] zubepaul commented on #92
Go to Market prompt questions added to the draft summary

[2021-04-30 17:29] zubepaul commented on #92
Go to Market prompt questions added to summary draft

[2021-04-30 17:31] visavishesh commented on #110
I think it is ok to have this forward and reverse link to posts 1 and 3 in the series. 

[2021-04-30 17:31] cipherix commented on #108
@visavishesh will coordinate with @Coinproz on sequencing

[2021-05-03 08:48] 29988122 commented on #121
adding on-board ilnk:
https://www.smartcontractresearch.org/t/post-idea-blockchain-is-watching-you-profiling-and-deanonymizing-ethereum-users/391

[2021-05-03 16:41] cipherix commented on #92
@lpassos just went through another review and left comments -- let me know what you think. If you could also provide answers to the GTM, that'd be much appreciated

[2021-05-03 18:10] lpassos commented on #92
@cipherix Sure, will take a look again. Let me know of a time you in your calendar for us to synchronize on this once I give it another pass. Maybe a call on May 4th?

[2021-05-03 18:13] Coinproz opened #123 "Clock times, time measurement, and how time works in different contexts"
Discussion post about how time can be measured in different ways within different systems.

[2021-05-03 18:14] lpassos commented on #89
@visavishesh Could you please provide the link to this paper?

[2021-05-03 18:46] visavishesh opened #124 "Discussion Post: MakerDAO Governance"

[2021-05-03 18:51] cipherix opened #125 "Discussion Post / Update on 1559"

[2021-05-03 20:23] visavishesh commented on #89
https://research.paradigm.xyz/uniswaps-alchemy

[2021-05-04 00:02] jamesmcgirk commented on #108
@Coinproz made a couple of suggestions, let me do a second pass on it before we publish it. Also - do we need a link to the paper?

[2021-05-04 02:22] cipherix commented on #92
Let's do it

[2021-05-04 03:48] 29988122 commented on #123
Will start doing this, priority slightly lower than the graph linkage attack paper.

[2021-05-04 04:54] Coinproz commented on #123
Yeah, there are multiple people contributing so don't feel like you have to
refocus on this immediately.

On Mon, May 3, 2021 at 11:48 PM Jerry Ho ***@***.***> wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-05-04 18:24] jamesmcgirk commented on #120
Clara is reaching out to Bartoletti on 5/5. If he responds, I'll begin drafting some context for the interview.

[2021-05-05 15:53] cipherix commented on #92
Final content-related comments have been addressed, moving it to Editorial Review @jamesmcgirk

@lpassos, If you fill out GTM, that'd be great :)

[2021-05-05 21:36] jamesmcgirk commented on #108
@Coinproz I cleaned it up a bit, I do think you should check over the legal definitions there's some weird nuance in them which may or may not be applicable for the discussion.

[2021-05-05 22:06] jamesmcgirk commented on #92
@cipherix really nice, I made a few tiny edits for you to approve/ignore

[2021-05-06 15:14] visavishesh opened #130 "Mini-Post: Flashboys 2.0"
https://docs.google.com/document/d/1MzBNmZCk251W8Ge43IRsTJ6Pm6eC2B2rUlkmqzaTcMs/edit

[2021-05-07 17:06] zubepaul commented on #92
GTM meeting scheduled

[2021-05-07 20:56] jamesmcgirk commented on #108
@Coinproz looking good! Still needs the GTM questions answered but those can wait until Monday

[2021-05-10 18:17] cipherix commented on #125
This will be broken down into 2 posts:

1) Reply to the original post with updates.
2) DIscussion post on Economic Impact of the EIP1559 sourcing outside data.

[2021-05-10 18:29] zubepaul commented on #92
GTM meeting completed. Go to market strategy is being finalized by @ericjaurena

[2021-05-12 17:21] visavishesh opened #131 "Mini-Post: AMMs"

[2021-05-12 17:25] jamesmcgirk commented on #92
@lpassos this is ready to be published!

[2021-05-12 17:27] visavishesh commented on #111
Waiting for engagement from BitML team

[2021-05-12 17:38] visavishesh commented on #45
@cryptohazard status update on this?

[2021-05-12 19:14] cryptohazard commented on #45
@visavishesh should I assign the review to you when I am done?
I am finishing the last papers.

[2021-05-12 19:37] jamesmcgirk commented on #130
@visavishesh made a few suggestions, specifically adding an intro, a call to action at the end, and a few tweaks throughout.

[2021-05-12 20:16] jamesmcgirk commented on #108
@Coinproz publish when ready!

[2021-05-13 03:58] tina1998612 opened #132 "Research Summary: Everlasting Options"
https://www.paradigm.xyz/2021/05/everlasting-options/

- Google doc: https://docs.google.com/document/d/11Km2dhh5D1pJudBkDQg3nWmLosJ4dOClH8IV3X0SbhU/edit

[2021-05-14 11:33] cryptohazard commented on #45
https://docs.google.com/document/d/1whFTsUby0Pg1T2zUzVkYfrK_7CMQcf71Jhen6j3rsDM/edit

Moving to review

[2021-05-14 17:05] Coinproz opened #133 "Mini Post: The Art of Auditing"
Take the suggested approach to auditing from the comment section to create a mini-post about the art of audits and why it takes a creative approach instead of a single unilateral approach to doing an audit.

https://www.smartcontractresearch.org/t/wondering-if-there-is-a-getting-started-for-auditing/413/3

Draft:

https://docs.google.com/document/d/1xzZiNOiI6a9g99DiKFtSlNMCgFuOFMRK_51TPD-T2d4/edit

[2021-05-14 17:34] visavishesh commented on #45
I'll review this

[2021-05-14 17:49] visavishesh opened #134 "Mini-Post: Q&A for Aztec"

[2021-05-14 17:49] visavishesh opened #135 "https://web.stanford.edu/~guillean/papers/cfmm-lending.pdf"

[2021-05-14 18:02] visavishesh commented on #115
@lpassos what's the game plan on this one?

[2021-05-17 02:47] SethHasi opened #136 "Research Summary: Convergence of Blockchain, IoT, and AI"

[2021-05-17 16:03] cipherix commented on #120
Closing this in light of our convo

[2021-05-17 16:03] #120 closed

[2021-05-17 17:05] cipherix opened #137 "Mini Post: BitML Interview"
https://docs.google.com/document/d/1N7Bc7JPyjm2tjJQdMQ-GXXaRhmXkbb4acnHfvxvva6c/edit?usp=sharing

[2021-05-18 19:18] jamesmcgirk commented on #109
@Coinproz @cipherix peer review complete - let me know if this is what you guys are after... I added a lot to the method and conclusion sections, doing a gloss of his argument in the method; and then in the conclusion I tried to hit his point that currently courts treat them as a combo of property/contract and that they should be defined a personal property.

[2021-05-21 00:33] cipherix commented on #109
@Coinproz could you provide some feedback on the comments when you get a chance? Thank you

[2021-05-21 00:58] Coinproz commented on #109
Commented

Tl;dr:  jurisdiction and legal enforcement comes from a state and thus
"self-executing" does not equate to "self-enforcing".  Further, only legal
persons or entities can enter into contracts, so oracles would have to
either get personhood or become established as a legal business entity
within a jurisdiction to legally enter a contract WITHIN a jurisdiction,
100% autonomous or not.

On

[2021-05-21 16:51] jamesmcgirk commented on #109
@cipherix Edited and ready for publication!

[2021-05-21 17:19] jamesmcgirk commented on #137
@cipherix finished with my review. I made a few wording suggestions, please feel free to revert. Once these are done, this should be ready for publication. Looks great btw!

[2021-05-24 18:05] zubepaul commented on #97
Assinged as Engagement Team

[2021-05-24 18:05] zubepaul commented on #68
Assigned as Engagement Team

[2021-05-24 18:05] zubepaul commented on #121
Assigned as Engagement Team

[2021-05-28 17:24] zubepaul commented on #133
Assigned as engagement team

[2021-05-28 17:27] zubepaul commented on #111
Assigned as engagement team

[2021-05-28 17:28] zubepaul commented on #111
@jamesmcgirk assigned as engagement team

[2021-05-28 21:49] jamesmcgirk commented on #111
Super minor edits here and there. Ready for engagement review once Vishesh's comments are okay'd

[2021-05-31 14:17] lpassos commented on #115
@visavishesh It was on hold for a long time. Back to it this week.

[2021-06-02 21:18] Coinproz opened #138 "Research Summary: Leveraging Blockchain for Greater Accessibility of Machine Learning Models"
draft:
https://docs.google.com/document/d/1QXTsUaeklOtAcJ9t3l1T7zlfjOYqVnGfq8ZSInp9c7U/edit?usp=sharing

Link to article:

https://stanford-jblp.pubpub.org/pub/blockchain-machine-learning/release/1

https://www.microsoft.com/en-us/research/blog/leveraging-blockchain-to-make-machine-learning-models-more-accessible/

https://www.microsoft.com/en-us/research/uploads/prod/2019/07/drt.gif

https://www.

[2021-06-04 14:44] zubepaul commented on #65
Go to market completed.

[2021-06-04 14:44] zubepaul commented on #62
Go to market completed

[2021-06-04 14:47] zubepaul commented on #7
Go to market completed

[2021-06-04 14:50] zubepaul commented on #34
Go to market completed

[2021-06-04 14:50] zubepaul commented on #50
Go to market completed

[2021-06-04 14:51] zubepaul commented on #23
Go to market completed.

[2021-06-04 16:12] lpassos commented on #133
Edit suggestions left in the comment. @Coinproz Thank you so much for taking the lead and putting up the first draft for review.

[2021-06-04 17:35] zubepaul commented on #136
Assigned as engagement team.

[2021-06-07 18:46] lpassos commented on #133
Lucas comments were fully addressed.

[2021-06-07 19:09] Coinproz commented on #136
Link to article:

https://www.frontiersin.org/articles/10.3389/fbloc.2020.522600/full

[2021-06-09 14:17] zubepaul commented on #133
We don't do the full engagement review for mini-posts, but it will be helpful if @lpassos and @Coinproz could get together with me briefly to chat through what engagement can be doing to highlight this

[2021-06-09 14:21] Coinproz commented on #133
No problem!

On Wed, Jun 9, 2021 at 10:17 AM zubepaul ***@***.***> wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-06-09 14:24] zubepaul commented on #30
Engagement priority changed to 4

[2021-06-09 14:39] zubepaul commented on #35
Changed to engagement priority 4

[2021-06-09 14:45] zubepaul commented on #12
Changed engagement priority to 4

[2021-06-09 14:58] zubepaul commented on #73
Changed to engagement priority 4

[2021-06-11 17:57] jamesmcgirk opened #139 "Mini Post: Sociology and the Blockchain"
Intending this to be a slight deviation from the regular discussion post, will contain the results of a couple of conversations with prominent blockchain-affiliated anthropologists and sociologists plus links to papers.

[2021-06-11 18:44] jamesmcgirk opened #140 "Assessment of Lightning Network in light of El Salvador?"
Brought up in 6/11

Lightning Network description: for laypeople from [Coindesk](https://www.coindesk.com/reports/an-in-depth-look-into-the-lightning-network-as-a-bitcoin-scaling-solution/)

[2021-06-14 18:37] lpassos opened #141 "Research Summary: Non-Fungible Token (NFT): Overview, Evaluation, Opportunities and Challenges"
## Steps to completion

- [ ] Provide context/background for broader narrative
- [ ] GTM section filled out
- [ ] Editing step completed
- [ ] Proposed tags
- [ ] Glossary items captured
- [ ] Post GTM Meeting

---

## Title
Non-Fungible Token (NFT): Overview, Evaluation, Opportunities and Challenges

## Link to source

https://arxiv.org/pdf/2105.07447.pdf

## Link to draft

## Assignee

@lpassos

[2021-06-14 19:06] zubepaul commented on #133
Engagement review complete. Ready for publication

[2021-06-15 11:45] Siemingfong opened #142 "Research Summary: MEV-SGX: A sealed bid MEV auction design"
Here is my summary:
https://docs.google.com/document/d/1HEE_9jycMtP9nUPE2ssLV120kaLaeLlMR2lnlShm0Wg/edit?usp=sharing

[2021-06-22 03:08] Coinproz opened #143 "Discussion Post: Can Gambling Increase Savings? Empirical Evidence on Prize Linked Savings Accounts"
Link:
http://www.beniverson.org/papers/CIT_MaMa.pdf

Draft:

https://docs.google.com/document/d/1lUKO7inDR2PHlVgiAPwKbRTQjHzRXQsifN2jm9NqSCU/edit?usp=sharing

[2021-06-23 18:33] ghettodev opened #144 "[SUMMARY] THing Test"
## Steps to completion

- [ ] Provide context/background for broader narrative
- [ ] GTM section filled out
- [ ] Editing step completed
- [ ] Proposed tags
- [ ] Glossary items captured
- [ ] Post GTM Meeting

---

## Title

## Link to source

## Link to draft

## Assignee

## Content type tag (summary, discussion)

## Category Tag (our list of categories)

## Subcategory tag (3 freeform tags or

[2021-06-23 18:40] #144 closed

[2021-06-26 06:21] Coinproz commented on #143
https://poseidon01.ssrn.com/delivery.php?ID=489024064102117110092069110100099064027075072041043035077074027004119013104120068072123098043034107058119101115070099095086065059012026078015003090115079127119008052087122068093072117086069127117121006085090008121018124070101007028091108068094003&EXT=pdf&INDEX=TRUE

[2021-06-26 06:21] Coinproz commented on #143
https://arxiv.org/abs/2106.00667

[2021-06-26 06:21] Coinproz commented on #143
https://medium.com/pooltogether/introducing-pool-23b09f36db48

[2021-06-26 12:25] 29988122 commented on #121
@cipherix Ready to be reviewed.

https://docs.google.com/document/d/1jypTBhrXUUiiC-8HzMOrjO7a6IRud-Dx3JySUX9TgTo/edit

[2021-06-28 04:04] Coinproz commented on #143
https://medium.com/pooltogether/prize-pool-builder-9f9c95fad860

[2021-06-28 04:06] Coinproz commented on #143
https://medium.com/pooltogether/the-graph-launch-decentralizing-pooltogether-e2b925a9dc9c

[2021-06-28 04:06] Coinproz commented on #143
https://medium.com/@lay2000lbs?source=collection_home---6------1-----------------------

[2021-06-28 04:06] Coinproz commented on #143
https://medium.com/pooltogether/pooltogether-treasury-2ff34e5617a4

[2021-06-28 04:06] Coinproz commented on #143
https://medium.com/pooltogether/5-weeks-on-polygon-8c7d295d11f0

[2021-06-28 04:06] Coinproz commented on #143
https://medium.com/pooltogether/pooltogether-treasury-2ff34e5617a4

[2021-06-28 18:32] cipherix opened #145 "Research Summary on Arbitrum"

[2021-06-28 19:13] eleventh19 commented on #11
need to see if this ever got uploaded to hackMD/where this is @jamesmcgirk

[2021-06-29 07:46] jamesmcgirk commented on #11
Added to HackMD - https://hackmd.io/@scrf/BkrhjBun_

[2021-06-29 08:11] jamesmcgirk commented on #145
@Coinproz updated with https://docs.google.com/document/d/1uWeHCyHSC0p1MjRawsws7k6CqhB9iAGE0j2sL3AacDU/edit moving to Drafting

[2021-06-29 11:01] jamesmcgirk commented on #139
[Draft in progress](https://docs.google.com/document/d/1aQVTkuGG2m3brLlPNYe0Als1ZpHqIuOfecb7sU6-mQk/edit#)

[2021-07-01 03:28] Coinproz commented on #110
https://auctions.royaltyexchange.com/auctions/nft-a-tribe-called-quest-sound-recording-royalties/?utm_source=royaltyexchange.com&utm_medium=referral&utm_campaign=site_banners&utm_content=main_banner

[2021-07-01 10:02] jamesmcgirk commented on #139
I've asked Kelsie to peer review this.

[2021-07-06 15:27] zubepaul commented on #110
Assigned for engagement

[2021-07-06 15:34] jamesmcgirk commented on #121
Assigning myself as Engagement

[2021-07-07 15:19] jamesmcgirk commented on #121
@29988122 I made some edits if you'd like to review them

[2021-07-07 18:14] jamesmcgirk commented on #136
How's this one coming along?

[2021-07-07 18:46] jamesmcgirk commented on #45
self assigned for engagement and posted questions

[2021-07-07 19:20] jamesmcgirk commented on #45
@cryptohazard I did my first pass of edits, this looks really good - added a few engagement questions, I'll look over it again tomorrow.

[2021-07-08 09:07] jamesmcgirk commented on #121
@zubepaul this one is ready for engagement, interview complete, GtM should be ready CoB today

[2021-07-08 09:22] jamesmcgirk commented on #45
@cryptohazard i had one outstanding question about Ethereum uncle blocks (is it uncles or uncle blocks), also have a few questions at the beginning of the document for you to answer for the Go to Market strategy -- otherwise, ready for engagement review

[2021-07-08 14:39] jamesmcgirk commented on #110
@Coinproz I think you should cut the "black letter law" parts out (where it's the wording of the law) and replace them with brief descriptions of what they are and a link to the BLL. You could also just cut them out entirely because they aren't referred to in the cases that follow. Otherwise, looks good!

[2021-07-08 20:57] cryptohazard commented on #45
I will go over it tomorrow and ping you when I am done.

[2021-07-09 13:11] jamesmcgirk commented on #110
Added a description of Parts 1 and 2 per Lucas' suggestion. Let me know what you think

[2021-07-09 16:18] jamesmcgirk commented on #110
Moved to Engagement, I still think it would be better with links to the case law but accept that people should be kept on the site

[2021-07-09 16:32] zubepaul commented on #110
Go to market questions added to top of the draft. @Coinproz, could you please provide a few sentence answers to each. If the answer is the same as part 1 and 2 in the series, just indicate that as your answer so I can look back and incorporate those ideas in this strategy. We can also figure out when a good time to have a brief GTM meeting would be.

[2021-07-09 16:41] Coinproz commented on #110
I don't believe novices would read this work, so I believe that creating it
with a specialist in mind will serve the audience we are trying to target
better instead of making the material "more accessible to laypeople"

On Fri, Jul 9, 2021 at 12:18 PM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-07-09 16:42] zubepaul commented on #110
That works. And don't worry about the meeting, I got this confused with a different post.

[2021-07-10 03:18] Coinproz commented on #110
sorry, forgot that we do the GTM before it gets posted and not as a general strategy for the post!

[2021-07-12 09:17] Siemingfong opened #146 "Research Summary: Liquidity risks in the decentralized finance protocol Aave"
Research Pulse Issue #20 07/06/21:
https://www.smartcontractresearch.org/t/research-pulse-issue-20-07-06-21/550

Published Link:
https://www.smartcontractresearch.org/t/research-summary-liquidity-risks-in-the-decentralized-finance-protocol-aave/1062

Summary Link: https://docs.google.com/document/d/1wVKk-3P6DOz-9yAJBBbZrW_cBT5V4ffo81Sj2HnFGGg/edit?usp=sharing

[2021-07-12 12:25] cryptohazard commented on #45
I just added a quick correction.
I am not sure how to do the GTM questions. There is a lot of papers for this post so the @ list might be long.
I will write a paragraph and you let me know what you think or if you have better ideas.

[2021-07-12 12:28] jamesmcgirk commented on #45
@cryptohazard I can identify the authors accounts etc. These questions were designed for summaries, so few of them will apply to the notable works. If you could speak to some of the general takeaways, that would be very helpful for social media. Also if there's anything omitted that might be interesting to mention. We can chat about it during our meeting this afternoon

[2021-07-12 13:31] cryptohazard commented on #45
@jamesmcgirk ok I just wrote something

[2021-07-12 16:42] zubepaul commented on #110
@Coinproz We'll make it work! To help me out a little, could you add a little to the GTM questions in the draft to provide some summative answers for the whole series?

[2021-07-12 17:11] Coinproz commented on #110
Done!

On Mon, Jul 12, 2021 at 12:42 PM zubepaul ***@***.***> wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-07-14 06:12] jamesmcgirk opened #147 "Here is my idea"
Two or three sentences describing why it's important and how ideally how it fits the four criteria...

[2021-07-14 07:05] #147 closed

[2021-07-14 20:41] cipherix commented on #115
https://docs.google.com/document/d/1z5wWiE0lVJO83WxEZXhCNvexItEgSjS4oHyKqKNimF4/edit

[2021-07-14 20:42] cipherix commented on #115
@jamesmcgirk ready for editorial review

[2021-07-15 14:06] jamesmcgirk commented on #139
Feels a bit dirty to edit myself... but this one is ready for engagement, will work on a strategy and answer questions

[2021-07-16 17:14] #131 closed

[2021-07-16 17:15] #134 closed

[2021-07-16 17:15] #97 closed

[2021-07-16 17:19] #114 closed

[2021-07-16 17:20] #125 closed

[2021-07-16 18:02] jamesmcgirk commented on #139
Need to add an another researcher

[2021-07-17 10:44] jamesmcgirk commented on #115
I'll take care of the GtM

[2021-07-17 14:37] jamesmcgirk commented on #136
published! https://www.smartcontractresearch.org/t/research-summary-convergence-of-blockchain-iot-and-ai/579 needs a gtm

[2021-07-17 15:14] cryptohazard commented on #45
Forum post: https://www.smartcontractresearch.org/t/notable-works-in-blockchain-scaling/571

[2021-07-17 15:14] #45 closed

[2021-07-19 13:50] jamesmcgirk commented on #139
Ready for GtM

[2021-07-19 13:50] jamesmcgirk commented on #136
I'm creating a document for my edits, @Gearlad you can copy and paste from my doc: [here](https://docs.google.com/document/d/1PT6BIt16qp7dXVDs5fKJId9EN1fxQaUAEhZBWVrTu84/edit)

[2021-07-19 15:02] zubepaul commented on #139
GTM document created and ready for author meeting. We can either do a meeting or you could go to the GTM tracker and add some thoughts on the Social Outreach consideration sections. @jamesmcgirk, please review the top portion of the doc to see if this reflects your intentions.

[2021-07-19 16:31] jamesmcgirk commented on #139
Added some socials

[2021-07-19 16:41] zubepaul commented on #139
Engagement review completed. Ready to publish.

[2021-07-19 17:49] jamesmcgirk commented on #142
@Siemingfong are you working on another version of this? Or is the version in post ideas the final version?

[2021-07-20 09:46] Siemingfong commented on #142
@jamesmcgirk This is the final version. I'm working on another summary.

[2021-07-20 12:07] jamesmcgirk commented on #142
Thanks, @Siemingfong

[2021-07-21 15:38] jamesmcgirk commented on #136
Deane had a couple of others to add. Working on GTM

[2021-07-21 15:39] jamesmcgirk commented on #139
Published, closing issue (also reordered the names per Kelsie's suggestion)

[2021-07-21 15:39] #139 closed

[2021-07-21 17:39] zubepaul commented on #143
Joining as engagement team member.

[2021-07-22 15:23] zubepaul commented on #115
Engagement team review completed.

[2021-07-23 12:39] jamesmcgirk commented on #115
Undergoing a final technical check per @lpassos request, once @cipherix approves it can be published

[2021-07-24 06:51] albert-moos opened #148 "Research Summary: A Bytecode-based Approach for Smart Contract Classification"

[2021-07-24 07:01] albert-moos opened #149 "Research Summary: A Bytecode-based Approach for Smart Contract Classification"
With the development of blockchain technologies, the number of smart contracts on blockchain platforms is
growing exponentially, which makes it difficult for users to find desired services by manual screening. Therefore, The automatic classification of smart contracts is urgent, but it also needs to overcome the obstacle that most smart contracts on-chain aren't open source. The author of the pape

[2021-07-26 14:21] Coinproz opened #150 "tebogo project"
project

http://dx.doi.org/10.2139/ssrn.3458877

Draft link:
https://docs.google.com/document/d/12llPOsui73j8E7B41GbVM0yisX34m_7n6F5wokBS5aQ/edit

[2021-07-26 20:02] zubepaul commented on #115
@cipherix completed the requested technical review for @lpassos and cleared it. This discussion post is ready to be published.

[2021-07-27 15:21] jamesmcgirk opened #151 "Discussion Post - Taming Wildcast Stablecoins"
The following paper [Taming Wildcat Stablecoins](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3888752 ) has been widely circulated and has been cited by Nobel prize-winning economists. It would be interesting to frame it as a debate with some of the retorts that have been made. The idea would be to refute with citations some of claims made and perhaps begin an informed discussion about the

[2021-07-27 15:24] jamesmcgirk commented on #151
Suggest [Why Central Bankers Invoke Free Banking](https://www.coindesk.com/why-central-bankers-invoke-free-banking-attack-stablecoins) as a retort

[2021-07-27 15:29] jamesmcgirk commented on #151
I think Stablecoins vs Central Bank Digital Currency could be an interesting narrative to keep track of

[2021-07-28 06:59] Siemingfong commented on #151
Great paper

[2021-07-28 07:01] jamesmcgirk commented on #151
@Siemingfong I got the idea for you, I remember you posted it in the forum I think

[2021-07-28 07:03] Siemingfong commented on #151
No problem. Coming to learn more

[2021-07-28 13:43] jamesmcgirk opened #152 "Research Summary: Governing Decentralized Complex Queries Through a DAO"
Description: This was a research pulse suggestion that Astrid Chou has volunteered to write a summary of.

Authors: Mirko Zichichi, Luca Serena, Stefano Ferretti, and Gabriele D’Angelo

[Link to article](https://arxiv.org/pdf/2107.06790.pdf)

[2021-07-29 14:55] jamesmcgirk opened #153 "Discussion Post: Binance Node Difficulty"

[2021-07-29 14:55] jamesmcgirk opened #154 "Discussion Post: Autopsy of RED Wednesday - how AAVE, Chainlink and other protocols fared during the largest single day drop since X"

[2021-07-30 02:07] Siemingfong commented on #151
I create the draft and co-working with @ Astridchou
https://docs.google.com/document/d/1vLbxxn2jV3RtAXT-5827fuDfXIl3fRfkjsf5e6Exubk/edit?usp=sharing

[2021-07-30 12:26] jamesmcgirk commented on #151
Thanks, @Siemingfong I think this will be a great one for co-working with @Astridchou cc'd to @cipherix
I will take charge of the engagement for this one... do you need access to the discussion post template?

[2021-07-30 12:31] Siemingfong commented on #151
Sure, really need discussion post template.

[2021-07-30 12:33] jamesmcgirk commented on #151
@Siemingfong https://docs.google.com/document/d/17QZXP1ut3LnFtCbt8Iac7_abULXdGe0k2CEPU1J_sMo/edit (we just added it to HackMD, but just in case you don't have access)

[2021-07-30 14:37] Siemingfong commented on #151
@jamesmcgirk Thanks!

[2021-07-31 06:38] SethHasi opened #155 "Research Summary: Efficient Attribute-Based Smart Contract Access Control Enhanced by Reputation Assessment"
Paper Link: https://arxiv.org/abs/2107.00679#:~:text=Efficient%20Attribute%2DBased%20Smart%20Contract%20Access%20Control%20Enhanced%20by%20Reputation%20Assessment,-Yang%20Liu%2C%20Terry&text=It%20provides%20basic%20access%20control,to%20cope%20with%20malicious%20behaviors.

Summary Draft: https://docs.google.com/document/d/1jTv_LKLZLKMFlBl3XqXc_jOkAqybouPPInZVdbHSnJE/edit?usp=sharing

[2021-07-31 06:41] SethAustinHarding opened #156 "Research Summary: Multi-Layer Aggregate Verification for IoT Blockchain"
Please check out my YouTube video that introduces this paper. https://www.youtube.com/watch?v=tbZV_hHguzg

[2021-08-02 15:21] Siemingfong commented on #154
I think part of this situation is well explained in Liquidity risks in the decentralized finance protocol Aave.
This paper defines the deflationary spiral and safety model. But it still suffers the liquidity leak from stakeholders.
https://github.com/smartcontractresearchforum/research_content/issues/146

[2021-08-02 15:27] Siemingfong commented on #146
I'm almost done with the summary. Stating to review it.

[2021-08-03 07:10] Siemingfong commented on #152
I create a new doc that could co-work with @astridchou together
https://docs.google.com/document/d/1QXj-iL2HVk03X6-4JH647-cLf8zKVNrVOxxnF_3fuOA/edit?usp=sharing

[2021-08-03 18:49] jamesmcgirk commented on #143
@cipherix have you had a glance at this one yet?

[2021-08-04 13:14] jamesmcgirk opened #157 "Sample Idea for Deane"
jsdfvcjhsbdbcj hjsdbcjhs

[2021-08-04 13:27] #157 closed

[2021-08-05 07:04] jamesmcgirk commented on #151
Astrid replaced the above link with this one (which is far more extensive): https://docs.google.com/document/d/1vLbxxn2jV3RtAXT-5827fuDfXIl3fRfkjsf5e6Exubk/edit

[2021-08-05 07:05] jamesmcgirk commented on #151
@cipherix - this one is ready for your review, I'm moving it past Peer Review into Content Review because Astrid and Sean peer edited it.

[2021-08-05 08:16] jamesmcgirk commented on #151
@Siemingfong can you please transfer this doc into our Google Drive when you get a chance please

[2021-08-05 08:27] Siemingfong commented on #151
@jamesmcgirk I transfer the doc content to SCRF Google Drive as original link
https://docs.google.com/document/d/1yoAGZoHKCCZIs0Wry_qPpuUf35qR4r8le7xpXFY_PiM/edit?usp=sharing

[2021-08-05 09:09] jamesmcgirk commented on #151
thank you!

[2021-08-05 13:25] jamesmcgirk commented on #156
Have you started this one yet @Gearlad @Siemingfong ?

[2021-08-05 16:13] Siemingfong commented on #156
@Gearlad @Siemingfong we start with this doc:
https://docs.google.com/document/d/1n7HEwmI96CYZA5P3hPzEPhPijADpXtQ23do70GHhA7U/edit?usp=sharing

[2021-08-08 07:57] Gearlad commented on #156
@cipherix I just moved our MLAV paper to drafting

[2021-08-09 09:27] jamesmcgirk commented on #154
Assigned to @Siemingfong who found some information and statistics about safety modules in his AAVE liquidity paper -- want to expanding on these ideas related to "Red Wednesday", which will provide some interesting content cc'd to @cipherix

[2021-08-09 09:46] jamesmcgirk commented on #154
I'll assign myself as engagement

[2021-08-09 16:26] jamesmcgirk opened #158 "Research Summary - Sample"
Describe why it's important

Include a link

Approximate length

[2021-08-09 16:28] jamesmcgirk commented on #158
google doc link

[2021-08-09 16:30] #158 closed

[2021-08-11 07:11] Siemingfong opened #159 "Discussion Post: Poly Network hack $ 611 millions and hacker return the fund"
I create a doc for everyone to comment on it
https://docs.google.com/document/d/1UBlYPVcAKrMLqf_ektEBqSlgyF2jw3z4u037VQLnPPw/edit?usp=sharing

[2021-08-11 11:36] Siemingfong commented on #159
@jamesmcgirk I just finished the discussion post.

[2021-08-11 12:35] jamesmcgirk commented on #159
@Siemingfong thanks so much for moving this along. @cipherix let me know what you think...  moved it to idea proposal but the bulk of the post is done, time sensitive so it would be a good one to publish ASAP if we can get it in the forum

[2021-08-11 15:40] jamesmcgirk commented on #159
Moved to drafting... @Siemingfong Lucas added a link to a thorough postmortem that he thinks would be a really good addition to the discussion post.

[2021-08-11 15:43] jamesmcgirk commented on #159
Moving to Peer review since @29988122 is also working on it

[2021-08-11 15:51] 29988122 commented on #159
TBH I don't see anything that can be further added, apart from Lucas's link - Sean should be able to decide the ..granularity? (how detailed) of this post himself.

(I'll make sure to add how the *hackers* are doing into replies, if there's technical details to it and worth mentioning; Won't reply with news and speculations only as there's plenty on twitter already)

[2021-08-11 16:29] jamesmcgirk commented on #143
@Coinproz so cool to see some of your research on the forum! I made some minor edits to the post, mostly wording, I also moved the paragraph that describes the research and Management Science journal article in front of the definitions. Also added Engagement questions

[2021-08-11 16:31] jamesmcgirk commented on #159
@cipherix moving this into final content review per above, with your OK I'll move it into editing

[2021-08-11 17:19] jamesmcgirk commented on #151
@Siemingfong @astridchou nice work on this one, I made a few edits which you should review with Astrid, I want to make I didn't change the meaning of anything. Should be a controversial article for our forum!

[2021-08-13 14:26] jamesmcgirk commented on #143
Moved to engagement, questions complete, I still need to create the GtMs

[2021-08-13 14:30] jamesmcgirk commented on #151
@astridchou had some questions, I addressed them in the doc and finalized the changes. Answers to engagement questions to come.

[2021-08-13 14:46] jamesmcgirk commented on #159
@lpassos assigned as peer reviewer, moving it back to peer review

[2021-08-13 17:43] cryptomarabout opened #160 "Notable Works: "Decentralization Metrics""
Notable Works, state of the art of publications concerning "Decentralization Metrics".

[2021-08-13 17:50] cryptomarabout opened #161 "Discussion Post: “A Curated List of Threats to Decentralization”"
https://docs.google.com/document/d/1IKlqUKokuUn3X3DCE3Rv6e1J984nM7GCxk3bq-K44P4/edit

[2021-08-14 13:32] Siemingfong commented on #159
I updated the review suggestion

[2021-08-16 12:10] jamesmcgirk opened #162 "Research Summary: James' research summary"
Describe why this is important for three or four sentences. Include a link to the journal article etc etc

[2021-08-16 12:11] jamesmcgirk commented on #162
https://docs.google.com/document/d/1XbKucwFlZ4AeiTYY0bMhNMNaOlTIMbNKQA1rqUb0BbI/edit#

[2021-08-16 12:12] jamesmcgirk commented on #162
@jamesmcgirk I've finished with my draft....

[2021-08-16 12:13] #162 closed

[2021-08-16 12:35] Fizzymidas opened #163 "Research Summary: The Rise of Decentralized Autonomous Organizations: Opportunities and Challenges"
As more companies and businesses go fully remote, their coordination could also become internet native. DAOs could disrupt current legally recognized coordination.

Link to draft: https://docs.google.com/document/d/10odGd-c1L_BdfTtDk-BTkBbc-alcYveewFpOb2ONV2M/edit?usp=sharing

[2021-08-16 16:58] jamesmcgirk commented on #160
@cipherix here is Sami's first post, any idea whom we should reach to for a peer edit?

[2021-08-16 18:04] zubepaul commented on #143
Working on GtM at the moment. @Coinproz will you have time soon to go through the GtM presentation to get your ok?

[2021-08-17 00:29] Coinproz commented on #143
Oh yeah, for sure!

On Mon, Aug 16, 2021 at 2:05 PM zubepaul ***@***.***> wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-08-19 08:38] albert-moos opened #164 "SoK: Applying Blockchain Technology in Industrial Internet of Things"
Most existing industrial IoT (IIoT) implementations, however, are still relying on a centralized architecture, which is vulnerable to the single point of failure attack and requires a massive amount of computation at the central entity. By introducing blockchain technology it could address the issues mentioned above.
Therefore, it fits the category of Novelty. That's why we should work on this pap

[2021-08-19 08:46] jamesmcgirk commented on #164
Albert asked me to paste this: https://docs.google.com/document/d/1YwWyp7T49vTwPjnpQ2hAKKXKPGx1A09PAlnyqbxqFKs/edit?usp=sharing

[2021-08-20 14:19] jamesmcgirk opened #165 "Research Summary: James's big idea"
Then you would describe why it's important according to those criteria... and include a link to the article you want to discuss...

[2021-08-20 14:21] jamesmcgirk commented on #165
Google doc

[2021-08-20 14:44] #165 closed

[2021-08-20 17:15] twan-dev opened #166 "Research Summary: On the Economic Design of Stablecoins"
Paper Link [Here](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3899499)
Google Docs Link [Here](https://docs.google.com/document/d/1oXTPY0PlBEVX8lE9xZ6OYC-Ty2iB5DlmTfbTono4PpQ/edit?usp=sharing)

This paper proposes shortcomings of the economic designs of stable coins that would bring insight to how to reduce potential risks and gain more mainstream adoption

[2021-08-20 21:38] zubepaul commented on #150
GTM questions added to the draft.

[2021-08-21 12:52] albert-moos opened #167 "Research Summary: Double-Spend Counterattacks: Threat of Retaliation in Proof-of-Work Systems Summary"
Proof-of-Work mining is intended to provide blockchains with robustness against double-spend attacks. The authors formalize a defense to double-spend attacks.  When the victim can counterattack in the same way as the attacker, this leads to a variation on the classic game-theoretic War of Attrition model. The threat of this kind of counterattack induces a subgame perfect equilibrium in which no at

[2021-08-21 12:53] albert-moos commented on #167
https://docs.google.com/document/d/1SY4U4Sw5oBiJCnIecpdMV9p6ysq5vZG6EsIB7YolwIk/edit?usp=sharing
the link to the post idea is above

[2021-08-23 03:39] SethHasi opened #168 "Research Summary: When Federated Learning Meets Blockchain: A New Distributed Learning Paradigm"
Paper: https://arxiv.org/abs/2009.09338#:~:text=When%20Federated%20Learning%20Meets%20Blockchain%3A%20A%20New%20Distributed%20Learning%20Paradigm,-Chuan%20Ma%2C%20Jun&text=By%20training%20models%20locally%20at,directly%2C%20thereby%20reducing%20privacy%20leakage.

Research Summary: https://docs.google.com/document/d/1aycAYxylXO4HiIroQljj6rD6gnZAmsbDkoJWO9ouPho/edit

[2021-08-23 16:04] jamesmcgirk commented on #160
@cryptohazard would you please give this edit when you have a chance

[2021-08-23 16:43] jamesmcgirk commented on #152
@cipherix ready for peer review, maybe something Kelsie might be interested in?

[2021-08-23 20:56] jamesmcgirk commented on #150
This is looking good! I'll take a glance tomorrow but it's basically ready @Coinproz

[2021-08-24 14:45] jamesmcgirk opened #169 "Research Summary: James' idea..."
Add a couple of lines of description... keeping the four criteria in mind you would describe why this is important (and add a link to the what you want to summarize)

[2021-08-24 14:46] jamesmcgirk commented on #169
add a link to youur google doc

[2021-08-24 15:03] #169 closed

[2021-08-24 18:02] Astridchou opened #170 "Research Summary: A Comparative Analysis of the Platforms for Decentralized Autonomous Organizations in the Ethereum Blockchain"
Link to draft:
https://docs.google.com/document/d/1VBL5gUa9DWByxPk29H3h8AbCRRa5HN86B-0EBNRbfM0/edit#

[2021-08-24 18:41] Astridchou opened #171 "Research Summary: A Decision Model for Decentralized Autonomous Organization Platform Selection: Three Industry Case Studies"
Link to draft:
https://docs.google.com/document/d/1arJcbnZKINEIaAJlhBfuFhOeqH0iKEVv05Fw5Y70LZQ/edit#

[2021-08-25 05:51] jamesmcgirk opened #172 "Research Summary - Sonic: Zero-Knowledge SNARKs from Linear-Size Universal and Updatable Structured Reference Strings"
Sonic: Zero-Knowledge SNARKs from Linear-Size Universal and Updatable Structured Reference Strings

A zk paper suggestion from Lucas for Bill Wu.

[2021-08-25 05:53] jamesmcgirk commented on #159
@lpassos did you take a look at this one? @cipherix what are our plans for this one?

[2021-08-25 06:55] jamesmcgirk commented on #154
Has this ticket been replaced by 146? @Siemingfong are you using https://github.com/smartcontractresearchforum/research_content/issues/146 instead? (If so I'll get rid of this one)

[2021-08-25 06:56] jamesmcgirk commented on #146
@cipherix ready for peer review! It's an economics paper about liquidity risk @cryptomarabout would this be something you'd like to review?

[2021-08-25 07:34] Siemingfong commented on #154
@jamesmcgirk I think yes, this topic mention in #146 for the AAVE protocol part. But it was not compared to others protocols.

[2021-08-25 07:35] jamesmcgirk commented on #154
Thanks, I'll close this one

[2021-08-25 07:35] #154 closed

[2021-08-25 12:23] jamesmcgirk commented on #160
@29988122 thank you for the edit, @cryptomarabout is this ready for the @cipherix to take a look?

[2021-08-25 12:24] jamesmcgirk commented on #68
@tina1998612 are you still working on this?

[2021-08-25 12:39] jamesmcgirk commented on #171
moving this over bc it's from the research pipeline

[2021-08-25 12:39] jamesmcgirk commented on #170
moved this to drafting stage because it's from the research pipeline

[2021-08-25 16:06] cryptomarabout commented on #160
Yes it is ready. Thanks

[2021-08-28 03:41] Siemingfong commented on #146
@jamesmcgirk it's wonderful ideas, I would co-work with @Astridchou

[2021-08-30 15:11] jamesmcgirk commented on #161
@cipherix this one should be ready for you

[2021-08-30 15:15] jamesmcgirk commented on #160
@cipherix this one is also ready for you

[2021-08-30 15:16] jamesmcgirk commented on #138
@cryptomarabout here's another summary you can do a peer review of, this is Larry's...

[2021-08-30 15:18] jamesmcgirk commented on #152
@29988122 would you like to do a peer review of this one?

[2021-08-30 15:21] jamesmcgirk commented on #161
Deleted my previous comment. Discussion Post will be revised. Moving back to Peer Review.

[2021-08-30 15:23] jamesmcgirk commented on #166
@albert-moos would you (and perhaps Jason) like to give some comments to this draft? It's about economics and finance

[2021-08-31 06:15] twan-dev opened #173 "Research Summary: SmartConDetect: Highly Accurate Smart Contract Code Vulnerability Detection Mechanism using BERT"
From Research Pulse Issue #28 08/30/21

Link to paper [here](http://plpworkshop.com/papers/PLP_7_SmartConDetect_%20Highly%20Accurate%20Smart%20Contract%20Code%20Vulnerability%20Detection%20Mechanism%20using%20BERT%20-%20Sowon%20Jeon.pdf)

Link to Google docs [here](https://docs.google.com/document/d/1tB2DwGZf5xHeLas4ytAvRgBPpFsLZRWSjxCqNBRr0SQ/edit)

[2021-08-31 11:07] 29988122 commented on #152
Take a brief look at it - out of my area, and unlikely that I'll be able to review the correctness of the digest given limited learning time.

Better leave it to others this time!

[2021-09-01 07:46] SethHasi opened #174 "Research Summary: An Evaluation of Bitcoin Address Classification based on Transaction History Summarization"

[2021-09-01 09:45] twan-dev commented on #173
Pausing, for now, to see if the AIOT group would like to add this paper into their list of papers to summarize, as Seth just told me that this paper fits into their scope.

I've already done a quick survey of the paper, and have written short summaries, which could be helpful for anyone who would like to finish it. They are all available in Google docs.

[2021-09-01 10:15] jamesmcgirk opened #175 "Research Summary idea"
Add a few sentences about why this important and how it fits the selection criteria. You also want to include a link to the paper HTTPs://nytimes.com

[2021-09-01 10:17] jamesmcgirk commented on #175
paste in your google doc link and make sure it's editable by anyone with the link

[2021-09-01 10:19] jamesmcgirk commented on #175
Enagagement team will assign themselves

[2021-09-01 14:50] jamesmcgirk opened #176 "Research Summary - James' idea"
What makes this research summary valuable to the blockchain community...

Include a link....

[2021-09-01 14:53] jamesmcgirk commented on #176
James this is ready for drafting.... incl

[2021-09-01 14:53] jamesmcgirk commented on #176
Include a link to the google document where you're working on this...

[2021-09-01 14:55] jamesmcgirk commented on #176
@jamesmcgirk

[2021-09-01 14:55] jamesmcgirk commented on #176
Lucas, this is ready for final content review...

[2021-09-01 15:36] #176 closed

[2021-09-01 15:44] albert-moos commented on #167
Finish drafting and also a fair enough part of the paper ready for peer view

[2021-09-01 15:48] jamesmcgirk commented on #167
@Coinproz is this something you'd be interested in peer reviewing?

[2021-09-01 16:53] jamesmcgirk opened #177 "A small correlation study using the opensea api"
Suggested by Barry

[2021-09-01 16:54] jamesmcgirk commented on #177
@bgits feel free to add to this, I just copied your description from Discord and pasted it in

[2021-09-02 04:20] SethAustinHarding opened #178 "Research Summary: Federated Learning Meets Blockchain in Edge Computing: Opportunities and Challenges"
This is a quintessential example of AIoT Blockchain!
Paper Link: https://arxiv.org/abs/2104.01776
Paper Summary: https://docs.google.com/document/d/1F3uY-unn2cYVAIlIeaIXicl8IpVGdN3qhg4UCSUz8IY/edit?usp=sharing

[2021-09-02 07:19] SethAustinHarding opened #179 "Research Summary: Decentralized & Collaborative AI on Blockchain"
Paper: https://arxiv.org/pdf/1907.07247.pdf
Research Summary: https://docs.google.com/document/d/1BgMxWeMghcUVU26KIzIj1WmBAMkla-O44UsQSXz5H-I/edit

[2021-09-02 08:52] SethAustinHarding commented on #138
I realized that this article links to a paper that I'm interested in: "Decentralized & Collaborative AI on Blockchain". I just added this paper to the list for our AIoT Blockchain papers.

[2021-09-02 13:15] jamesmcgirk opened #180 "Research Summary - What to Include in a Github ticket (onboarding training)"
Describe why this an important research article to summarize given our criteria...

Include a link

Once you've been approved for drafting status, please add a link to the Google Doc you're working in. Be sure to adjust the security settings so that anyone can read it.

[2021-09-02 13:25] jamesmcgirk commented on #180
Google link

[2021-09-03 04:26] twan-dev opened #181 "Research Summary: I Told You Tomorrow: Practical Time-Locked Secrets using Smart Contracts"
This comes from Research Pulse Issue #27

Paper link [here](https://dl.acm.org/doi/fullHtml/10.1145/3465481.3465765)
Google docs [here](https://docs.google.com/document/d/1ej8OgGAv9dBSaJr0FiFGO2IUaso8gmbo/edit#)

[2021-09-03 04:36] SethHasi opened #182 "Research Summary: Cost-Effective Blockchain-based IoT Data Marketplaces with a Credit Invariant"
Paper: https://ieeexplore.ieee.org/document/9461127/
Summary: https://docs.google.com/document/d/1SlwyVg295KHZ5pnrrYR5NTw26EKG-LxXSu_fZ0KtvTE/edit

The Chinese version of the summary has been completed.

[2021-09-03 14:27] jamesmcgirk commented on #182
Nice work! Don't forget to describe why the paper is important and please include some potential tags if you can find any pertinent ones

[2021-09-03 14:27] jamesmcgirk commented on #181
Nice work! Looking forward to seeing how this turns out

[2021-09-03 14:42] jamesmcgirk commented on #155
@cryptomarabout - here's a summary you might be interested in summarizing

[2021-09-03 14:43] jamesmcgirk commented on #138
@Coinproz is this one ready for final content review yet?

[2021-09-03 14:51] Coinproz commented on #138
As far as I know

On Fri, Sep 3, 2021 at 10:44 AM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-09-03 14:55] jamesmcgirk commented on #138
I'll move it over! @cipherix ready for a look

[2021-09-04 12:16] Astridchou commented on #166
Okay. I'll do a peer review of this research summary. I'm interested in the topic, thanks for your invitation.

[2021-09-06 10:20] jamesmcgirk commented on #172
@cipherix - this is Bill Wu's Sonic paper, @29988122 has been helping him out so I'm proposing we skip Peer Review

[2021-09-07 17:06] cipherix commented on #160
Very complete, looks good to me. I just added one entry to it:  “A Coefficient of Variation Method to Measure the Extents of Decentralization for Bitcoin and Ethereum Networks”, if you could take a look @cryptomarabout, that'd be much appreciated.

[2021-09-07 17:13] cipherix commented on #138
added some comments @Coinproz

[2021-09-07 17:14] cipherix commented on #172
is there a link to the draft?

[2021-09-07 17:14] jamesmcgirk commented on #172
I'll add it in!

[2021-09-07 17:15] jamesmcgirk commented on #172
https://docs.google.com/document/d/1guyqJRNrTcPt-jpWWHqgkobwgTtyV4NlzIM8Z2fhgLY/edit @cipherix

[2021-09-07 17:15] cipherix commented on #172
thank you!

[2021-09-07 17:17] cryptomarabout commented on #160
Ok I will add this one (and this one also by the way: ["Taxonomy of centralization in public blockchain systems: A systematic literature review"](https://www.sciencedirect.com/science/article/pii/S0306457321000844)) and I will let you know

[2021-09-08 13:17] jamesmcgirk commented on #156
@SethAustinHarding who is working on this one? Is it you and Sean or is it Yen Chih? (If it's the latter, I want him to go through the onboarding process before working on a summary)

[2021-09-09 12:03] jamesmcgirk commented on #160
@cryptomarabout nice work! I made a few minor grammar fixes, only issue to address is a citation that looks like it was cut off. I've pasted in the engagement questions, not all will apply, please only answer the ones that do

[2021-09-09 12:59] jamesmcgirk commented on #172
@flyinglimao - really nice work! I made some suggested changes...

[2021-09-09 14:09] jamesmcgirk opened #183 "Research Summary - James' new idea"
Describe - why is this piece of research important to cryptocurrency, why is this a good time to write this research summary, why is this an important breakthrough

Add the link as well

[2021-09-09 14:10] jamesmcgirk commented on #183
Once you start writing, you would put a link to the Google doc right here...

[2021-09-09 15:19] jamesmcgirk opened #184 "Research Summary: James McGirk's big idea"
Description - according to the four criteria, why is this important for SCRF to have...

Link to the article

[2021-09-09 15:22] jamesmcgirk commented on #184
https://docs.google.com/document/d/1guyqJRNrTcPt-jpWWHqgkobwgTtyV4NlzIM8Z2fhgLY/edit

[2021-09-09 15:27] jamesmcgirk commented on #184
@jamesmcgirk I'd like you to peer review this piece

[2021-09-09 16:03] #184 closed

[2021-09-09 23:45] zubepaul commented on #172
GtM questions added to draft. GtM being drafted. Coordinate with the authors for an engagement team interview and presentation of GtM plan.

[2021-09-10 11:39] jamesmcgirk commented on #182
@cipherix should this one go on to drafting?

@SethAustinHarding who has been working on this one?

[2021-09-10 11:41] jamesmcgirk commented on #164
@cipherix another paper suggestion from the AI IoT group for your consideration

@albert-moos who is working on this draft?

[2021-09-10 11:42] jamesmcgirk commented on #149
@albert-moos this one needs a link to the original article

[2021-09-10 11:44] jamesmcgirk commented on #142
@cipherix looks like Sean has completed a draft of this one... let me know if it should go into drafting/peer review

[2021-09-10 11:45] jamesmcgirk commented on #132
moving this into the icebox @tina1998612 feel free to move it back (although I'm sure you're busy at your new job)

[2021-09-10 11:45] jamesmcgirk commented on #135
moved into icebox

[2021-09-10 11:46] jamesmcgirk commented on #124
moved into icebox, needs more detail

[2021-09-10 11:47] jamesmcgirk commented on #123
@Coinproz are you still interested in doing this one? Would love to see a bit more detail

[2021-09-10 11:48] jamesmcgirk commented on #119
Moving this one to the Ice Box bc of in activity, @SethAustinHarding let me know if you want me to revive it -- doesn't quite fit a standard model of a summary, could possibly be a discussion post

[2021-09-10 11:49] jamesmcgirk commented on #112
needs more detail, moving to IB bc of inactivity

[2021-09-10 11:50] jamesmcgirk commented on #96
Would be a nice one, moved it into the IB for someone else to pick up

[2021-09-10 11:51] jamesmcgirk commented on #101
Another interesting one, moved to the ice box in case another researcher wants a look

[2021-09-10 11:57] jamesmcgirk commented on #105
@lpassos - are you still interested in doing this one?

[2021-09-10 11:57] jamesmcgirk commented on #99
Open for the taking

[2021-09-10 12:03] 29988122 commented on #123
To put it short, I was going to have a introductory level post about the history of consensus algorithm, and clear up questions that ppl will most likely to encounter during the leanring of blockchain p2p client behavior(sync/consensus/no clear *absolute time* exists in terms of communication), such as :
- consensus algo before nakamoto consensus, such as the famos paxos, raft, etc.
- sync stages,

[2021-09-10 12:12] jamesmcgirk commented on #179
@SethAustinHarding did you get this one from research pulse?

[2021-09-10 12:13] jamesmcgirk commented on #178
Did you get Lucas' signoff on this one @SethAustinHarding ?

[2021-09-10 12:15] jamesmcgirk commented on #68
We could peer review and publish this one...

[2021-09-10 12:16] jamesmcgirk commented on #118
@SethAustinHarding same question for this one, did Lucas sign off on it yet?

[2021-09-10 12:23] SethAustinHarding commented on #118
Thanks!

[2021-09-10 12:29] jamesmcgirk commented on #123
Thanks @29988122 -- let me see if Larry wants to pick it up, otherwise I'll put it in the fridge

[2021-09-10 12:29] SethAustinHarding commented on #179
@jamesmcgirk I got this from the "Leveraging Blockchain for Greater Accessibility of Machine Learning Models" article, which is essentially a condensed version of this paper. This would be a highly beneficial paper for the AIoT Blockchain paper. However, on second thought, I'd prefer to just reference the article summary and paper directly instead. Closing.

[2021-09-10 12:29] SethAustinHarding commented on #179
@jamesmcgirk  I got this from the "Leveraging Blockchain for Greater Accessibility of Machine Learning Models" article, which is essentially a condensed version of this paper. This would be a highly beneficial paper for the AIoT Blockchain paper. However, on second thought, I'd prefer to just reference the article summary and paper directly instead. Closing.

[2021-09-10 12:29] #179 closed

[2021-09-10 12:42] SethAustinHarding commented on #156
I'm working on it independently currently, but if @Siemingfong is interested he is more than welcome to join!

[2021-09-10 12:47] SethAustinHarding commented on #178
@jamesmcgirk Not yet

[2021-09-10 12:48] jamesmcgirk commented on #178
I'm going to scoot this one back into Idea Proposal... Hopefully @cipherix  can take a look at it soon

[2021-09-10 12:59] SethAustinHarding commented on #182
This is one of the proposed summaries for the AIoT Blockchain project. Cindy has actually already finished the Chinese version of this summary and I was going to translate it to English.

[2021-09-10 13:03] SethAustinHarding commented on #155
@jamesmcgirk We've finished this summary and it's ready for peer review

[2021-09-10 13:31] jamesmcgirk opened #185 "Research Summary - James' summary"
Write a couple of sentences describing why this is important.

Link to the paper in question

[2021-09-10 13:34] jamesmcgirk commented on #185
@jamesmcgirk hey this is ready for a look

[2021-09-10 13:41] jamesmcgirk commented on #185
link to the google doc where you're drafting the paper

[2021-09-10 14:20] #185 closed

[2021-09-10 14:23] jamesmcgirk commented on #155
Thanks @SethAustinHarding - this one came from the Research Pulse. @cryptomarabout would this be something you'd be interested in peer reviewing?

[2021-09-10 14:38] lpassos commented on #105
Yes I am

On Fri, Sep 10, 2021 at 7:57 AM James McGirk ***@***.***>
wrote:

[2021-09-10 14:50] jamesmcgirk commented on #105
Thanks, @lpassos! I'll leave it in the 'idea proposal stage' column

[2021-09-10 16:13] jamesmcgirk commented on #138
@Coinproz this was really good, I added the engagement questions, accepted all the grammar nitpicks, and have one suggested substitution and a proposed definition that I need you to check before it's ready to go

[2021-09-10 17:40] cipherix commented on #166
Great job on this @twan-dev! Left some comments -- will move it to editorial. This is going to be a juicy paper to discuss on the forum.

[2021-09-10 20:09] Coinproz opened #186 "Samuel Ngwu research summary"
Blockchain Technology: Data Privacy Issues and Potential Mitigation Strategies

https://www.davispolk.com/sites/default/files/blockchain_technology_data_privacy_issues_and_potential_mitigation_strategies_w-021-8235.pdf

rough draft link:

https://docs.google.com/document/d/1-4T4IJ3QOAYAT5KNbGzQKRZ2I-DI-NCG/edit?usp=sharing&ouid=118029765428223170859&rtpof=true&sd=true

[2021-09-11 11:08] cryptomarabout commented on #155
Ok I will take a look during next week as I am not available during next days.

[2021-09-11 12:47] twan-dev commented on #166
@cipherix  Thanks for taking time to read and review the summary!

I've made the changes to the TLDR. How does this look to you?

- Stablecoins are at risk of entering a death spiral without reliable backing assets, as the assets will be insufficient to defend the peg and win back market confidence under stressful conditions
- This is especially severe if they are only backed by themselves or othe

[2021-09-11 15:26] Siemingfong commented on #146
@jamesmcgirk I just finished the revision of the summary and add the Red Wednesday topic to this draft.

[2021-09-13 13:33] jamesmcgirk commented on #160
Sami reports that he's adding another two papers....

[2021-09-13 15:06] jamesmcgirk commented on #166
@twan-dev nice work for your first summary! made some suggestions for changes and added some questions from the engagement team for you to answer

[2021-09-13 15:25] jamesmcgirk commented on #166
GtM questions completed, @jamesmcgirk to write GtM

[2021-09-13 15:47] Coinproz commented on #138
responded to GTM questions and posted to forum

[2021-09-13 16:32] zubepaul commented on #138
GtM creation in progress. I will asynchronously present it to @Coinproz

[2021-09-13 18:55] Coinproz opened #187 "Research Pulse Quarterly breakdown/indexing additions"
The idea is to create focused snapshots of research within the RP context to have regional or industry-specific repositories of articles from which researchers can do summaries.  This should reduce the time for searching for articles during the summary process.

Should follow Lucas' methodology at every step.

(Pilot with Tebogo for Pan-African Grants articles)

Regional research pulse:  African R

[2021-09-14 08:01] jamesmcgirk commented on #152
@SethAustinHarding would you like to do a review of this one?

[2021-09-14 08:02] jamesmcgirk commented on #159
@cipherix just wanted to check in on this one, see what our plans are

[2021-09-14 08:03] jamesmcgirk commented on #167
@loicdrbx would you like to review this one?

[2021-09-14 08:04] jamesmcgirk commented on #170
@twan-dev would you like to review this one?

[2021-09-14 08:04] #183 closed

[2021-09-14 08:59] jamesmcgirk commented on #146
@cryptomarabout ready for your peer review

[2021-09-14 16:41] jamesmcgirk commented on #155
@cryptomarabout actually, let me give this one to @Astridchou -- I've assigned you to a couple of other ones

[2021-09-14 18:23] jamesmcgirk opened #188 "Research Summary"
Describe the project that you want to work on

Include a link

[2021-09-14 18:24] jamesmcgirk commented on #188
Put a link to your google doc

[2021-09-15 05:33] Siemingfong opened #189 "Research Summary: Towards Understanding and Demystifying Bitcoin Mixing Services"
Following international AML/KYC regulation, this paper gives a notable work to identify bitcoin mixer service patterns and published the dataset on github: https://github.com/blocksecteam/bitcoinmixing

Current Survey paper list: https://docs.google.com/spreadsheets/d/1euZi9B8cK74N62ruOvJ9dKhppFontgQD37Heq_gMDqU/edit?usp=sharing

[2021-09-15 12:45] jamesmcgirk opened #190 "Mini-Post comparing the feature differences between SNARKS platforms (DARKs, HALOs, RAPs, etc)"
Mini-Post comparing the feature differences between SNARKS platforms (DARKs, HALOs, RAPs, etc)

[2021-09-16 05:49] jamesmcgirk commented on #189
@cipherix this paper is something that Sean is an expert on, and is of particular interest  because of how few people understood FTX's explanation for UTXO transactions

[2021-09-16 05:51] jamesmcgirk commented on #182
@cipherix another one for your consideration... this one is part of the AI, IoT, blockchain group's output... please see the note above about Cindy having already finished a version of this

[2021-09-16 11:29] cryptomarabout commented on #160
@jamesmcgirk can you review the last 2 articles please

[2021-09-16 14:46] lw-scrf opened #191 "SCRF Interview: PlonK and SNARKS with Ariel Gabizon and Lucas Nuzzi"
- Right now there is only a link to this, in #privacy. Think it should be broken out as a separate post under #cryptography.

- Don't think this falls under any of the formatting templates I see, so intent is to follow Eugene's post for the Privacy and SNARKs panel: [https://www.smartcontractresearch.org/t/smart-contract-summit-2021-privacy-and-snarks-panel/622](url)
   About the SCRF Interview: P

[2021-09-16 14:48] jamesmcgirk commented on #160
Sure thing

[2021-09-16 14:49] lw-scrf commented on #191
@jamesmcgirk I wanted to assign myself, but wasn't able to, is that a permissions thing?

[2021-09-16 14:51] jamesmcgirk commented on #191
Must be! I’ll look into it

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: LW ***@***.***>
Sent: Thursday, September 16, 2021 5:50:04 PM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] SCRF Interview: PlonK and SNARKS with Ariel Gabizon and

[2021-09-16 14:52] lw-scrf opened #192 "Discussion Post: Elliptic Curve Pairings Vuneralbility to Quantum Computing"
Questions that came out of the Ariel/Lucas podcast, but during zk breakout on 8.16, decided it should be a different post.

[2021-09-16 14:54] lw-scrf commented on #191
@jamesmcgirk no worries, just don't want to create work for someone else, if i can do it myself :)

[2021-09-16 14:54] jamesmcgirk commented on #191
I think this might be in the wrong repository, let me dupe this card for you in the document pipeline

[2021-09-16 14:55] jamesmcgirk opened #193 "SCRF Interview: PlonK and SNARKS with Ariel Gabizon and Lucas Nuzzi"
Via @lw-scrf (who still needs access)

- Right now there is only a link to this, in #privacy. Think it should be broken out as a separate post under #cryptography.

- Don't think this falls under any of the formatting templates I see, so intent is to follow Eugene's post for the Privacy and SNARKs panel: https://www.smartcontractresearch.org/t/smart-contract-summit-2021-privacy-and-snarks-panel/62

[2021-09-16 14:55] lw-scrf commented on #191
oooooh, thanks...probably need to do that for the other one i just created too. oops and thanks.

[2021-09-16 14:59] jamesmcgirk commented on #192
same issue with this one, I'll create a new ticket for you until we can get you the proper permission

[2021-09-16 15:00] jamesmcgirk opened #194 "Discussion Post: Elliptic Curve Pairings Vuneralbility to Quantum Computing #192"
Posted on behalf of lw-scrf

Questions that came out of the Ariel/Lucas podcast, but during zk breakout on 8.16, decided it should be a different post.

[2021-09-16 19:18] Coinproz opened #195 "Tebogo Case Study"
Research and Development of Blockchain Recordkeeping at the National Archives of Korea

https://www.mdpi.com/2073-431X/10/8/90

[2021-09-17 00:22] Coinproz opened #196 "Research Summary: Who is contributing to academic research on blockchain oracles? A bibliometric analysis"
https://www.preprints.org/manuscript/202109.0135/v1

link to draft:
https://docs.google.com/document/d/1miZvCR-wmdSYc_NyTQPwf_K-N6krTmRngTMy5Fkuggw/edit?usp=sharing

- [ ] Estimated Completion Date: 11/15

[2021-09-17 07:10] jamesmcgirk commented on #160
@cryptomarabout I looked over the new entries, made a few minor tweaks. Looks good! Next step is to answer any pertinent go-to-market questions (you'll see them at the top of the page). When @zubePaul gives you his okay, then you can publish it on the site.

[2021-09-17 07:11] jamesmcgirk commented on #160
Nice work, by the way, it's been a pleasure working with you!

[2021-09-17 09:52] 29988122 commented on #194
I'll be contacting ppl participating in the PQC competition @SINICA Taiwan, to see if they're interested in answering questions in my DM, or I can further invite him/her to our forum to reply.

[2021-09-17 12:33] lw-scrf commented on #194
Cool, thanks Jerry.

[2021-09-17 12:38] lw-scrf commented on #191
@cipherix do you have a bio blurb i can use for this breakout post of the interview with you and ariel? thanks.

[2021-09-17 12:43] lw-scrf opened #197 "(TEST) Research Summary: Arbitrum - Scalable, private smart contracts"
- TEST to see all systems go @jamesmcgirk, but everything looks good, i just assigned myself a few things and added labels...
- saw exchange about arbitrum on discord b/t jean and bill, i'd actually put it on my to read list already...so two birds...looks like @flyinglimao is on this...didn't assign though, will let him self-assign if he is...

[http://stevengoldfeder.com/papers/Arbitrum-USENIX.pd

[2021-09-17 13:49] jamesmcgirk commented on #197
Did you create this one in the document pipeline? I don't see it yet

[2021-09-17 13:50] jamesmcgirk commented on #197
Your other comments are all visible, I think I might need to show you where to create a ticket

[2021-09-17 16:50] zubepaul commented on #196
Assigned as engagement.

[2021-09-17 22:14] Astridchou commented on #155
Doing the peer review now

[2021-09-18 15:04] rjx223 commented on #164
Hi @jamesmcgirk
I have taken full responsibility for this summary and after consulting with Deane, believe it should be ready to move on to the next phase.  According to our AIoT spreadsheet, this article was included in a research pulse.  Thank you!

[2021-09-18 15:15] jamesmcgirk commented on #164
Thanks so much, Rachel! I’ll find a peer reviewer for you, unless you have someone in mind

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: rjx223 ***@***.***>
Sent: Saturday, September 18, 2021 6:04:35 PM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/resear

[2021-09-18 15:20] rjx223 commented on #164
Sounds good, thanks @jamesmcgirk

[2021-09-18 15:37] jamesmcgirk commented on #164
@Astridchou here's another one for you to peer review :)

[2021-09-19 18:00] Astridchou commented on #164
Great! I'll do it after the peer review of #155! Thanks @jamesmcgirk

[2021-09-20 06:39] jamesmcgirk commented on #168
Is this a research pulse paper?

[2021-09-20 06:40] jamesmcgirk commented on #195
This sounds like a perfect overlap with her research. Added some detail to the header.

[2021-09-20 06:40] jamesmcgirk commented on #195
Added you as an owner just so you can see the updates in here. Assigning myself as engagement owner

[2021-09-20 06:42] jamesmcgirk commented on #186
@Coinproz added you as an owner, added myself as an engagement owner

[2021-09-20 14:36] 29988122 opened #198 "Discussion Post: Contrasting Layer 2 Solutions"
The Layer2 discussion happened around Auguest in the discord server's general channel.

Later I was asked by James to see it can be converted into a mini-discussion post.

Judging by the two facts at 2021/09/20:
1. Arbitrum mainnet just go online.
2. Rollups are zkp heavy, one of my expertise field. zkEVMs, zk languages, proving systems, and zk further being used on scalibility solutions other tha

[2021-09-20 16:07] jamesmcgirk commented on #164
@Astridchou another one for you to peer edit

[2021-09-20 17:27] zubepaul commented on #160
GTM completed and ready to present to @cryptomarabout for approval and completion of the engagement process.

[2021-09-20 17:31] zubepaul commented on #155
Assigned as engagement. @ralphlombreglia @virtualtart

[2021-09-20 18:34] Astridchou commented on #155
Peer review has been completed.

https://docs.google.com/document/d/1jTv_LKLZLKMFlBl3XqXc_jOkAqybouPPInZVdbHSnJE/edit#

[2021-09-21 12:46] lw-scrf commented on #197
@jamesmcgirk, yep, if you could just give me the tree directory on where to create in doc pipeline, that would be nifty. thanks :)

[2021-09-21 13:54] lw-scrf commented on #193
@jamesmcgirk @29988122 link to doc in progress below...not sure what process is here, hopefully after walking this 1st one through, i'll get a sense. thanks guys...

[https://docs.google.com/document/d/12fsTUAp8ENibbO6_wXvTN6Sv-RGKq08xuc7k5oU4QiQ/edit#](url)

[2021-09-21 16:40] lw-scrf commented on #194
link to what i already have...need to hone...https://docs.google.com/document/d/1KKfja_pgh5Dn7hFSeQxLcy05iJsVqzE6su9ryHxW3xg/edit

[2021-09-22 06:12] jamesmcgirk commented on #164
@albert-moos @rjx223 can you please open this one up for editing access

[2021-09-22 13:11] rjx223 commented on #164
@jamesmcgirk should be accessible now. Thanks

[2021-09-22 15:25] jamesmcgirk commented on #160
GTM GTG

[2021-09-23 01:16] jamesmcgirk opened #199 "Research Summary: zkKYC"
A solution concept for KYC without knowing your customer, leveraging self-sovereign identity and zero-knowledge proofs.

Pieter Pauwels <pieterpauwels@protonmail.com> presented the paper during the APAC Community Call on 9/22/21

[2021-09-23 09:11] cryptohazard commented on #145
first version of the draft done.

[2021-09-23 13:16] lw-scrf opened #200 "Research Summary: Differential Privacy in Constant Function Market Makers"
- New Tarun Chitra paper, mentioned in Research Pulse
- Tarun has already interacted in forum #privacy, good to keep him engaged
* no #privacy label in drop-down menu...

[https://eprint.iacr.org/2021/1101.pdf](url)

[2021-09-23 13:18] lw-scrf commented on #200
@jamesmcgirk, not sure if this is showing up in the right place for some reason...i think everything's working, except being able to open a new issue in the Doc Pipeline itself.

[2021-09-23 13:44] lw-scrf commented on #145
@cryptohazard, not sure if i'm supposed to take a look at this for 'peer review' or if this is lucas'/others domain...just let me know. either way, i'm looking forward to reading this research summary.

[2021-09-23 13:45] jamesmcgirk commented on #145
You’re welcome to take this one as a peer review!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: LW ***@***.***>
Sent: Thursday, September 23, 2021 6:44:13 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Comment ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Research Summary on Arbitrum (#14

[2021-09-23 13:45] jamesmcgirk commented on #200
Do you have time today for a demonstration?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: LW ***@***.***>
Sent: Thursday, September 23, 2021 6:18:18 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Research Summary: Differential Privacy

[2021-09-23 13:47] lw-scrf commented on #145
@jamesmcgirk cool. just didn't want to step on any toes, as a new kid. will take a look.

[2021-09-23 13:49] lw-scrf commented on #200
i'd be good in about an hour from 10-10.30CT, i think your PT now? would that work? i'd also be good tomorrow at same time...

[2021-09-23 15:24] jamesmcgirk commented on #200
Darn, I've got a meeting... if you get a chance could you please go to the document pipeline https://github.com/orgs/smartcontractresearchforum/projects/5 and tell me whether you see a little "+" in the corner of each column? That will tell me whether you have permission to create new notes on the pipeline

[2021-09-23 17:34] jamesmcgirk commented on #200
I'm going to recreate this ticket in the doc pipeline in the meantime

[2021-09-23 17:36] jamesmcgirk opened #201 "Research Summary: Differential Privacy in Constant Function Market Makers"
Mentioned in Research Pulse
Tarun Chitra's Differential Privacy in CFMM paper
no #privacy label in drop-down menu...

https://eprint.iacr.org/2021/1101.pdf

[2021-09-23 17:37] jamesmcgirk commented on #201
@lw-scrf created a version of this in the document pipeline, added metatext, moved into drafting bc it's a RP paper. Are you planning to work on this one or is it up for grabs?

[2021-09-23 17:38] jamesmcgirk commented on #200
I remade this ticket in the document pipeline. I'm going to close this ticket. You should have permission to create these now, so I'll show you how to create them in the pipeline again (or figure out the problem if we can't)

[2021-09-23 17:38] #200 closed

[2021-09-23 19:38] jamesmcgirk commented on #152
@lw-scrf would you like to edit this one as well?

[2021-09-23 19:39] jamesmcgirk commented on #161
Still waiting for the prospectus to be completed.

[2021-09-23 19:41] jamesmcgirk commented on #159
@ghettodev - this was an autopsy of the PolyNetwork hack that we were thinking of bringing in an outsider to complete (or peer edit). Would you still like to do this? I'd be happy to reach out to anyone you or @cipherix suggest.

[2021-09-23 19:43] jamesmcgirk commented on #170
@cryptohazard would you be interested in reviewing this one?

[2021-09-23 21:14] cryptohazard commented on #170
@jamesmcgirk I can review it!

[2021-09-24 12:38] lw-scrf commented on #201
cool, thx, up for grabs...but if nobody snags, will take a shot...

[2021-09-24 12:43] lw-scrf commented on #152
will give it a look, but also not familiar with this topic...will get back if i think someone else should...

[2021-09-24 15:21] bgits commented on #177
I put together an initial notebook that pulls in data from Opensea for a given collection. The notebook is on Google Collab, if anyone wants access please get in touch on discord.

So far I have pulled in a few of the more popular collections and fitted distributions to their distribution of features.

I find it interesting that the collections are all non-normally distributed and long tailed. The

[2021-09-24 15:33] jamesmcgirk commented on #177
@cipherix would love to get your opinion on this project

[2021-09-24 17:47] jamesmcgirk commented on #68
This one is up for grabs if anyone would like to finish it off.

[2021-09-24 17:50] jamesmcgirk commented on #146
@Siemingfong is this one ready for Cipherex yet?

[2021-09-24 22:13] jamesmcgirk opened #202 "Research Summary Idea: Smart Contract Security- A Practitioner’s Perspective (2021)"
(Posted on behalf of MaxGrok / Post Idea submission)

[Smart Contract Security- A Practitioner’s Perspective](https://ieeexplore.ieee.org/document/9402082?partnum=9402082&searchProductType=IEEE%20Conferences)

To date, not much research has been done into current best practices of smart contract security auditing across the major firms such as Trail of Bits, Consensys Diligence, and Quantstamp. As

[2021-09-25 00:59] Siemingfong commented on #146
@jamesmcgirk Yes, I finished the revision

[2021-09-25 15:30] rjx223 commented on #164
@Astridchou Reviewed your suggestions and comments and made some revisions accordingly. Thanks :)

[2021-09-27 15:42] jamesmcgirk commented on #199
Author posted a truncated version of the post, moved this into engagement and calendaring. Will work on a GtM today

[2021-09-27 15:48] jamesmcgirk commented on #142
Moving this one over to peer review

[2021-09-27 15:48] jamesmcgirk commented on #142
@Astridchou is this something you'd like to peer review?

[2021-09-27 15:49] jamesmcgirk commented on #123
@29988122 do you and @Coinproz still want to do this one?

[2021-09-27 17:49] Coinproz commented on #123
just saw this.  can put it in the icebox for now as I am working on another draft

[2021-09-28 05:30] flyinglimao opened #203 "Research Summary: RA: A Static Analysis Tool for Analyzing Re-Entrancy Attacks in Ethereum Smart Contracts"
Link: https://www.jstage.jst.go.jp/article/ipsjjip/29/0/29_537/_pdf
Research Pulse: https://www.smartcontractresearch.org/t/research-pulse-31-09-20-21/820

[2021-09-28 20:48] Astridchou commented on #142
@jamesmcgirk I'd love to do it! Thanks!

[2021-09-28 22:05] jamesmcgirk commented on #68
Picked up by @twan-dev

[2021-09-29 04:10] jamesmcgirk commented on #152
thanks so much! Much appreciated

[2021-09-29 04:11] jamesmcgirk commented on #152
Please refer to the following [card](https://github.com/smartcontractresearchforum/research_team/issues/157)

[2021-09-29 04:12] jamesmcgirk commented on #68
@tina1998612 any special instructions for this one? (I'm passing this along to Twan to finish)

[2021-09-29 04:13] jamesmcgirk commented on #146
Moved over to FCR

[2021-09-29 04:14] jamesmcgirk commented on #167
@loicdrbx @albert-moos did you finish the peer review?

[2021-09-29 04:16] jamesmcgirk commented on #198
Really looking forward to reading this one! Is it ready for peer review yet? @29988122

[2021-09-29 04:24] jamesmcgirk commented on #203
I added a couple of tags, please let me know if there's anything better suited than 'security'

[2021-09-29 11:48] 29988122 commented on #198
Am considering adding some details from this digest https://github.com/smartcontractresearchforum/research_content/issues/145 , which just out a few days ago.
But this is an introductory level post so...yeah the same conflict as always. Gotta decide the depth/length and strike a good balnce.

Will update you when I cleared all the clutter in the working doc.

[2021-09-29 12:18] cryptomarabout opened #204 "Mini-Post: Data analysis of flow of users across Layer 1s"
Layer 1 solutions, or smart contracts platforms, such as Ethereum, Cardano, Binance Smart Chain, Avalanche, Solana, etc. are currently seeing a lot of interest. It could be interesting to try to evaluate if the “hype” of these networks can really be related to their flow of users. Indeed as these projects are releasing their product and Dapps over time, such networks have some periods where usage

[2021-09-29 16:25] jamesmcgirk commented on #123
Moved into the Icebox

[2021-09-30 05:46] Siemingfong commented on #189
Draft version
https://docs.google.com/document/d/1a9GvkttgtxNiKCyBvzPMTGuD5cDJZv_1-mj5wUG-1xQ/edit?usp=sharing

[2021-09-30 10:45] loicdrbx commented on #167
I added my suggestions to the doc this morning. I'm meeting with @albert-moos in a couple of hours for a more interactive review.

[2021-09-30 15:57] jamesmcgirk commented on #146
@cipherix ready for your review!

[2021-09-30 15:57] jamesmcgirk commented on #164
@cipherix ready for your review!

[2021-09-30 15:58] jamesmcgirk commented on #155
@cipherix ready for your review

[2021-10-01 14:24] lw-scrf commented on #145
i started doing some proofreading and decided that i should focus on content and leave proofreading for later aka the editorial review step.

@cryptohazard interesting read so far. look forward to reading the rest and possibly entire paper when/if i have time...

[2021-10-01 17:29] jamesmcgirk commented on #167
Moved this over to final content review @cipherix ready for your review

[2021-10-01 17:39] jamesmcgirk commented on #170
@cryptohazard is this one ready for Final Content Review yet?

[2021-10-01 17:40] jamesmcgirk commented on #159
Moving this to the Ice Box.

[2021-10-01 20:38] jamesmcgirk commented on #202
Link to[ Doc (as HackMD)](https://hackmd.io/@jebheBHfTsSG8FJVY4HJWg/HJMtgI7Vt )

[2021-10-01 21:37] jamesmcgirk commented on #202
@lpassos this might be interesting for you to peer review

[2021-10-03 09:14] twan-dev commented on #68
I've created a new document as I don't want to overwrite Tina's summary, which has remained intact since March 22.

Although everything written in this new document is individual work, I would say that the existing document did help me pick up quickly.

Many factors allowed me to finish early, taking up only around a day's work, which was not possible without my background in Finance and the exist

[2021-10-03 19:01] cipherix commented on #155
Hey @SethAustinHarding -- could you please resolve Astrid's comments on the doc? Also, please me an editor of the doc so that I can begin the editing process. Thank you!

[2021-10-03 19:13] cipherix commented on #164
Excellent job on this one @albert-moos. Made a few changes and added minor comments for clarity. Will move to editorial review.

[2021-10-03 19:23] cipherix commented on #146
Hey @Siemingfong -- could you resolve the comments? Also, do the comments on 'revision' require more work on your end?

[2021-10-03 22:55] Siemingfong commented on #146
@cipherix Thanks! All the comments were addressed. The 'revision' means that I revision to my final version. It seems to easily let people misunderstand this note. I took it away.

[2021-10-03 23:36] albert-moos commented on #164
Ok thank you

On Mon, Oct 4, 2021, 3:13 AM LN ***@***.***> wrote:

[2021-10-04 01:26] cipherix commented on #146
Great, thank you -- I will begin the review.

[2021-10-04 02:42] rjx223 commented on #164
Hi @cipherix
I appreciate your feedback and encouragement.  With respect, I wanted to clarify that I am the sole author of this summary.  Thanks again!  Kindly, Rachel

[2021-10-04 15:43] jamesmcgirk commented on #140
Moving to Ice Box

[2021-10-04 15:43] jamesmcgirk commented on #153
Moving to Ice Box

[2021-10-04 15:47] jamesmcgirk commented on #181
@Astridchou here's another one you might enjoy!

[2021-10-04 16:11] jamesmcgirk commented on #145
@flyinglimao would you like to take a look at this one for peer review?

[2021-10-04 16:13] jamesmcgirk commented on #68
@Coinproz would you like to take a look at this one?

[2021-10-04 16:47] jamesmcgirk opened #205 "Sample Title"
Description of wht it's important, then link to the paper

add your tags

[2021-10-04 18:12] jamesmcgirk commented on #164
assigned myself for engagement

[2021-10-04 18:35] Coinproz commented on #177
Discussion post might be a good format for this type of primary research.  It allows for multiple resources to be referenced, while allowing the discussion to go beyond the primary research if necessary.  A "mini-post" might also work for this if there is a narrative that makes the data relevant or useful and not just arbitrary data capture and analysis.

[2021-10-04 18:43] jamesmcgirk commented on #203
@flyinglimao please don't forget to add the link to your drive (and please leave edit permissions open so we can review it).

[2021-10-05 06:31] twan-dev commented on #173
The AIOT group doesn't have immediate plans in adding this paper into their scope, and they also need to take time to finish the summaries on the existing list first. So I'm picking this up again, as it is an interesting read and would be great to add to the forum.

[2021-10-05 19:06] jamesmcgirk commented on #164
Good job! @rjx223  Finished my first edit, I left a couple of things to review and have a couple of minor questions. I also pasted in the GtM questions.

[2021-10-05 21:24] jamesmcgirk commented on #202
@lw-scrf - this might be of interest

[2021-10-05 21:37] jamesmcgirk commented on #168
I'm moving this back into idea proposal until @cipherix approves

[2021-10-05 21:46] Coinproz commented on #186
yes, i had been keeping the pan-african grants named separate so they don't
get overlapped, but don't see it useful to create an entirely new
repository for them

On Tue, Oct 5, 2021 at 5:41 PM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-10-05 21:46] jamesmcgirk commented on #186
@Coinproz gotcha! maybe we should create a tag...

[2021-10-05 21:49] jamesmcgirk commented on #163
From a [Dec 20th, 2020 research pulse](https://www.smartcontractresearch.org/t/research-pulse/145/4 )

[2021-10-05 22:05] jamesmcgirk commented on #156
Updates to the card - Proposed tags

AIoT Blockchain, Agriculture 4.0, Supply Chain Management, ID-based signature, batch verification, Android

Description of why this would be an interesting post
As part of the next stage of research for the AIoT Blockchain project, we would like to propose a paper that was co-authored by @Siemingfong and @SethAustinHarding

The background of this paper is that

[2021-10-05 22:06] Coinproz commented on #186
definitely worth considering!

On Tue, Oct 5, 2021 at 5:47 PM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-10-05 22:09] jamesmcgirk commented on #111
@cipherix looks like this one has been through the editing process -- what would you like to do with it? @ClaraS mentioned she wouldn't mind doing a Taproot-based interview with a researcher she knows

[2021-10-05 22:10] jamesmcgirk commented on #193
Added a few tags, moving to Idea Proposal stage until we get the official OK from Lucas

[2021-10-05 22:12] jamesmcgirk commented on #194
scooching this over to Idea Proposal until @cipherix has a look or we discuss in the Monday meeting

[2021-10-05 22:13] jamesmcgirk commented on #173
I just read about BERT in a paper about democratizing machine learning... should be interesting... adding a tag

[2021-10-05 22:21] jamesmcgirk commented on #198
Discussed during our Monday meeting, @cipherix has taken a look and discussed some of the issues.

[2021-10-05 23:28] jamesmcgirk commented on #204
@cryptohazard let me know if you can think of better labels for this suggestion - could work as a mini-post or discussion post

[2021-10-05 23:30] jamesmcgirk commented on #187
@Coinproz do you think this could be a new content type? We might want to move it to the Project board

[2021-10-06 03:54] Astridchou commented on #181
@jamesmcgirk Thanks! I'll do it tomorrow.

[2021-10-06 07:07] ralph commented on #202
Wrong `ralph` 😉

[2021-10-06 07:08] jamesmcgirk commented on #202
@ralph terribly sorry! I meant Ralph Lombreglia

[2021-10-06 07:09] ralph commented on #202
Don't worry, I get this all the time `¯\_(ツ)_/¯`

[2021-10-06 20:15] jamesmcgirk commented on #202
Assigned to @rlombreglia for peer review

[2021-10-06 20:30] jamesmcgirk commented on #164
edits have been made, waiting for engagement questions; interview scheduled for Friday; moved over to engagement

[2021-10-08 15:50] jamesmcgirk commented on #145
@cryptohazard would this go in the 'scaling' category? Or mech design?

[2021-10-08 16:22] cipherix commented on #111
@jamesmcgirk this will likely get a lot of engagement in November so moved it back to drafting.

[2021-10-08 16:26] Coinproz opened #206 "Faith Obafemi Summary"
Using Distributed Ledger Technologies to Improve and Maximise the Collection of Property Taxes

By
Kathy Nicolaou-Manias and Yuchen Wu

Link: https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3899060

[2021-10-08 16:26] Coinproz opened #207 "Rebecca Asseh Summary"
"Non-Fungible Token (NFT): Overview, Evaluation, Opportunities and Challenges" by Qin Wang, Rujia Li, +1 author Shiping Chen and "Virtual Art and Non-fungible Tokens" by Lawrence J. Trautman.

 Link: https://arxiv.org/abs/2105.07447

[2021-10-08 16:38] cipherix commented on #167
@albert-moos could you please resolve the comments when you get a chance? thank you!

[2021-10-08 17:23] jamesmcgirk commented on #202
@maxgrok has responded to the peer review questions, moving this to FCR @cipherix ready for you!

[2021-10-09 01:15] jamesmcgirk opened #208 "Research Summary - James' idea"
Three or four sentences of description.

A link to the research article you want to summarize

proposed tags

[2021-10-09 01:17] jamesmcgirk commented on #208
https://google.com/document

[2021-10-09 02:19] #208 closed

[2021-10-09 02:31] jamesmcgirk opened #209 "Research Summary: Towards Private On-Chain Algorithmic Trading"
From RP #33

[Link to the paper](https://arxiv.org/pdf/2109.11270.pdf)

In this paper we present ChainBot, an approach for creating algorithmic trading bots with the help of blockchain technology. We show how to partition the algorithmic computation into on- and off-chain components in a way that provides a measure of end-to-end integrity, while preserving the algorithmic “secret sauce”. The end r

[2021-10-09 02:32] jamesmcgirk commented on #209
Posted on behalf of @tony363

[2021-10-09 16:16] Astridchou commented on #181
I’ve finished the peer review. @twan-dev Great summary! I really enjoyed it and left some comments for you.

[2021-10-10 12:32] Tony363 commented on #209
https://docs.google.com/document/d/11BZQiL6oGKCM9Jxc8dotcZ64hFjGZXVVZ4sU7kP9S0M/edit?usp=sharing <- please give constructive criticism and comments

[2021-10-11 13:54] jamesmcgirk commented on #206
Added some meta data, assigned @Fizzymidas

[2021-10-11 14:28] jamesmcgirk opened #210 "Discussion Post: Divergent ventures and the RBN token"
Suggested by Trent Davis

[2021-10-12 12:50] jamesmcgirk commented on #196
@twan-dev here's a new one for you to peer review

[2021-10-12 12:51] jamesmcgirk commented on #186
@Astridchou would you be interested in peer reviewing this one?

[2021-10-12 12:51] twan-dev opened #211 "Research Summary: ESCORT: Ethereum Smart COntRacTs Vulnerability Detection using Deep Neural Network and Transfer Learning"
Selected from Research Pulse  Issue 6 03/26/21
I've already finished another summary on a similar topic that uses a different approach.
This could be great to add to the forum so we can compare them.

[Link to paper](https://arxiv.org/pdf/2103.12607.pdf)

[Link to Google Docs](https://docs.google.com/document/d/1YQaZqUkVv_o3zZtzXedkstZN6F2fX27k_NMswbIm44U/edit#)

[2021-10-12 12:52] jamesmcgirk commented on #142
@Siemingfong just checking up on this one -- do you need anything?

[2021-10-12 12:54] jamesmcgirk commented on #68
@29988122 would like to take a look at this one for peer review?

[2021-10-12 12:59] albert-moos commented on #167
No thank u we gonna start editing it based on the advice

On Tue, Oct 12, 2021, 8:52 PM James McGirk ***@***.***> wrote:

[2021-10-13 10:24] Astridchou commented on #186
Sure! I'll do it this weekend.

[2021-10-13 17:56] jamesmcgirk commented on #161
Prospectus completed! @cryptomarabout have you made significant changes to this? (Or are you planning on doing them?)

[2021-10-13 19:49] jamesmcgirk opened #212 "Research Summary: The name of your project"
Add a few sentences of detail explaining why the proposed research article is relevant.

LInk to the article you want to summarize

potential tags

[2021-10-14 23:47] jamesmcgirk opened #213 "Research Summary - Title"
Write a few lines describing why this is important to summarize

Include a link ot the summary

proposed tags

[2021-10-16 16:14] Astridchou commented on #186
I have finished the peer review. Nice to have this one. It's worth discussing the blockchains privacy compliance issue.

[2021-10-17 12:40] lw-scrf commented on #194
thanks @29988122. i'm really looking forward to a more in-depth explanation from your quantum computing friend, who is also blockchain-savvy, so thanks for getting into contact with him for us. i'll save it for the post, but my next ? would be:

'it's close to impossible (witn 95% CI) that we'll have quantum computers with enough qubits that can break even rsa 2048'

close to impossible, isn't imp

[2021-10-17 13:03] 29988122 commented on #68
Done reviewing. Feedbacks are provided as Mandarin comments in the google doc, for better conveying nunances.

Wait for @twan-dev to reply and then we can progress.

[2021-10-17 13:18] lw-scrf commented on #194
so hardware & engineering limitations essentially...got it.

[2021-10-18 15:39] eleventh19 opened #214 "1.1 - Nathan and Abbey, culture and cryptoecon"
# Topic: Culture and onboarding

This card is meant to track episode 1 from our first governance mini-series on culture and incentivization through the content pipeline.

Episode 1: Culture and onboarding and X: cryptoeconomics
(with SCRF host, Nathan Schneider, and Abbey Titcomb at Radicle)

Questions to explore in this episode:
- What role does culture play?
- Discuss Nathan’s paper - cryptoecon

[2021-10-18 16:42] jamesmcgirk commented on #196
@cipherix looks like this one is ready for FCR

[2021-10-18 18:15] jamesmcgirk commented on #186
@Coinproz Samuel needs to make his edits

[2021-10-19 00:50] jamesmcgirk commented on #186
assigning myself as engagement

[2021-10-21 00:11] jamesmcgirk commented on #173
@loicdrbx this one has some interesting AI and NLP angles if you're interested in peer reviewing

[2021-10-21 00:13] jamesmcgirk commented on #170
Moved this one into FCR @Astridchou please make sure that you leave the editing settings open so @cipherix and I can edit it

[2021-10-21 00:15] jamesmcgirk commented on #68
@cipherix what do you recommend we do with this one? It's the one that Tina abandoned about halfway through (even though we gave her the okay to publish it with some missing sections). My suggestion would be run it as is... could be an interesting debate for Monday's meeting

[2021-10-21 00:17] jamesmcgirk commented on #155
Still needs edits to be accepted @SethAustinHarding please let me know when this is ready for FCR

[2021-10-21 00:19] jamesmcgirk commented on #152
@flyinglimao this might be an interesting one to peer review

[2021-10-21 00:20] jamesmcgirk commented on #167
Still waiting for edits to be okayed. @albert-moos let us know when it's ready for FCR

[2021-10-21 00:23] Coinproz commented on #186
i'm honestly not trying to have people handling github cards if they're not officially part of SCRF.  it is going to become too much overhead and unnecessary work for someone who isn't officially a team contributor.  For the amount people are being paid, it's just not worth it to have them learning this process unless they are long-term officially.

[2021-10-21 00:32] jamesmcgirk commented on #186
It is, and regardless he'll be onboarded eventually through the mentorship workshop, but I'm happy to give him my presentation and see that he gets Github access sooner rather than later

[2021-10-21 00:34] jamesmcgirk commented on #186
I'll reach out to him on Saturday, I'm doing a presentation in Deane's 6am workshop

[2021-10-21 00:45] Coinproz commented on #196
From Research Pulse #30  https://www.smartcontractresearch.org/t/research-pulse-issue-30-09-13-21/809

[2021-10-21 14:55] jamesmcgirk commented on #209
@Astridchou would you like to peer review this one?

[2021-10-21 14:59] Tony363 commented on #209
The more the merrier~ i only have a single brain running at a time afterall

[2021-10-22 02:50] Siemingfong commented on #146
@jamesmcgirk working on it.

[2021-10-24 13:47] 29988122 opened #215 "Research Summary: Analysis of Decentralized Mixing Services in the Greater Bitcoin Ecosystem"
Well I decided to do something easier *relatively*, cause the ones I'm currently doing are either too sophisticated or too long-winded. Change of life phase I think.

Straightly from Research Pulse # 35
Draft link:
https://docs.google.com/document/d/1FWxHrktIHrC00lz6zIVQQDwrivtI4DglbH8HcxoBpAg/edit

After PM approval, this piece is ready for either peer review or Lucas's review.

[2021-10-24 21:04] ivanplazacic opened #216 "1.2 - Livia and Seth, culture and onboarding"
# Topic: Culture & Onboarding
Episode 2: How culture contributes to and influences onboarding, the reciprocal nature of
(with SCRF host, Seth Frey (UC Davis), Livia Deschermayer (TEC))
- What role does culture play?
- What steps need to be taken to get people aware of the culture through the onboarding process?
- What are some ways to think about culture and to be intentional about it?
- Are there

[2021-10-24 21:09] ivanplazacic opened #217 "1.3 - Ellie and Zach, culture and compensation"
# Topic: Culture & Compensation
Episode 3: How onboarding and compensation feed culture (and vice versa)
(with SCRF host, Ellie Rennie from RMIT, Zach from Coordinape)
- How to compensate early-stage contributors?
- What kind of mechanisms can help teams find ways of compensating individuals that are more representative of their contributions?
- How to help people understand how to get paid and wh

[2021-10-24 21:16] ivanplazacic opened #218 "2.1 - Darcy and Bull Trapper, Treasury Management"
# Topic: Treasury Management
Episode 1: Treasury Management:
(with Prof. Chris Berg (host), Eugene Leventhal (host), Bull Trapper (Yearn Core Contributor), Dr Darcy Allen (RMIT))
- Why is treasury hard?
- How is this a unique governance problem?
- How do you raise a treasury? (tokenomics question).
- What is a treasury for? (local/ecosystem/public/club goods):
- Public goods funding as a reason
-

[2021-10-24 21:41] ivanplazacic opened #219 "2.2 - Jason and Scott, treasury governance"
# Topic: Treasury Governance
Episode 2: Token voting and treasury governance
(with  RMIT host, SCRF host, Distinguished Prof. Jason Potts, Scott Moore, Gitcoin)
- How do you spend your treasury?
- What are grant programs?
- What are the basic principles that should guide a grants program?
- When do you offer grants, as opposed to prizes, tenders, or building it internally (in the case of a team)?

[2021-10-24 21:44] ivanplazacic opened #220 "CANCELED 2.3 - Sinclair, Jess, Rich, Chris, Community engagement in DAOs"
# Topic: Community engagement in DAOs
Episode 3: Community engagement in DAOs
(with Prof. Chris Berg (RMIT host), SCRF host, Prof. Sinclair Davidson or Prof. Ellie Rennie?, industry person (Kain Warwick, Synthetix), maybe 1Hive)
- How do you build an audience?
- How can DAOs fund services and labour within the DAO?
- What other incentives are there for DAO participation in governance?
# Relevant L

[2021-10-24 21:48] ivanplazacic opened #221 "2.4 - Daniel and Darcy, Protecting the hart asset"
# Topic: Protecting the hart asset
Episode 4: Protecting the hart asset: Making a DAO and its treasury robust against attack
(Kelsie (RMIT), Eugene (SCRF), Dr. Darcy Allen (RMIT), Daniel Ospina(Governance Researcher).
- What are treasuries vulnerable to?
- Insider attacks
- Rent seeking
- External threats
- How do you make a treasury robust against these threats?
- Examples: The DAO.
- Other DAO v

[2021-10-26 10:11] Tony363 opened #222 "Research Summary: “Do you need a Blockchain”"
Wust, Karl et al. "Do You Need A Blockchain?". Eprint.Iacr.Org, 2021, https://eprint.iacr.org/2017/375.pdf.

I found this paper from this youtube video, https://youtu.be/Zz5kkdvN_DQ , explaining the 9 issues with blockchain.

"_Abstract_—Blockchain is being praised as a technological innovation which allows to revolutionize how society trades and interacts. This reputation is in particular attribu

[2021-10-26 16:15] jamesmcgirk opened #223 "Research Summary Idea: Blockchain-Secured Smart Manufacturing in Industry 4.0: A Survey"
## Link to source
[Blockchain-Secured Smart Manufacturing in Industry 4.0: A Survey | IEEE Journals & Magazine | IEEE Xplore 3](https://ieeexplore.ieee.org/abstract/document/9298839)

## Content type tag (summary, discussion)
Summary

## Category
Industry & Manufacturing

## Proposed tags
Blockchain, cybersecurity, Industry 4.0, smart contract, smart manufacturing

## Description of why this would

[2021-10-26 23:46] virtualtart opened #224 "Podcast Episode 1: Culture and onboarding and X: cryptoeconomics"
## Steps to completion

- [ ] Draft a potential topic to cover
- [ ] Draft some specific questions
- [ ] Draft ideal guests
- [ ] Reach out to one to gauge interest
- [ ] Any updates to the questions/topic?
- [ ] Ask the first guest about who they’d want to talk to
- [ ] If no, then come up with a second guest
- [ ] Reach out to the second guest
- [ ] Move on to scheduling

---

## Topic: Culture

[2021-10-27 01:15] jamesmcgirk opened #225 "Research Summary: The Title of your summary"
## Link to source
https://www.airitilibrary.com/Publication/alDetailedMesh1?DocID=U0001-1702202111162100 4

## Content type tag (summary, discussion)
Summary

## Category
Consensus

## Proposed tags
Consensus algorithm, Stellar Consensus Protocol(SCP), Federated Byzantine Agreement System(FBAS)

## Description of why this would be an interesting post

FBAS, introduced by Stellar foundation, provid

[2021-10-29 11:19] SethHasi opened #226 "Research Summary: Test"
Research summary link:

Paper link:

[2021-10-29 16:03] jamesmcgirk opened #227 "Research Summary - Ssample"
Test test

[2021-10-29 22:06] zubepaul commented on #209
Once the GtM is completed and it is discussed between @jamesmcgirk and @Tony363, tag Twan to indicate that the engagement review is completed and that this is ready to be published.

[2021-11-01 16:48] eleventh19 commented on #216
@ivanplazacic can you please update the title to Livia and TBC for now? Hopefully it will be Amy but she has not confirmed yet

[2021-11-01 17:35] jamesmcgirk commented on #146
Moved back to FCR @Siemingfong because of questions raised by @lw-scrf

[2021-11-02 00:46] rjx223 opened #228 "Research Summary: Blockchain for Edge of Things: Applications, Opportunities, and Challenges"
Content-type tag:
Summary

Category:
IoT and the Blockchain (?)

Proposed tags:
blockchain, IoT, edge computing, Industry 4.0, smart contract, cybersecurity

Description of why this would be an interesting post:

Based on responses from my previous summary, SoK: Applying Blockchain Technology in Industrial Internet of Things, there is already an interest in the forum on blockchain and edge computi

[2021-11-02 04:45] Astridchou commented on #170
@jamesmcgirk Sorry about the late, I didn't notice this notification. I have finished it and accepted all your recommendations. Thank you!

[2021-11-02 09:07] Astridchou commented on #170
@jamesmcgirk Sorry for the late. I have finished it and accepted all your recommendations. Thank you!

[2021-11-02 13:04] Tony363 commented on #222
anything else I should do?

[2021-11-02 14:19] eleventh19 commented on #214
updating this to drafting stage as we just confirmed both guests and the date - shooting to record on 11/18 potentially at 12p CST

[2021-11-02 14:35] jamesmcgirk commented on #228
Yes to Rachel’s onboarding :)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: twan-dev ***@***.***>
Sent: Tuesday, November 2, 2021 8:32:30 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Research Summary: Blockchain for Edge of Things: A

[2021-11-02 14:36] rjx223 commented on #228
@twan-dev I intend to complete the summary as part of the mentorship workshop. Estimated date of completion would be 12/18

[2021-11-02 14:41] eleventh19 commented on #216
I pinged the other guest who I am trying to get lined up again as she hasn't responded since last week. Will update if I hear from her or will think of someone else if she doesn't get back to us by the end of the week

[2021-11-02 14:41] twan-dev commented on #222
Adding a few notes to reflect the latest requirements

- See below for LCR's approval
- James mentioned in an Oct 28 email that you have been onboarded

![Screen Shot 2564-11-02 at 22 33 53](https://user-images.githubusercontent.com/85469891/139867838-177630ef-008e-4adb-9ae3-4adef56ad51a.png)

[2021-11-02 15:06] eleventh19 commented on #217
emailed them to see if we can get something scheduled soon

[2021-11-02 15:42] jamesmcgirk commented on #170
Thanks so much @Astridchou I should have the GtM finished today

[2021-11-02 15:58] zubepaul commented on #181
@twan-dev GtM is created and ready for your review.

[2021-11-02 16:24] jamesmcgirk commented on #209
@twan-dev this one is ready to go...

[2021-11-02 21:27] eleventh19 commented on #216
the person I had in mind passed so need to figure out who to invite

[2021-11-02 21:30] eleventh19 commented on #218
need to finalize a guest here, ideally someone who has experience setting up treasuries and/or running grants programs.

[2021-11-02 21:43] eleventh19 commented on #219
guests are finalized, just sent the invite to the group to schedule

[2021-11-03 02:09] zubepaul commented on #181
@twan-dev Engagement review completed

[2021-11-03 02:22] twan-dev commented on #181
Thanks Paul. Thank you everyone for making this happen.

[2021-11-03 02:23] jamesmcgirk commented on #170
@Astridchou just okay'd the GtM, moved this to Engagement Review. @twan-dev good to publish

[2021-11-03 02:40] jamesmcgirk opened #229 "Research Summary: Write your title here"
Description

Link to the article you want to summarize

Proposed Tags

Background reading

[2021-11-03 02:51] jamesmcgirk commented on #223
@KiraTheLight
welcome to Github

[2021-11-03 02:51] jamesmcgirk commented on #223
this is where you will leave a link to the google document

[2021-11-03 02:56] jamesmcgirk commented on #223
@KiraTheLight testing testing hoping this lands in your email

[2021-11-03 03:03] #229 closed

[2021-11-03 03:08] twan-dev commented on #223
@jamesmcgirk Hold on
@KiraTheLight   Please complete this before we move to the next stage
- [ ] Author has been Onboarded to Github and is the assignee of the ticket.
- [ ] Author has filled out the ticket correctly, in accordance with the Required Ticket Format.
    - [x] Title
    - [x] Description
    - [x] Link to PDF or Research Pulse Issue
    - [ ] Link to draft Google Doc
    - [x] Subtag

[2021-11-03 03:12] KiraTheLight commented on #223
@jamesmcgirk Thank you! I've also received the notification in my email
@twan-dev Ok, I'll try

[2021-11-03 03:56] KiraTheLight commented on #223
Link to the Google Doc draft: https://docs.google.com/document/d/1bAjDI3zw8PRRtn7dDXdWLWSL7Fs2mZ-8qpv5VlPKWxM/edit?usp=sharing

[2021-11-03 14:10] twan-dev commented on #223
@KiraTheLight Added the summary template to your draft. Now if you can give us an estimation to your completion date, you would be good to go. (Just an estimation. You can change it anytime.)

[2021-11-03 14:23] KiraTheLight commented on #223
Estimated Completion Date：12/31 (might change)

[2021-11-03 14:29] twan-dev commented on #228
@cipherix Would you please take a look and see if the paper is good enough for a post?

[2021-11-03 15:33] cipherix commented on #228
I think we have plenty of open-ended summaries on the emergence of IoT. I think what could be particularly helpful is to see how cryptoassets (& supporting technologies) have been used in this context.

An interesting option on this front is [LNGate: Powering IoT with Next Generation Lightning Micro-payments using Threshold Cryptography](https://arxiv.org/pdf/2105.08902.pdf), which was featured on

[2021-11-03 15:34] Astridchou commented on #170
The summary has been published. A big thank you to everyone who helped to make it.

[2021-11-03 17:29] jamesmcgirk commented on #209
@Tony363 you can publish this!

[2021-11-04 00:52] rjx223 commented on #228
@cipherix Ok, thanks for the consideration. I appreciate the recommendation and am interested.

[2021-11-04 00:52] #228 closed

[2021-11-04 01:12] twan-dev commented on #186
Just got the ok to move ticket to next stage 🎉

[2021-11-04 08:52] Tony363 commented on #209
@jamesmcgirk  just posted~ really just copied and pasted. Hope I did the formating right.

[2021-11-04 14:31] 29988122 opened #230 "Research Summary: Penetration Testing a US Election Blockchain Prototypes"
Pull straightly from Research Pulse # 35
Draft link:
https://docs.google.com/document/d/1JhbL2n-p1-wirSb99w_jRfi1p1a4R490YL2XOlpItQk/edit

Ongoing draft, since @easonc13 https://github.com/EasonC13 asked for this in the community call, I think I might as well raise this issue sooner before it's finished.

I'll ping @twan-dev again together with #215 , after:
1. I get familiar with the new document

[2021-11-04 14:38] #227 closed

[2021-11-04 17:31] ghettodev commented on #186
@Coinproz hey, it's updated! It is now time for X to happen.

[2021-11-05 13:52] Astridchou commented on #171
Draft of the summary is finished. So I am going to move this card to the next stage.

[2021-11-06 09:56] twan-dev commented on #230
Hey Jerry, glad to have you back.

Sorry for not letting you know earlier about the actual context of this update. You don't have to fill in the tick boxes but all tickets start from idea proposal stage now. I'll have to move it back to idea proposal for now to comply with the new rules.

Also part of the new rules - you already own another ticket that is still in drafting, can we take that to nex

[2021-11-06 13:09] twan-dev commented on #171
- [x] All fields described in the Template for that content type have been filled out.
- [x] PM has notified Jean and Faith of this draft. At least 2 Peer Reviewers have been briefed about this content.

[2021-11-07 01:58] twan-dev commented on #222
@Tony363 How's the summary going! Any updates to the estimated date of completion?

[2021-11-07 01:58] twan-dev commented on #223
@KiraTheLight  How's the summary going! Any updates to the estimated date of completion?

[2021-11-07 03:12] KiraTheLight commented on #223
No change on the estimated date of completion.

[2021-11-07 04:41] Tony363 commented on #222
@twan-dev I'm almost done the draft. I got context for.esch sub section. just gotta make of the stuff I filled are congruent to the sub section contexts. but otherwise you can find people to do peer reviews I think

[2021-11-07 09:59] Tony363 commented on #222
@twan-dev I roughly looked over my draft again. I think its appropriate to move on to peer review. Just gonna say my midterms are coming up from 17th - 23rd. Gonna spend more time studying for that these 2 weeks.

[2021-11-07 11:14] twan-dev commented on #222
OK

[2021-11-08 02:10] twan-dev commented on #164
@jamesmcgirk I talked to Rachel and now she has the GTM questions ready. Would you take a look and make the final edits?

[2021-11-08 02:42] twan-dev commented on #145
This one is has already been published to the forum. Should we move it out of the pipeline?

https://www.smartcontractresearch.org/t/research-summary-arbitrum-fast-scalable-private-smart-contracts/885

[2021-11-08 02:47] twan-dev commented on #202
@jamesmcgirk looks like the comments in the document have all been resolved. Is it ready for next steps?

[2021-11-08 02:49] twan-dev commented on #155
@SethAustinHarding is this ready for FCR? It's looking good to me.

[2021-11-08 12:43] Fizzymidas commented on #206
https://docs.google.com/document/d/1W7kmCah6RSNw9oIpFg9axhWnWYIoCIZfGVGxs0CB75U/edit?usp=sharing

[2021-11-08 16:59] jamesmcgirk commented on #171
@twan-dev @Astridchou I'll begin a peer review today

[2021-11-08 21:14] Fizzymidas commented on #206
The draft is done.

Please, what next?
@Coinproz

[2021-11-08 22:14] Coinproz commented on #206
Next we will do a round of content review and let you know when you need to
make edits.

On Mon, Nov 8, 2021 at 4:14 PM Fizzymidas ***@***.***> wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-11-08 22:41] Fizzymidas commented on #206
It is my first completed RS, I worry it is not properly done.

I couldn't find information about method.

On Mon, Nov 8, 2021, 11:14 PM Coinproz ***@***.***> wrote:

[2021-11-08 23:22] twan-dev commented on #222
- [x] All fields described in the Template for that content type have been filled out.
- [x] PM has notified James and Faith of this draft. At least 2 Peer Reviewers have been briefed about this content.

Thank you Faith for picking this up and helping with peer review.

[2021-11-08 23:24] Coinproz commented on #206
Method is meant to describe the method of research used by the researcher
i.e. quantitative or qualitative and further explain how the study was
conducted or the research for the paper being summarized was executed.

On Mon, Nov 8, 2021 at 5:41 PM Fizzymidas ***@***.***> wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.thei

[2021-11-09 00:00] twan-dev commented on #202
Looks like this one has been published
https://www.smartcontractresearch.org/t/research-summary-smart-contract-security-a-practitioner-s-perspective-2021/877

[2021-11-09 00:05] twan-dev commented on #164
Humm. Apparently, there were some misunderstandings.

https://www.smartcontractresearch.org/t/research-summary-sok-applying-blockchain-technology-in-industrial-internet-of-things/866

[2021-11-09 12:51] Fizzymidas commented on #222
Please, I need comment access to the draft.
@Tony363
@twan-dev

[2021-11-09 12:53] Tony363 commented on #222
@Tony363 how about now?

[2021-11-09 21:23] jamesmcgirk commented on #171
@Astridchou I did a peer review pass

[2021-11-10 01:49] twan-dev commented on #222
@Fizzymidas sorry about that...

[2021-11-10 05:25] Siemingfong commented on #146
@lw-scrf All the questions were answer, thanks for the review:)

[2021-11-10 08:01] Fizzymidas commented on #222
It's still view only.
Please set permission to anyone with link can comment.

[2021-11-10 08:17] Tony363 commented on #222
![Screenshot_20211110-161614_Docs.jpg](https://user-images.githubusercontent.com/48950649/141075582-21bde83c-924a-4559-b0f7-2c7bcff6225c.jpg)

 I double checked. It should be “anyone on the internet with the link can comment”

[2021-11-10 08:35] Fizzymidas commented on #222
Works now
Thank you

[2021-11-10 22:11] jamesmcgirk commented on #146
@cipherix @twan-dev should this one have another FCR check or is it okay for editorial / engagement?

[2021-11-10 23:44] twan-dev commented on #146
@jamesmcgirk I think we're waiting for @lw-scrf to finish some checks & resolve ongoing discussions