[2022-07-18 22:07] osapeter commented on #280
@Hartxyz I have included a sampled template item for your review in the comment. Thanks

[2022-07-18 22:44] Hartxyz commented on #280
Please review the document. I have implemented all suggestions.

[2022-07-19 11:36] encore9870 commented on #318
Published on July 19, 2022
https://www.smartcontractresearch.org/t/research-summary-privacy-preserving-decentralized-netting/1782?u=amit

[2022-07-19 11:36] #318 closed, assigned to nobody

[2022-07-19 12:14] encore9870 commented on #309
Draft around. Needs edits.

[2022-07-19 14:30] zubepaul commented on #286
@twan-dev  @osapeter @MichaelSCRF Engagement review completed. Can be published no sooner than July 19, 2022

[2022-07-19 15:00] jamesmcgirk commented on #309
Edits done -- looks good content wise, I made some grammatical suggestions throughout and had a suggestion for the TLDR. Happy to take a second look cc @twan-dev

[2022-07-19 21:26] osapeter commented on #285
Hello @Ulyssesmathew I am from the content team, kindly review and update the summary. I have included some suggestions and inquiries for your validation. Thanks

[2022-07-19 22:06] osapeter commented on #271
Hello @LTTOguns , I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

[2022-07-19 22:08] osapeter commented on #277
Hello @circusqp, I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

[2022-07-19 22:11] osapeter commented on #279
Hello @Fizzymidas, I have included some suggestions and inquiries for your validation. Thanks

[2022-07-19 22:13] LTTOguns commented on #271
Noted @osapeter

[2022-07-19 22:14] osapeter commented on #289
Hello @ElBethy, I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

[2022-07-19 22:23] Fizzymidas commented on #279
Thank you, I have resolved them.

Faith Obafemi
Legal Consultant, Trainer, and Writer
Emerging Technologies
www.fintconsulting.com
SMS/WhatsApp/Telegram: +234 806 323 2704

On Tue, Jul 19, 2022 at 11:12 PM osapeter ***@***.***> wrote:

[2022-07-19 22:43] jamesmcgirk commented on #280
@Hartxyz made some editing suggestions

[2022-07-19 22:45] osapeter commented on #279
Thanks for the feedback.

[2022-07-19 22:46] jamesmcgirk commented on #280
once we get those filled in, I'll take a stab at answering some of the GtM questions

[2022-07-20 07:26] ElBethy commented on #289
Alright.

I'll check and effect the the suggestions.

Thanks

On Tue, Jul 19, 2022 at 11:14 PM osapeter ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.***, ***@***.***

[2022-07-20 08:34] encore9870 commented on #308
Published July 20, 2022
https://www.smartcontractresearch.org/t/research-summary-decentralized-governance-of-stablecoins-with-closed-form-valuation/1789/1

[2022-07-20 08:34] #308 closed, assigned to nobody

[2022-07-20 10:55] Hartxyz commented on #280
@jamesmcgirk I have implemented your suggestions. I also dropped a comment on the GTM questions.

[2022-07-20 11:06] Ulyssesmathew commented on #285
Hi @osapeter,

Thank you for your corrections and insights.
I have made the changes and as requested.

Best regards,
Matthew

On Tue, 19 Jul 2022, 22:26 osapeter, ***@***.***> wrote:

[2022-07-20 11:07] encore9870 commented on #307
Published on July 20, 2022.
https://www.smartcontractresearch.org/t/research-summary-studying-bitcoin-privacy-attacks-and-their-impact-on-bitcoin-based-identity-methods/1790

[2022-07-20 11:07] #307 closed, assigned to jamesmcgirk

[2022-07-20 11:09] encore9870 opened #325 "Research Summary: NFT Wash Trading: Quantifying suspicious behavior in NFT markets"
Contract signed in late May. Summary to be delivered "within the next days"

[2022-07-20 12:49] osapeter commented on #270
Hello @tomideadeoye, I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

[2022-07-20 18:07] content-scrf opened #326 "Research Summary: Secure and Privacy-Aware Blockchain Design: Requirements, Challenges and Solutions"
Contributor: Tolu (@RuthTolulope)

Drafting Deadline: August 31, 2022

Link to the Paper: https://www.mdpi.com/2624-800X/1/1/9/htm

Link to the Draft: https://docs.google.com/document/d/1mRfbiqb4ISZZ1rgVdZjAw-1d2BsZ_jWODdJ3tw9YF7I/edit?usp=sharing

Source of Approval: RP 5

[2022-07-20 18:09] content-scrf commented on #326
- [x] Onboarding
- [x] Contributor does not have another draft in the drafting or editing stages

[2022-07-20 18:09] zubepaul commented on #268
@SethHasi Could you please finish the remaining GTM questions so that we can continue moving this piece toward publication?

[2022-07-20 20:00] ralphlombreglia commented on #280
I created a GtM document for this summary:

https://docs.google.com/document/d/1ejKEK8wefCE3N750gbg2IrKveE-yn9httcB4YV7q0EQ/edit#

@Hartxyz : You said "I also dropped a comment on the GtM questions." I'm not sure what you meant. Can you explain?

[2022-07-20 20:03] Hartxyz commented on #280
Oh yes I was speaking to James. He had included the GtM questions again so the comment was to inform him that I had answered them already.

[2022-07-20 23:43] circusqp commented on #277
Got it, taking a look

[2022-07-21 08:47] Debbycool commented on #259
Hello Ralph,

Trust this email finds you well.

I have responded to the go to market questions contained in my research
summary. Kindly ho through and revert.

God bless.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Sat, 16 Jul 2022, 20:48 Ralph Lombreglia, ***@***.***>
wrote:

[2022-07-21 08:48] Debbycool commented on #259
Thanks for your mail @RuthTolulope . Noted.

[2022-07-21 08:49] Debbycool commented on #259
Hello @ralphlombreglia ,

Trust this email finds you well.

I have responded to the go to market questions contained in my research summary. Kindly go through and revert. 

God bless.

[2022-07-21 16:22] content-scrf commented on #323
- [x] Onboarding
- [x] Contributor does not have another draft in the drafting or editing stages

[2022-07-21 16:51] ralphlombreglia commented on #259
Hi @Debbycool: I have read your GtM answers and I think you did a great job. Thank you. I recommend moving this paper to the next step toward publication. Also, I made a few very light edits and comments on the piece, if you can take a look at those and import them into your HackMD file if you agree with them.

[2022-07-21 17:48] Debbycool commented on #259
Hello @ralphlombreglia Thanks for your feedback. Could you kindly guide me on how to locate your comments so I can import them and also how can I move it to the next stage for publication afterwards?

Thanks.

[2022-07-21 17:50] Debbycool commented on #259
Hello  Mr Ralph,

Thanks for your feedback. Could you kindly guide me on how to locate your
comments so I can import them and also how can I move it to the next stage
for publication afterwards?

I humbly await your reply.

Thanks.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Thu, 21 Jul 2022, 17:51

[2022-07-21 18:04] zubepaul commented on #259
@twan-dev @Debbycool @ralphlombreglia @MichaelSCRF
Per Ralph above, Engagement review is completed. This summary has Engagement approval to be published no sooner than July 26th, 2022 on the forum.

[2022-07-21 20:13] tomideadeoye commented on #270
Hello @osapeter. Noted with thanks. I will revert through the doc.

[2022-07-21 20:42] Debbycool commented on #259
Thank you Mr Zube,

I appreciate you and every member of the SCRF that contributed to the
success of my completing this summary.

Kindly guide, I'm I to do any other thing to see to the publication?

I await your response sir.

God bless.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Thu, 21 Jul 2022

[2022-07-21 22:35] jeriwice commented on #323
The draft has been uploaded.

[2022-07-22 01:57] osapeter commented on #296
Hello, I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

[2022-07-22 07:41] osapeter commented on #294
Hello @cashkid1994, I have included some suggestions and inquiries for your validation. Thanks

[2022-07-22 07:55] osapeter commented on #290
Hello @cashkid1994, I have included some suggestions and inquiries for your validation. Thanks

[2022-07-22 08:42] encore9870 commented on #310
contract and draft received

[2022-07-22 13:12] cashkid1994 commented on #294
This is noted
    On Friday, July 22, 2022 at 08:42:00 AM GMT+1, osapeter ***@***.***> wrote:

Hello @cashkid1994, I have included some suggestions and inquiries for your validation. Thanks

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-22 13:23] cashkid1994 commented on #290
This is noted
    On Friday, July 22, 2022 at 08:55:53 AM GMT+1, osapeter ***@***.***> wrote:

Hello @cashkid1994, I have included some suggestions and inquiries for your validation. Thanks

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-22 13:44] cashkid1994 commented on #294
Hello Peter,
This have been taken care of as requested 
    On Friday, July 22, 2022 at 02:12:51 PM GMT+1, Chiebonam Onah ***@***.***> wrote:

  This is noted
    On Friday, July 22, 2022 at 08:42:00 AM GMT+1, osapeter ***@***.***> wrote:

Hello @cashkid1994, I have included some suggestions and inquiries for your validation. Thanks

—
Reply to this email directly, view it on GitHub, or unsubscrib

[2022-07-22 13:59] cashkid1994 commented on #290
Hello Peter,
This have been taken care of as requested 
    On Friday, July 22, 2022 at 02:23:45 PM GMT+1, Chiebonam Onah ***@***.***> wrote:

  This is noted
    On Friday, July 22, 2022 at 08:55:53 AM GMT+1, osapeter ***@***.***> wrote:

Hello @cashkid1994, I have included some suggestions and inquiries for your validation. Thanks

—
Reply to this email directly, view it on GitHub, or unsubscrib

[2022-07-22 15:13] zubepaul commented on #259
Thank you for the question, @Debbycool. Your responsibility now is to publish your Markdown version to the forum user your username. That way you are getting credit for it! You are approved to publish on July 26th or after.

From an engagement perspective, we also have some expectation that you will reply to comments and questions that initially show up on the forum regarding the research you have

[2022-07-22 19:22] Fizzymidas opened #327 "Seth Frey's second project update"

[2022-07-22 19:37] Fizzymidas opened #328 "Introducing the Exit to Community Collective"

[2022-07-22 19:40] Fizzymidas opened #329 "Modpol is a Self-Governance Toolkit for Communities in Online Worlds"

[2022-07-22 19:42] Fizzymidas opened #330 "Forum Post - Podcast Episode 1.1"

[2022-07-22 20:21] Fizzymidas opened #331 "Project: Building culture in decentralized organizations, intentionally and systematically"

[2022-07-22 20:28] Fizzymidas opened #332 "CommunityRule: What should an interface for designing governance do?"

[2022-07-22 20:51] Debbycool commented on #259
Very well Mr Zube. Noted with thanks.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Fri, 22 Jul 2022, 16:13 zubepaul, ***@***.***> wrote:

[2022-07-22 21:23] Fizzymidas opened #333 "Deep Diving into PRBMath, a Library for Advanced Fixed-Point Math"

[2022-07-23 07:20] encore9870 opened #334 "Summary of Decentralized Social Networking Protocol (DSNP)"
[Link to draft](https://hackmd.io/zBxe_bgmRMSTmuB70jzX8A)

Timeline of events for the record:
The first meeting to discuss the structure/purposes etc. happened on June 15th. This project was put on hold for a while to discuss with stakeholders improving/iterating on the summary template. It should be ready to publish now (August 5)

[2022-07-25 03:23] Fizzymidas commented on #249
@twan-dev, this has a duplicate #271

[2022-07-25 05:20] Fizzymidas commented on #286
Please, why is this closed? I can't find the publication on the forum.

[2022-07-25 10:21] Debbycool commented on #259
Hi Tolu,

My research summary has been approved for publishing on the 26th of July
2022 which is tomorrow. Could you kindly guide me on how to publish on the
github and how to submit an invoice after publishing?

I await your response.

God bless.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Mon, 18

[2022-07-25 10:36] Debbycool commented on #259
Hi Tolu, one more thing, kindly guide me also on where to propose a new
topic for research and how to ccess the available SCRF topics for research.

Thanks and God bless.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Mon, 25 Jul 2022, 11:20 Deborah Oni, ***@***.***>
wrote:

[2022-07-25 10:38] RuthTolulope commented on #259
Sure! I’m happy to help. I’ll send you a message on Discord.

On Mon, 25 Jul 2022 at 12:21, Debbycool ***@***.***> wrote:

[2022-07-25 10:51] Debbycool commented on #259
Very well. Greatly appreciated.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Mon, 25 Jul 2022, 11:38 Tolu, ***@***.***> wrote:

[2022-07-25 14:07] encore9870 commented on #309
Published July 21, 2022 https://www.smartcontractresearch.org/t/research-summary-penny-wise-and-pound-foolish-quantifying-the-risk-of-unlimited-approval-of-erc20-tokens-on-ethereum/1795

[2022-07-25 14:07] #309 closed, assigned to jamesmcgirk

[2022-07-25 20:40] jacob-thrackle commented on #302
Draft is completed. Please advise on next steps.

[2022-07-26 02:44] content-scrf opened #335 "Discussion Post: Smart Contract Vulnerability Detection and Analysis"
Contributor: Harvesto (@HarvestoOrlando)
Link to draft: https://docs.google.com/document/d/1Etfcxbisrx3ajyfrN4mT-3DNShgSsSA5H0tXhocvay0/edit?usp=sharing

[2022-07-27 08:15] osapeter commented on #302
Hello @jacob-thrackle, I am from the content team, kindly review and update the summary. I have included some suggestions and inquiries for your validation. Thanks

[2022-07-27 13:06] #286 closed, assigned to jamesmcgirk, osapeter

[2022-07-27 22:58] osapeter commented on #283
Hello @flyinglimao, I am from the content team, kindly review and update the summary. I have included some suggestions and inquiries for your validation. Thanks

[2022-07-27 23:22] jacob-thrackle commented on #302
Completed. Please advise if more edits are required.

[2022-07-28 03:29] encore9870 opened #336 "Research Summary: Analyzing the Error Rates of Bitcoin Clustering Heuristic"

[2022-07-28 03:30] encore9870 opened #337 "Research Summary: A ZK-SNARK based Proof of Assets Protocol for Bitcoin Exchanges"
https://docs.google.com/document/d/1P0eEjfVJRVA9_Izi26R3Q763OhKp3ZkQz7N1bKPzzBM/edit

[2022-07-28 03:32] encore9870 commented on #301
waiting for contract but secured first draft

[2022-07-28 03:33] encore9870 commented on #288
Review complete

[2022-07-28 06:12] #259 closed

[2022-07-28 06:14] encore9870 commented on #306
calendaring for August (week TBD)

[2022-07-28 13:38] osapeter commented on #283
Hello @flyinglimao, kindly review and accept as resolved. Also, accent to the inquiries for your validation. Thanks

[2022-07-28 14:47] zubepaul commented on #276
@ttaloute we should collaborate on finishing the GTM process on this one. @osapeter Please answer the questions at the top of your draft so we can continue the Engagement process and help you toward publication.

[2022-07-29 07:43] osapeter commented on #302
@jacob-thrackle, many thanks for the prompt feedback.  I observed that you are yet to mark as resolved some of the suggestions.  This will make the summary cleaner for further analysis.  Do affirm and seek clarifications so we can have a good understanding otherwise. Thanks

[2022-07-29 07:46] osapeter commented on #289
@ElBethy, this is a follow-up on your feedback based on the suggestions and inquiries. Thanks

[2022-07-29 08:27] osapeter commented on #290
Hello @cashkid1994, many thanks for the feedback.  I have included some suggestions for necessary affirmation. Thanks

[2022-07-29 08:30] encore9870 commented on #288
(Edit: Done)
Scheduled to be published the coming week August 1-2, 2022

[2022-07-29 08:31] encore9870 commented on #310
We've editing and sent back yesterday. Looking to publish August 1-2, 2022

[2022-07-29 08:32] encore9870 commented on #301
contract ok. draft editing in progress. should be publishing August 1-2, 2022

[2022-07-29 15:21] cashkid1994 commented on #290
Dear osapeter,
This have been taken care of.
    On Friday, July 29, 2022 at 09:27:48 AM GMT+1, osapeter ***@***.***> wrote:

Hello @cashkid1994, many thanks for the feedback. I have included some suggestions for necessary affirmation. Thanks

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-29 17:48] encore9870 commented on #288
Draft is here for anyone interested: https://hackmd.io/NbBQyhd4Q8eMuHPyIHd4uA

[2022-07-29 17:58] zubepaul commented on #268
@twan-dev @ttaloute @SethHasi
Engagement review completed. Can be published on the forum no sooner than August 4, 2022.

[2022-07-30 02:04] jamesmcgirk commented on #310
@jring-o where's the doc? Twan wants me to add some suggested readings

[2022-07-30 20:04] osapeter commented on #285
Hello @Ulyssesmathew, thanks for the feedback. Kindly review the suggestions and contextual flow. Thanks

[2022-07-30 20:12] Ulyssesmathew commented on #285
Thanks, I'll take a look.

On Sat, 30 Jul 2022, 21:04 osapeter, ***@***.***> wrote:

[2022-07-30 20:27] Ulyssesmathew commented on #285
Hi, @osapeter, I have adequately considered your suggestions and changes have been effected. Thank you.

[2022-07-31 05:44] tomideadeoye commented on #281
@osapeter & @ralphlombreglia have I addressed the requirements?
@https://docs.google.com/document/d/1pnwnYqMSw0y6o-g3uSQO2aR_RHn6EMfIQgTEN9Vevhs/edit#

[2022-08-01 07:30] osapeter commented on #323
Hello @jeriwice, I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

[2022-08-01 07:39] osapeter commented on #281
@tomideadeoye, thanks for the feedback.  Do confirm the inquiries as a follow-up remark. Thanks

[2022-08-01 08:29] ElBethy commented on #289
Thanks, I'll take a look please.

I've been in a coding bootcamp since July 1, 2022.

I'd revert this week unfailingly please.

Thanks

On Fri, Jul 29, 2022 at 8:47 AM osapeter ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.***, ***@***.***

[2022-08-01 12:14] encore9870 commented on #337
contract received and draft claimed to have been finished

[2022-08-01 16:05] tomideadeoye commented on #281
Hi @osapeter. Thank you. I made some further edits to reflect the last remark in the doc. I am unsure what the quoted text above requires that I do next.

[2022-08-01 17:23] #315 closed, assigned to nobody

[2022-08-02 12:09] jring-o commented on #337
edit done

[2022-08-02 15:31] osapeter commented on #299
Hello @samuelngwu, I am from the content team, kindly review and update the summary. I have included some suggestions and inquiries for your validation. Thanks

[2022-08-02 16:48] encore9870 commented on #282
@ralphlombreglia I think you've already editing this and you think it's ready to go to next stages?

[2022-08-03 12:03] RuthTolulope commented on #268
Hi @SethHasi, here is the markdown version of your research summary https://hackmd.io/@content/HyU42CvTc.
Kindly ensure that this is the ultimate version uploaded to the forum.
Let me know if you have any questions or need assistance.

[2022-08-03 12:51] RuthTolulope commented on #280
Hi @Hartxyz, here is the markdown version of your research summary https://hackmd.io/@content/rkIuHyua5.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.

[2022-08-04 12:15] encore9870 commented on #283
I did [GTM](https://docs.google.com/document/d/1B47IXEM9O33QrtwMynvDgUCx8SihhBK5-0zwtaspZ9I/edit?usp=sharing) for this one. Should be able for next steps once @ttaloute finishes the edits

[2022-08-04 13:21] osapeter commented on #303
Hello @HarvestoOrlando, I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

[2022-08-05 05:27] encore9870 opened #338 "An Exploratory Study on Solidity Guards and Ether Exchange Constructs"
Paper: https://ieeexplore.ieee.org/abstract/document/9823376
Draft: https://docs.google.com/document/d/1O9MCGMuSV2oCSLnZMczlKMvgIOOM89fEcOW7gY2gVsc/edit?usp=sharing

[2022-08-05 05:28] encore9870 opened #339 "DeFi Liquidity Management via Optimal Control: Ohm as a Case Study"

[2022-08-05 05:28] encore9870 commented on #278
replacing with #339

[2022-08-05 05:28] #278 closed

[2022-08-05 05:29] encore9870 opened #340 "Token Incentives and Platform Competition: A Tale of Two Swaps"
https://questromworld.bu.edu/platformstrategy/wp-content/uploads/sites/49/2022/07/PlatStrat2022_paper_69.pdf

[2022-08-05 05:31] encore9870 commented on #337
scheduled to be published next monday

[2022-08-05 05:34] encore9870 commented on #295
Looks good. Moving to content review

[2022-08-05 07:00] osapeter commented on #285
Hello @Ulyssesmathew, I have included a few suggestions for your validation. Thanks

[2022-08-05 07:13] encore9870 commented on #334
I've left minor tweaks to the template and will be syncing with at least

- [x] content pipeline team (Tolu, Peter)
- [ ] engagement head (Paul)
- [ ] authors of the summary (Ralph)

[2022-08-05 09:09] Ulyssesmathew commented on #285
@osapeter I have considered the suggestion. You can check to see.

[2022-08-05 13:45] ralphlombreglia commented on #334
Hi @twan-dev, I see that you are reporting that you made tweaks to the template and are syncing with various people, including me. It's apparently in "Getting Ready to Publish." What role should I be playing now?

[2022-08-05 17:31] zubepaul commented on #280
@twan-dev @Hartxyz
Engagement review complete. Approved for posting no sooner than August 8, 2022

[2022-08-07 18:39] HarvestoOrlando commented on #303
Hi @osapeter, I have responded to your comments and suggestions on the summary.

[2022-08-08 10:05] osapeter commented on #303
Hello @HarvestoOrlando, thanks for the feedback update. I have also included some suggestions and inquiries for your validation. Thanks

[2022-08-09 00:30] ElBethy commented on #289
Hi,

 Trust this meets you well.

I was able to work on it. Kindly peruse.

You'd agree with me that the paper has a lot of pages.

I got overwhelmed then.

I await your feedback please.

Best Regards

On Mon, Aug 1, 2022 at 9:29 AM Aderonke Thompson ***@***.***>
wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.**

[2022-08-09 02:17] #268 closed

[2022-08-09 02:17] #301 closed, assigned to jring-o

[2022-08-09 02:17] #310 closed, assigned to jring-o

[2022-08-09 02:17] #288 closed, assigned to 29988122, jamesmcgirk

[2022-08-09 07:14] content-scrf opened #341 "Research Summary: Jenga: Orchestrating Smart Contracts in Sharding-Based Blockchain for Efficient Processing"
Contributor: Harvesto (@HarvestoOrlando)

Drafting Deadline: August 23, 2022

Link to the Paper: https://home.cse.ust.hk/~weiwa/papers/jenga-icdcs22.pdf

Link to the Draft: https://docs.google.com/document/d/1KnCJjuXNF6Oam1qq3hCL2X2ABUkVQbrqWz64aKEFXzg/edit?usp=sharing

Source of Approval: RP 74

[2022-08-09 07:17] content-scrf commented on #341
- [x] Onboarding
- [x] Contributor does not have another draft in the drafting or editing stages

[2022-08-09 07:58] content-scrf opened #342 "Research Summary: The Economics of Automated Market Makers"
Contributor: Jacob (@jacob-thrackle)

Drafting Deadline: September 7, 2022

Link to the Paper: https://arxiv.org/pdf/2206.04634.pdf

Link to the Draft: https://docs.google.com/document/d/1xblXn_RzrVg7yXDkOkZwQIIITiv-wG_DDphvQfMHOFQ/edit?usp=sharing

Source of Approval: RP 70

[2022-08-09 08:00] content-scrf commented on #342
- [x] Onboarding
- [x] Contributor does not have another draft in the drafting or editing stages

[2022-08-09 13:13] osapeter commented on #323
Hello @jeriwice, thanks for the feedback update. I have included a few suggestions and inquiries for your validation. Thanks

[2022-08-09 13:53] jeriwice commented on #323
Hi Osapeter,

Thanks for your prompt response. I'll have a look now and get back to you
soon.

Kind regards,
Jeremiah Obi

On Tue, Aug 9, 2022, 2:13 PM osapeter ***@***.***> wrote:

[2022-08-09 14:01] osapeter commented on #300
Hello @Ulyssesmathew, I have included a few suggestions and inquiries for your validation. Thanks

[2022-08-09 15:31] content-scrf opened #343 "Research Summary: Impermanent Loss and Gain of Automated Market Maker Smart Contracts"
Contributor: Dimitar (@stayhungry07212)

Drafting Deadline: August 30, 2022

Link to the Paper: https://www.techrxiv.org/articles/preprint/Impermanent_Loss_and_Gain_of_Automated_Market_Maker_Smart_Contracts/19196960

Link to the Draft: https://docs.google.com/document/d/14z4RuByUQL9MN_ZMCkrI_GmJ2W4JcN49Zh-5VoMmDu0/edit?usp=sharing

Source of Approval: RP 56

[2022-08-09 15:35] RuthTolulope commented on #343
- [x] Onboarding
- [x] Contributor does not have another draft in drafting or editing stages

[2022-08-09 15:41] RuthTolulope commented on #292
Contributor requested an extension.
Next check-in date: August 12, 2022

[2022-08-10 06:21] HarvestoOrlando commented on #303
Thanks @osapeter. I have gone through the suggestions, edits and responded. Let me know if there's anything else.

[2022-08-10 08:53] osapeter commented on #289
Hello @ElBethy, thanks for the feedback update, it seems you are yet to respond to all of the inquiries.  I have included a few suggestions and inquiries for your validation. Thanks

[2022-08-10 10:22] Ulyssesmathew commented on #300
Hi @osapeter, all suggestions have been considered. Thanks for your feedback.

[2022-08-10 13:18] jring-o commented on #279
A few suggested edits. Otherwise good to go.

[2022-08-10 13:50] jring-o commented on #302
A few suggestions and edits. Otherwise good to go.

[2022-08-11 02:51] encore9870 opened #344 "When is a DAO Decentralized?"
https://csimq-journals.rtu.lv/article/viewFile/csimq.2022-31.04/2972

[2022-08-11 02:52] encore9870 opened #345 "Enabling Blockchain Services for IoE with Zk-Rollups"
https://www.preprints.org/manuscript/202208.0023/v1

Turning it in by next week

[2022-08-11 03:06] #337 closed, assigned to jring-o

[2022-08-11 09:05] jeriwice commented on #323
Hi Osapeter,

I have made the corrections, confirmed your inquiries, and updated the document. Thanks!

Kind regards,
Jeremiah Obi

[2022-08-11 09:47] osapeter commented on #271
Hello @LTTOguns, thanks for the feedback update. I have included a few suggestions and inquiries for your validation. Thanks

[2022-08-11 10:17] LTTOguns commented on #271
@osapeter Validation completed. Thank you.

[2022-08-11 10:37] ElBethy commented on #289
Hi,

I have checked and reviewed your suggestions.

You might still want to peruse please .

Thank you for your time.

On Wed, Aug 10, 2022 at 9:53 AM osapeter ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.***, ***@***.***

[2022-08-11 12:48] encore9870 opened #346 "Declarative Smart Contracts"
https://arxiv.org/pdf/2207.13827.pdf

Turning it in by August 19

[2022-08-11 13:06] osapeter commented on #289
@ElBethy, I followed up with your prompt update. I made a few suggestions and inquiries for your validation. Thanks

[2022-08-11 13:14] jring-o commented on #294
This requires significant work. I am also concerned about plagiarism from the article itself (unless the summary is written by the primary author of the research).

I would want to review this again after changes are made. Generally speaking, after reading this summary I still don't know what the research determined.

[2022-08-11 13:33] encore9870 commented on #294
Let's move this ticket to drafting until the contributor addresses the edits you've left. Thanks for flagging!

[2022-08-11 13:36] jring-o commented on #296
A few minor edits. Good to go.

[2022-08-11 14:07] ElBethy commented on #289
Thanks for the feedback!

I'd like to know if its okay please.

Thanks for the heads up.

On Thu, Aug 11, 2022 at 2:06 PM osapeter ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.***, ***@***.***

[2022-08-11 15:53] cashkid1994 commented on #296
The work have been edited as requested.
    On Thursday, August 11, 2022 at 02:36:51 PM GMT+1, jring-o ***@***.***> wrote:

A few minor edits. Good to go.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-08-11 16:02] cashkid1994 commented on #296
Any update on this one ??
    On Sunday, July 24, 2022 at 08:51:52 PM GMT+1, Chiebonam Onah ***@***.***> wrote:

  Hello Peter,
This have been taken care of as requested 

    On Friday, July 22, 2022 at 07:01:11 AM GMT+1, Chiebonam Onah ***@***.***> wrote:

  Dear peter,
This is noted
    On Friday, July 22, 2022 at 02:58:05 AM GMT+1, osapeter ***@***.***> wrote:

Hello, I am from the content tea

[2022-08-11 17:00] cashkid1994 commented on #294
Noted
    On Thursday, August 11, 2022 at 02:14:26 PM GMT+1, jring-o ***@***.***> wrote:

This requires significant work. I am also concerned about plagiarism from the article itself (unless the summary is written by the primary author of the research).

I would want to review this again after changes are made. Generally speaking, after reading this summary I still don't know what the research det

[2022-08-11 17:24] Idybest commented on #304
Done with drafting.

[2022-08-11 19:13] cashkid1994 commented on #294
This have been taken care of
    On Thursday, August 11, 2022 at 02:14:26 PM GMT+1, jring-o ***@***.***> wrote:

This requires significant work. I am also concerned about plagiarism from the article itself (unless the summary is written by the primary author of the research).

I would want to review this again after changes are made. Generally speaking, after reading this summary I still don't kno

[2022-08-12 14:25] jring-o commented on #281
A few minor edits. Please run spellcheck before submitting. Good to go.

[2022-08-12 14:32] jring-o commented on #285
Some minor edits. Good to go.

[2022-08-12 14:48] Ulyssesmathew commented on #285
Suggestion considered

Best regards,
Matthew

[2022-08-12 14:59] Fizzymidas commented on #105
@twan-dev I am interested in summarizing this after the discussion post I am working on. What is the process of taking over?

[2022-08-14 16:03] osapeter commented on #295
Hello @stayhungry07212, I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

[2022-08-15 08:58] encore9870 commented on #283
Sould be good to go

[2022-08-15 12:52] Hartxyz commented on #280
The article has been published on the forum.

[2022-08-15 12:52] encore9870 commented on #280
Amazing! See you on the forum.

[2022-08-15 12:52] #280 closed, assigned to jamesmcgirk, ralphlombreglia, osapeter

[2022-08-15 14:52] osapeter commented on #299
Hello @samuelngwu, I have included some suggestions and inquiries for your validation. Thanks

[2022-08-15 17:27] stayhungry07212 commented on #295
@osapeter, I just fixed the contents and replied some. Can you please suggest more meaningful details for some content?
Thanks.

[2022-08-15 20:11] RuthTolulope commented on #282
This has been published to the forum

[2022-08-16 06:58] osapeter commented on #271
Hello @LTTOguns, thanks for the feedback update. Just a few minor suggestions for you action. Thanks

[2022-08-16 11:31] LTTOguns commented on #271
Thank you @osapeter The updates have been made.

[2022-08-16 12:46] jring-o commented on #303
Intro is rough, but the rest is great. A few edits then good to go.

[2022-08-16 12:53] encore9870 commented on #344
[Link to the draft](https://docs.google.com/document/d/1de7phRjwO7QXxrkelKRODa_f8D1LhRF4/edit) stored in SCRF's folder.

[2022-08-16 16:10] jring-o commented on #344
A single typo. Thanks for the great research! Pleasure to read and learn from.

[2022-08-17 07:32] osapeter commented on #323
@jeriwice, many thanks for the feedback.  I have reviewed and made a couple of suggestions and general inquiries about the overall contextual flow of the summary. Feel free to connect for further insight.  Thanks

[2022-08-17 09:14] encore9870 commented on #345
Link to draft pasted directly to the draft in content staging.
https://www.smartcontractresearch.org/t/research-summary-enabling-blockchain-services-for-ioe-with-zk-rollups/1904

Not sure if pasting the document to the forum instead of a google doc will be desired in the case when it seems only minor fixes will be needed. Let me know!

[2022-08-17 09:16] osapeter commented on #289
@ElBethy, I have included a few suggestions and general inquiries for your validation. Thanks

[2022-08-17 11:02] HarvestoOrlando commented on #303
I'm done with the suggestions and edits.

[2022-08-17 11:13] HarvestoOrlando commented on #341
Hello! I have finished the summary.

[2022-08-17 17:58] RuthTolulope commented on #305
Contributor requested an extension.
Next check-in date: August 27, 2022

[2022-08-18 08:19] #344 closed, assigned to jring-o

[2022-08-18 08:19] #345 closed, assigned to jring-o

[2022-08-18 12:13] jring-o commented on #271
Cannot access draft.

[2022-08-18 13:43] Fizzymidas commented on #344
Please, is this published? Couldn't find it on the forum.

[2022-08-19 10:04] osapeter commented on #300
Hello @Ulyssesmathew, appreciate your feedback. Just a couple of suggestions and inquiries for your validation. Thanks

[2022-08-19 13:23] Ulyssesmathew commented on #300
@osapeter Considered, thanks

[2022-08-20 18:55] cashkid1994 commented on #296
This summary have been worked on as requested.

[2022-08-21 18:22] osapeter commented on #304
Hello @Idybest, I am from the content team, kindly review and update the summary. I have included some suggestions, couple of comments and inquiries for your validation. Thanks

[2022-08-22 07:09] content-scrf opened #347 "Research Summary: Tutela: An Open-Source Tool for Assessing User-Privacy on Ethereum and Tornado Cash"
Contributor: Dimitar

Drafting Deadline: n/a

[Link to the Paper](https://arxiv.org/pdf/2201.06811.pdf)

[Link to the Draft](https://docs.google.com/document/d/1WDWusIu_uw_BSdnxg3cRptB2KwPIuIuA/edit)

Source of Approval: RP 49

[2022-08-22 07:10] encore9870 commented on #347
- [x] Onboarding
- [x] Competing Obligations

[2022-08-22 07:11] encore9870 commented on #347
- [x] Sections are filled

[2022-08-22 08:44] encore9870 commented on #260
This got picked up :)

https://www.smartcontractresearch.org/t/research-summary-sok-how-private-is-bitcoin-classification-and-evaluation-of-bitcoin-mixing-techniques/1906/2

[2022-08-22 08:47] encore9870 commented on #306
Post Created at https://www.smartcontractresearch.org/t/research-summary-user-perceived-privacy-in-blockchain/1917

We will be publishing it ~ a month after
- #260

goes live

[2022-08-22 08:47] #306 closed, assigned to twan-dev

[2022-08-23 02:44] encore9870 commented on #346
https://docs.google.com/document/d/1oaUVd8kXA61M4hxNwAw08_GxUccIv8ny94VHXXBZ1qU/edit

[2022-08-23 08:46] Fizzymidas commented on #279
Thank you @jring-o, I have just addressed your comments.
cc @twan-dev

[2022-08-23 12:05] #283 closed, assigned to flyinglimao

[2022-08-23 16:38] jring-o commented on #271
Requires significant edits. While the results are clear, I'm not really sure about anything the researchers did to achieve those results.

[2022-08-23 17:15] jring-o commented on #295
Outstanding summary. One typo. Good to go.

[2022-08-23 17:19] stayhungry07212 commented on #295
@jring-o, I just fixed the typo, thanks, what's the next step?

[2022-08-23 17:32] jring-o commented on #300
A few typos. Good to go.

[2022-08-23 17:39] jring-o commented on #346
A few typos. Good to go.

[2022-08-23 17:46] Ulyssesmathew commented on #300
Changes made, thanks.

[2022-08-24 04:11] encore9870 opened #348 "Analysis of Polkadot: Architecture, Internals, and Contradictions"
https://arxiv.org/pdf/2207.14128.pdf

https://docs.google.com/document/d/1p7l_Fq3tNqG26-rN0pi4Cr8Epef3IInE/edit

[2022-08-24 08:47] encore9870 commented on #303
https://www.smartcontractresearch.org/t/research-summary-superdetector-a-framework-for-performance-detection-on-vulnerabilities-of-smart-contracts/1945

[2022-08-24 08:47] #303 closed, assigned to nobody

[2022-08-24 08:48] encore9870 commented on #296
https://www.smartcontractresearch.org/t/research-summary-scsguard-deep-scam-detection-for-ethereum-smart-contracts/1941

[2022-08-24 08:48] #296 closed, assigned to osapeter

[2022-08-24 12:29] encore9870 commented on #281
https://www.smartcontractresearch.org/t/research-summary-a-short-survey-on-business-models-of-decentralized-finance-defi-protocols/1947

[2022-08-24 12:29] #281 closed, assigned to ralphlombreglia, osapeter

[2022-08-24 13:26] encore9870 commented on #346
https://www.smartcontractresearch.org/t/research-summary-declarative-smart-contracts/1948

[2022-08-24 13:26] #346 closed, assigned to nobody

[2022-08-24 13:59] encore9870 commented on #279
https://www.smartcontractresearch.org/t/research-summary-an-empirical-study-of-blockchain-repositories-in-github/1950

[2022-08-24 13:59] #279 closed, assigned to Fizzymidas, osapeter

[2022-08-24 15:28] encore9870 commented on #302
https://www.smartcontractresearch.org/t/research-summary-an-empirical-study-of-defi-liquidations-incentives-risks-and-instabilities/1952

[2022-08-24 15:28] #302 closed, assigned to nobody

[2022-08-25 11:20] jring-o commented on #348
A few clarification edits regarding parentheticals (which will be the death of us all), and a couple typos. Otherwise good to go.

[2022-08-25 15:24] tomideadeoye commented on #292
Thanks @RuthTolulope

I look forward to the review.

[2022-08-25 15:27] encore9870 commented on #348
https://www.smartcontractresearch.org/t/research-summary-analysis-of-polkadot-architecture-internals-and-contradictions/1960

[2022-08-25 15:27] #348 closed, assigned to twan-dev

[2022-08-29 08:39] osapeter commented on #347
Hello @stayhungry07212, I have included some suggestions, a couple of comments, and inquiries for your validation. Thanks

[2022-08-29 08:52] encore9870 commented on #325
Draft is finally here! https://docs.google.com/document/d/1lsM1ntSxk-671b4YAmx1-xBzeU84f_08nNVEb_ILNSk/edit?usp=sharing

[2022-08-29 13:04] encore9870 commented on #290
https://www.smartcontractresearch.org/t/research-summary-darcher-detecting-on-chain-off-chain-synchronization-bugs-in-decentralized-applications/1974

[2022-08-29 13:04] #290 closed, assigned to ttaloute, osapeter

[2022-08-29 13:11] encore9870 commented on #295
https://www.smartcontractresearch.org/t/research-summary-ethereum-data-structures/1973

[2022-08-29 13:11] #295 closed, assigned to nobody

[2022-08-30 10:59] davidwither commented on #305
Draft complete, ready for review.

[2022-08-30 21:19] jring-o commented on #321
A few typos. Good to go.

[2022-08-30 21:27] jring-o commented on #325
Several typos. Good to go.

[2022-08-31 18:03] Idybest commented on #304
Hello @osapeter, I appreciate your review. I have finished revising the summary and added the fixes and comments you requested. Please let me know what comes next. Thanks.

[2022-09-04 15:58] osapeter commented on #341
Hello @HarvestoOrlando, nice summary. I have included some suggestions, comments and inquiries for your validation. Thanks

[2022-09-05 06:54] encore9870 commented on #321
https://www.smartcontractresearch.org/t/research-summary-zprobe-zero-peek-robustness-checks-for-federated-learning/1981?u=twan

[2022-09-05 06:54] #321 closed, assigned to twan-dev

[2022-09-05 15:26] encore9870 commented on #338
First draft is around!

[2022-09-06 09:26] osapeter commented on #299
Hello @samuelngwu, just a few suggestions for your action. Thanks

[2022-09-06 10:03] samuelngwu commented on #299
Hello Peter,

Thanks for the feedback.
I will effect the corrections.

Regards

On Tue, Sep 6, 2022 at 10:26 AM osapeter ***@***.***> wrote:

[2022-09-06 17:58] tomideadeoye commented on #270
Hi @osapeter. I read a couple more related papers and adjusted the earlier summary. I also addressed all remaining comments. Help review and let me know your thoughts.

[2022-09-06 18:02] tomideadeoye commented on #292
@RuthTolulope 👀

[2022-09-07 04:59] HarvestoOrlando commented on #341
Hi @osapeter, thanks. I am done reviewing the suggestions, comments and edits.

[2022-09-07 13:01] osapeter commented on #294
Hello @cashkid1994, we have made a couple of suggestions and comments for your necessary action. Thanks

[2022-09-07 15:26] Fizzymidas commented on #348
@twan-dev it says the page does not exist on the forum

[2022-09-07 15:43] Fizzymidas commented on #303
@twan-dev  I tried to visit the link above and got this: "Oops! That page doesn’t exist or is private."

[2022-09-07 15:46] Fizzymidas commented on #290
@twan-dev met this too: "Oops! That page doesn’t exist or is private."

[2022-09-07 15:59] cashkid1994 commented on #294
Hello Peter,
This have been taken care of

    On Wednesday, September 7, 2022 at 02:01:44 PM GMT+1, osapeter ***@***.***> wrote:

Hello @cashkid1994, we have made a couple of suggestions and comments for your necessary action. Thanks

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-09-08 07:33] encore9870 opened #349 "An Empirical Study on Ethereum Private Transactions and the Security Implications"
https://arxiv.org/pdf/2208.02858.pdf

[2022-09-08 07:34] encore9870 opened #350 "Pied-Piper: Revealing the Backdoor Threats in Ethereum ERC Token Contracts"
https://dl.acm.org/doi/pdf/10.1145/3560264

[2022-09-08 07:35] encore9870 opened #351 "A New Look at Blockchain Leader Election: Simple, Efficient, Sustainable and Post-Quantum"
https://eprint.iacr.org/2022/993.pdf

[2022-09-08 07:36] encore9870 opened #352 "Delta Hedging Liquidity Positions on Automated Market Makers"
https://arxiv.org/pdf/2208.03318.pdf

[2022-09-08 07:38] encore9870 opened #353 "Auto-Tune: Efficient Autonomous Routing for Payment Channel Networks"
https://www.computer.org/csdl/proceedings-article/lcn/2022/09843633/1G9BXN0rgPu

[2022-09-08 11:06] osapeter commented on #304
Hello @Idybest, your feedback is appreciated.  However, there are some related contextual issues requiring fixing as well as a couple of comments and inquiries for your validation. Thanks

[2022-09-08 11:39] Idybest commented on #304
Thank you for the feedback @osapeter

I would work on fixing them as soon as possible.

[2022-09-09 08:11] encore9870 commented on #338
https://www.smartcontractresearch.org/t/research-summary-an-exploratory-study-on-solidity-guards-and-ether-exchange-constructs/2029?u=twan

[2022-09-09 08:11] #338 closed, assigned to twan-dev

[2022-09-09 11:51] encore9870 opened #354 "Gromit: Benchmarking the Performance and Scalability of Blockchain Systems"
https://arxiv.org/pdf/2208.11254.pdf

[2022-09-09 14:43] encore9870 commented on #325
https://www.smartcontractresearch.org/t/research-summary-nft-wash-trading-quantifying-suspicious-behaviour-in-nft-markets/1982

[2022-09-09 14:43] #325 closed, assigned to nobody

[2022-09-10 21:57] jacob-thrackle commented on #342
Draft written. Feedback appreciated, I feel it's a bit clunky.

[2022-09-12 07:26] RuthTolulope commented on #285
[HackMD link](https://hackmd.io/@content/rJsj8Ines)

[2022-09-12 11:56] encore9870 commented on #285
https://www.smartcontractresearch.org/t/research-summary-usability-of-cryptocurrency-wallets-providing-coinjoin-transactions/2037/5

[2022-09-12 11:56] #285 closed, assigned to osapeter, Ulyssesmathew

[2022-09-12 13:31] samuelngwu commented on #299
Hello Peter,

I trust work is coming fine.

This corrections has been effected for your attention.

Thank you
Samuel

On Tue, 6 Sep 2022, 11:02 Samuel Ngwu, ***@***.***> wrote:

[2022-09-12 14:03] osapeter commented on #305
Hello @davidwither, I am from the content team, we appreciate the amazing work on this post. However, I have included a few suggestions for your validation. Thanks

[2022-09-12 14:51] osapeter commented on #299
Hello @samuelngwu, I observed and included just a few suggestions for your action. Also, review the context flow of the results. Thanks

[2022-09-13 09:23] samuelngwu commented on #299
Hello Peter,

This corrections has been effected. However, I dropped comment under result
for your attention.

Thank you

On Mon, Sep 12, 2022 at 3:51 PM osapeter ***@***.***> wrote:

[2022-09-13 14:45] osapeter commented on #292
Hello @tomideadeoye, nice work.  I have included a few suggestions and inquiries for your validation. Thanks

[2022-09-13 21:50] davidwither commented on #305
Hi @osapeter, thank you for your comments and time. I've validated most of the changes, but have left two minor comment responses in the text.

Can I also just double check if you want me to switch from UK English to US English in general for work at SCRF?

[2022-09-14 07:15] RuthTolulope commented on #342
- [x] All fields described in the Template for that content type have been filled out.

[2022-09-14 07:22] RuthTolulope commented on #276
https://www.smartcontractresearch.org/t/research-summary-improving-security-for-users-of-decentralized-exchanges-through-multiparty-computation/2036

[2022-09-14 08:14] RuthTolulope commented on #300
[HackMD link](https://hackmd.io/@content/ryXMFZkWj)

[2022-09-14 08:32] RuthTolulope commented on #305
Hi @davidwither yes, you may use US English.

[2022-09-14 09:55] osapeter commented on #305
Hello @davidwither, many thanks for the feedback.  Pretty sure the preferred US English format has been adopted.  It will be passed to the next stage for necessary action.  Thanks

[2022-09-14 12:27] osapeter commented on #299
Hello @samuelngwu, thanks for the feedback.  Do review the commented item in result section (focus on the outcome).  Also, review the general context flow as earlier suggested.  Thanks

[2022-09-15 07:51] osapeter commented on #341
Hello @HarvestoOrlando,  many thanks for the feedback. Just a few suggestions and inquiries for your validation. Thanks

[2022-09-15 11:30] osapeter commented on #270
Hello @tomideadeoye, many thanks for the feedback. Just a couple of suggestions and inquiries for your validation. Thanks

[2022-09-17 17:34] HarvestoOrlando commented on #341
Hi @osapeter done with the suggestions and inquiries.

[2022-09-18 22:01] osapeter commented on #342
Hello @jacob-thrackle, thanks for the research summary, I have included some suggestions, comments, and inquiries for your validation. Thanks

[2022-09-19 09:52] encore9870 commented on #256
https://www.smartcontractresearch.org/t/research-summary-speculative-multipliers-on-defi-quantifying-on-chain-leverage-risks/2085?u=twan

[2022-09-19 09:52] encore9870 commented on #300
https://www.smartcontractresearch.org/t/research-summary-mitigating-sandwich-attacks-in-kyber-dmm/2058

[2022-09-19 09:52] #300 closed, assigned to nobody

[2022-09-19 12:45] encore9870 commented on #271
Left some edits too @LTTOguns.

[2022-09-19 14:09] encore9870 commented on #350
https://www.smartcontractresearch.org/t/research-summary-pied-piper-revealing-the-backdoor-threats-in-ethereum-erc-token-contracts/2083/2

[2022-09-19 14:09] #350 closed, assigned to twan-dev

[2022-09-19 14:09] encore9870 commented on #311
https://www.smartcontractresearch.org/t/research-summary-suborn-channels-incentives-against-timelock-bribes/2074

[2022-09-19 14:09] #311 closed, assigned to twan-dev

[2022-09-20 07:21] RuthTolulope commented on #326
New check-in date: 09/26/2022

[2022-09-20 09:11] RuthTolulope commented on #343
New check-in date: 10/03/2022

[2022-09-20 18:28] RuthTolulope commented on #347
Next check-in date: 26 September 2022

[2022-09-21 12:21] encore9870 commented on #341
https://www.smartcontractresearch.org/t/research-summary-jenga-orchestrating-smart-contracts-in-sharding-based-blockchain-for-efficient-processing/2096

[2022-09-21 12:21] #341 closed, assigned to nobody

[2022-09-21 13:03] encore9870 commented on #299
https://www.smartcontractresearch.org/t/research-summary-mitigating-game-theoretic-vulnerabilities-in-chainlink/2097

[2022-09-21 13:03] #299 closed, assigned to osapeter, samuelngwu

[2022-09-21 13:54] encore9870 commented on #287
https://www.smartcontractresearch.org/t/research-summary-route-discovery-in-private-payment-channel-networks/2098?u=twan

[2022-09-21 13:54] #287 closed, assigned to cryptohazard, jamesmcgirk, osapeter

[2022-09-22 05:44] encore9870 commented on #292
https://www.smartcontractresearch.org/t/research-summary-investigating-arbitrageurs-and-oracle-manipulators-in-ethereum/2105?u=twan

[2022-09-22 05:44] #292 closed, assigned to nobody

[2022-09-22 14:37] encore9870 commented on #293
https://www.smartcontractresearch.org/t/research-summary-disentangling-decentralized-finance-defi-compositions/2106?u=twan

[2022-09-22 14:37] #293 closed, assigned to cryptohazard

[2022-09-22 15:04] encore9870 commented on #284
https://www.smartcontractresearch.org/t/research-summary-a-cooperative-optimal-mining-model-for-bitcoin/2107?u=twan

[2022-09-22 15:04] #284 closed, assigned to cryptohazard, osapeter

[2022-09-23 02:12] encore9870 commented on #271
https://www.smartcontractresearch.org/t/research-summary-a-survey-of-verification-validation-testing-solutions-for-smart-contracts/2109?u=twan

[2022-09-23 02:12] #271 closed

[2022-09-23 02:19] encore9870 commented on #291
Closing due to new content pipeline grants issuing policy.

[2022-09-23 02:19] #291 closed, assigned to Fizzymidas

[2022-09-23 03:10] encore9870 commented on #270
https://www.smartcontractresearch.org/t/research-summary-a-formal-specification-smart-contract-language-for-legally-binding-decentralized-autonomous-organizations/2110?u=twan

[2022-09-23 03:10] #270 closed

[2022-09-23 18:31] jacob-thrackle commented on #342
Updated. Suggestions welcome.

[2022-09-27 09:59] encore9870 opened #355 "Research Summary: Collaborative Learning for Cyberattack Detection in Blockchain Networks"
Contributor: Henry
Link to Paper: https://arxiv.org/pdf/2203.11076.pdf
Draft: https://docs.google.com/document/d/16GjXj18cdMgAGthqUIMYyo0gJmuKU-pYH-J3sQOm5yU/edit?usp=sharing
Est. Date of Completion: Oct 11, 2022

[2022-09-27 10:11] osapeter commented on #342
Hello @jacob-thrackle, thanks for the feedback updates.  I have included some comments for clarification and accept the update/ suggestions. Thanks

[2022-09-27 10:19] encore9870 opened #356 "Research Summary: Formal Verification of the Ethereum 2.0 Beacon Chain"
Contributor: @BenjaminMukoro

Link to the Paper: https://arxiv.org/pdf/2110.12909.pdf

Link to the Draft: https://docs.google.com/document/d/1MXolorJUI8GtEySLG4iF3nNb3Lgz0-Usrh6QzbwuDpA/edit

Estimated date of completion: Oct 4, 2022

[2022-09-27 15:30] encore9870 commented on #294
https://www.smartcontractresearch.org/t/research-summary-do-the-rich-get-richer-fairness-analysis-for-blockchain-incentives/2113

[2022-09-27 15:30] #294 closed, assigned to jring-o, osapeter

[2022-09-27 15:30] encore9870 commented on #305
https://www.smartcontractresearch.org/t/discussion-post-cryptoeconomics-as-a-limitation-on-governance/2115

[2022-09-27 15:30] #305 closed, assigned to jring-o

[2022-09-29 03:15] encore9870 commented on #355
https://www.smartcontractresearch.org/t/research-summary-collaborative-learning-for-cyberattack-detection-in-blockchain-networks/2140?u=twan

[2022-10-01 18:15] osapeter commented on #347
Hello @stayhungry07212, thanks for the feedback and rework, I have included a couple of suggestions and inquiries for your validation. Thanks

[2022-10-01 18:58] Idybest commented on #304
Hello @osapeter

I hope this finds you well.

I wanted to let you know that I had finished responding to the remarks and suggestions about my research summary. Thanks.

[2022-10-02 14:40] stayhungry07212 commented on #347
Hey @osapeter, I just fixed the summary according to your suggestions and inquiries. Thanks.

[2022-10-02 18:43] RuthTolulope commented on #326
Draft completed

[2022-10-05 06:28] encore9870 commented on #343
Temporarily halted due to the budget.

[2022-10-06 12:47] osapeter commented on #289
Hello @ElBethy, kindly review the suggestions and comments.  Do ensure you reconstruct the sentences in your own words and context

[2022-10-06 17:26] jacob-thrackle commented on #342
Updated. Thanks, Peter!

[2022-10-07 11:10] ElBethy commented on #289
Hello,

Trust you're doing great.
I couldn't figure out how I skipped the Aug 17 mail.

Apologies for the late response.   Tolu had to reach out.
 Thanks, Tolu.

Warm regards

P.S.

I am still at the boothcamp

On Thu, Oct 6, 2022 at 1:48 PM osapeter ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.**

[2022-10-08 19:56] osapeter commented on #323
@jeriwice, I have a couple of suggestions for your validation.  Also, your method and result need rework. Thanks

[2022-10-10 08:12] RuthTolulope commented on #355
https://www.smartcontractresearch.org/t/research-summary-collaborative-learning-for-cyberattack-detection-in-blockchain-networks/2140

[2022-10-10 08:13] #355 closed, assigned to nobody

[2022-10-10 13:08] encore9870 commented on #347
https://www.smartcontractresearch.org/t/research-summary-tutela-an-open-source-tool-for-assessing-user-privacy-on-ethereum-and-tornado-cash/2195?u=twan

[2022-10-10 13:08] #347 closed, assigned to osapeter, stayhungry07212

[2022-10-10 13:09] encore9870 commented on #304
https://www.smartcontractresearch.org/t/research-summary-resurrecting-address-clustering-in-bitcoin/2196

[2022-10-10 13:09] #304 closed, assigned to nobody

[2022-10-11 07:05] jamesmcgirk commented on #253
I’ll paste them in your original document once I return to my desk.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: samuelngwu ***@***.***>
Sent: Tuesday, May 10, 2022 3:42:07 PM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Research Summa

[2022-10-11 07:33] cashkid1994 commented on #296
Hello Peter,
This have been taken care of as requested 

    On Friday, July 22, 2022 at 07:01:11 AM GMT+1, Chiebonam Onah ***@***.***> wrote:

  Dear peter,
This is noted
    On Friday, July 22, 2022 at 02:58:05 AM GMT+1, osapeter ***@***.***> wrote:

Hello, I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

—
Reply to this email directly, view

[2022-10-11 07:37] Ulyssesmathew commented on #285
Thank you for your email, Tolu.

This means I can start?

On Sat, 4 Jun 2022, 13:21 Tolu, ***@***.***> wrote:

[2022-10-11 08:27] cashkid1994 commented on #296
Dear peter,
This is noted
    On Friday, July 22, 2022 at 02:58:05 AM GMT+1, osapeter ***@***.***> wrote:

Hello, I am from the content team, I have included some suggestions and inquiries for your validation. Thanks

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-11 09:06] jamesmcgirk commented on #254
See if you can do it an objective manner --just state the absence of testing or anything other than theory

It would be interesting to discuss the shortcomings in the comments -- they have some outdated assumptions about NFT use cases

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fizzymidas ***@***.***>
Sent: Tuesday, June 14, 2022 10:36:35 AM
To: smartcontract

[2022-10-11 09:16] samuelngwu commented on #299
Thanks, I'll take a look, dear Peter.

On Tue, 2 Aug 2022, 16:31 osapeter, ***@***.***> wrote:

[2022-10-12 10:48] osapeter commented on #342
@jacob-thrackle, thanks for the feedback update.  I made some section reorganization suggestions and some comments for your validation. Thanks

[2022-11-02 08:16] encore9870 commented on #326
https://www.smartcontractresearch.org/t/research-summary-secure-and-privacy-aware-blockchain-design-requirements-challenges-and-solutions/2260

[2022-11-02 08:16] #326 closed, assigned to RuthTolulope

[2022-11-02 19:04] woolgathering commented on #342
Edits made, awaiting feedback. (this is @jacob-thrackle on my personal account).

[2022-11-04 08:53] HarvestoOrlando commented on #335
@twan-dev and @content-scrf I am done with the discussion post.

[2022-11-13 21:42] circusqp commented on #277
completed edits, please have a look @osapeter @twan-dev

[2022-11-14 10:41] encore9870 commented on #277
https://www.smartcontractresearch.org/t/research-summary-an-overview-of-trees-in-blockchain-technology-merkle-trees-and-merkle-patricia-tries/2403?u=twan

[2022-11-14 10:41] #277 closed

[2022-11-14 14:55] encore9870 commented on #342
https://www.smartcontractresearch.org/t/research-summary-the-economics-of-automated-market-makers/2404?u=twan

[2022-11-14 14:55] #342 closed, assigned to nobody

[2022-11-16 10:24] encore9870 commented on #289
https://www.smartcontractresearch.org/t/research-summary-empirical-analysis-of-eip-1559-transaction-fees-waiting-time-and-consensus-security/2418?u=twan

[2022-11-16 10:24] #289 closed, assigned to ElBethy, osapeter

[2022-11-21 16:36] content-scrf opened #357 "Research Summary: Not so immutable: Upgradeability of Smart Contracts on Ethereum"
Contributor: Matthew (@Ulyssesmathew)

Link to the Paper: https://arxiv.org/pdf/2206.00716.pdf

Link to the Draft: https://docs.google.com/document/d/1PKNFucNPY9qHgYC1AsFjlJCwP2fDyguw0_wAIA2CW4w/edit?usp=sharing

Estimated date of completion: Dec 21, 2022