[2021-11-11 00:58] lw-scrf commented on #146
@twan-dev will move another review of this up on my scrf 'to do' list for tomorrow/Fri. will also create that shared doc for feedback and invite you and @jamesmcgirk.

[2021-11-11 17:16] Astridchou commented on #171
@jamesmcgirk Thank you so much for your review. I have finished it and added some content accordingly.

[2021-11-12 03:44] twan-dev commented on #171
@jamesmcgirk @Astridchou  Moving to next stage once the last comment is resolved
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [ ] All suggestions provided by Peer Reviewers have been resolved.

[2021-11-12 13:09] cryptomarabout opened #231 "Research Summary: A Survey on Ethereum Systems Security: Vulnerabilities, Attacks, and Defenses"
This paper classifies Ethereum's vulnerabilities based on a strong literature review. They also study specific attacks that have occurred and discuss various type of defenses.

Link to publication: https://dl.acm.org/doi/fullHtml/10.1145/3391195

Link to validation of Research Summary's proposal in Discord: https://discord.com/channels/784234332617048065/784234333111451670/908673708271501352

[2021-11-13 13:29] lw-scrf commented on #146
wanted to capture my note from 10.30.21 here, as i'm editing it out of the doc today, but i think it's important enough to capture. discord chat between @twan-dev @jamesmcgirk and i culminated in creation of a doc pipe feedback doc to help improve processes going forward. if anyone else wants to add feedback to it, permissions open to all scrf via this link:
[(https://docs.google.com/document/d/1T

[2021-11-13 13:34] lw-scrf commented on #146
wanted to add my comment from 10.30.21 here, since i'm editing it out of the doc today, but think it's important enough that it should be captured:

This is my first read-through, 10.30.21, and I see several things already...I just wanted to bring the team's attention to this because the position in the doc pipe for this summary indicates that “Content” and “Editing” have already been done and the

[2021-11-14 12:38] cipherix commented on #152
Change some areas for clarity on hypercube topologies. Overall a very nice job summarizing a complex paper, moved it to editorial review @jamesmcgirk

[2021-11-14 15:12] Astridchou opened #233 "Research Summary: An Exploration of Governing via IT in Decentralized Autonomous Organizations"
Description: DAOs motivate the shift from the governance of IT toward governance via IT. By techniques of grounded theory to build inductive theory by analyzing five cases of DAOs, this paper explores how DAOs are governed via IT. This research provides the characteristics of governance via IT, which is important for DAOs developers and researchers.

Estimated date of completion: 2021/11/21

Link

[2021-11-14 15:16] twan-dev commented on #233
- [x] Author has been Onboarded to Github.
- [x] Author has filled out the ticket correctly, in accordance with the Required Ticket Format.
   - [x] Title
   - [x] Description of why this summary is novel, timely, and interesting
   - [x] Link to PDF or Research Pulse Issue
   - [x] Link to draft Google Doc
   - [x] Subtags (if no subtags are available, authors should feel free to create their own

[2021-11-15 05:45] twan-dev commented on #173
@cipherix Thanks for taking time with my summary. I have made changes based on your review. It's ready for another look.

[2021-11-15 14:47] lw-scrf commented on #146
@twan-dev @jamesmcgirk @Siemingfong 2nd pass done.

[2021-11-15 16:27] eleventh19 commented on #219
just sent another email, @ivanplazacic will help schedule as I dropped the ball

[2021-11-15 21:58] Fizzymidas commented on #222
Peer review done
@twan-dev
@Tony363

[2021-11-16 08:04] Tony363 commented on #222
@Fizzymidas Thank you for your kind suggestions for my draft! There were some parts where I just didn't proof read enough while some parts where it made more sense to me to keep the original wordings. @twan-dev I want through the suggestions @Fizzymidas suggested. Please advise for the next step.

[2021-11-16 15:15] rjx223 opened #234 "Research Summary: An analysis and evaluation of lightweight hash functions for blockchain-based IoT devices"
Description: The researchers evaluate common lightweight hash functions to determine practicality for deployment in blockchain-based IoT applications. With the ubiquity of IoT devices, blockchain technologies are becoming increasingly prevalent within IoT environments. This study contributes new insight into key issues like energy efficiency and hardware security and provides lightweight hash func

[2021-11-16 15:19] Fizzymidas commented on #222
Thanks for addressing the suggestions. @Tony363
@twan-dev over to you!

[2021-11-16 15:21] twan-dev commented on #222
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2021-11-16 15:37] twan-dev commented on #234
- [x] Author has been Onboarded to Github.
- [x] Author has filled out the ticket correctly, in accordance with the Required Ticket Format.
   - [x] Title
   - [x] Description of why this summary is novel, timely, and interesting
   - [x] Link to paper
   - [x] Link to draft Google Doc
   - [x] Subtags
   - [x] Assignee
   - [x] Estimated Completion Date
   - [x] Tagged Content Type
- [x] Author h

[2021-11-17 07:56] Coinproz commented on #206
@Fizzymidas please modify this ticket to reflect the format as requested by Twan and outlined in the Github Training

[2021-11-17 07:58] #195 closed

[2021-11-17 09:28] Fizzymidas commented on #206
I am not able to modify this ticket.

But all suggestions made during the review have been addressed and format added in the Goog;e doc.

[2021-11-17 15:57] jamesmcgirk commented on #152
@Astridchou added in the GtM questions and completed an edit, I'd like to take another look through it once you've approved the changes (the last few sections were pretty dense, so I want to make sure I haven't missed anything)

[2021-11-18 04:23] cipherix commented on #173
Thank you for the improvements. Seems like one area under Applicability needs a bit more context for clarity, but overall this looks good to go. WIll move it to editorial review @jamesmcgirk

[2021-11-18 04:28] cipherix commented on #186
@Coinproz were you able to ask Samuel to give us editor access to this doc? If so, could you nudge him once again? Haven't been able to start FCR on this for this reason.

[2021-11-18 04:36] cipherix commented on #222
Pretty straightforward summary and interesting topic choice @Tony363 -- added a few comments for clarity. Ready for editorial review contingent upon their resolution.

[2021-11-18 04:40] Coinproz commented on #186
I was not informed that I was needed to do that.

[2021-11-18 04:41] Coinproz commented on #186
If anything, handing off should be handing off so the communication becomes direct.

[2021-11-18 04:59] Coinproz commented on #196
@twan-dev made some updates, so not sure who should be tagged to do the next peer review

[2021-11-18 06:50] twan-dev commented on #196
- [x] All fields described in the Template for that content type have been filled out.
- [x] At least 2 Peer Reviewers have been briefed about this content.

[2021-11-18 06:52] twan-dev commented on #196
@ralphlombreglia are you available to take a look and see if I can move it to final content review?

[2021-11-18 12:31] SethAustinHarding commented on #155
@twan-dev Yep! It's ready.

[2021-11-18 12:34] twan-dev commented on #155
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2021-11-18 14:02] Astridchou commented on #171
I have finished the requirements of @jamesmcgirk 's review (I used yellow highlight to mark my amendment and left a response to a comment) and the GTM questions.

[2021-11-18 14:22] jamesmcgirk commented on #171
Thanks so much, @Astridchou -- I'll let you know when the GtM is ready so we can discuss

[2021-11-18 14:49] jamesmcgirk commented on #222
Posted GtM questions, waiting for resolution of aforementioned changes to proceed with Editorial Review

[2021-11-18 14:51] jamesmcgirk commented on #146
Waiting for resolution before editorial review.

[2021-11-18 14:59] jamesmcgirk commented on #222
Note from Researcher meeting -- we want this summary to follow our standard citation procedure, so during edit process, move the citations to a reference section and convert to a single reference to the original paper

[2021-11-18 15:00] jamesmcgirk commented on #152
@twan-dev @zubepaul tagging you both for engagement assignment

[2021-11-18 15:32] Astridchou commented on #171
Oops, I have commented on the wrong place; I tend to make this comment in #152.

[2021-11-18 15:33] Astridchou commented on #152
I have finished the requirements of @jamesmcgirk 's review (I used yellow highlight to mark my amendment and left a response to a comment) and the GTM questions.

[2021-11-18 15:34] jamesmcgirk commented on #171
@twan-dev @zubepaul flagging for engagement assignment

[2021-11-18 16:39] Astridchou commented on #171
@jamesmcgirk I have finished the GTM questions

[2021-11-18 18:45] jamesmcgirk commented on #196
@ralphlombreglia says he'll take care of it (@twan-dev apologies for the 3rd person comment)

[2021-11-18 18:50] jamesmcgirk commented on #173
posted GtM questions @zubepaul @twan-dev flagging you both for engagement assignment, beginning editorial review

[2021-11-18 20:19] jamesmcgirk commented on #171
@Astridchou finished my editorial pass, nothing major, just a couple of things for you to review

[2021-11-18 21:18] jamesmcgirk commented on #152
@Astridchou thank you for fixing those, I'll get the GtM started.

[2021-11-19 00:00] eleventh19 commented on #214
@ivanplazacic can you please link to where the audio files

[2021-11-19 00:01] eleventh19 commented on #217
might be rescheduling by a day, but shooting to record next week

[2021-11-19 00:02] eleventh19 commented on #219
just sent out the invite for recording in just under two weeks

[2021-11-19 01:49] jamesmcgirk commented on #196
@ralphlombreglia has completed his review @twan-dev

[2021-11-19 02:32] jamesmcgirk commented on #173
@twan-dev editorial review complete -- really clean copy! Just waiting for your GtM questions

[2021-11-19 03:17] ivanplazacic commented on #214
Here is the link to all the backup/archival files:

https://drive.google.com/drive/folders/1AyfMQaBUwcbURo3m2ZTO-gMRzhRD12kR

Here is the link to the separate raw recordings:

https://drive.google.com/drive/folders/1hJzIfCgVcu5k-APq3tCshRhOeAxoAkQ4

[2021-11-19 12:16] Tony363 commented on #222
@cipherix @jamesmcgirk Ive addressed the Final content review contexts as best I can and also answered all the GtM questions for the editorial review as well. Please kindly look over the changes and prescribe the next set of action to take.

[2021-11-19 12:22] twan-dev commented on #173
@jamesmcgirk They're ready!

[2021-11-19 14:14] twan-dev commented on #233
@Astridchou How are things going with the summary? Anything outside expectations?

[2021-11-19 15:03] jamesmcgirk commented on #222
Next step is an editorial review, I’ll take care of it this afternoon

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tony Siu ***@***.***>
Sent: Friday, November 19, 2021 6:16:20 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Research S

[2021-11-19 15:58] jamesmcgirk commented on #152
@Astridchou - we've formalized our citation procedure, so I'm moving your second citation to a further reading section

[2021-11-19 16:08] Astridchou commented on #233
Thanks for your concern. Everything goes well.

[2021-11-19 16:12] Astridchou commented on #152
@jamesmcgirk Thanks!

[2021-11-19 16:58] jamesmcgirk commented on #146
@Siemingfong is this one ready for editorial review?

[2021-11-19 17:05] Siemingfong commented on #146
@jamesmcgirk Definitely sure

[2021-11-19 17:07] jamesmcgirk commented on #146
@Siemingfong @lw-scrf if everything is all good to go, I'll start my editorial review. GtM is already finished, unless there's anything either of you would like to add

[2021-11-19 18:59] jamesmcgirk commented on #222
One step before the last step, @Tony363 - do you mind adding a bit more to the Key Terms? check some of the summaries in the forum for a model (e.g. https://www.smartcontractresearch.org/t/research-summary-a-comparative-analysis-of-the-platforms-for-decentralized-autonomous-organizations-in-the-ethereum-blockchain/955 )

[2021-11-19 19:00] Tony363 commented on #222
@jamesmcgirk will do~

[2021-11-19 19:50] zubepaul commented on #222
Will assign Ralph L. as engagement/moderation for this post

[2021-11-19 22:35] eleventh19 commented on #216
just pinged Livia again to check in and will reach out to the second guest after hearing back from Livia

[2021-11-19 22:37] eleventh19 commented on #218
@ghettodev is confirming the second guest (thanks for reaching out!)

[2021-11-19 22:40] eleventh19 commented on #220
spoke to Jess the other day and we're good to move forward, sent the email to schedule

[2021-11-19 23:09] eleventh19 commented on #221
emailed everyone to schedule

[2021-11-20 07:51] Tony363 commented on #222
@jamesmcgirk Maybe check again on the Key terms. Im not sure whether this is what is expected or not as I directly referenced some definitions from blockchain-council.org.

[2021-11-21 01:13] jamesmcgirk commented on #222
@Tony363 they're meant to be more than definitions, think of them as part of the summary, how do they pertain to the summary. Check out the link I posted for you for a model.

[2021-11-21 06:11] twan-dev commented on #206
@Fizzymidas Sorry about the access restrictions you are facing. We need to wait until you can work with @Coinproz to resolve with the problem before moving on.

[2021-11-21 06:23] Coinproz commented on #206
I can't give anyone Github access.  This has nothing to do with me.

On Sun, Nov 21, 2021 at 1:12 AM twan-dev ***@***.***> wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-11-21 06:25] twan-dev commented on #206
@Coinproz can you help her modify the ticket description?

[2021-11-21 06:28] Coinproz commented on #206
let's just delete this ticket and have her do another one.  will take less
time, as this is becoming too redundant on this ticket.

On Sun, Nov 21, 2021 at 1:25 AM twan-dev ***@***.***> wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-11-21 06:30] #206 closed

[2021-11-21 06:34] twan-dev commented on #207
#206 is closed because @Coinproz you and I both agree it's better to create a new ticket in that case. Should I proceed with this one as well?

[2021-11-21 06:35] twan-dev commented on #207
sorry, didn't meant to press close.

[2021-11-21 06:37] Coinproz commented on #207
👍

On Sun, Nov 21, 2021 at 1:35 AM twan-dev ***@***.***> wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-11-21 06:42] #207 closed

[2021-11-21 07:06] Fizzymidas opened #235 "Research Summary: Using Distributed Ledger Technologies to Improve and Maximise the Collection of Property Taxes"
Description: This post is a research summary under the SCRF Pan African Grant, about the blockchain use case for the collection of property tax in Africa and beyond.

Estimated date of completion: 10 Nov 2021

Link to Paper: https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3899060

Link to working draft: https://docs.google.com/document/d/1W7kmCah6RSNw9oIpFg9axhWnWYIoCIZfGVGxs0CB75U/edit?usp=sh

[2021-11-22 05:39] twan-dev commented on #234
@rjx223 How's the summary going! Everything on schedule?

[2021-11-22 14:37] jamesmcgirk commented on #222
Tony working on key terms, will finish after his midterms.

[2021-11-22 17:12] Tony363 commented on #222
@jamesmcgirk Thank you for reminding me to add the TLDR. My midterms and juggling of multiple commitments really hit a number on my quality of output. Please check the key terms again to see if there is anything missing! Thankyou~

[2021-11-22 19:41] jamesmcgirk commented on #173
Editorial review complete, waiting for GtM

[2021-11-22 19:42] jamesmcgirk commented on #152
Editorial review complete. GtM in progress.

[2021-11-22 19:43] jamesmcgirk commented on #171
@Astridchou don't forget to review my changes when you get a chance

[2021-11-22 22:56] Astridchou commented on #233
@twan-dev I have finished the summary draft.

[2021-11-22 23:56] Astridchou commented on #171
@jamesmcgirk Thank you so much for your reminder and illuminating review. I have finished it and highlighted the sentences that are corresponding to your comments.

[2021-11-23 02:26] twan-dev commented on #233
- [x] All fields described in the Template for that content type have been filled out.
- [x] PM has notified peer reviewer of this draft.

[2021-11-23 14:19] Astridchou opened #236 "Research Summary: DevOps for Ethereum Blockchain Smart Contracts"
Description: This paper provides a comprehensive investigation on leveraging DevOps approach on blockchain solutions, which may foster efficiency of software development and delivery.

Estimated date of completion: 2021/12/8

Link to Paper: http://eprints.cs.univie.ac.at/7141/1/document.pdf

Link to working draft: https://docs.google.com/document/d/1BVpH2j1Arfn50Yhycy9rBZGXu5EuTC7BSdLgje2jlgk/edit

[2021-11-23 14:50] twan-dev commented on #236
- [x] Author has been Onboarded to Github.
- [x] Author has filled out the ticket correctly, in accordance with the Required Ticket Format.
   - [x] Title
   - [x] Description of why this summary is novel, timely, and interesting
   - [x] Link to paper
   - [x] Link to draft Google Doc
   - [x] Subtags
   - [x] Assignee
   - [x] Estimated Completion Date
   - [x] Tagged Content Type
- [x] Author h

[2021-11-23 22:07] jamesmcgirk commented on #152
GtM complete! @Astridchou do you have time for either a brief interview over Google meet or over Discord to talk about engagement before Thursday?

[2021-11-23 23:57] jamesmcgirk commented on #146
@lw-scrf is this one ready for editing yet?

[2021-11-24 02:50] jamesmcgirk commented on #233
@jamesmcgirk would be happy to do a peer review (tagging myself so it shows up in my queue)

[2021-11-24 14:15] Astridchou commented on #236
@twan-dev  I have changed the estimated date of completion and tagged tooling. Thank you very much for your help!

[2021-11-24 14:29] ralphlombreglia commented on #222
I copyedited the summary doc using "Suggestion" mode; the editor(s) and author should accept my changes (if you agree) and publish the summary when ready. I also filled out most sections of the GtM; the spreadsheet said "GtM questions done" but I found nothing but a blank GtM template.

[2021-11-24 16:40] jamesmcgirk opened #237 "Research Summary: Name of your article you want to review"
Describe why it's importsmt

put in a link

proposed tags

[2021-11-24 16:56] #237 closed

[2021-11-24 20:14] jamesmcgirk commented on #222
@Tony363 a couple of other fixes for you to make, in addition to Ralph's comments -- consider opening a similar summary in another window for formatting guidance, big items: summary should be longer and more detailed, we use bulleted TL;DRs,  no need for ALL-CAPS, consider whether Subheads are necessary, make sure definitions match house style

[2021-11-24 20:15] jamesmcgirk commented on #222
overall in much better shape, @ralphlombreglia indicates that the GtM is complete, so whenever the edits are ready we'll be ready to go

[2021-11-25 01:10] twan-dev commented on #111
@cipherix @jamesmcgirk November is ending

[2021-11-25 04:05] Coinproz commented on #187
*research pulse mining

[2021-11-25 09:51] Tony363 commented on #222
@jamesmcgirk Ive looked through all the edit suggestions again. Though Im not sure if I did the styling right. Please check.

[2021-11-29 05:18] tomideadeoye opened #238 "Research Summary: A Source­Code­Based Taxonomy for Ethereum Smart Contracts"
Description: This post is a research summary under the SCRF Mentorship Program. The summary identifies common elements of Ethereum Smart Contracts. The original paper seeks to encourage industry standards in the writing of smart contracts.

Estimated date of completion: Dec 1, 2021

Link to Paper: https://www.researchgate.net/publication/354901921_A_Source-Code-Based_Taxonomy_for_Ethereum_Smart_Co

[2021-11-29 10:53] ralphlombreglia commented on #222
On 11/24 I did a complete copyedit of the summary and filled out most fields on the GtM doc.

[2021-11-29 17:10] jamesmcgirk commented on #186
@twan-dev Samuel opened the editing privileges, this one is ready for an FCR

[2021-11-29 17:11] cipherix commented on #196
excellent job on this one @Coinproz - made a few changes for clarity, moved to editorial (cc. @jamesmcgirk)

[2021-11-29 17:16] eleventh19 commented on #217
recorded last week

[2021-11-29 17:21] eleventh19 commented on #224
close this out as this was an old duplicate card

[2021-11-29 17:21] #224 closed

[2021-11-29 17:25] cipherix commented on #155
Left some comments there for you @SethAustinHarding

[2021-11-29 17:38] cipherix commented on #186
This was a straightforward summary and Samuel did a good job. Made a few changes on the characterization of pseudonymity as anonymity in Background, as well as some items for clarity in Results. Seems to be ready for Editorial @jamesmcgirk.

[2021-11-29 18:22] zubepaul commented on #222
GtM plan is completed. Ready for researcher meeting. @Tony363 Need to coordinate a breakout with @zubepaul @ralphlombreglia

[2021-11-29 18:48] Tony363 commented on #222
I would be available after 2200 taiwan time? so in 18 hours? My wednessday would be tough. My Thursday is alot more free for me.

[2021-11-30 05:39] twan-dev commented on #238
@tomideadeoye thanks for the ticket. You would also need to add this ticket to the pipeline to start it off. I'll show you how if you need me (Discord).

[2021-11-30 15:30] jamesmcgirk commented on #186
@Coinproz I've finished my first editing pass (wasn't sure if Samuel was on Github yet). Minor changes throughout

[2021-11-30 16:15] jamesmcgirk commented on #146
@Siemingfong @lw-scrf I went through this and made a few changes, please make sure that the Agent Behaviors section reflects LW's comments

[2021-11-30 21:12] jamesmcgirk opened #239 "Research Summary: Proposed title"
Title of the proposed article

Link to the article

Describe why it's interesting and important to review this.

Propose tags for it

Additional reading

[2021-11-30 21:13] jamesmcgirk commented on #239
Paste a link to the google doc you're working on

[2021-11-30 22:23] #239 closed

[2021-11-30 22:24] jamesmcgirk commented on #196
@Coinproz in really good shape, made a few suggested edits for you to review and added the GtM questions

[2021-11-30 22:25] jamesmcgirk commented on #186
added the GtM questions

[2021-11-30 23:17] Coinproz commented on #196
Thanks!  will get to those this evening!

On Tue, Nov 30, 2021 at 5:24 PM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-12-01 01:10] jamesmcgirk opened #240 "Research Summary title"
Title

Decsription

link to PDF

Suggested tags

Estimated time of completion

Link to your Google Doc

[2021-12-01 01:33] #240 closed

[2021-12-01 03:51] eleventh19 commented on #221
just sent an invite for 12/6

[2021-12-01 03:59] eleventh19 commented on #219
got rescheduled to next week, ironing out the timing

[2021-12-01 03:59] eleventh19 commented on #220
just sent a follow up email with a narrowed window of availability that should work better

[2021-12-01 07:14] twan-dev commented on #235
As this was created from #206 and was approved, drafted, and peer reviewed under the previous rules, we will be moving it directly to FCR

[2021-12-01 13:35] cipherix commented on #231
Approved

[2021-12-01 13:36] cipherix commented on #231
Great suggestion, but this paper has already been summarized!

https://www.smartcontractresearch.org/t/a-survey-on-ethereum-systems-security-vulnerabilities-attacks-and-defenses/98

[2021-12-01 13:37] #193 closed

[2021-12-01 13:41] cipherix commented on #204
There has been some interesting on-chain analysis on this front, but perhaps focus on something that has already been published? Otherwise, it could be a big lift to source that data.

[2021-12-01 13:45] cipherix commented on #177
I think this could be a good discussion post @bgits. Are you still working on this?

[2021-12-01 13:46] cipherix commented on #230
This is a great paper @29988122 -- an excellent choice.

[2021-12-01 14:00] tomideadeoye commented on #238
@twan-dev .... Thank you!! I will really appreciate. Please show me.

[2021-12-01 15:16] twan-dev commented on #238
feel free to DM

[2021-12-01 21:31] jamesmcgirk commented on #196
@Coinproz reports that he's completed his GtMs... moving over the Engagement

[2021-12-01 21:35] Coinproz commented on #196
thanks James!  i will try to remember to update the card and not the channel

On Wed, Dec 1, 2021 at 4:31 PM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-12-01 23:55] eleventh19 commented on #216
reached out to a potential second guest and pinged Livia to catch up this week

[2021-12-02 00:46] twan-dev commented on #236
@Astridchou How's the summary been going?

[2021-12-02 01:54] eleventh19 commented on #218
just dm'ed the anon guest on telegram and the RMIT folks via email to schedule

[2021-12-02 06:26] Astridchou commented on #233
@jamesmcgirk Thanks for your review! @twan-dev I have completed all comments.

[2021-12-02 06:27] Astridchou commented on #236
@twan-dev Good, I can finish it on time (2021/12/5)

[2021-12-03 03:12] twan-dev commented on #167
Shoving to icebox because one of the authors told me that both of them are not interested in working in the draft anymore.
This summary up for grabs for anyone that wants to continue though!

[2021-12-03 03:58] twan-dev commented on #238
something went wrong......I'll fix it once I have access

[2021-12-03 11:25] EasonC13 opened #241 "Research Summary: The promise of peer-to-peer trading? The potential impact of blockchain on the actor configuration in the Dutch electricity system"
TBA

[2021-12-03 11:28] EasonC13 commented on #241
Oops. I can't Assign myself to this card.

[2021-12-03 11:51] EasonC13 commented on #99
Hi @jamesmcgirk, Can I take over this summary?

[2021-12-03 15:30] jamesmcgirk commented on #241
I assigned you. cc @twan-dev

[2021-12-03 17:31] Coinproz commented on #196
completed edits @jamesmcgirk

[2021-12-03 17:55] eleventh19 commented on #216
Livia and Seth both confirmed and I just shot an email for scheduling

[2021-12-03 17:56] jamesmcgirk commented on #146
thanks for the fixes, @Siemingfong moved into engagement.

[2021-12-03 18:55] zubepaul commented on #173
GtM Questions completed, GtM nearly completed, scheduling GtM interview with @twan-dev

[2021-12-04 01:59] twan-dev commented on #241
@EasonC13
1. You can check out the latest research summary ticket template by clicking New Issue > Get Started on the upper right corner of this very page. Please update your ticket to reflect that format.
2. You will also have to move the draft into our shared folder which could be found at the Idea Proposal Stage column. In the same link, you can also find a template that would be appropriate to

[2021-12-04 08:20] EasonC13 commented on #241
Hi @twan-dev I have done 1, 2, 3
Thanks for your correciton.

Eason

[2021-12-04 13:27] twan-dev commented on #241
@cipherix Does this paper seem like a great add to the forum?

[2021-12-05 16:09] Tony363 opened #242 "Research Summary: Chartalist: Labeled Graph Datasets for UTXO and Account based blockchains"
Author: Cuneyt G. Akcora, Friedhelm Victor, Murat Kantarcioglu, and Yulia R. Gel

Machine learning on blockchain graphs is an emerging field with many applications such as ransomware payment detection, price manipulation analysis, and money laundering detection. However, on many blockchains, analyzing the data requires domain expertise and computational resources which pose a significant barrier a

[2021-12-06 01:05] eleventh19 commented on #219
got postponed to 12/13

[2021-12-06 02:45] twan-dev commented on #242
Hello Tony, would you checkout the latest research summary ticket template that could be found at the upper right hand corner New issue > Get Started, and fill in the required information based on that template instead? Exclude anything that isn't relevant.
Also,
1. You need to write your own description. Pasting the abstract doesn't work.
2. The draft has to belong to the shared folder.
3. If you

[2021-12-06 03:47] Tony363 opened #243 "Research Summary: Chartalist: Labeled Graph Datasets for UTXO and Account based blockchains"
Description:

Estimated date of completion: Dec.19th,2021 after posting current research summary

Link to Paper: https://openreview.net/pdf?id=c0psj-rpDZm

Link to working draft: https://docs.google.com/document/d/15VAKK8Z_sViy-U2HxChfD7if294wb14CcRrvMEifsBM/edit?usp=sharing

Source of approval:  https://www.smartcontractresearch.org/t/research-pulse-issue-29-09-07-21/791

[2021-12-06 03:53] Tony363 commented on #242
@twan-dev I think im still waiting for access to that shared folder?

[2021-12-06 03:56] #242 closed

[2021-12-06 12:48] twan-dev commented on #236
@Astridchou Please update the estimated date of completion

[2021-12-06 12:49] twan-dev commented on #234
@rjx223 Anything new?

[2021-12-06 13:54] Astridchou commented on #236
@twan-dev I have edited the estimated date of completion

[2021-12-06 15:55] rjx223 commented on #234
On schedule, will let you know if anything changes regarding the timeline.

[2021-12-06 19:01] zubepaul commented on #196
@Coinproz Ready for GtM meeting with @zubepaul. Need to schedule. Once completed, this will be done with engagement and can be published no sooner than December 10, 2021

[2021-12-06 19:03] zubepaul commented on #222
@twan-dev GtM and engagement review completed. Can be published no sooner than December 8th, 2021
@Tony363

[2021-12-06 19:34] Coinproz commented on #196
@zubepaul Just let me know when is good for your schedule!

[2021-12-06 21:15] cipherix commented on #155
Any updates on this @SethAustinHarding ?

[2021-12-07 05:05] twan-dev commented on #222
@Tony363 I think you didn't delete the citation numbers (the numbers in brackets that come after a sentence and were suppose to point towards a citation. Since you've deleted all other citations they are confusing). @jamesmcgirk Are we on the same page with this issue? If so @Tony363  should make sure that fix happens before the summary gets published.

[2021-12-07 05:11] twan-dev commented on #222
@Tony363 I also see that you have a different naming convention for each of your section (such as giving every section a number) and even extra sections that doesn't exist in the SCRF summary template. You can check them out here.
https://github.com/smartcontractresearchforum/docs/blob/main/en/content_research_summary_template.md

[2021-12-07 05:48] Tony363 commented on #222
@twan-dev I think the "all other citations" are under the title of "additional references.". By giving each section a number, you mean my adding of "Section {number}" to SCRFs template titles that was not in the structure of the SCRF template?

[2021-12-07 05:52] Tony363 commented on #222
@twan-dev  https://drive.google.com/file/d/1vhtx80xjvlkf5GKEtSOm6SrB3CifLxho/view?usp=sharing <- would this be better for the issue you were describing?

[2021-12-07 05:53] Tony363 commented on #222
@twan-dev actually, im confused as to what to do with the citations.....

[2021-12-07 06:32] twan-dev commented on #222
Yes. We're on the same page. So what is that for?

Nothing complicated. They don't belong to your summary so just remove them.

[2021-12-07 09:21] twan-dev commented on #196
@Coinproz some editorial suggestions were not accepted and still hanging there. What happened?

[2021-12-07 13:30] twan-dev commented on #233
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

Moving it to FCR in case Lucas recently has time to review. I left a few comments on the draft that were meant to be helpful.

[2021-12-07 14:01] twan-dev commented on #241
Approved on the forum:
https://www.smartcontractresearch.org/t/research-summary-idea-the-promise-of-peer-to-peer-trading-the-potential-impact-of-blockchain-on-the-actor-configuration-in-the-dutch-electricity-system/1043/5

- [x] Author has been Onboarded to Github.
- [x] Author has filled out the ticket correctly, in accordance with the Required Ticket Format.
   - [x] Title
   - [x] Description o

[2021-12-07 15:58] Coinproz commented on #196
i generally accept all grammar editing.  i went through and accepted them all.  why they are still there i have no idea. this type of redundancy problem is partially due to too many people looking at the paper.

[2021-12-07 16:09] Coinproz commented on #196
i went back and double-checked.  i accepted all the comments on the 3rd.  have no idea why 4 edits didn't get accepted. they should have just been accepted and moved along.

[2021-12-07 20:33] SethAustinHarding commented on #155
Hi @cipherix and @twan-dev, Cindy (https://github.com/jyue) is not added to the SCRF Github team but she said she will handle the edits within the next 24 hours. Can she directly post this after finishing addressing your comments?

[2021-12-08 02:34] twan-dev commented on #222
@Tony363 Need you to run the summary through Grammerly too

[2021-12-08 02:40] Tony363 commented on #222
@twan-dev for the "Section {numbering}", the paper itself was organized according to those sections and the only bullets that I could find to constructively put into SCRFs "Summary" section was specifically the definitions of each of the "Sections {numbering}" . So therefore i added them in as such.

[2021-12-08 02:41] Tony363 commented on #222
@twan-dev regarding the additional citations, just to confirm, I am to remove all of the citations and the numbering through out the draft and only keep the citation of the "Do you need a blockchain" itself?

[2021-12-08 02:43] twan-dev commented on #235
@Fizzymidas Got feedback from Lucas. We'll move this back to FCR once you've finished dealing with the latest comments from this review

[2021-12-08 02:44] twan-dev commented on #155
@SethAustinHarding yes she can. Doesn't need to be onboarded to Github. Moving back to peer review until the comments are resolved.

[2021-12-08 03:50] Fizzymidas commented on #235
Comments resolved.

[2021-12-08 05:36] Tony363 commented on #222
@twan-dev ,I taken down all additional citations and the number to the citations. I also went through Grammarly a bit more.

[2021-12-08 12:59] Astridchou commented on #236
@twan-dev I have completed the draft.

[2021-12-08 17:02] twan-dev commented on #201
Don't believe this is still in progress. Moving to icebox.

[2021-12-09 01:40] twan-dev commented on #222
@Tony363 quite a few changes have been made. Let me know upon your next update. Hope to get this published today.

[2021-12-09 03:36] ivanplazacic commented on #214
Here is the link to the edit:

https://drive.google.com/file/d/1evsEiVYACGE2ziH3tI9U2Xi_kTlp5dMD/view?usp=sharing

[2021-12-09 10:42] samuelngwu commented on #186
@jamesmcgirk , I am on github

[2021-12-09 12:34] Tony363 commented on #222
@twan-dev I updated and made my inputs into the draft just now. Please check for further need to revisory or editorial changes.

[2021-12-09 14:09] jamesmcgirk commented on #186
@samuelngwu great! Next step is to answer the questions from the marketing team and approve the edits in the document. Let me know when you're done, I'll have a second look and then move it over to engagement review

[2021-12-09 16:16] twan-dev commented on #222
@Tony363 See you in the forum.

[2021-12-09 16:17] Tony363 commented on #222
I'll publish it the first thing tomorrow morning~

[2021-12-09 17:41] samuelngwu commented on #186
Okay. Thank you

On Thu, 9 Dec 2021, 15:09 James McGirk, ***@***.***> wrote:

[2021-12-09 21:40] eleventh19 commented on #216
just sent a proposed time, no clarity from doodle

[2021-12-09 21:41] eleventh19 commented on #218
proposing a time as no clarity from doodle

[2021-12-09 21:43] eleventh19 commented on #221
recorded Sunday, @ivanplazacic please add a link to where the raw audio

[2021-12-09 21:48] ivanplazacic commented on #217
Here is the link to all the backup/archival files:

https://drive.google.com/drive/folders/1EIp3qWd9lgO6IZU-RsGN4upkPtybPwdd?usp=sharing

Here is the link to the separate raw recordings:

https://drive.google.com/drive/folders/1Z3oAoeR7njDYki9B1nkEviupGCO9R9Ff?usp=sharing

[2021-12-09 23:10] samuelngwu commented on #186
@jamesmcgirk I have answered questions raised and gone through the edited work. I am cool with it

[2021-12-10 01:28] jamesmcgirk commented on #186
@samuelngwu thanks! @twan-dev would you like to go through this one together before it goes into engagement?

[2021-12-10 03:09] ivanplazacic commented on #221
Here is the link to all the backup/archival files:

https://drive.google.com/drive/folders/1kqmGuOjUAIn4DJ1ZBGu0v17DKOPqiJ96?usp=sharing

Here is the link to the separate raw recordings:

https://drive.google.com/drive/folders/1uL02VLB7aem3KkE5Y412kpLlHm19n5Sb?usp=sharing

[2021-12-10 10:33] Siemingfong commented on #146
It's published:
https://www.smartcontractresearch.org/t/research-summary-liquidity-risks-in-the-decentralized-finance-protocol-aave/1062

[2021-12-10 10:59] twan-dev commented on #173
GTM interview completed about a week ago, but a researcher has reason to believe that this paper is not perfect for SCRF. Moving to icebox and will revisit once we have time to revisit.

[2021-12-10 20:17] zubepaul commented on #196
GtM and Engagement review completed. Scheduled for publication 12/10

[2021-12-11 14:36] Tony363 opened #244 "Research Summary: Machine Learning Guided Cross-Contract Fuzzing"
Description: (ill briefly paraphrase the abstract and main points I find in this paper when I have time)

Estimated date of completion: Dec. 28,2021

Link to Paper: https://arxiv.org/pdf/2111.12423.pdf

Link to working draft: https://docs.google.com/document/d/15VAKK8Z_sViy-U2HxChfD7if294wb14CcRrvMEifsBM/edit?usp=sharing

Source of approval: https://www.smartcontractresearch.org/t/research-pulse-i

[2021-12-11 14:40] Tony363 opened #245 "Research Summary: Machine Learning Guided Cross-Contract Fuzzing"
Description: The authors propose a novel machine learning guided “fuzzing” framework for smart contracts called xFuzz. It has special focus on cross contract vulnerabilities. Two key challenges that were faced during the development of xFuzz were how to reduce search space of fuzzing and to complete cross contract fuzzing. xFuzz is demonstrated that it is faster and more effective than existing fu

[2021-12-11 14:44] Tony363 commented on #242
I don't have access to the openreview paper itself despite having created an account on openreview. Ill explore what I can do, but for now, ill find another paper to do a research summary on

[2021-12-12 02:37] twan-dev commented on #245
the estimated date of completion is NOT realistic.

[2021-12-12 03:38] twan-dev commented on #194
Talked to the content contributor. Further work isn't expected. Moving to icebox.

[2021-12-12 03:49] twan-dev commented on #149
Albert doesn't expect to work on this ticket in the near future.

[2021-12-12 03:49] #149 closed

[2021-12-12 03:52] twan-dev commented on #230
Closing this because Jerry is busy with other papers. Jerry might reopen later, but for now up for grabs to anyone.

[2021-12-12 03:53] twan-dev commented on #187
Doesn't belong to the content pipeline. Will discuss more in Discord/meetings if needed.

[2021-12-12 03:53] #187 closed

[2021-12-12 03:55] #231 closed

[2021-12-12 03:57] twan-dev commented on #178
Closing this for now as Seth is busy with other summaries.

[2021-12-12 03:57] #178 closed

[2021-12-12 05:07] twan-dev commented on #189
Closing this because Sean is busy with other summaries.

[2021-12-12 05:07] #189 closed

[2021-12-12 05:15] twan-dev commented on #117
Jerry is busy so we're closing this now

[2021-12-12 05:15] #117 closed

[2021-12-12 05:25] twan-dev commented on #105
Closing this for now. Will reopen it when it's ready to start drafting @lpassos.

[2021-12-12 05:25] #105 closed

[2021-12-12 05:27] twan-dev commented on #156
Seth has been working on this without moving it to drafting - I've asked him to stop until the ticket is ready.

[2021-12-12 05:39] twan-dev commented on #142
Sean is planning to spin this out into a discussion post. Closing this one and we'll have another ticket that reflects the work of the discussion post.

[2021-12-12 05:39] #142 closed

[2021-12-12 05:49] twan-dev commented on #118
Drafting is currently not in progress. Closing this for now.

[2021-12-12 05:49] #118 closed

[2021-12-12 06:32] #190 closed

[2021-12-12 08:56] Tony363 commented on #245
was the estimated date of completion for the completion of draft or until the research summary is supposedly published?

[2021-12-12 10:13] twan-dev commented on #163
Discussed with Faith and she agrees as well that it's not longer the best choice for a research summary.

[2021-12-12 10:13] #163 closed

[2021-12-12 10:59] 29988122 commented on #190
For reference: this should be done further down the road as a complete series for zk/cryptography articles(layer 2 is top3 most important things in the next 3 years), where the well-curared post series is *no where to be seen on the internet* i.e., worth writing for.

However this is our of hand for the cryptography researchers/students in SCRF currently(number wise and academic capability wise).

[2021-12-12 11:02] 29988122 commented on #117
For reference: closed atm, but tornado cash is still the best working decentralized politically correct DAO governed on chain mixer (so many title lul) in my humble opinion.

Will reopen it if we have changes in this mixer category e.g., L2 shielded transaction is matured and tornado cash is changing/evolving.

[2021-12-12 11:06] 29988122 commented on #194
For reference purposes only: if needed, I've got people with exactly this subdomain of expertise to talk about it, if there's ever a need.

Such as: ppl are (again..)fearmongered by the so called "quantim supremacy".

Spoiler alert: don't worry about quantum computers breaking Blockchain. At least not in 2021/2022, or even 2023.

[2021-12-13 05:23] twan-dev commented on #111
The author has other plans for this. Closing until we nail down next steps.

[2021-12-13 05:23] #111 closed

[2021-12-13 16:56] eleventh19 commented on #219
recording tn

[2021-12-13 18:22] vincenzospaghetti opened #246 "Research Summary: A systematic literature review of blockchain cyber security"
Link to document: https://reader.elsevier.com/reader/sd/pii/S2352864818301536?token=8E95113D59B003557C87C496594AF8A22E4A10223C489253DCD914000602C87CEFF14EB32B18999E3EB2B50EE9FAB20E&originRegion=us-east-1&originCreation=20211213181839

Pulled from Research Pulse on 12/13/21

Estimated date of completion: January 19, 2022

This summary will be novel, timely & interesting because DLT is gaining incre

[2021-12-13 18:37] vincenzospaghetti opened #247 "Research Summary: A systemic literature review of blockchain cyber security"

[2021-12-13 18:37] #247 closed

[2021-12-13 18:50] vincenzospaghetti opened #248 "Research Summary:"
Description:

Estimated date of completion:

Link to Paper:

Link to working draft:

Source of approval:

[2021-12-13 18:50] #248 closed

[2021-12-14 05:34] ivanplazacic commented on #219
Here is the link to all the backup/archival files:

https://drive.google.com/drive/folders/1GYcuGcUpdAUIDqOT64xlXR3M2HWPIFKc?usp=sharing

Here is the link to the separate raw recordings:

https://drive.google.com/drive/folders/1rrY7jOOhMiw8jWC-AOHxyntzYYBYXQpn?usp=sharing

[2021-12-14 10:59] Astridchou opened #249 "Research Summary: A Survey of Verification, Validation and Testing Solutions for Smart Contracts"
Description: The test solutions for smart contracts are crucial for the deployment process. Knowing the analysis of these solutions can improve the product reliability and cost down. This paper makes a detailed survey for the use of the test tools and so to benefit the industry.

Estimated date of completion: 2021/12/31

Link to Paper: https://arxiv.org/ftp/arxiv/papers/2112/2112.03426.pdf

Link t

[2021-12-14 14:56] twan-dev commented on #155
no. Sorry for not clarifying this.

[2021-12-14 15:23] jamesmcgirk commented on #167
@twan-dev I just got a message from Jason - they sent along the following link https://docs.google.com/document/d/1SY4U4Sw5oBiJCnIecpdMV9p6ysq5vZG6EsIB7YolwIk/edit#

[2021-12-14 19:24] twan-dev commented on #167
@jamesmcgirk It's the same document as above.

Can you ask them to work with the document pipeline directly as well?

[2021-12-15 02:01] #161 closed

[2021-12-15 02:20] eleventh19 commented on #214
i need to review. shared the link to the [write up](https://docs.google.com/document/d/1vcFR7zX12nL00GfEfXP2GmlAfavk2vSiT-iTKUTJA9o/edit#) to Abbey and Nathan in case they have any feedback. debating release on 1/13 or 1/20.

[2021-12-15 02:20] twan-dev commented on #167
@jamesmcgirk @albert-moos There's a major update in rules for creating summaries that starts after this month. Please help/let me contact them/you because we don't want them/you to miss important updates that are likely to affect their/your relation with SCRF.

[2021-12-15 02:20] eleventh19 commented on #217
being edited and discussion post is being drafted

[2021-12-15 02:21] eleventh19 commented on #218
recording tomorrow

[2021-12-15 02:21] eleventh19 commented on #216
recording tomorrow

[2021-12-15 08:25] ivanplazacic commented on #217
Here is the link to the edit:

https://drive.google.com/file/d/1QL24FqxoJ8N34R54zi7m2sGL7wsf9iQx/view?usp=sharing

[2021-12-15 15:17] zubepaul commented on #152
@twan-dev @Astridchou Engagement review completed. Can be published no sooner than December 15th, 2021

[2021-12-15 15:18] zubepaul commented on #171
@twan-dev @Astridchou Engagement Review completed. Can be published no sooner than December 20th, 2021

[2021-12-15 16:00] jamesmcgirk commented on #235
@Fizzymidas @twan-dev completed a PR

[2021-12-15 20:44] LTTOguns opened #250 "Research Summary: Understanding Security Issues in the NFT Ecosystem"
Description: (Call for Summaries - List of Papers #41). Citation: Das, Dipanjan, et al. "Understanding Security Issues in the NFT Ecosystem." arXiv preprint arXiv:2111.08893 (2021).

The article is a systematic overview of the NFT ecosystem, identifying the emergence of NFTs, their protocols, prominent actors, and subsequently the privacy, security, usability issues, and malicious trading behavior

[2021-12-16 00:21] jamesmcgirk commented on #186
@twan-dev moved this one over, waiting for Sam to finish his GtM

[2021-12-16 07:11] twan-dev commented on #250
@LTTOguns Welcome aboard! Please note that although we wouldn't say no to people who strive to finish summaries as soon as possible, that should NOT come at the price of the quality.

As this is the first time you're doing a summary from the pipeline, I'll respect that and move it to Drafting right away. If you need more time, please, don't hesitate to update the estimation and let me know. Qualit

[2021-12-16 07:12] twan-dev commented on #245
Had a private conversation with Tony, but still pending this ticket for now because the paper double checked.

[2021-12-16 07:13] twan-dev commented on #238
@tomideadeoye Did you have access problems?

[2021-12-16 07:18] twan-dev commented on #246
- [x] Author has been Onboarded to Github.
- [x]  Author has filled out the ticket correctly, in accordance with the Required Ticket Format.
- [x]  Author does not already have another working document in Drafting
- [x]  The Idea has been approved

Moving this to drafting. Good luck! And sorry to hear about the access issue.

[2021-12-16 08:29] samuelngwu commented on #186
Goodmorning Chris.
Please  what is GtM?

Sam

On Thu, Dec 16, 2021 at 1:21 AM James McGirk ***@***.***>
wrote:

[2021-12-16 14:22] jamesmcgirk commented on #186
It means ‘go to market’ strategy and Sam Houle will be creating one for you

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: samuelngwu ***@***.***>
Sent: Thursday, December 16, 2021 2:29:20 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content]

[2021-12-16 15:28] vincenzospaghetti commented on #246
Awesome! Thank you, Twan.

Thanks,
Valerie

On Thu, Dec 16, 2021 at 12:18 AM twan-dev ***@***.***> wrote:

[2021-12-16 15:44] Coinproz commented on #186
Go to Market

On Thu, Dec 16, 2021 at 3:29 AM samuelngwu ***@***.***> wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[2021-12-16 15:52] samuelngwu commented on #186
Okay. Thank you

On Thu, Dec 16, 2021 at 3:22 PM James McGirk ***@***.***>
wrote:

[2021-12-16 20:27] ivanplazacic commented on #216
Here is the link to all the backup/archival files:

https://drive.google.com/drive/folders/1MSbiF6q_ew4-hSA2MuzawGKaBgdEW_iK?usp=sharing

Here is the link to the separate raw recordings:

https://drive.google.com/drive/folders/15kP0xwyBR9KRhU-t5EcvYlyJ-QGiCVPL?usp=sharing

[2021-12-17 02:15] ivanplazacic commented on #218
Here is the link to all the backup/archival files:

https://drive.google.com/drive/folders/1iyHDo3zh81Un95IB037wfXWDsirhaSxJ?usp=sharing

Here is the link to the separate raw recordings:

https://drive.google.com/drive/folders/1th7uREWRgbzp-bvuc0BAReczTr7Pu6kB?usp=sharing

[2021-12-18 01:44] twan-dev commented on #211
- [ ] All fields described in the Template for that content type have been filled out.
- [ ] If there exists an available Peer Reviewer, PM has notified them of this draft
- [ ] Ensure that the document adheres to the style guide and is formatted correctly

[2021-12-18 04:18] twan-dev commented on #211
@amitk2-cmu Here's the ticket I was talking about and would need your review. Thanks!

[2021-12-19 04:05] KiraTheLight commented on #223
New date of completion: 31January 2022

[2021-12-19 15:00] twan-dev commented on #245
- [x]  Author has been Onboarded to Github.
- [x]  Author has filled out the ticket correctly, in accordance with the Required Ticket Format.
- [x]  Author does not already have another working document in Drafting
- [x]  The Idea has been approved

[2021-12-19 15:07] twan-dev opened #251 "Research Summary: Networks of Ethereum Non-Fungible Tokens: A graph-based analysis of the ERC-721 ecosystem"
Author: Dimitar @stayhungry07212

Estimated date of completion: Jan 10th

Link to Paper: https://arxiv.org/pdf/2110.12545.pdf

Link to working draft: https://docs.google.com/document/d/1bQERo2rMSK0_AHcpCtrHQKLv-ACspwgerMUDs_grvjA/edit

Source of approval: RP 37 11/01/21. Call for summaries.

[2021-12-19 15:16] twan-dev commented on #251
- [x] SCRF has been notified to onboard the author
- [x] The ticket contains the following information
   - [x] An estimated date of completion
   - [x] Link to paper
   - [x] Link to draft
   - [x] Source of approval
- [x] Author does not already have another working document in Drafting

[2021-12-20 07:20] twan-dev commented on #156
Closing because next steps were not approved.

[2021-12-20 07:20] #156 closed

[2021-12-20 09:50] amitk2-cmu commented on #211
Looks complete to me, thanks Twan.

[2021-12-20 09:51] amitk2-cmu commented on #211
Peer review complete.

[2021-12-20 09:58] twan-dev commented on #211
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2021-12-21 04:28] taylorzhancher commented on #233
- [x]  All comments from Peer Reviewers have been discussed and addressed by authors.
- [x]  All suggestions provided by Peer Reviewers have been resolved.

[2021-12-21 04:29] twan-dev commented on #233
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2021-12-21 06:03] twan-dev opened #252 "Research Summary: What is in Your Wallet? Privacy and Security Issues in Web 3.0"
Author: Tolulope @RuthTolulope

Estimated date of completion: Dec 21, 2021

Link to Paper: https://arxiv.org/pdf/2109.06836.pdf

Link to working draft: https://docs.google.com/document/d/1kL1jTsnHeO6ooLbzpCFXI7bsYrfh6ZpAk3foSCwACS8/edit#heading=h.lowoyng9mbn0

Source of approval: RP 31 09/20/21. Mentorship Program 2021.

[2021-12-21 06:06] twan-dev opened #253 "Research Summary: Towards A first step to understand flash loan and its application in Defi Ecosystem"
Author: Samuel @samuelngwu

Estimated date of completion: TBD

Link to Paper: https://yajin.org/papers/flashloan.pdf

Link to working draft: TBD

Source of approval: RP 15 05/28/21. Mentorship Program 2021.

[2021-12-21 06:08] twan-dev opened #254 "Research Summary: A Decentralized Framework for Patents and Intellectual Property as NFT in Blockchain Networks"
Author: Faith @Fizzymidas

Estimated date of completion: Dec 30, 2021

Link to Paper: https://assets.researchsquare.com/files/rs-951089/v1_covered.pdf?c=1633465371

Link to working draft: https://docs.google.com/document/d/1hnvprMUY2DjqzifFRFAphMNqqpt_pEJANI8f3nBYNcc/edit

Source of approval: RP 35 10/18/21. Mentorship Program 2021.

[2021-12-21 06:58] twan-dev commented on #252
- [x]  SCRF has been notified to onboard the author
- [x]   The ticket contains the following information
   - [x]  Author
   - [x]  An estimated date of completion
   - [x]  Link to paper
   - [x]  Link to draft
   - [x]  Source of approval
- [x]   Author does not already have another working document in Drafting

[2021-12-22 05:51] twan-dev commented on #155
@SethAustinHarding Let us know in the document the intended category and appropriate tags to this summary. Please also review the edits and suggestions. If it looks good to you the draft should be ready for another FCR.

[2021-12-22 07:41] twan-dev commented on #252
Waiting for Deane to review.

[2021-12-22 08:38] twan-dev commented on #155
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2021-12-22 16:26] eleventh19 commented on #220
this one got canceled

[2021-12-23 00:02] twan-dev commented on #234
- [x] All fields described in the Template for that content type have been filled out.
- [x] If there exists an available Peer Reviewer, PM has notified them of this draft.
- [x] Complete a first Grammarly check.
- [x] Ensure that the document adheres to the style guide and is formatted correctly.

[2021-12-23 08:20] twan-dev commented on #253
- [x] SCRF has been notified to onboard the author
- [x] The ticket contains the following information
   - [x] Author
   - [x] An estimated date of completion
   - [x] Link to paper
   - [x] Link to draft
   - [x] Source of approval
- [x] Author does not already have another working document in Drafting

[2021-12-23 10:41] twan-dev commented on #238
- [x]  SCRF has been notified to onboard the author
- [x]  The ticket contains the following information
   - [x]  An estimated date of completion
   - [x]  Link to paper
   - [x]  Link to draft
   - [x]  Source of approval
- [x]  Author does not already have another working document in Drafting

[2021-12-23 15:01] twan-dev commented on #252
- [x] All fields described in the Template for that content type have been filled out.
- [x] If there exists an available Peer Reviewer, PM has notified them of this draft. (@amitk2-cmu)
- [x] Complete a first Grammarly check.
- [x] Ensure that the document adheres to the style guide and is formatted correctly.

[2021-12-23 18:31] ivanplazacic commented on #216
Here is the link to the edit:

https://drive.google.com/file/d/1mTQr4qGH6O0VXEfHawjOQWODCgDyIsy8/view?usp=sharing

[2021-12-24 11:23] LTTOguns commented on #250
Thank you @twan-dev I submitted it to Deane on the 18th. I believe I am to await his review. I will await.

[2021-12-25 00:26] twan-dev commented on #254
- [x]  SCRF has been notified to onboard the author
- [x]  The ticket contains the following information
   - [x]  Author
   - [x]  An estimated date of completion
   - [x]  Link to paper
   - [x]  Link to draft
   - [x]  Source of approval
- [x]   Author does not already have another working document in Drafting

[2021-12-25 04:35] twan-dev commented on #236
@ralphlombreglia Left a few comments. Moving to next stage after this is resolved (probably after the holiday ends).

[2021-12-26 07:05] EasonC13 commented on #241
[Update Estimate Time of completion]

There is a disturbed from SCRF's program.
Therefore I halt this summary for a while and now I'm working on my final.
Plan to complete this summary before Jan 25.

[2021-12-27 10:10] flyinglimao commented on #203
Sorry for the delay...😅
https://docs.google.com/document/d/12HQc21O-FGDuEd9ZJ8vuWob2WUnCxvQbTqZBB9-cgzg/edit?usp=sharing

[2021-12-27 19:34] jamesmcgirk opened #255 "hjbhjbh"

[2021-12-27 19:47] #255 closed

[2021-12-28 06:34] amitk2-cmu commented on #252
peer review complete

[2021-12-29 20:08] samuelngwu commented on #253
@twan-dev  I worked on the comment made by Deane. I don't know if he has to get back to me before you can commence work otherwise you are free to start work on it.

[2021-12-29 20:13] samuelngwu commented on #186
@jamesmcgirk  I wish to ask about the status of my research summary

[2021-12-29 20:33] jamesmcgirk commented on #186
@twan-dev do you mind updating @samuelngwu? Looks like he's taken care of all of his edits, my guess is that it's ready for @zubepaul

[2021-12-31 08:43] samuelngwu commented on #186
@jamesmcgirk I wish to know the status of my research summary on "Blockchain Technology: Data Privacy Issues and Potential Mitigation Strategies". I guess the whole process has taken up to 4months or more. Are there things i need to do?

[2021-12-31 09:50] twan-dev commented on #186
@jamesmcgirk @samuelngwu I think SCRF is closed for the holiday and that's the reason it's not proceeding yet.

[2021-12-31 09:58] twan-dev commented on #186
and no...I don't think we're waiting anything from your end.

[2021-12-31 10:13] Astridchou commented on #233
@twan-dev I have finished the comments.

[2021-12-31 14:07] twan-dev commented on #233
I don't think anyone has touched your draft in 10 days. Are you referring to #236 ?

[2021-12-31 14:10] twan-dev commented on #236
- [x] All fields described in the Template for that content type have been filled out.
- [x] If there exists an available Peer Reviewer, PM has notified them of this draft.
- [x] Completed a first Grammarly check or reviewed by an editor.
- [x] Ensure that the document adheres to the style guide and is formatted correctly.

[2021-12-31 15:13] jamesmcgirk commented on #186
Please see my note above!

[2021-12-31 17:15] Astridchou commented on #233
Yes, I am referring to #236. Thanks for your clarification.

[2022-01-01 04:52] twan-dev commented on #252
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

Deane has also reviewed it.

[2022-01-02 03:53] twan-dev commented on #253
- [ ] The summary is compliant with the running summary template
- [ ] A spelling and grammar check is complete
- [ ] If there exists an available Peer Reviewer, PM has notified them of this draft.

Currently waiting for the author to finish the first item on the list

[2022-01-02 03:54] twan-dev commented on #238
- [ ] The summary is compliant with the running summary template
- [x] A spelling and grammar check is complete
- [ ] If there exists an available Peer Reviewer, PM has notified them of this draft.

Currently waiting for the author to finish the first item on the list.

[2022-01-02 03:55] twan-dev commented on #254
Currently waiting for the author to finish the first draft. She has been tied up with private things, and will update the estimated date of completion once it is possible.

[2022-01-02 03:58] twan-dev commented on #215
- [ ] The summary is compliant with the running summary template
- [ ] A spelling and grammar check is complete
- [ ] If there exists an available Peer Reviewer, PM has notified them of this draft.

Currently waiting for the author to finish the first item on the list.

[2022-01-02 03:59] twan-dev commented on #203
- [ ] The summary is compliant with the running summary template
- [ ] A spelling and grammar check is complete
- [ ] If there exists an available Peer Reviewer, PM has notified them of this draft.

Currently waiting for the author to finish the first item on the list.

[2022-01-03 12:51] 29988122 commented on #215
@twan-dev , this one is complete, please check if there's any tickboxes that I'm missing, except:
- I can't seem to find the latest summary template (the one asked you to follow specific bullet point format), this one's on me. I'll be changing them after I got the templete. Sorry.
- Grammarly check is completed
- As previously mentioned in this ticket, either Chris Bates or Ming Fong Sie can revie

[2022-01-03 13:17] twan-dev commented on #215
@29988122 No worries. I'll answer all your questions with DM.

[2022-01-03 15:49] cipherix commented on #211
Excellent summary @twan-dev -- moving it to Editorial Review @jamesmcgirk

[2022-01-03 19:55] jamesmcgirk commented on #152
@Astridchou see Paul's note above, you're welcome to publish

[2022-01-03 20:01] zubepaul commented on #186
Reassigning engagement to @ralphlombreglia. Review should be completed by January 5, 2021. Engagement review approved to publish no sooner than January 5, 2021. @twan-dev @samuelngwu

[2022-01-03 21:39] jamesmcgirk commented on #235
@Fizzymidas thanks for reviewing my edits! I'll do one last read when you're done cc'd to @twan-dev

[2022-01-04 11:17] samuelngwu commented on #186
Great to hear this.

Thank you

Samuel

On Mon, 3 Jan 2022, 21:01 zubepaul, ***@***.***> wrote:

[2022-01-04 12:58] twan-dev opened #256 "Research Summary: Formalization of the model of under-collateralization"
Author: @cryptomarabout

Estimated date of completion: TBD

Link to Paper: https://fc22.ifca.ai/preproceedings/71.pdf

Link to working draft: https://docs.google.com/document/d/1-JvBS7Ky5621odG1slBzX6_ag_Yvj1427Klo91SBq1w/edit

Source of approval: RP 46

[2022-01-04 20:40] ralphlombreglia commented on #186
Hi @samuelngwu. I've made a few very minor grammatical edits to your research summary. Would you please read through it and accept them?

Also, in the GTM document for this summary we have some "questions to spur further discussion." You will be expected to reply to these questions. In case you can't see that document, the questions are:

1) Are there any applications of smart contracts that are o

[2022-01-04 20:46] jamesmcgirk commented on #211
@twan-dev made a couple of minor changes, and added the GtM questions

[2022-01-04 20:58] jamesmcgirk commented on #235
@Fizzymidas added the GtM questions and a few tiny changes

[2022-01-05 00:46] twan-dev commented on #256
- [x] Onboarding is either acknowledged or complete
- [x] The ticket contains the following information
   - [x] Author
   - [x] An estimated date of completion
   - [x] Link to paper
   - [x] Link to draft
   - [x] Source of approval
- [x] Author does not already have another working document in Drafting

[2022-01-05 11:32] Astridchou commented on #152
@jamesmcgirk Thanks for your reminder. I can't get in the google doc, so I'm asking for its access right now.

[2022-01-05 11:51] Astridchou commented on #152
I have published it. Big thanks to everyone who makes this completed.

[2022-01-05 14:10] samuelngwu commented on #253
@twan-dev What "item on the list" am i suppose to finish

[2022-01-05 14:17] twan-dev commented on #253
As explained in my email to you, the summary isn't compliant with the running template. Feel free to reply to the email so that I can clarify if anything is unclear.

[2022-01-05 17:44] samuelngwu commented on #253
This is your last email with me and from the content, you said the summary
is compliant with the running summary template.

Maybe you can guide me on the missing line.

Thank you
Samuel

On Sun, Jan 2, 2022 at 4:54 AM twan-dev ***@***.***> wrote:

[2022-01-05 22:24] samuelngwu commented on #186
@ralphlombreglia  I have taken note of the questions and will reply accordingly.

[2022-01-05 22:50] samuelngwu commented on #186
@ralphlombreglia
1. It depends on case by case basis as no one blockchain technology is the same. However, it has been suggested that it is easier to have private-permissioned blockchain that is compliant with GDPR than public permissionless blockchain.
2. There is none that I know about and this could be as a result of controversy and divergent intepretations amongst supervisory authorities.  I b

[2022-01-06 05:14] twan-dev commented on #253
@samuelngwu  Sure. I'll send you another email.

[2022-01-06 16:15] twan-dev opened #257 "Research Summary: The Dissensus Protocol: Governing Differences in Online Peer Communities"
Author: (Onboarding)

Estimated date of completion: TBD

Link to Paper: https://www.frontiersin.org/articles/10.3389/fhumd.2021.641731/full

Link to working draft: https://docs.google.com/document/d/1LClQyQmgE2ZglTXKSlVJ3Pjd-7uWhhWCV_5MOSnICyY/edit

Source of approval: RP 22. Call for summaries.

[2022-01-06 16:16] twan-dev commented on #257
- [ ]  Onboarding is either acknowledged or complete
- [ ]  The ticket contains the following information
   - [ ]  Author
   - [ ]  An estimated date of completion
   - [x]  Link to paper
   - [x]  Link to draft
   - [x]  Source of approval
- [ ]   Author does not already have another working document in Drafting

[2022-01-06 19:29] ralphlombreglia commented on #186
Thanks @samuelngwu. I'll start the process of publishing your summary.

BTW, when I said you'd need to reply to those questions, I meant **in the actual summary** after it's published. Someone on SCRF's staff will ask those questions in the comments section as a way to get discussion going. Then, with any luck, there will be additional comments that you can also respond to. This overall "engagemen

[2022-01-06 19:41] ralphlombreglia commented on #186
@zubepaul Engagement review is now complete.

[2022-01-07 03:34] ivanplazacic commented on #214
Here is the link to the edit with the **first revision**:

https://drive.google.com/file/d/1eqP-yTdZhhNRQL77xaSK6z8JWBYE11rv/view?usp=sharing

[2022-01-07 08:26] samuelngwu commented on #186
Thank Ralph.

On Thu, Jan 6, 2022 at 8:29 PM ralphlombreglia ***@***.***>
wrote:

[2022-01-07 16:29] zubepaul commented on #186
@twan-dev Engagement review complete. Can be published no earlier than January 7th @samuelngwu

[2022-01-09 19:22] ivanplazacic commented on #216
Here is the link to the edit with the first revision:

https://drive.google.com/file/d/1mTQr4qGH6O0VXEfHawjOQWODCgDyIsy8/view?usp=sharing

[2022-01-10 08:23] samuelngwu commented on #186
Hello, Zubepaul.
Goodmorning and trust thie email finds you well.
I wish to ascertain if the summary has been published.

Thank you
Samuel

On Fri, Jan 7, 2022 at 5:29 PM zubepaul ***@***.***> wrote:

[2022-01-10 17:55] zubepaul commented on #186
Hello @samuelngwu
You are approved to post your summary. We want to make sure that you are getting credit for your content. Make sure that the formatting remains how you intend for it to look once you put it on the forum.

[2022-01-11 09:34] ivanplazacic commented on #217
Here is the link to the edit with the first revision:

https://drive.google.com/file/d/134RL3xSHMllNlg5TpZMw6Vh9K26WgWdW/view?usp=sharing

[2022-01-11 22:07] Fizzymidas commented on #235
Are all the GTM to be answered?

I am done with them now. Please, proceed.
@jamesmcgirk
@twan-dev

[2022-01-11 22:29] jamesmcgirk commented on #235
@zubepaul nb

[2022-01-12 15:15] twan-dev commented on #251
- [ ]  The summary is compliant with the running summary template
- [ ]  A spelling and grammar check is complete
- [x]  If there exists an available Peer Reviewer, PM has notified them of this draft. @ralphlombreglia

First item almost finished.

[2022-01-12 15:35] twan-dev commented on #238
The draft also passed Deane's review over the last couple days.

[2022-01-13 14:46] zubepaul commented on #155
@zubepaul @twan-dev @marvino3 are all assigned as Engagement/GTM for this summary.

[2022-01-14 05:04] twan-dev opened #258 "Research Summary: Summarizing and Analyzing the Privacy-Preserving Techniques in Bitcoin and other Cryptocurrencies"
Author: Tolulope @RuthTolulope

Estimated date of completion: Feb 3, 2022

Link to Paper: https://arxiv.org/pdf/2109.07634.pdf

Link to working draft: https://docs.google.com/document/d/1c9qUVAkdIH5IGEvgYYkmhCwoa_VINKbWdQ8IuizkZyw/edit#

Source of approval: RP 32. Call for summaries.

[2022-01-14 07:25] Astridchou commented on #236
The format and content rewriting is finished

[2022-01-14 20:51] vincenzospaghetti commented on #246
new completion date of January 19, 2022

[2022-01-15 04:56] Fizzymidas commented on #254
This is now completed and can go to review.
@twan-dev

[2022-01-16 04:05] twan-dev commented on #254
- [ ] A first check on format and writing is complete.
- [ ] A Peer Reviewer is ready to do reviews.

[2022-01-17 10:51] twan-dev opened #259 "Research Summary: Decentralized Network Governance: Blockchain Technology and The Future of Regulation"
Author: Deborah @Debbycool

Estimated date of completion: Jan 17

Link to Paper: https://doi.org/10.3389/fbloc.2020.00012

Link to draft: https://docs.google.com/document/d/1hSyZTtcxpgps_rAHZDRCzalfPPHZsyLhufkNJ7GhTuw/edit

Source of approval: LRC

Note: This is a summary from the 2021 Mentorship Program.

[2022-01-17 10:53] twan-dev commented on #259
- [x] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
   - [x] Author
   - [x] An estimated date of completion
   - [x] Link to paper
   - [x] Link to draft
   - [x] Source of approval
- [x] Author does not already have another working document in Drafting.

[2022-01-17 10:54] twan-dev commented on #259
- [ ] A first check on format and writing is complete.
- [ ] A Peer Reviewer is ready to do reviews.

[2022-01-17 13:37] ivanplazacic commented on #218
Here is the link to the edit:

https://drive.google.com/file/d/1SnaCRHUblXTpoIJA6Qlwx4P2gO9jfMPZ/view?usp=sharing

[2022-01-18 07:17] twan-dev commented on #258
- [x] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
   - [x] Author
   - [x] An estimated date of completion
   - [x] Link to paper
   - [x] Link to draft
   - [x] Source of approval
- [x] Author does not already have another working document.

[2022-01-18 08:07] twan-dev commented on #171
@Astridchou Please publish soon!

[2022-01-18 11:09] Astridchou commented on #171
Published!

[2022-01-18 14:51] 29988122 commented on #215
Done editing. There's nothing else can be done for the result part filling of figures and graphs - that's the MAIN CONTENTS to this paper, the text sentences are just supplimentary.

Please let me know here if there's anything else not following the summary template, or we could advanced to the peer review stage hopefully.

[2022-01-18 17:22] 29988122 commented on #230
Progess report.
[code]
Link's the same.

Be advised: this paper is of mid-low quality, with numerous outrageous "suggestions" and "findings".
However, considering that:
1. This is the FIRST ATTEMPT from us gov, to use blockchain to experiment on voting
2. The penetration testing and audit done by UCCS, although immature, are still a very interesting case, on "how will a team fail on adopting block

[2022-01-18 17:56] ivanplazacic commented on #214
Here is the link to the audio version of the episode:

https://drive.google.com/file/d/1lsafqGbSc8KaE2sNTOVJrN1XrLNo2A7m/view?usp=sharing

[2022-01-18 17:59] zubepaul commented on #155
@SethAustinHarding The GTM questions have been added to the top of your summary draft document. As you are working through the review stages, please answer these questions as best as possible to help generate a strategy to engage with the research you are summarizing. Please tag me when you have initially answered them or have questions.

[2022-01-19 00:16] twan-dev commented on #230
You're not working on this until the other 2 drafts are finished.

[2022-01-19 02:41] 29988122 commented on #230
I disagree.

The "people shouldn't be working on multiple drafts at once" rule applies to those who don't finish them and use them as excuse to cheat money from SCRF.

This is a 100% finished **draft**, there's nothing more can be done on my side.

As a helper, a PM, you can either:
- Raise format suggestions, we'll see if they make sense or not, I'm open to it as that's what we've already done.
-

[2022-01-20 08:30] Tony363 commented on #245
Sorry, my finals and semester projects took time away from me and my semester ended before I knew it. Ill change the Estimated date of completion to 1 month from now.

[2022-01-21 19:40] zubepaul commented on #235
@twan-dev @Fizzymidas Approved for publishing no sooner than January 21, 2022

[2022-01-21 19:43] zubepaul commented on #211
@twan-dev Have GtM questions been addressed on this yet? And are you reading to move through engagement process?

[2022-01-22 01:54] twan-dev commented on #211
@zubepaul yes, since Jan 5 I think

[2022-01-22 14:48] Tony363 commented on #245
@twan-dev I think ive finished writing my interpretation of how the draft is supposed to be like. Please check if i should move on to peer review, cut out more parts, or fix more stylings.

[2022-01-22 15:51] twan-dev commented on #245
- [x] A first check on format and writing is complete.
- [ ] A Peer Reviewer is ready to do reviews.

[2022-01-22 21:27] ivanplazacic commented on #219
Here is the link to the edit:

https://drive.google.com/file/d/1OUH49cQ1KY4UzUxG9xjiiRcQVFQ09kpm/view?usp=sharing

[2022-01-27 02:13] zubepaul commented on #211
@twan-dev Engagement review complted. This can be posted to the forum no sooner than January 27th, 2022

[2022-01-27 22:17] cipherix commented on #252
Excellent job on this @twan-dev. Moving to Editorial Review.

[2022-01-28 16:55] cipherix commented on #233
@Astridchou -- thank you for your work on this. Left some comments for you to resolve.

[2022-01-28 16:59] cipherix commented on #155
This summary seems ready for Editorial. Thank you for working on the suggested improvements, moving to Editorial Review.

[2022-01-29 00:06] jamesmcgirk commented on #252
@ruthtolulope - nicely done! I made suggestions in the document for you to consider

[2022-01-29 02:49] twan-dev opened #260 "Research Summary: SoK: How private is Bitcoin? Classification and Evaluation of Bitcoin Mixing Techniques"
Author: Thanh @tnguyen4341

Estimated date of completion: March 14, 2022

Link to Paper: https://eprint.iacr.org/2021/629.pdf

Link to working draft: https://docs.google.com/document/d/1pE_rd6ge-GcH0ImGNQNhNnHA06gDeZP-VAvOj9jBfZE/edit#heading=h.z7faj3pzgfpb

Source of approval: RP 34. Call for Summaries.

[2022-01-29 02:53] twan-dev commented on #246
- [ ] A first check on format and writing is complete.
- [ ] A Peer Reviewer is ready to do reviews.

[2022-01-29 02:53] twan-dev commented on #257
- [ ] A first check on format and writing is complete.
- [ ] A Peer Reviewer is ready to do reviews.

[2022-01-29 10:59] RuthTolulope commented on #252
@jamesmcgirk - Thank you. Your suggestions have been reviewed and accepted. The questions from the engagement team have been responded to as well.

[2022-01-29 20:34] jamesmcgirk commented on #252
@RuthTolulope thanks so much! I've moved this into Engagement review, I'll come calling soon with questions about the GtM.

[2022-01-30 13:42] KiraTheLight commented on #223
New date of completion: 20 February 2022

[2022-01-31 14:24] RuthTolulope commented on #252
@jamesmcgirk Thank you. Looking forward to your visit with questions.

[2022-02-01 03:44] EasonC13 commented on #241
[Update Estimate Time of completion]

Plan to finish before Fab 18.

[2022-02-01 15:20] zubepaul commented on #211
@twan-dev Reminder that this is clear to be published at this point.

[2022-02-01 19:06] jamesmcgirk commented on #155
@SethAustinHarding looks good, a few edits for you to check. Looking forward to the GtM answers but saw your note re: 2/8 date

[2022-02-01 21:47] RuthTolulope commented on #258
@twan-dev - the first draft of the summary is ready. Thank you.

[2022-02-02 09:36] twan-dev commented on #258
- [ ] A first check on format and writing is complete.
- [ ] A Peer Reviewer is ready to do reviews.

[2022-02-03 23:10] muhammad-scrf commented on #250
Peer Review Complete

[2022-02-04 20:02] ralphlombreglia commented on #252
@RuthTolulope I have made a GtM for "What is in your wallet?" and would like your reactions to it.

https://docs.google.com/document/d/1dRHSaxljNBdFnw6yh_qltlM6L24yCAI2U1Is82f7cEM/edit#

After you've read it we can have a video meeting (if the hours work out) or we can do an asynchronous Discord chat. Let me know your feelings about the doc first. Thanks!

[2022-02-05 19:26] RuthTolulope commented on #252
@ralphlombreglia Thank you for the GtM. I don’t have access to the doc. Could you please grant access -I sent a request already! Thanks.

[2022-02-05 21:39] ralphlombreglia commented on #252
Hi. Sorry for the delay. I’ve now shared the GtM doc. Let me know if you have any problems.

Ralph

[2022-02-06 16:12] twan-dev commented on #250
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2022-02-07 07:58] twan-dev commented on #260
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Author
   - [x]  An estimated date of completion
   - [x]  Link to paper
   - [x]  Link to draft
   - [x]  Source of approval
- [x]  Author does not already have another working draft.

[2022-02-07 14:40] twan-dev commented on #246
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

I reviewed the summary and it's ready to go : )

[2022-02-07 15:55] ralphlombreglia commented on #222
We asked @Tony363 to do a revision of the paper to bring it up to SCRF's 2022 standards.
He has now completed that revision. I've reviewed it and it looks good to me.

[2022-02-07 18:15] ralphlombreglia commented on #252
@twan-dev @RuthTolulope I have now read through Tolu's "What is in your wallet?" summary, and I feel it's ready to be published. If you agree that it's ready, Twan, Tolu tells me that she wasn't ever instructed in the publishing process. Can you help her with this, or should I get James or Paul to oversee this?

[2022-02-07 23:59] twan-dev commented on #252
We will talk about this in DMs 🙂

[2022-02-08 00:51] Tony363 commented on #222
@ralphlombreglia I have revised and posted the revision of "Do you need a Blockchain?" on the forum.

[2022-02-08 00:52] #222 closed

[2022-02-08 08:00] RuthTolulope commented on #252
@ralphlombreglia I'm ready to post, what is a good time?

[2022-02-08 16:13] twan-dev commented on #257
- [x]  All comments from Peer Reviewers have been discussed and addressed by authors.
- [x]  All suggestions provided by Peer Reviewers have been resolved. (reviewed by @twan-dev)

[2022-02-09 17:33] jamesmcgirk commented on #155
@SethAustinHarding any update on the GtM questions?

[2022-02-10 05:59] SethAustinHarding commented on #155
@jamesmcgirk yes - only the first question has been answered so far, but Cindy and I will be meeting on the 20th (10 days) to answer the remaining questions.

[2022-02-10 14:08] zubepaul commented on #252
@twan-dev @RuthTolulope Engagement review completed. This can be posted no sooner than February 10, 2022

[2022-02-10 15:47] RuthTolulope commented on #252
@zubepaul @twan-dev Thanks! The research summary has been posted.

[2022-02-14 11:27] #209 closed

[2022-02-14 20:58] cipherix commented on #233
Any updates on this @Astridchou ?

[2022-02-14 21:30] cipherix commented on #257
Very interesting summary. You did a good job for the first run @pvblick-vniversal-friend, I appreciated how complete the background section is. Please take a look at the comments posted there.

[2022-02-15 21:40] twan-dev opened #261 "Research Summary: A Systematic Literature Review on Blockchain Governance"
Author: Austin @Austinjul

Estimated date of completion: Feb 26, 2022

Link to Paper: https://arxiv.org/pdf/2105.05460.pdf

Link to working draft: https://docs.google.com/document/d/1yr0B1-b0UXNqh184_0EAutKr4AytdQd-d_t9NWY6rPA/edit

Source of approval: RP 14. Call for Summaries.

[2022-02-16 02:09] Astridchou commented on #233
@cipherix Thanks for your comments. And @twan-dev  thank you for your concern. I'm resolving them now. I'm very sorry about the late, one of my family members got burnt, I have to look after her, so I have only a little time to do this recently. But I'll finish it soon.

[2022-02-16 22:35] twan-dev commented on #253
- [x] A first check on format and writing is complete.
- [x] A Peer Reviewer is ready to do reviews. (@mokawi)

[2022-02-17 19:45] twan-dev commented on #245
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2022-02-18 07:12] Astridchou commented on #233
@cipherix @twan-dev  I have resolved all comments and left some responses. Thank you!

[2022-02-18 23:13] pvblick-vniversal-friend commented on #257
@cipherix I replied to these comments and I am awaiting some final feedback.

[2022-02-19 02:41] KiraTheLight commented on #223
New date of completion: 30 April 2022

[2022-02-20 23:21] twan-dev commented on #251
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2022-02-22 09:51] tebogonong opened #262 "Research Summary: Research and Development of Blockchain Recordkeeping at the National Archives of Korea"
Description:

Estimated date of completion: 22 February 2022

Link to Paper:
https://doi.org/10.3390/computers10080090

Link to working draft:
https://docs.google.com/document/d/1AFfhhUgVYIg0TKR0G3jIY-Oc2kaCuaC04Gi_lY_eYj0/edit

Source of approval:
Chris Bates

[2022-02-22 10:33] SethAustinHarding commented on #155
This has been delayed by several days - Cindy has a Google interview and her birthday is today, just as her thesis's final copy is being prepared...

[2022-02-23 02:59] zubepaul commented on #155
Thanks for completing the GtM questions. I have started the GtM doc and will reach out to @SethAustinHarding to set up the review meeting. @marvino3 This is the stage that you potentially wanted to be part of, correct?

[2022-02-23 06:35] twan-dev commented on #238
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2022-02-23 16:46] Coinproz opened #263 "t"

[2022-02-23 17:19] jamesmcgirk commented on #262
@tebogonong did you mean to close this?

[2022-02-23 17:22] tebogonong commented on #262
Greetings James

May I please have a google meets meeting with you where I share my screen. I’m struggling to add my issue to the normal content pipeline. It’s meant to go to the peer review stage but certain heading aren’t coming up on my end.

Warmest regards
Tebogo

Sent from my iPhone

[2022-02-23 17:23] jamesmcgirk commented on #262
Sure! Let me just see if I can take care of it first -- I think the problem may be that @twan-dev has to approve new issues

[2022-02-23 17:30] jamesmcgirk opened #264 "Research Summary: Research and Development of Blockchain Recordkeeping at the National Archives of Korea"
Description:

Estimated date of completion: 22 February 2022

Link to Paper:
https://doi.org/10.3390/computers10080090

Link to working draft:
https://docs.google.com/document/d/1AFfhhUgVYIg0TKR0G3jIY-Oc2kaCuaC04Gi_lY_eYj0/edit

Source of approval:
Chris Bates

[2022-02-23 17:32] Coinproz commented on #264
Not sure if Tebogo has proper permissions

[2022-02-23 17:32] jamesmcgirk commented on #264
@tebogonong - I've recreated your card here

[2022-02-23 17:34] jamesmcgirk commented on #262
Closing this, because I created a new ticket for @tebogonong on the content pipeline https://github.com/smartcontractresearchforum/research_content/issues/264

[2022-02-23 17:34] #262 closed

[2022-02-23 17:44] jamesmcgirk commented on #264
@twan-dev - Chris has checked this, and it is ready for Peer Review

[2022-02-24 20:55] cipherix commented on #233
Thanks Astrid -- moving to editorial review.

[2022-02-24 20:57] cipherix commented on #246
FCR suggestions have been resolved -- moving it to Editorial Review.

[2022-02-24 21:00] cipherix commented on #257
Thank you for the additions -- sections look clearer, I'll move it to Editorial Review.

[2022-02-24 21:46] cipherix commented on #250
Left some comments for you there @LTTOguns

[2022-02-25 11:56] jamesmcgirk commented on #233
@Astridchou I did an editing pass, let me know when you're done and I'll have another look

[2022-02-25 13:50] jamesmcgirk commented on #246
@vincenzospaghetti nice work on this one! I made a few edits and notes for you to review

[2022-02-25 14:33] twan-dev opened #265 "Research Summary: SoK: Blockchain Governance"
Author: Fotis @pvblick-vniversal-friend

Estimated date of completion: April 28, 2022

Link to Paper: https://arxiv.org/abs/2201.07188

Link to working draft: https://docs.google.com/document/d/1YLSSBcYscHombzlMrG80hNZ8h_rJSDUKeq5L66CP2xY/edit?usp=sharing

Source of approval: RP 49

[2022-02-25 19:09] zubepaul commented on #155
GtM Complete. Reading to schedule meeting with researchers @SethAustinHarding

[2022-02-26 02:41] #249 closed

[2022-02-26 16:43] pvblick-vniversal-friend commented on #257
@jamesmcgirk I corrected them and resolved the comments.

[2022-02-28 13:09] jamesmcgirk commented on #246
@vincenzospaghetti did a second pass of edits, and @zubepaul added the gtm questions

[2022-02-28 20:05] jamesmcgirk commented on #257
@pvblick-vniversal-friend I included questions from the marketing team -- these won't go in the final version of the forum, instead we'll use them to make comments and create social media

[2022-03-01 03:17] cipherix commented on #238
Well done @tomideadeoye. Made a few minor changes. I appreciate the graphic you've created -- please post it as a response to the summary once posted. Moving it to editorial.

[2022-03-01 03:24] cipherix commented on #245
This was your best summary thus far, @Tony363 :)

Made some minor changes. Your background section was complete, but it seems like a couple of items need a bit more context for first-time readers.

[2022-03-01 11:23] EasonC13 commented on #241
Working on it now. I Will complete this within a few days.

[2022-03-01 14:18] jamesmcgirk commented on #246
@twan-dev @zubepaul GtM questions are complete. Assigned myself as a moderator. Moved to engagement

[2022-03-01 20:50] jamesmcgirk commented on #246
@zubepaul ready for publication unless @twan-dev you'd like to review before

[2022-03-01 21:32] zubepaul commented on #246
@vincenzospaghetti @twan-dev Engagement review completed and is clear for publication no sooner than March 2, 2022

[2022-03-02 19:08] jamesmcgirk opened #266 "Research Summaries: A sample"
Description of why you want to write this

A link to the article

A link to your document in progress

[2022-03-02 19:10] jamesmcgirk commented on #266
approved for drafting

[2022-03-02 19:23] #266 closed

[2022-03-03 06:18] twan-dev commented on #261
- [ ]  A first check on format and writing is complete.
- [ ]  A Peer Reviewer is ready to do reviews.

[2022-03-03 14:26] zubepaul commented on #155
@twan-dev @SethHasi Engagement review completed. During review, a few additional typos were found, but will be corrected prior to publication. Approved for publication on forum no sooner than March 4, 2022

[2022-03-04 04:44] twan-dev commented on #241
- [ ]  A first check on format and writing is complete.
- [ ]  A Peer Reviewer is ready to do reviews.

[2022-03-04 14:43] pvblick-vniversal-friend commented on #257
@jamesmcgirk Done!

[2022-03-04 16:03] jamesmcgirk commented on #238
@tomideadeoye I went through and switched to American English and made a few more corrections (and ran Grammarly). Please answer the GtM questions, next step is a brief interview by the engagement team cc'd @zubepaul

[2022-03-04 19:27] zubepaul commented on #233
@jamesmcgirk assigned as engagement team member.

[2022-03-04 19:38] zubepaul commented on #250
@ralphlombreglia assigned as engagement team reviewer

[2022-03-04 19:48] zubepaul commented on #245
@jamesmcgirk assigned for engagement review.

[2022-03-04 19:48] zubepaul commented on #251
@jamesmcgirk assigned for engagement review

[2022-03-04 19:49] zubepaul commented on #238
@jamesmcgirk assigned for engagement review

[2022-03-04 20:05] ralphlombreglia commented on #257
@pvblick-vniversal-friend Hi Fotis. I'm doing moderation/engagement work on your piece. I've read both the summary and the original paper, and I think I understand the issues well enough to proceed. I'd like to have a brief interview with you (text or video) to hear about any issues or opportunities from your side, and then we'll get this summary published. I believe you live in Greece? I'm in PST

[2022-03-06 01:56] cipherix commented on #251
This summary looks ready for editorial review, thank you @stayhungry07212 for your work on this.

[2022-03-06 02:05] cipherix commented on #245
@Tony363 please address the comment on the background section whenever possible so that we can move forward with this :)

[2022-03-06 02:06] cipherix commented on #250
Thank you @LTTOguns -- moving to Editorial.

[2022-03-06 03:28] Tony363 commented on #245
I may need some time before I can finish up the fcr and the engagement as well. A new semester has started, alot of courses require alot scholastic wrote memorization, my personal research projects  and new projects are demanding more of me. Theres also my next semester exchange administrative documents that I have to deal with.... For some reason, these came all at once while having me little to

[2022-03-07 16:40] vincenzospaghetti opened #267 "Research Summary: A Short Survey on Business Models of Decentralized Finance (DeFi) Protocols"
Author: Valerie @vincenzospaghetti

Estimated date of completion: April 1, 2022

Link to Paper: https://arxiv.org/pdf/2202.07742.pdf

Link to working draft: https://docs.google.com/document/d/1gQ1IL-O7DRRL4Id0D2wrVQmRgj3N0PSciyj9sr6JT6k/edit

Source of approval: RP # 54

[2022-03-08 04:28] twan-dev commented on #267
- [x] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
   - [x] Author
   - [x] An estimated date of completion
   - [x] Link to paper
   - [x] Link to draft
   - [x] Source of approval
- [x] Author does not already have another working document.

[2022-03-09 12:44] jamesmcgirk commented on #251
@stayhungry07212 nice work, I barely made any edits. Posted the GtM questions for you to answer.cc'd to @zubepaul

[2022-03-09 16:16] jamesmcgirk commented on #250
@LTTOguns I made a couple of edits and a few suggestions for the TLDR and places to add slightly different definitions. Let me know when you're done and I'll make another pass

[2022-03-09 18:17] LTTOguns commented on #250
@jamesmcgirk Thank you so much. I will do that and revert.

[2022-03-11 10:58] jamesmcgirk commented on #250
@LTTOguns I made a few more changes, mostly shortening your definitions of smart contracts and Ethereum blockchain. I also rephrased the Rarible 98.14% wash-trade section, my read of it was that they were saying "Of the reports that were flagged, 98.14% belonged to Rarible because they give tokens for each trade. OpenSea accounted for 1.87% of the total, and SoRare was the remainder." If that's wr

[2022-03-11 13:14] LTTOguns commented on #250
@jamesmcgirk, I understand and appreciate the caution. I have edited it. Please help to take another pass through the document. Thank you.

[2022-03-11 13:50] jamesmcgirk commented on #250
@LTTOguns this is looking much better, GtM questions are complete, moving this into Engagement review cc @zubepaul @ralphlombreglia

[2022-03-11 15:31] jamesmcgirk commented on #233
@Astridchou let me know if you need a hand!

[2022-03-11 16:03] ralphlombreglia commented on #250
Hi @LTTOguns. I've been assigned as the engagement / moderation person for your summary. I'd like to have a 15-30 minute conversation to make sure we're coordinated. I'm presently in PST time, which I believe is 9 hours behind you. Please let me know what would be a convenient day / time for you to talk. Thanks.

[2022-03-11 17:49] zubepaul commented on #257
@twan-dev @pvblick-vniversal-friend Engagement review completed. Can be published to the forum no sooner than March 11th, 2022

[2022-03-11 18:38] ralphlombreglia commented on #250
@zubepaul I have now completed the GtM document.

[2022-03-12 10:05] LTTOguns commented on #250
@ralphlombreglia Thank you so much. How about 8pm my time today; that should be 11am your time. If that is not convenient for me please let me know what time range works for you, and will make it work. Thank you.

[2022-03-12 14:54] ralphlombreglia commented on #250
@LTTOguns Just to be clear: You're talking about today meaning Saturday, correct? If so, yes I can do that. Are you on SCRF's Discord server? I can't find you there. If you are, would you please send me a friend request at @ralph? If you're not on Discord (and you should be), for today we can use Google Meet. But let me know.

[2022-03-12 17:10] LTTOguns commented on #250
@ralphlombreglia Yes today Saturday. I am on Discord as @Bookie

[2022-03-12 20:58] ralphlombreglia commented on #250
@zubepaul My interview with LTTOguns is complete. As of Monday 3/14/22 the piece should be ready to publish.

[2022-03-14 10:50] jamesmcgirk commented on #238
@zubepaul @twan-dev GtM complete.

[2022-03-14 16:53] zubepaul commented on #250
@twan-dev @LTTOguns  Engagement review completed, can be published no sooner than March 14th, 2022

[2022-03-14 16:54] zubepaul commented on #238
@twan-dev @tomideadeoye Engagement review completed. Can be published no sooner than March 16th 2022

[2022-03-14 19:49] jamesmcgirk commented on #233
I'll take another look before beginning the GtM

[2022-03-16 12:32] jamesmcgirk commented on #233
GTM complete @zubepaul

[2022-03-18 05:35] twan-dev commented on #260
- [ ]  A first check on format and writing is complete.
- [ ]  A Peer Reviewer is ready to do reviews.

[2022-03-20 14:33] Tony363 commented on #245
I would have to postpone my update for the final content review possibly until the end of April as I have found myself committed to several research projects that need my attention as well as a full course load and Google developer student club administrative tasks. I should have finished my midterms by the end of April and be able to indulge in the final undertakings for this research summary

[2022-03-21 09:20] jamesmcgirk commented on #251
@stayhungry07212 has completed the GtM questions, starting work on a GtM and scheduling a conversation.

[2022-03-23 03:54] twan-dev opened #268 "Research Summary: Testbed Design and Performance Analysis for Multilayer Blockchains"
Author: Seth @SethHasi

Estimated date of completion: March 22, 2022

Link to Paper: https://ieeexplore.ieee.org/document/9461103 or https://drive.google.com/file/d/1eg0QxegsCjnC7SaAy0TioCL-zAMB8dim/view?usp=sharing internally

Link to working draft: https://docs.google.com/document/d/1cRJfdum5tcCjXUL9QwlAfkNaUK0b8jkObc5TzFWE9T4/edit

Source of approval: LRC

[2022-03-23 03:55] twan-dev commented on #268
- [x]  Onboarding is either complete or waived.
- [ ]  The ticket contains the following information.
   - [x]  Author
   - [x]  An estimated date of completion
   - [x]  Link to paper
   - [ ]  Link to draft
   - [x]  Source of approval
- [x]  Author does not already have another working document.

[2022-03-23 23:51] muhammad-scrf commented on #258
@twan-dev Nearly all suggestions/concerns addressed, just a couple of small ones came up today in last batch of fixes, should be easily fixed.

[2022-03-24 01:32] twan-dev commented on #268
- [ ] The first check on format and writing is complete.
- [ ]  Peer Review is ready to start

[2022-03-24 01:34] twan-dev commented on #258
@muhammad-scrf Great! Let me know when it's ready

[2022-03-25 13:24] jamesmcgirk commented on #233
@zubepaul @twan-dev @Astridchou is this okay to publish?

[2022-03-25 14:15] cipherix commented on #245
No worries, I've made the changes in the background section myself and it looks good for Editorial Review. Tagging @jamesmcgirk for visibility

[2022-03-25 15:12] jamesmcgirk commented on #251
gtm interview complete... finishing GtM @zubepaul okay to publish on Monday?

[2022-03-28 05:23] twan-dev opened #269 "Research Summary: Three Attacks on Proof-of-Stake Ethereum"
Author: Dimitar (@stayhungry07212)

Estimated date of completion: April 28, 2022

Link to the paper: https://arxiv.org/pdf/2110.10086.pdf

Link to the draft: https://docs.google.com/document/d/1S9o4FdG5n-8CvLesl5oVtzt-u2h5XH96Uv4W8QM7yEY/edit

Source of approval: RP 36, Call for summaries

[2022-03-28 05:25] twan-dev opened #270 "Research Summary: A Formal Specification Smart-Contract Language for Legally Binding Decentralized Autonomous Organizations"
Author: Tomide (@tomideadeoye)

Estimated date of completion: April 21, 2022

Link to the paper: https://ieeexplore.ieee.org/abstract/document/9435331

Link to the draft: https://docs.google.com/document/d/1SYYAgfWyGBLzAKMZHnmjsQO1rQLbgCBGuCHot8UfKg8/edit

Source of approval: RP 15 Call for summaries

[2022-03-28 05:28] twan-dev commented on #269
- [ ] Onboarding is either complete or waived.
- [ ] The ticket contains the following information.
    - [ ] Author
    - [ ] An estimated date of completion
    - [ ] Link to paper
    - [ ] Link to draft
    - [ ] Source of approval
- [ ] The author does not already have another working document.

[2022-03-28 05:28] twan-dev commented on #270
- [ ] Onboarding is either complete or waived.
- [ ] The ticket contains the following information.
    - [ ] Author
    - [ ] An estimated date of completion
    - [ ] Link to paper
    - [ ] Link to draft
    - [ ] Source of approval
- [ ] The author does not already have another working document.

[2022-03-28 05:41] twan-dev commented on #269
@stayhungry07212 You're good to go!

[2022-03-28 05:42] twan-dev commented on #270
@tomideadeoye You're good to go!

[2022-03-29 10:50] LTTOguns opened #271 "Research Summary: A Survey of Verification, Validation and Testing Solutions for Smart Contracts"
Description: The research paper aims to (i) identify existing solutions to the vulnerability issues of smart contracts, (ii) categorize and analyze the identified solutions, and (iii) juxtapose the advantages and disadvantages of each solution. A survey is carried out on the existing verification, validation, and testing  (VV&T) solutions for Smart Contracts; comparing the solutions to reveal loop

[2022-03-29 11:02] jamesmcgirk commented on #245
@Tony363 are you going to be able to answer the GtM questions / edits? If not I can ice box this one until you're ready

[2022-03-29 11:11] Tony363 commented on #245
I have tomb sweeping holidays from april 2nd until april 10th. I should be able to answer them starting from the end of this week.

[2022-03-29 11:12] jamesmcgirk commented on #245
Thanks, @Tony363

[2022-03-29 16:07] twan-dev commented on #271
- [x] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
    - [x] Author
    - [x] An estimated date of completion
    - [x] Link to paper
    - [x] Link to draft
    - [x] Source of approval
- [x] The author does not already have another working document.

[2022-03-30 10:08] jamesmcgirk commented on #245
@Tony363 I went through this once, let me know when you get a chance to finish the GtMs and edits and I'll have a last look at it

[2022-03-30 19:58] twan-dev commented on #233
@Astridchou you should be able to publish this summary!

[2022-03-30 20:39] zubepaul commented on #251
@twan-dev @stayhungry07212 Engagement review complete, can be published no sooner than March 30, 2022

[2022-04-01 14:59] Tony363 commented on #245
@jamesmcgirk Just finished addressing the "gtm"! please check~

[2022-04-01 15:42] jamesmcgirk commented on #245
@Tony363 thanks for doing that, I think @ralphlombreglia will follow up for a gtm interview. In the meantime, I'll go through it once more. I'll flag anything that needs your attention.

[2022-04-01 21:13] ralphlombreglia commented on #245
Hi Tony. I've read through your research summary on xFuzz. I'd like to get on the phone with you sometime next week to talk through it, and your answers to our questions, etc. Give me a couple of times that would work for you. Also, I'm going to do this with Tania, a member of the engagement team who wants to understand how this whole process works.

Finally, I've spoken with @jamesmcgirk and @zub

[2022-04-01 22:40] twan-dev commented on #236
@Astridchou Please resolve the comments I left in the document, so we can move it to FCR :)

[2022-04-01 22:41] twan-dev commented on #236
@Astridchou Please resolve the comments I left in the document 2 months ago, so we can move it to FCR :)

[2022-04-01 23:11] twan-dev commented on #264
I have been available to Tebogo since Feb 28 via email, and have communicated that her summary isn't ready for peer review because the draft isn't in SCRF's drive and the content doesn't follow our guide.

This ticket also needs to be closed because it shouldn't be created or moved by James.

[2022-04-01 23:11] #264 closed

[2022-04-02 06:23] Tony363 commented on #245
@ralphlombreglia just messaged you about my availability

[2022-04-04 07:55] twan-dev commented on #265
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
    - [x]  Author
    - [x]  An estimated date of completion
    - [x]  Link to paper
    - [x]  Link to draft
    - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-04-04 08:02] twan-dev opened #272 "Research Summary: Research and Development of Blockchain Recordkeeping at the National Archives of Korea"
Author: Tebogo @tebogonong

Estimated date of completion: n/a (#195 legacy)

Link to Paper: https://doi.org/10.3390/computers10080090

Link to working draft: https://docs.google.com/document/d/12v8ssyVLbUnCmrTo33S89G53YlU5GWmcJsQ4G2xMNJw/edit

Source of approval: Legacy from #195

[2022-04-04 08:03] twan-dev commented on #272
- [ ] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
     - [x] Author
     - [x] An estimated date of completion
     - [x] Link to paper
     - [x] Link to draft
     - [x] Source of approval
- [x] The author does not already have another working document.

[2022-04-04 08:09] twan-dev commented on #272
- [ ]  A first check on format and writing is complete.
- [ ]  A Peer Reviewer is ready to do reviews.

[2022-04-04 13:07] Astridchou commented on #233
The summary has been published. Thank you all for helping this come true!

[2022-04-06 15:42] SirAh0 opened #273 "Onboarding Content for Chat (Discord) Go Live"
https://docs.google.com/document/d/1rX2Yzua2BaDn6MJqukC1FKvzEUi9yfbO/edit#heading=h.1fob9te

- [ ] 🏁-start-here content: Welcome, Useful Links, FAQ, Unlock Server

- [ ] review 📘-directory-faq descriptions for each channel.

- [ ]  Bot Message To New Users

- [ ] Pinned Messages.

[2022-04-07 17:03] twan-dev commented on #273
This should go to Research Team :)

[2022-04-07 17:03] #273 closed, assigned to zubepaul, vincenzospaghetti

[2022-04-07 17:27] #245 closed

[2022-04-08 13:02] #203 closed

[2022-04-11 17:10] zubepaul commented on #258
@ttaloute assigned for engagement review

[2022-04-14 04:50] twan-dev commented on #215
- [x]  The first check on format and writing is complete.
- [x]  Peer Review is ready to start

[2022-04-14 14:14] twan-dev commented on #236
- [x]  All comments from Peer Reviewers have been discussed and addressed by authors.
- [x]  All suggestions provided by Peer Reviewers have been resolved.

[2022-04-15 18:29] ttaloute commented on #258
@RuthTolulope I posted the GTM questions at the top of your draft.

[2022-04-16 10:38] RuthTolulope commented on #258
@ttaloute noted, thank you.

[2022-04-16 16:17] twan-dev opened #274 "Research Summary: DeFiRANGER: Detecting Price Manipulation Attacks On DeFi Applications"
Author: Tolu (@RuthTolulope)

Estimated date of completion: May 18, 2022

Link to Paper: https://arxiv.org/pdf/2104.15068.pdf

Link to working draft: https://docs.google.com/document/d/12x2vTsxB4nYQGxG_IRWyjuwAsX3BGyl-Fa4lHj-FQ5c/edit

Source of approval: RP. Call for summaries.

[2022-04-16 16:18] twan-dev commented on #274
- [x] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
   - [x] Author
   - [x] An estimated date of completion
   - [x] Link to paper
   - [x] Link to draft
   - [x] Source of approval
- [x] Author does not already have another working document.

[2022-04-16 19:33] RuthTolulope commented on #258
@ttaloute GTM completed.

[2022-04-18 13:37] jamesmcgirk commented on #254
@Fizzymidas hasn't heard from her peer reviewer, @twan-dev

[2022-04-19 12:35] twan-dev opened #275 "Research Summary: Ethereum Name Service: the Good, the Bad, and the Ugly"
Author: Favour (@Hartxyz)

Estimated date of completion: April 22, 2022

Link to Paper: https://arxiv.org/pdf/2104.05185.pdff

Link to working draft: https://docs.google.com/document/d/1zCznhBF63LS8KvSLcBLoI9aQG7H99H4m-jwt45aP3gY/

Source of approval: RP 10. Call for summaries.

[2022-04-19 12:41] twan-dev commented on #275
- [x] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
     - [x] Author
     - [x] An estimated date of completion
     - [x] Link to paper
     - [x] Link to draft
     - [x] Source of approval
- [x] Author does not already have another working document.

[2022-04-25 15:15] twan-dev commented on #271
- [x] A first check on format and writing is complete.
- [x] A Peer Reviewer is ready to do reviews.

[2022-04-27 07:17] twan-dev commented on #267
I believe the summary author is planning to close this draft and work on another one instead

[2022-04-27 07:17] #267 closed

[2022-04-27 07:17] twan-dev commented on #204
Looks like there isn't much interest in this topic. I'll move it to icebox for now.

[2022-04-27 07:19] twan-dev commented on #272
@tebogonong how are things going?

[2022-04-27 07:21] twan-dev commented on #270
@tomideadeoye is there anything I need to know :)

[2022-04-27 11:40] twan-dev commented on #271
Overall it's a very clean summary so thanks for your great work! Our general comments would be that we think the juice of the paper is how the different characteristics of VV&T solutions are compared, so the actual results after the comparison should take a slightly higher proportion in the summary. Please work on that and my other comments and it should be ready soon.

[2022-04-27 11:48] twan-dev commented on #177
This is indeed an interesting post. I'll move it to icebox until the right timing to start the project.

[2022-04-28 08:21] jamesmcgirk commented on #271
@twan-dev am I editing this one now or is this being edited by someone else?

[2022-04-28 08:43] twan-dev commented on #271
@jamesmcgirk We need Buki to make edits to her draft before moving on. You'll work with her once this hits editorial review!

[2022-04-28 21:09] LTTOguns commented on #271
Okay duly noted. Thanks @twan-dev

[2022-04-29 04:10] twan-dev commented on #275
- [x] All fields described in the Template for that content type have been filled out.
- [x] Content review is ready to take the ticket in the next round of review

[2022-04-29 10:09] tomideadeoye commented on #270
Thanks @twan-dev ... still on it (T⌓T)

[2022-05-02 14:06] twan-dev commented on #253
- [x] All comments from Peer Reviewers have been discussed and addressed by authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2022-05-03 05:05] twan-dev commented on #141
First draft scheduled to be turned in on May 9, 2022

[2022-05-03 17:10] twan-dev commented on #223
The author's busy and requested to close the issue

[2022-05-03 17:10] #223 closed

[2022-05-03 17:16] twan-dev commented on #275
It's a great summary that we don't get very often.

I'll be leaving comments that came up in CR later.

But we didn't catch anything that needs to be changed at this stage. It's ready for FCR.

[2022-05-03 22:03] Hartxyz commented on #275
Thanks Twan. I'll be on standby.

[2022-05-04 02:31] cipherix commented on #258
Made quite a few changes to this summary for clarity, please take a look @RuthTolulope -- moving it to Editorial @jamesmcgirk.

[2022-05-04 02:50] cipherix commented on #253
Good job on this @samuelngwu -- made some minor changes, moving it to editorial.

[2022-05-04 05:45] twan-dev commented on #270
- [x] All fields described in the Template for that content type have been filled out.
- [x] Content review is ready to take the ticket in the next round of review

[2022-05-04 05:48] twan-dev commented on #265
- [x]  All fields described in the Template for that content type have been filled out.
- [x]  Content review is ready to take the ticket in the next round of review

[2022-05-04 05:55] samuelngwu commented on #253
Thank you for the corrections.

Samuel

On Wed, 4 May 2022, 03:50 LN, ***@***.***> wrote:

[2022-05-04 07:52] twan-dev commented on #258
@RuthTolulope Please convert your draft into markdown and refer it as the source of truth for the content that should be posted to the forum using HackMD: https://hackmd.io/HQUpDEfoTKeTma_O9RdrEg

@jamesmcgirk @RuthTolulope  Please conduct editorial review in the HackMD, and make sure the summary looks good in markdown format.

[2022-05-04 08:03] twan-dev commented on #236
@Astridchou @jamesmcgirk I've opened a HackMD file for collaboration: https://hackmd.io/OF-y28UkRKC1bUMFyOvhNw

Please convert the summary draft into Markdown before starting editorial review, and make sure it's in good formatting before moving to the next stage. The HackMD should be the source of reference for what will be posted to the forum.

[2022-05-04 08:04] twan-dev commented on #253
@samuelngwu  @jamesmcgirk I've opened a HackMD file for collaboration: https://hackmd.io/YDq6eLBcQDKTmZ49ErsZDA

Please convert the summary draft into Markdown before starting editorial review, and make sure it's in good formatting before moving to the next stage. The HackMD should be the source of reference for what will be posted to the forum.

[2022-05-04 08:05] jamesmcgirk commented on #236
@twan-dev do I need hackMD access? I don't have a subscription

[2022-05-04 08:09] twan-dev commented on #236
@jamesmcgirk You could register for a free account.

[2022-05-04 08:10] twan-dev commented on #236
Thanks for pointing that out!

[2022-05-04 08:11] jamesmcgirk commented on #236
@twan-dev - is it a good idea to edit in HackMD? I worry that we won't have access to spell checks and the versatility of Google Docs, which is a full-featured word processor. Of course I'm happy to do so if the decision has already been made

[2022-05-04 08:25] twan-dev commented on #236
@jamesmcgirk I'll clarify my point: Make sure the final product is in HackMD, and the HackMD version is the version that has passed your review.

[2022-05-04 08:27] jamesmcgirk commented on #236
Okay, I think I understand. Thank you.

[2022-05-04 14:19] twan-dev commented on #241
- [x] All comments from Peer Reviewers have been discussed and addressed by the authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2022-05-04 14:20] twan-dev commented on #234
The author doesn't seem available to continue on the summary in the short-term future. Moving to icebox and up for grabs to anyone.

[2022-05-04 15:16] twan-dev commented on #261
- [x] All comments from Peer Reviewers have been discussed and addressed by the authors.
- [x] All suggestions provided by Peer Reviewers have been resolved.

[2022-05-04 20:50] cipherix commented on #275
Very well done, I enjoyed reading this and made a few changes.

As noted, Privacy could be a very interesting discussion topic in the context of this paper.

For example, this paper used ENS addresses to link the identity of millions of users: https://ieeexplore.ieee.org/abstract/document/9566179

Something in the spirit of "What are the implications for the users of this service?" would be a grea

[2022-05-05 10:14] samuelngwu commented on #253
Hello Twan,

Your email is acknowledged. I have not used this before and I am finding it
difficult to navigate through it.

Thank you
Samuel

On Wed, May 4, 2022 at 9:05 AM twan-dev ***@***.***> wrote:

[2022-05-05 12:43] twan-dev commented on #272
The author isn't available in the short term, so we're closing this for now and reopening until the next opportunity.

[2022-05-05 12:43] #272 closed

[2022-05-05 15:05] Hartxyz commented on #275
Thank you @cipherix.  I just read the abstract of the paper. Exactly what I guessed would be possible.

I noticed the highlighted text in the document. Are you proposing we change the question to "What are the implications for the users of this service?"

[2022-05-05 17:39] jamesmcgirk commented on #258
@RuthTolulope I'm going to experiment with editing it in HackMD, I'll let you know when I'm done with the suggested edits

[2022-05-05 18:49] jamesmcgirk commented on #258
I made my suggested edits in the Google doc, I'll transfer the text to the HackMD after you're done

@twan-dev how do we handle graphics?

[2022-05-05 20:09] RuthTolulope commented on #258
@jamesmcgirk I have completed editing. Thank you

[2022-05-05 20:10] jamesmcgirk commented on #258
thanks! I'll review and transfer to the markdown

[2022-05-06 08:01] jamesmcgirk commented on #258
@twan-dev https://hackmd.io/HQUpDEfoTKeTma_O9RdrEg?both here's my version, I added the graphics but I'm not sure they'll transfer to the forum

@RuthTolulope - please don't forget to fill out the go to market questions for @ttaloute !

[2022-05-06 08:16] RuthTolulope commented on #258
@jamesmcgirk I had completed GTM some weeks back and had a meeting with @ttaloute. I wonder where they disappeared to. Should I fill them again @ttaloute

[2022-05-06 08:22] jamesmcgirk commented on #258
oh! I remember @ttaloute telling me that you had now, never mind!

[2022-05-06 09:04] jamesmcgirk commented on #258
ready for engagement

[2022-05-06 09:53] jamesmcgirk commented on #236
@twan-dev I did my edits in the HackMD, @Astridchou would you like to review them? https://hackmd.io/OF-y28UkRKC1bUMFyOvhNw (NB don't forget to do the GtM questions in the original google doc)

[2022-05-06 15:30] twan-dev commented on #253
That's fine. We all did when we first started. But the forum renders posts with markdown language so it is necessary that you know how to use the tool before you post.

You can start checking out the [research summary template](https://github.com/smartcontractresearchforum/docs/blob/main/en/content_research_summary_template.md) here, in "raw" mode, and then filling your summary into the template.

[2022-05-06 17:43] zubepaul commented on #275
@ralphlombreglia Added for GtM and Engagement process

[2022-05-09 08:11] jamesmcgirk commented on #253
@samuelngwu there are a couple of good Google Doc to Markdown browser extensions that can make the process very simple. This is the one that I use: https://workspace.google.com/marketplace/app/docs_to_markdown/700168918607

[2022-05-09 08:28] samuelngwu commented on #253
Thanks, I'll check it out.

On Mon, 9 May 2022, 09:12 James McGirk, ***@***.***> wrote:

[2022-05-09 10:01] jamesmcgirk commented on #253
I made some edits in your word.doc, @samuelngwu

[2022-05-09 13:05] cipherix commented on #275
Yes, something along those lines would facilitate some interesting discussions. The authors didn't really cover the privacy angle, but as the linked paper showcased, there are non-trivial privacy implications when using ENS.

[2022-05-09 13:15] cipherix commented on #215
Great job on this @29988122 -- moving to editing.

[2022-05-09 13:18] cipherix commented on #260
Very informative summary @tnguyen4341, good background section.  Moving to editing.

[2022-05-09 13:32] cipherix commented on #241
@EasonC13, please see some of the suggestions added. This was a tougher-than-usual paper to summarize so we need to make sure it's very clear/contextualized to our readers -- I appreciate your work on this and look forward to the edits.

[2022-05-09 15:58] Hartxyz commented on #275
Alright. I'll implement the change.

[2022-05-09 16:45] jamesmcgirk commented on #241
@zubepaul - happy to do the GtM for this one

[2022-05-09 17:06] zubepaul commented on #258
@twan-dev @RuthTolulope Engagement review complete. Can be published no sooner than May 9, 2022

[2022-05-09 17:15] zubepaul commented on #260
@ttaloute is assigned for engagement review

[2022-05-09 17:22] zubepaul commented on #261
@zubepaul is assigned for engagement review

[2022-05-09 20:33] samuelngwu commented on #253
Thank you. I have accepted it

On Mon, May 9, 2022 at 11:01 AM James McGirk ***@***.***>
wrote:

[2022-05-10 11:29] samuelngwu commented on #253
Hello Twan-dev,

This is my HackMD link for my research.
https://hackmd.io/YDq6eLBcQDKTmZ49ErsZDA?view

Thank you
Samuel

On Wed, May 4, 2022 at 9:05 AM twan-dev ***@***.***> wrote:

[2022-05-10 12:39] jamesmcgirk commented on #253
Thanks so much for doing that for us, I’ll go in and check through it. Did I send you the go to market questions yet?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: samuelngwu ***@***.***>
Sent: Tuesday, May 10, 2022 2:29:38 PM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcont

[2022-05-10 12:41] samuelngwu commented on #253
Hello James,

You are yet to send go to market questions.

Thank you

On Tue, 10 May 2022, 13:39 James McGirk, ***@***.***> wrote:

[2022-05-10 14:16] jamesmcgirk commented on #253
added them into your original doc for you

[2022-05-10 14:23] samuelngwu commented on #253
Should I include them in the HackMD doc?

On Tue, 10 May 2022, 15:17 James McGirk, ***@***.***> wrote:

[2022-05-10 14:25] jamesmcgirk commented on #253
No, these are for the engagement team to create marketing materials with

[2022-05-11 09:18] EasonC13 commented on #241
Thanks for the suggestions from @cipherix and @twan-dev , I just finish the edit.
Please take a look again!

[2022-05-11 12:43] samuelngwu commented on #253
Thank you for the clarification.

I have responded to it.

Thank you

On Tue, May 10, 2022 at 3:25 PM James McGirk ***@***.***>
wrote:

[2022-05-13 09:06] jamesmcgirk commented on #253
@samuelngwu gtm complete, unless you have any comments or changes (check your discord)

[2022-05-13 12:40] samuelngwu commented on #253
Thank you. I have checked it and there is no comment.

I have also checked my Discord and no message yet.

Thank you

On Fri, May 13, 2022 at 10:06 AM James McGirk ***@***.***>
wrote:

[2022-05-13 12:55] jamesmcgirk commented on #253
What’s your discord?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: samuelngwu ***@***.***>
Sent: Friday, May 13, 2022 3:40:20 PM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Research Summary: Towards A first step to understand flash loa

[2022-05-13 14:38] jamesmcgirk commented on #253
@twan-dev @zubepaul ready for your review and publication

[2022-05-15 15:43] RuthTolulope commented on #274
Draft complete.

[2022-05-16 12:48] jamesmcgirk commented on #260
@cipherix / @twan-dev I think the definitions here need some work, which is why I'm moving this back to review.  Do one of you mind having a quick look to confirm before I alert TN?

[2022-05-16 19:03] jamesmcgirk commented on #261
@austinjul - made some edits, let me know when you're done with them

[2022-05-16 19:05] jamesmcgirk commented on #260
@tnguyen4341 I made some editorial suggestions, please let me know after you've had a look. Also left some questions for you to answer from the engagement team

[2022-05-16 20:06] zubepaul commented on #253
@twan-dev @samuelngwu Engagement Review completed and approved for forum publication

[2022-05-17 15:29] zubepaul commented on #261
Go to market questions added to the summary content. Please let me know if you have questions about these questions @Austinjul

[2022-05-17 17:47] jamesmcgirk commented on #259
@debbycool - this was nicely written, I made a bunch of little changes throughout for you to review and flagged a couple of places in the summary that needed a tiny bit more clarification

[2022-05-17 21:00] Austinjul commented on #261
@jamesmcgirk thank you so much for your edits. I have updated the research summary

[2022-05-17 21:02] Austinjul commented on #261
@zubepaul Okay, I will begin work on the market questions. I will notify you when I am done with the assignment

[2022-05-17 23:19] Debbycool commented on #259
@jamesmcgirk -Thank you for your prompt review and the comments. I'll effect the changes you suggested later today by God's grace and revert.

I'm most grateful.

[2022-05-18 16:42] jamesmcgirk commented on #270
@tomideadeoye this was a really clearly laid out, interesting summary. I've made some minor revisions throughout and left a suggestion for drastically cutting the length -- I think you could lose the description of the ontology in the summary and accompanying graphics because anyone after them would probably look in the original paper. I think simply showing the automotive use case and describing

[2022-05-19 11:39] Debbycool commented on #259
Good day Mr James,

Thanks for your review and the comments. I have effected the suggested
changes. Kindly go through and revert.

I'm most grateful sir.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Tue, 17 May 2022, 18:47 James McGirk, ***@***.***> wrote:

[2022-05-19 11:42] Debbycool commented on #259
Good day Mr James,

Thanks for your review and the comments. I have effected the suggested
changes. Kindly go through and revert.

I'm most grateful sir.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Tue, 17 May 2022, 18:47 James McGirk, ***@***.***> wrote:

[2022-05-19 12:21] Debbycool commented on #259
Good day @jamesmcgirk I've effected the suggested changes. I await further feedback from you.
I'm most grateful.

[2022-05-20 16:03] jamesmcgirk commented on #261
@Austinjul don't forget to answer the go to market questions, please

[2022-05-22 11:27] pvblick-vniversal-friend commented on #265
Summary ready for review.

[2022-05-22 16:41] twan-dev opened #276 "Research Summary: Improving security for users of decentralized exchanges through multiparty computation"
Contributor: Peter @osapeter

First Draft Turn In Date Estimation: n/a

Paper: https://arxiv.org/pdf/2106.10972.pdf

Draft: n/a

Source of approval: RP 19 Call for Summaries

[2022-05-22 22:31] tomideadeoye commented on #270
Thanks @jamesmcgirk reverting soon

[2022-05-23 10:24] twan-dev commented on #276
- [x] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
    - [x] Contributor
    - [x] First Draft Turn-In Date Estimation
    - [x] Link to paper
    - [x] Link to draft
    - [x] Source of approval
- [x] The author does not already have another working document.

[2022-05-23 15:08] jamesmcgirk commented on #269
beginning my editorial review @stayhungry07212 cc @twan-dev

[2022-05-24 06:32] twan-dev opened #277 "Research Summary: An Overview of Trees in Blockchain Technology: Merkle Trees and Merkle Patricia Tries"
Contributor: Nancy @circusqp

Estimated date of completion: May 30, 2022
(Extending 1-2 days to finish the background section)

Paper: https://www.researchgate.net/publication/358740207_An_Overview_of_Trees_in_Blockchain_Technology_Merkle_Trees_and_Merkle_Patricia_Tries

Draft: https://docs.google.com/document/d/1yyMYeRWTCxGUErETy_12U_yiyB_1oLP7_h5l7gC6NSs/edit#

Source of approval: RP 56, Call fo

[2022-05-24 06:34] twan-dev commented on #277
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  First Draft Turn-In Date Estimation
   - [x]  Link to paper
   - [x]  Link to draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-05-24 17:53] Debbycool commented on #259
Good day @jamesmcgirk I humbly await your further feedback. God bless.

[2022-05-24 22:26] jamesmcgirk commented on #265
@pvblick-vniversal-friend this is in solid shape, only area that needs significant improvement is the TLDR which should be more comprehensive. Maybe add a little bit more of the context for this paper in the summary as well... other than that, a couple of minor edits

[2022-05-25 15:51] twan-dev commented on #259
@Debbycool It's on me to do a final check before moving. Getting to it no later than this week.

[2022-05-25 16:00] Debbycool commented on #259
Very well. Noted. God bless.

[2022-05-25 21:02] jamesmcgirk commented on #275
@ralphlombreglia @zubepaul I still haven't edited this one yet -- it still has to go through editorial review

[2022-05-25 21:06] jamesmcgirk commented on #275
@twan-dev should we move this one to Editorial Review? Looks like @Hartxyz has finished her FCR edits

[2022-05-26 04:28] twan-dev opened #278 "Research Summary: DeFi Liquidity Management via Optimal Control: Ohm as a Case Study"
Contributor: Junxi @Songjunxi2000

Estimated date of first draft completion: July 31, 2022

Paper: https://web.stanford.edu/~guillean/papers/ohm-staking.pdf

Draft: https://docs.google.com/document/d/1hLjxCQt9Mblgidq0x7tWImoot1_yzKYyzb0HWfvTDRk/

Source of approval: RP 55, call for summaries

[2022-05-26 12:40] twan-dev commented on #275
@cipherix highlighted this piece of text in the doc:

and commented that:

The text is now changed to:

@Hartxyz Can you provide color around the privacy implications? As suggested by @cipherix above:

[2022-05-26 13:23] Hartxyz commented on #275
Hi @twan-dev, I have added some colour as requested. I hope it suffices.

[2022-05-26 14:32] encore9870 opened #279 "Research Summary: An Empirical Study of Blockchain Repositories in GitHub"
Contributor: Faith

Drafting Deadline: June 20, 2022

Link to the Paper: https://arxiv.org/pdf/2205.08087.pdf

Link to the Draft: https://docs.google.com/document/d/16FGDG_CTckSLdwlH7lXLoaSN6bO_atqWR37R9_GOT5k/

Source of Approval: RP 66

[2022-05-26 14:34] encore9870 commented on #279
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  Drafting deadline
   - [x]  Link to the paper
   - [x]  Link to the draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-05-26 14:34] encore9870 commented on #279
@Fizzymidas You're good to go!

[2022-05-26 20:56] jamesmcgirk commented on #275
@Hartxyz a few minor edits to the TLDR, otherwise in good shape! @twan-dev ready for engagement and publication @zubepaul once they're taken care of cc @ralphlombreglia

[2022-05-26 21:15] Hartxyz commented on #275
Thank you @jamesmcgirk. I've implemented all suggestions and comments.

[2022-05-26 21:15] jamesmcgirk commented on #259
@Debbycool I've taken another look -- looks like we need to flesh out the summary a little more, I think there's a little too much background on blockchain technology and not enough on the three modes of governance they articulate. Let's flesh those out a bit if we can. Think of the summary as being three parts, the intro to the tech, the governance and their conclusions./ cc @twan-dev - anything

[2022-05-27 10:30] RuthTolulope commented on #275
Hi @Hartxyz, here is the markdown version of your research summary https://hackmd.io/@content/HykpYW0vc.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.
Thank you.

[2022-05-27 10:36] Hartxyz commented on #275
Hi @RuthTolulope . I have two questions:
First, regarding the images. I can only see two in the markdown version. Is that all that would be uploaded?
Secondly, do I just copy and paste the markdown format to the forum?

[2022-05-27 10:40] RuthTolulope commented on #275
@Hartxyz Thanks for the catch, I will post the other pictures now.
Yes, you just copy and paste.

[2022-05-27 10:41] Hartxyz commented on #275
Alright. Thank you very much.

[2022-05-27 10:58] RuthTolulope commented on #275
All done @Hartxyz

[2022-05-27 11:59] RuthTolulope commented on #261
Hi @Austinjul, here is the markdown version of your research summary https://hackmd.io/@content/Skw7OGRwq.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.
Thank you.

[2022-05-27 14:54] ralphlombreglia commented on #275
@Hartxyz Hi. It sounds like you're all set to publish this piece. I've experimented with using HackMD files, and simply copying and pasting the *source code* column into the forum editor should work fine. Please let me know when you actually publish the piece. And thank you!

[2022-05-27 15:25] jamesmcgirk commented on #274
@RuthTolulope I did a first editing pass, ready for you

[2022-05-27 15:47] RuthTolulope commented on #274
@jamesmcgirk Thank you, I have implemented the changes.

[2022-05-28 00:50] osapeter commented on #276
Hello Twan,

I am submitting my first draft for review - same doc link

[2022-05-28 08:25] encore9870 opened #280 "Research Summary: Blockchain Oracle Design Patterns"
Contributor: Favour (@Hartxyz)

Drafting Deadline: June 4, 2022

Link to the Paper: https://arxiv.org/pdf/2106.09349.pdf

Link to the Draft: https://docs.google.com/document/d/11fBPnNxZdJ4vIZZVRCE8O2dBCJe7wySEbXe9j0rkit4/edit

Source of Approval: RP 19, Call for Summaries

[2022-05-28 08:26] encore9870 commented on #280
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  Drafting deadline
   - [x]  Link to the paper
   - [x]  Link to the draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-05-28 08:26] encore9870 commented on #280
@Hartxyz you're good to go!

[2022-05-28 10:32] encore9870 opened #281 "Research Summary: A Short Survey on Business Models of Decentralized Finance (DeFi) Protocols"
Contributor: Tomide(@tomideadeoye)

Drafting Deadline: June 5, 2022

Link to the Paper: https://arxiv.org/pdf/2202.07742.pdf

Link to the Draft: https://docs.google.com/document/d/1pnwnYqMSw0y6o-g3uSQO2aR_RHn6EMfIQgTEN9Vevhs/

Source of Approval: RP54, Call for Summaries

[2022-05-28 10:33] encore9870 commented on #281
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  Drafting deadline
   - [x]  Link to the paper
   - [x]  Link to the draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-05-28 10:33] encore9870 commented on #281
@tomideadeoye you're good to go!

[2022-05-28 10:41] encore9870 commented on #276
- [x] All fields described in the Template for that content type have been filled out.

[2022-05-30 10:11] RuthTolulope opened #282 "Research Summary: Design and Implementation of Blockchain-based E-Voting"
Contributor: Tolu (@RuthTolulope)

Drafting Deadline: June 6, 2022

Link to the Paper: https://cdn.jsdelivr.net/npm/@meck93/evote-crypto@0.1.10/report.pdf

Link to the Draft: https://docs.google.com/document/d/1EILzL6bEak6-G00p9JeQRkt-IbxnuJGs8LJXgDYVY78/edit?usp=sharing

Source of Approval: RP 8, Call for summaries

[2022-05-30 10:15] twan-dev commented on #277
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  First Draft Turn-In Date Estimation
   - [x]  Link to paper
   - [x]  Link to draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-05-30 10:15] encore9870 commented on #282
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  First Draft Turn-In Date Estimation
   - [x]  Link to paper
   - [x]  Link to draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-05-30 10:15] encore9870 commented on #282
@RuthTolulope you're good to go!

[2022-05-31 10:07] encore9870 opened #283 "Research Summary: Design and analysis of a distributed ECDSA signing service"
Contributor: Bill @flyinglimao

Drafting Deadline: July 31, 2022

Link to the Paper: https://eprint.iacr.org/2022/506.pdf

Link to the Draft: https://docs.google.com/document/d/1rQ1jCBY4C-wEcyCfibxIjbw9CNcMoWI8sYt-1aHUZ9Y/

Source of Approval: RP 64

[2022-05-31 10:08] encore9870 commented on #283
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  Drafting deadline
   - [x]  Link to the paper
   - [x]  Link to the draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-05-31 11:55] encore9870 commented on #276
Good summary.
Feedback: Incorporate the latest updates of this paper into the summary

[2022-05-31 14:20] osapeter commented on #276
The feedback has been incorporated into the summary.  This is for your review action

[2022-06-01 08:37] encore9870 commented on #215
FYI There are latest updates on the project:
https://github.com/zkSNACKs/WabiSabi/releases/latest/download/WabiSabi.pdf
https://zksnacks.com/

[2022-06-01 13:53] Austinjul commented on #261
Hi @zubepaul and @jamesmcgirk,

I am done with the GTM question. Please review

[2022-06-01 14:09] Austinjul commented on #261
Hi, @RuthTolulope.

Looks good

[2022-06-01 16:40] jamesmcgirk commented on #261
@twan-dev this one is probably ready for Engagement Review

[2022-06-03 02:53] encore9870 commented on #277
- [x] All fields described in the Template for that content type have been filled out.

[2022-06-03 06:29] encore9870 commented on #269
scheduled to be done on June 6

[2022-06-03 11:56] encore9870 commented on #278
- [x] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
   - [x] Author
   - [x] An estimated date of completion
   - [x] Link to paper
   - [x] Link to the draft
   - [x] Source of approval
- [x] The author does not already have another working document.

[2022-06-03 12:05] encore9870 opened #284 "Research Summary: A Cooperative Optimal Mining Model for Bitcoin"
Contributor: Peter @osapeter

First Draft Turn In Date Estimation: June 7, 2022

Paper: https://arxiv.org/pdf/2107.09707.pdf

Draft: https://docs.google.com/document/d/1mBgN9MVQ0rYEXK-Y39139S7obbXXPii9CDHqyL8vwas/edit

Source of approval: RP 23

[2022-06-03 12:06] encore9870 commented on #284
- [x] Onboarding is either complete or waived.
- [x] The ticket contains the following information.
   - [x] Author
   - [x] An estimated date of completion
   - [x] Link to paper
   - [x] Link to the draft
   - [x] Source of approval
- [x] The author does not already have another working document.

[2022-06-03 14:52] zubepaul commented on #261
@Austinjul This is ready for engagement review breakout session. We need to schedule a time to have about a 30 minute meeting where I can ask you some follow up questions and we can talk about encouraging conversation around the paper you summarized. Reaching me in our Discord chat is probably easiest (paulzed).
[GTM Document to review](https://docs.google.com/document/d/1kDl1z0L13DmK3hRwtIApdzLXH

[2022-06-04 11:53] osapeter commented on #284
Kindly review and update the paper URL link

[2022-06-04 12:21] RuthTolulope opened #285 "Research Summary: Usability of Cryptocurrency Wallets Providing CoinJoin Transactions"
Contributor: Matthew (@Ulyssesmathew)

Drafting Deadline: June 24, 2022

Link to the Paper: https://eprint.iacr.org/2022/285.pdf

Link to the Draft: https://docs.google.com/document/d/1pvDT9AiZk6E8uQHMPAZiYfv7lZwUQVFKlbWAOqFUg-o/edit?usp=sharing

Source of Approval: RP 57, Call for summaries

[2022-06-04 23:02] osapeter commented on #284
Hello Twan,

I am submitting my first draft for review - same doc link

[2022-06-05 14:25] pvblick-vniversal-friend commented on #265
I think it is ok now.

[2022-06-05 20:59] Ulyssesmathew commented on #285
Greetings Tolu.

I found that out that I don't access to the Google Docs link you shared in
the previous mail.

Please, kindly check. Thank you.

On Sat, 4 Jun 2022, 13:55 Mathew Omeje, ***@***.***> wrote:

[2022-06-05 21:05] RuthTolulope commented on #285
Hello Matthew,

Kindly hold on.

You’ll be notified about when you can start.

Thank you for your patience.

On Sun, 5 Jun 2022 at 21:59, matthew omeje ***@***.***> wrote:

[2022-06-05 21:07] Ulyssesmathew commented on #285
Noted. Thanks.

On Sun, 5 Jun 2022, 22:05 Tolu, ***@***.***> wrote:

[2022-06-06 07:02] encore9870 commented on #280
- [x] All fields described in the Template for that content type have been filled out.

[2022-06-06 09:18] encore9870 commented on #285
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  Drafting deadline
   - [x]  Link to the paper
   - [x]  Link to the draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-06-06 09:26] encore9870 commented on #284
- [x] All fields described in the Template for that content type have been filled out.

[2022-06-06 10:59] Debbycool commented on #259
@jamesmcgirk Thanks for taking out time to review my research summary again.

I have effected the further suggestions by you. Kindly go through and let me have your feedback.

I'm most grateful.

[2022-06-06 11:03] Debbycool commented on #259
@jamesmcgirk <https://github.com/jamesmcgirk> Thanks for taking out time to
review my research summary again.

I have effected the further suggestions by you. Kindly go through and let
me have your feedback.

I'm most grateful.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Thu, 26 May 2022, 22:16 Jam

[2022-06-06 12:26] encore9870 commented on #259
@Debbycool I left two comments. Hopefully will be the last two comments before FCR. Please take a look! I'm around and should be able to answer your questions if you have any.

[2022-06-06 15:59] Debbycool commented on #259
@twan-dev Thanks for your feedback. I've removed the quotations.
I await further feedback.

God bless.

[2022-06-07 00:17] stayhungry07212 commented on #269
Hi Twan,
I modified most parts of it, but seeing the feedback, James asked for the
overall update for Method and Result.
Currently, Method part is done. Follow-ups are added.
The result is left.
Would you please change the estimated day to June 13th?
Kind regards,
Dimitar

On Fri, Jun 3, 2022 at 9:29 AM twan-dev ***@***.***> wrote:

[2022-06-07 01:42] jamesmcgirk commented on #260
@twan-dev edits in, should we do the GtM questions together?

[2022-06-07 09:15] osapeter commented on #284
Good day Twan,
The feedback has been incorporated into the summary. This is for your review action
Thanks

[2022-06-07 09:52] RuthTolulope commented on #282
@twan-dev First draft ready!

[2022-06-07 12:08] encore9870 commented on #282
- [x] All fields described in the Template for that content type have been filled out.

[2022-06-07 22:31] jamesmcgirk commented on #260
@tnguyen4341 if you get a chance, we left some questions for you from the engagement team

[2022-06-08 03:36] jamesmcgirk commented on #256
@cryptomarabout in good shape! made a few minor edits @zubepaul ready for engagement assignment (happy to take it on)

[2022-06-08 08:06] encore9870 commented on #281
- [x] All fields described in the Template for that content type have been filled out.

[2022-06-08 12:14] RuthTolulope opened #286 "Research Summary: Rectifying Administrated ERC20 Tokens"
Contributor: Peter (@osapeter)

Drafting Deadline: June 13, 2022

Link to the Paper: https://arxiv.org/pdf/2107.10979.pdf

Link to the Draft: [Rectifying Administrated ERC20 Tokens](https://docs.google.com/document/d/1oaWrcVwkLMF8AXwmeQuoxbP4R1wU6Z7D5agh3U2t4O4/edit?usp=sharing)

Source of Approval: RP 24, Call for Summaries

[2022-06-08 12:57] osapeter commented on #286
Kindly update the Drafting Deadline 13th

[2022-06-08 13:31] encore9870 commented on #286
- [x] Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  Drafting deadline
   - [x]  Link to the paper
   - [x]  Link to the draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-06-09 01:27] jamesmcgirk commented on #215
Nice work! Made a few edits. @zubepaul ready for engagement review. @RuthTolulope are you adding the questions?

[2022-06-10 18:32] pvblick-vniversal-friend commented on #265
I realized something a bit worrisome. The original article and link I found on the forum is of a previous version and the arxiv file has been been updated (since May 17th). The summary I did was based on the previous version and there seems to be some new information in the latest one.

What should be done in this case? Can I mention that this is a summary of a previous version?

[2022-06-10 18:33] jamesmcgirk commented on #265
Maybe update it with a detailed comment on the forum

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Hermes Corp. ***@***.***>
Sent: Friday, June 10, 2022 11:32:43 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Comment ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Research Summary: SoK: Blo

[2022-06-10 21:43] RuthTolulope commented on #215
Yes @jamesmcgirk
I have added the questions @29988122

[2022-06-10 23:39] osapeter commented on #286
Hello,

I am submitting my first draft for review - same doc link

[2022-06-12 22:32] jamesmcgirk commented on #254
@Fizzymidas made some suggestions throughout, mostly changing past tense to present (house style) there also seems to be a chunk missing, I don't quite understand the leap from an NFT-based patent system to a global IP protection system. with @twan-dev's permission, maybe you could add a bit to the summary so this is clear

[2022-06-12 22:40] jamesmcgirk commented on #274
@RuthTolulope made a few minor suggestions @zubepaul ready for engagement review once it's in markdown

[2022-06-13 08:24] RuthTolulope commented on #260
Hi @tnguyen4341,  here is the markdown version of your research summary https://hackmd.io/@content/H1NyKPVt9
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.
Thank you.

[2022-06-13 10:51] Fizzymidas commented on #254
Thank you. I have just resolved them. Could you clarify what you mean by a chunk missing?
I also do not understand the leap you are referring to.

[2022-06-13 11:15] RuthTolulope commented on #274
Thanks @jamesmcgirk, changes implemented.

Here is the HackMD link: https://hackmd.io/@content/HyJbmqEY5

[2022-06-13 13:37] zubepaul commented on #261
@twan-dev @Austinjul Engagement review complete. Can be published no sooner than June 13, 2022

[2022-06-13 16:23] zubepaul commented on #256
Ready for engagement review. @cryptomarabout, I requested access to your draft document and look forward to talking with you about our GTM process and strategy for your summary. You can reach me via our chat or we can arrange using comments here.

[2022-06-13 18:38] ralphlombreglia commented on #274
Hi @RuthTolulope. I've pasted our go-to-market questions at the bottom of your working draft.

https://docs.google.com/document/d/12x2vTsxB4nYQGxG_IRWyjuwAsX3BGyl-Fa4lHj-FQ5c/edit#

Please answer them as soon as possible and notify me here when you do.

(Note: the question "Please list 4 questions that we can ask you about this subject to get conversation going?" is particularly important to us.)

[2022-06-13 18:47] ralphlombreglia commented on #215
@29988122 Hi Jerry. I've added the Go-to-Market questions at the bottom of your working draft.

https://docs.google.com/document/d/1FWxHrktIHrC00lz6zIVQQDwrivtI4DglbH8HcxoBpAg/edit#heading=h.o2cvpypa43r6

Please answer them and notify me here when you've finished.

(Note: the question "Please list 4 questions that we can ask you about this subject to get conversation going?" is particularly import

[2022-06-13 18:57] ralphlombreglia commented on #254
Hi @Fizzymidas. I've added our Go-to-Market questions at the bottom of your working draft.

https://docs.google.com/document/d/1hnvprMUY2DjqzifFRFAphMNqqpt_pEJANI8f3nBYNcc/edit#

Please answer them as soon as you can, and notify me here when you're finished.

(Note: the question "Please list 4 questions that we can ask you to get conversation going?" is particularly important to us.)

[2022-06-13 21:52] RuthTolulope commented on #274
Thank you @ralphlombreglia. The GtM questions have been answered.

[2022-06-14 11:35] 29988122 commented on #215
@ralphlombreglia Done. Please let me know if further address to certain questions are needed!

[2022-06-14 13:48] RuthTolulope commented on #215
Hi @29988122, here is the markdown version of your research summary https://hackmd.io/@content/BJcPmbUF5.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.

[2022-06-14 16:56] Fizzymidas commented on #254
Thank you @ralphlombreglia
They have now been answered.

[2022-06-14 17:08] ralphlombreglia commented on #254
Thanks @Fizzymidas. I'll look at your answers ASAP (tomorrow at the latest).

Re your questions: Those were asked by James, who is now out on vacation for the next two weeks. I'm sure the "missing chunk" and "the leap" refer to the same thing: i.e., his sense of a logical gap from "an NFT-based patent system to a global IP protection system." @twan-dev, do you also share this view with James?

[2022-06-14 17:20] Fizzymidas commented on #254
Okay.
Perhaps the missing chunk and leap is because the paper is theoretical and there was no simulation or practical application. To support their claim of using NFTs as patents, the authors referred to other IP-related use of NFTs.

[2022-06-14 17:32] jamesmcgirk commented on #254
That would be a great thing to include as a bullet and detail in the summary

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fizzymidas ***@***.***>
Sent: Tuesday, June 14, 2022 10:20:52 AM
To: smartcontractresearchforum/research_content ***@***.***>
Cc: James McGirk ***@***.***>; Comment ***@***.***>
Subject: Re: [smartcontractresearchforum/research_content] Res

[2022-06-14 17:36] Fizzymidas commented on #254
Okay. Apologies for disturbing you during your vacation!

I hesitated including that because I thought summaries were not to include personal opinions/bias that kind of pass judgement on the paper? I thought such a comment was best added in replies/comments while discussing the paper.

[2022-06-14 17:41] ralphlombreglia commented on #254
Possibly. Let me read through the summary and I'll give you my opinion (in the next day or two). Meanwhile, @twan-dev do you have an opinion on this matter?

[2022-06-14 17:53] encore9870 commented on #254
Thanks for pinging. Where can I read about the conversation around the missing chunk and the leap?

[2022-06-14 18:03] Fizzymidas commented on #254
@twan-dev, it started from here: https://github.com/smartcontractresearchforum/research_content/issues/254#issuecomment-1153309720

[2022-06-16 09:39] RuthTolulope opened #287 "Research Summary: Route Discovery in Private Payment Channel Networks"
Contributor: Peter (@osapeter)

Drafting Deadline: June 20, 2022

Link to the Paper: https://eprint.iacr.org/2021/1539.pdf

Link to the Draft: https://docs.google.com/document/d/1x3JoNsysde1487uvk8vUTbOm6lBgDagvOeG4Te7cNNA/edit?usp=sharing

Source of Approval: RP 41, Call for Summaries

[2022-06-16 09:53] encore9870 commented on #287
- [x]  Onboarding is either complete or waived.
- [x]  The ticket contains the following information.
   - [x]  Contributor
   - [x]  Drafting deadline
   - [x]  Link to the paper
   - [x]  Link to the draft
   - [x]  Source of approval
- [x]  The author does not already have another working document.

[2022-06-16 12:29] twan-dev commented on #254
should be all good now. Pinging @zubepaul for scheduling when it can get published.

[2022-06-16 17:00] zubepaul commented on #256
@cryptomarabout our GTM questions are now added to the top of your draft summary. Could you please answer these to the best of your ability to help inform our engagement strategy for your summary?

[2022-06-17 09:23] encore9870 opened #288 "Research Summary: Quantum Vulnerabilities of Blockchains"
Description: Title and content type TBD. 1000-2500 words. A post that's based on the following three papers to explore PQC.

1. Holmes, Stephen, and Liqun Chen. "Assessment of Quantum Threat To Bitcoin and Derived Cryptocurrencies." Cryptology ePrint Archive (2021).

2. Kearney, Joseph J., and Carlos A. Perez-Delgado. "Vulnerability of blockchain technologies to quantum attacks." Array 10 (2021):

[2022-06-17 09:37] RuthTolulope opened #289 "Research Summary: Empirical Analysis of EIP-1559: Transaction Fees, Waiting Time, and Consensus Security"
Contributor: Aderonke (@ElBethy)

Drafting Deadline: July 31, 2022

Link to the Paper: https://arxiv.org/pdf/2201.05574.pdf

Link to the Draft: https://docs.google.com/document/d/1dPKg3lDcbWwZf1ocQfiUqgUmvR-NbapYKTc3DDTNymc/edit?usp=sharing

Source of Approval: RP 49, Call for Summaries

[2022-06-17 09:51] RuthTolulope opened #290 "Research Summary: ÐArcher: Detecting On-Chain-Off-Chain Synchronization Bugs in Decentralized Applications"
Contributor: David (@cashkid1994)

Drafting Deadline: June 16, 2022

Link to the Paper: https://arxiv.org/pdf/2106.09440.pdf

Link to the Draft: https://docs.google.com/document/d/1JgBLL6VzdANAizEWirDCZjtU_TyDr6HDjo3r2Oo1maw/edit?usp=sharing

Source of Approval: RP 31, Call for Summaries

[2022-06-17 11:07] encore9870 commented on #288
- [x] Onboarding

[2022-06-17 11:14] encore9870 commented on #289
- [x] Onboarding

[2022-06-17 13:01] encore9870 opened #291 "Discussion Post: Legal Wrappers and DAOs"
Description: A summary of a paper, potentially using the new discussion post template
Link to Paper: https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4123737
Link to Draft: TBD
Est. Date for first draft: TBD
Source of Approval: HC

[2022-06-17 20:41] ralphlombreglia commented on #254
@Fizzymidas Hi. I'm satisfied with your 4 Engagement questions.

Regarding James: He suggested that you include an acknowledgement of the "lapse" or gap he noticed, along with your explanation that the authors had "referred to other IP-related use of NFTs" in lieu of any real-world patent examples. I just read through the paper and I didn't notice you making that point anywhere, but maybe I missed

[2022-06-17 20:52] ralphlombreglia commented on #274
Hi @RuthTolulope, I'm happy with your GtM answers and feel that we can move this paper along toward publication.

Is there anything relating to Engagement for this paper on our forum that you'd like to discuss? If so, I can meet you for a brief Discord meeting early next week. Let me know. Have a great weekend.

[2022-06-17 20:59] ralphlombreglia commented on #215
@29988122. Hi Jerry. I'm satisfied with our GtM answers and feel that we can move this paper along to publication.

Is there anything about the Engagement process for this paper that you'd like to discuss? Any other questions beyond that? If so, I'd be happy to have a short video call with you early next week; let me know. Have a great weekend.

[2022-06-17 21:01] ralphlombreglia commented on #254
@Fizzymidas Also Faith, I forgot to say: If there's anything about our engagement process for this paper that you'd like to discuss, I'd be happy to have a short video call with you early next week. Let me know about that, and have a great weekend.

[2022-06-17 21:02] Fizzymidas commented on #254
As I mentioned before, I thought it was best brought up in the comments and not in the summary.

I have now added it. Thanks.

[2022-06-18 14:23] RuthTolulope commented on #274
Thanks @ralphlombreglia I have nothing to discuss in particular, but I am happy to have a chat if you'd like one.

[2022-06-18 15:18] RuthTolulope commented on #254
Hi @Fizzymidas, here is the markdown version of your research summary https://hackmd.io/@content/ryQX8MUYc.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.

[2022-06-18 19:39] Fizzymidas commented on #254
Thank you.
Please, how is it 'uploaded'?

[2022-06-19 11:10] osapeter commented on #287
Kindly review the initial draft summary. Thanks

[2022-06-19 21:13] pvblick-vniversal-friend commented on #265
Editorial Review comments have been resolved.

[2022-06-20 07:42] RuthTolulope commented on #254
You can upload it by copying the summary from HackMD and pasting it into 'new topic' on the forum.
Happy to walk you through the process. Please let me know.

[2022-06-20 08:09] 29988122 commented on #215
Currently, no questions from my side. Can't wait to see how ppl react to it when it's been published.

: D

[2022-06-20 08:20] Fizzymidas commented on #254
Great!
Thank you

On Mon, Jun 20, 2022, 8:42 AM Tolu ***@***.***> wrote:

[2022-06-20 09:35] encore9870 commented on #290
- [x] Onboarding

[2022-06-20 10:20] RuthTolulope opened #292 "Research Summary: Investigating Arbitrageurs and Oracle Manipulators in Ethereum"
Contributor: Tomide (@tomideadeoye)

Drafting Deadline: July 31, 2022

Link to the Paper: https://repository.tudelft.nl/islandora/object/uuid:06ddf1dd-7dba-495b-b7f3-31b8d2bb966c

Link to the Draft: https://docs.google.com/document/d/1rM7EqUkjmW_LsuSG-dqrQ__2DZtNIofgwdeYUGz2UUQ/edit?usp=sharing

Source of Approval: RP 20, Call for Summaries

[2022-06-20 10:22] twan-dev commented on #292
- [x] Onboarding
- [x] Contributor does not already have another draft on their plate

[2022-06-20 10:22] encore9870 commented on #292
- [x] Onboarding
- [x] Contributor does not already have another draft on their plate

[2022-06-20 13:00] zubepaul commented on #274
@RuthTolulope @ralphlombreglia @twan-dev
Engagement review completed. Approved for forum publication no sooner than June 20, 2022

[2022-06-20 13:01] zubepaul commented on #215
@twan-dev @ralphlombreglia @29988122
Engagement review completed. Approved for forum publication no sooner than June 22, 2022

[2022-06-21 02:42] encore9870 commented on #289
- [x] Onboarding
- [x] Author does not already have another draft on their plate

[2022-06-21 04:31] encore9870 commented on #265
- [x] Reviewer's thumbs up
- [x] Markdown document (@RuthTolulope will be handling)

[2022-06-21 10:15] cashkid1994 commented on #290
The draft have been submitted

[2022-06-21 16:10] ralphlombreglia commented on #274
@RuthTolulope Congrats on publishing! I was glad to see a couple of immediate questions from Ulysses — please make sure to answer him. That's much better than me or someone else internally at SCRF jumping in, though of course I will do that if the conversation starts to lag.

[2022-06-21 16:25] ralphlombreglia commented on #215
@29988122 You're cleared to publish this piece tomorrow. Congrats! You probably know how to publish from HackMD but if you need any help let us know. Also, obviously, please help spread the word about it!

[2022-06-21 17:14] RuthTolulope commented on #274
Thank you for the heads-up @ralphlombreglia I have responded to his questions.

[2022-06-21 17:25] RuthTolulope opened #293 "Research Summary: Disentangling Decentralized Finance (DeFi) Compositions"
Contributor: Peter (@osapeter)

Drafting Deadline: June 27, 2022

Link to the Paper: https://www.depositonce.tu-berlin.de/bitstream/11303/13867/4/Kitzler_etal_Disentangling_2021_Cover.pdf

Link to the Draft: https://docs.google.com/document/d/19KuBNkM1wFT4aqEYRQRVcMgjIiug_Te4Z4alzCIz7RY/edit?usp=sharing

Source of Approval: RP 40, Call for Summaries

[2022-06-22 06:53] RuthTolulope opened #294 "Research Summary: Do the Rich get Richer ? Fairness Analysis for Blockchain Incentives"
Contributor: David (@cashkid1994)

Drafting Deadline: June 22, 2022

Link to the Paper: https://arxiv.org/pdf/2103.14713.pdf

Link to the Draft: https://docs.google.com/document/d/14D3ck9hsBdhLaXYTaSVlvBDd8Ui2hxgbfAMzVqiBHJo/edit?usp=sharing

Source of Approval: RP 6, Call for Summaries

[2022-06-22 10:50] ElBethy commented on #289
Dear Twan,

Trust this meets you well.

Kindly grant access please. Just getting to know how things work.

Thanks.

On Tue, Jun 21, 2022 at 3:42 AM twan-dev ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.***, ***@***.***

[2022-06-22 11:54] RuthTolulope commented on #289
Hello, @ElBethy do you have issues accessing the working document with this email 'projects****t@gmail.com?'
Also, could you please confirm if you requested access with this email address 'tony***@gmail.com?'

[2022-06-22 14:53] encore9870 commented on #293
- [x] Onboarding
- [x] Contributor does not have another draft in the drafting or editing stages

[2022-06-22 14:54] encore9870 commented on #294
- [x] Onboarding
- [x] Contributor does not have another draft in the drafting or editing stages

[2022-06-22 22:17] ElBethy commented on #289
Thanks. I.m good now.

On Wed, Jun 22, 2022 at 12:54 PM Tolu ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.***, ***@***.***

[2022-06-23 09:31] RuthTolulope opened #295 "Research Summary: Ethereum Data Structures"
Contributor: Dimitar (@stayhungry07212)

Drafting Deadline: July 11, 2022

Link to the Paper: https://arxiv.org/pdf/2108.05513.pdf

Link to the Draft: https://docs.google.com/document/d/1vNaBVbCzR4RSEFsx9WeEu9NjnrgTpVFXGeZ-6wtRJMU/edit?usp=sharing

Source of Approval: RP 27, Call for Summaries

[2022-06-23 12:41] encore9870 commented on #295
- [x] Onboarding
- [x] Contributor does not have another draft in drafting or editing stages

[2022-06-23 14:36] cashkid1994 commented on #294
This research have been drafted and submitted

[2022-06-23 22:16] Fizzymidas commented on #279
Draft ready.

[2022-06-23 22:16] Fizzymidas commented on #279
@twan-dev

[2022-06-24 12:28] RuthTolulope commented on #241
Hi @EasonC13, here is the markdown version of your research summary https://hackmd.io/@content/SyiX-MMc9.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.

[2022-06-24 12:40] RuthTolulope commented on #265
Hi @pvblick-vniversal-friend, here is the markdown version of your research summary https://hackmd.io/@content/B1wKng1c5.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.

[2022-06-24 13:57] cashkid1994 commented on #294
This research summary have been edited as requested

[2022-06-24 22:46] EasonC13 commented on #241
Thanks to @[RuthTolulope](https://github.com/RuthTolulope), I will take a look and let you know.

[2022-06-26 22:56] osapeter commented on #293
I am done with the first draft

[2022-06-27 17:49] cashkid1994 commented on #294
Hello,
Any update on this ?

    On Wednesday, June 22, 2022, 03:54:14 PM GMT+1, twan-dev ***@***.***> wrote:

   -  Onboarding
   -  Contributor does not have another draft in the drafting or editing stages

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-06-27 17:50] cashkid1994 commented on #290
Hello,
Any update on this?
    On Monday, June 20, 2022, 10:35:18 AM GMT+1, twan-dev ***@***.***> wrote:

   -  Onboarding

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-06-28 05:41] encore9870 commented on #290
- [x] All fields described in the Template for that content type have been filled out.

[2022-06-28 05:46] encore9870 commented on #294
- [x] All fields described in the Template for that content type have been filled out.

[2022-06-28 18:26] ralphlombreglia commented on #215
@29988122 Greetings, Jerry. I don't know if you saw my note (here, last week) that you were authorized to publish your piece. Let me know if there are any issues blocking you from doing that. Thanks!

[2022-06-29 20:47] osapeter commented on #293
Updates effected

[2022-06-29 23:13] jamesmcgirk commented on #293
@osapeter I made some edits -- take a close look at the summary, methodology and results section and make sure each section is readable. I made a few suggestions throughout but you should take some time to go through and make sure that you're articulating what's going on in these sections. Implications, Follow-ups and Application sections are in good shape. I'll take another look when you're done

[2022-06-29 23:45] jamesmcgirk commented on #287
@osapeter this one is in good shape, I flagged a few places that need some work and be sure to paraphrase rather than c/p

[2022-06-30 10:28] osapeter commented on #293
@jamesmcgirk many thanks for your review and suggestion.  I have gone through and updated it.  Do take another look for content and flow.  Thanks

[2022-06-30 10:50] osapeter commented on #287
@jamesmcgirk many thanks for the feedback. I have done the required updates. Do take another look for content and flow. Thanks

[2022-06-30 12:34] encore9870 commented on #198
Reopening when we settle with a new author to take over the draft

[2022-06-30 12:34] #198 closed

[2022-06-30 12:34] encore9870 commented on #141
Reopening when we settle with a new author to take over the draft

[2022-06-30 12:34] #141 closed

[2022-07-01 07:14] 29988122 commented on #215
Sorry. Too occupied for the past few days.

https://www.smartcontractresearch.org/t/research-summary-analysis-of-decentralized-mixing-services-in-the-greater-bitcoin-ecosystem/1701

Posted. Am ready to answer/watch discussions happening below the post.

[2022-07-01 07:14] #215 closed

[2022-07-01 09:55] RuthTolulope opened #296 "Research Summary: SCSGuard: Deep Scam Detection for Ethereum Smart Contracts"
Contributor: David (@cashkid1994)

Drafting Deadline: July 31, 2022

Link to the Paper: https://arxiv.org/pdf/2105.10426.pdf

Link to the Draft: https://docs.google.com/document/d/1_DF-d-8rT1H3TvGCFXipyHQIcjjgl-qP3MTLucXEZiU/edit?usp=sharing

Source of Approval: RP 23, Call for summaries

[2022-07-01 12:57] pvblick-vniversal-friend commented on #265
So what's left now is to receive and answer the questions from the engagement team, right?

[2022-07-01 15:49] zubepaul commented on #265
GTM questions have been added to the draft @pvblick-vniversal-friend. Please tag reply when that is done

[2022-07-01 17:41] ralphlombreglia commented on #215
@29988122 Thanks for publishing. I asked one of your questions in response.

[2022-07-01 21:59] ElBethy commented on #289
Hello,

Here's the link for the research summary

https://docs.google.com/document/d/1dPKg3lDcbWwZf1ocQfiUqgUmvR-NbapYKTc3DDTNymc/edit#heading=h.ikcr71959rtx

Thanks

On Wed, Jun 29, 2022 at 12:45 PM twan-dev ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.***, ***@***.***

[2022-07-03 07:23] encore9870 opened #297 "Discussion Post on SBTs"
Description: A piece on SBTs.
Contributor: @jamesmcgirk
First Draft: June 30, 2022
Source of Approval: HC
[Link to Draft](https://docs.google.com/document/d/11QaDMSdg7cV4NhUhEZiC2nTtFIg5wu1xmtWvQ-3t0yM/edit?usp=sharing)

[2022-07-03 07:42] encore9870 commented on #297
For the record, we had 3 people read through and review the summary. It's not from the usual process in the content pipeline, but I'm creating this ticket to leave a record.

[2022-07-03 07:50] encore9870 commented on #297
Got to meet with James, Ralph, and Eugene on US Thursday morning. I was the only person in the meeting that had reservations about publishing this piece (as documented in the draft link), while everyone else was all for it.

We haven't heard back on Thursday, Friday, or today. I guess since I was the only person with an inclination to push back, then if I'm okay it's ready to publish. @jamesmcgirk

[2022-07-03 07:59] encore9870 opened #298 "Request for social media handles from summary authors"

[2022-07-03 07:59] encore9870 commented on #298
wrong repo. need to close/delete

[2022-07-03 07:59] #298 closed, assigned to RuthTolulope

[2022-07-03 10:46] encore9870 commented on #269
Iceboxing for special project (by @cipherix) purposes. The GTM questions have been completed for future references.

[2022-07-04 14:03] encore9870 commented on #289
Got it. Seems like the same link in the description.

[2022-07-05 04:10] ElBethy commented on #289
Thanks.

On Mon, Jul 4, 2022 at 3:03 PM twan-dev ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.***, ***@***.***

[2022-07-05 06:42] Ulyssesmathew commented on #296
@twan-dev Any news on this?

[2022-07-05 06:45] twan-dev commented on #296
We've told you, you need to finish the other drafts in the content pipeline before starting a new one

[2022-07-05 07:04] encore9870 commented on #296
sorry, I confused you with another contributor that also wanted to summarize this work.

[2022-07-05 07:51] content-scrf opened #299 "Research Summary: Mitigating Game Theoretic vulnerabilities in Chainlink"
Contributor: Samuel (@samuelngwu)

Drafting Deadline: July 20, 2022

Link to the Paper: https://repository.tudelft.nl/islandora/object/uuid:b9a62989-f7b3-4334-af27-c4cde929d7df

Link to the Draft: https://docs.google.com/document/d/1i0iAxg3GgNny2C6oGQmMh6MjUvSFwgYljrZCeX3IUXQ/edit?usp=sharing

Source of Approval: RP 20, Call for Summaries

[2022-07-05 07:58] samuelngwu commented on #299
Thank you for the approval.

The drafting dare should be 20th July not June since we are already in July.

Best regards
Samuel Ngwu

On Tue, 5 Jul 2022, 08:51 content-scrf, ***@***.***> wrote:

[2022-07-05 08:00] encore9870 commented on #299
- [x] Onboarding
- [x] The contributor does not have competing priorities in the content pipeline

[2022-07-05 08:02] samuelngwu commented on #299
Thank you for the clarification, Twan.

On Tue, 5 Jul 2022, 09:00 twan-dev, ***@***.***> wrote:

[2022-07-05 08:46] Ulyssesmathew commented on #296
Alright. No Problem.

[2022-07-05 19:07] pvblick-vniversal-friend commented on #265
@zubepaul Done,

[2022-07-06 08:31] content-scrf opened #300 "Research Summary: Mitigating Sandwich Attacks in Kyber DMM"
Contributor: Matthew (@Ulyssesmathew)

Drafting Deadline: July 24, 2022

Link to the Paper: https://repository.tudelft.nl/islandora/object/uuid:58ac3b00-10fb-44cd-b1eb-1e1139c39fd7/datastream/OBJ/download

Link to the Draft: https://docs.google.com/document/d/1aYjU7rJfGbvJBU1pr2tXqXnHTHA1avqE97ZlYG1n_eI/edit?usp=sharing

Source of Approval: RP 20, Call for Summaries

[2022-07-06 10:38] encore9870 commented on #276
I believe that has finished editing. Moving to the next stage to complete the final steps before publishing.

[2022-07-06 10:38] encore9870 commented on #286
I believe that has finished editing. Moving to the next stage to complete the final steps before publishing.

[2022-07-06 10:53] encore9870 commented on #291
- [x] Onboarding
- [ ] The author does not have competing priorities in the content pipeline

[2022-07-06 10:55] encore9870 commented on #260
Moving to icebox until the author becomes available and in touch again

[2022-07-06 13:28] zubepaul commented on #254
@twan-dev @Fizzymidas Engagement review complete, can be published no sooner than July 6th 2022

[2022-07-06 13:55] content-scrf commented on #276
Hi @osapeter, here is the markdown version of your research summary https://hackmd.io/@content/SyPWBMmoq.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.

[2022-07-06 14:11] content-scrf commented on #286
Hi @osapeter, here is the markdown version of your research summary https://hackmd.io/@content/SkTmxz7sc.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.

[2022-07-06 18:15] jamesmcgirk commented on #286
@osapeter hey there, I've been assigned to work on engagement for this piece. I'll be asking you some questions soon

[2022-07-06 18:51] osapeter commented on #286
Thanks @jamesmcgirk I am glad to work with you

[2022-07-07 14:44] Fizzymidas commented on #254
Thank you @zubepaul

@twan-dev this is now published. will you close the issue?

[2022-07-07 15:40] ralphlombreglia commented on #281
Hi @tomideadeoye. I'm the Engagement person for this summary on the SCRF Forum. As a first step, I've pasted in our "Go to Market (GTM) questions at the bottom of your summary draft. Please answer these to the best of your ability. The question "Please list 4 questions that we can ask you to get conversation going." is particularly important to us, so give that some extra thought. Thanks! Looking

[2022-07-07 15:42] ralphlombreglia commented on #282
Hi @RuthTolulope. I'm the Engagement person for this summary on the SCRF Forum. As a first step, I've pasted in our "Go to Market (GTM) questions at the bottom of your summary draft. Please answer these to the best of your ability. The question "Please list 4 questions that we can ask you to get conversation going" is particularly important, so give that some extra thought. Thanks! Looking forward

[2022-07-07 15:44] ralphlombreglia commented on #280
Hi @Hartxyz. I'm the Engagement person for this summary on the SCRF Forum. As a first step, I've pasted in our "Go to Market (GTM) questions at the bottom of your summary draft. Please answer these to the best of your ability. The question "Please list 4 questions that we can ask you to get conversation going" is particularly important, so give that some extra thought. Thanks! Looking forward to w

[2022-07-07 15:50] content-scrf opened #301 "Research Summary: Attacks on Smart Contracts"
Engaging with the researchers of https://helda.helsinki.fi/bitstream/handle/10138/345427/20220607_Porkka_Pro_Gradu_FINAL.pdf?sequence=2

Expecting to get them around by EOM

[2022-07-08 15:01] zubepaul commented on #265
@pvblick-vniversal-friend The GTM strategy doc is completed and linked below. Please review it and we can have a discussion about refinements you would want to make in preparation for publication to the forum.
https://docs.google.com/document/d/1G0WYENROUmiH4v4xGyv78k18IZDJAQvVfAbX90dImyg/edit#

[2022-07-08 15:15] zubepaul commented on #265
Conducting an experiment for Engagement
- [x] Engagement Board Task Created

Edit: It did not work as intended

[2022-07-08 15:18] encore9870 commented on #296
- [x] Onboarding
- [x] Contributor does not have competing priorities in the content pipeline

[2022-07-08 18:16] jamesmcgirk commented on #268
@SethHasi - don't forget your edits!

[2022-07-08 20:05] tomideadeoye commented on #281
Hello @ralphlombreglia . Glad to hear from you. I will revert shortly with the details.

[2022-07-11 06:09] encore9870 commented on #300
- [x] Onboarding
- [x] Contributor does not have competing priorities in the pipeline

[2022-07-11 06:30] encore9870 commented on #210
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:30] #210 closed

[2022-07-11 06:30] encore9870 commented on #68
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:30] #68 closed

[2022-07-11 06:30] #175 closed

[2022-07-11 06:30] encore9870 commented on #82
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:30] #82 closed

[2022-07-11 06:30] encore9870 commented on #69
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:30] #69 closed

[2022-07-11 06:30] encore9870 commented on #78
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:30] #78 closed

[2022-07-11 06:31] encore9870 commented on #76
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:31] #76 closed

[2022-07-11 06:32] encore9870 commented on #24
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:32] #24 closed

[2022-07-11 06:32] encore9870 commented on #36
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:32] #36 closed

[2022-07-11 06:32] encore9870 commented on #27
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:32] #27 closed

[2022-07-11 06:34] encore9870 commented on #57
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:34] #57 closed

[2022-07-11 06:34] encore9870 commented on #77
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:34] #77 closed

[2022-07-11 06:34] encore9870 commented on #55
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:34] #55 closed

[2022-07-11 06:34] encore9870 commented on #56
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:34] #56 closed

[2022-07-11 06:35] encore9870 commented on #48
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:35] #48 closed

[2022-07-11 06:42] encore9870 commented on #16
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:42] #16 closed

[2022-07-11 06:44] #95 closed

[2022-07-11 06:44] encore9870 commented on #132
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:44] #132 closed

[2022-07-11 06:44] encore9870 commented on #135
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:44] #135 closed

[2022-07-11 06:44] encore9870 commented on #124
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:44] #124 closed

[2022-07-11 06:45] encore9870 commented on #113
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:45] #113 closed

[2022-07-11 06:46] encore9870 commented on #112
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:49] encore9870 commented on #194
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:49] #194 closed

[2022-07-11 06:49] encore9870 commented on #201
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:49] #201 closed

[2022-07-11 06:50] #54 closed

[2022-07-11 06:53] encore9870 commented on #96
Interesting discussion. I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:53] #96 closed

[2022-07-11 06:55] encore9870 commented on #101
Interesting suggestion. I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:55] #101 closed

[2022-07-11 06:56] encore9870 commented on #90
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:56] #90 closed

[2022-07-11 06:57] #173 closed

[2022-07-11 06:57] encore9870 commented on #167
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:57] #167 closed

[2022-07-11 06:57] #180 closed

[2022-07-11 06:58] encore9870 commented on #119
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:58] #119 closed

[2022-07-11 06:59] encore9870 commented on #89
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-11 06:59] #89 closed

[2022-07-11 10:19] RuthTolulope commented on #282
Hi @ralphlombreglia, thank you for pasting the questions. I have responded to them. Please let me know if you'd like to have a conversation on them at any time.

[2022-07-11 18:42] content-scrf opened #302 "Research Summary: An Empirical Study of DeFi Liquidations: Incentives, Risks, and Instabilities"
Contributor: Jacob (@jacob-thrackle)

Drafting Deadline: August 5, 2022

Link to the Paper: https://arxiv.org/pdf/2106.06389.pdf

Link to the Draft: https://docs.google.com/document/d/1TwLd6FlpI3nNwASRkEswcfsmzE-jzIySqhz277vm3yU/edit?usp=sharing

Source of Approval: RP 19, Call for Summaries

[2022-07-12 03:49] Hartxyz commented on #280
Thank you @ralphlombreglia . I'm on it.

[2022-07-12 06:37] content-scrf opened #303 "Research Summary: SuperDetector: A Framework for Performance Detection on Vulnerabilities of Smart Contracts"
Contributor: Harvesto (@HarvestoOrlando)
Checking with Progress on: July 15, 2022
Link to Paper: https://iopscience.iop.org/article/10.1088/1742-6596/2289/1/012010/pdf
Link to Draft: https://docs.google.com/document/d/1P-qYiXL-gojNAmBDSRJt5N324Ehy_HHyTeoP0nSTjO4/edit

[2022-07-12 06:37] content-scrf commented on #303
- [x] Onboarding
- [x] Contributor does not have competing priorities in the content pipeline

[2022-07-12 06:40] encore9870 commented on #288
This has been through 1 round of edits and with a few additional steps, it can be published.

- [x] Titling
- [x] Review from internal cryptography person
- [x] Final confirmation of content
- [x] Markdown conversion

[2022-07-12 10:36] encore9870 commented on #288
Edits
- separated citation & reference
- changes "prospects" to "actionables"

[2022-07-13 00:17] jamesmcgirk commented on #286
@osapeter thanks so much! me too... I've added in a couple of questions for you to answer, and then we'll schedule some time for a Discord chat

[2022-07-13 08:44] osapeter commented on #286
@jamesmcgirk I am not sure exactly where you put up the questions for my response.  Do advise and direct as necessary.  Thanks

[2022-07-13 09:03] osapeter commented on #286
@jamesmcgirk I have gotten an update from @twan-dev

[2022-07-13 12:32] encore9870 commented on #289
@ElBethy Need you to go over the comments!

[2022-07-13 12:33] encore9870 commented on #290
@cashkid1994 Need you to go over the comments!

[2022-07-13 12:33] encore9870 commented on #294
@cashkid1994 Need you to go over the comments!

[2022-07-13 12:34] encore9870 commented on #279
We're expecting Faith to resume work around August! (correct me if I'm wrong)

[2022-07-13 12:42] #244 closed

[2022-07-13 12:42] #243 closed

[2022-07-13 12:42] encore9870 commented on #221
Closing this as we have moved the podcast discussion away and will be using this repository for content pipeline drafts.

[2022-07-13 12:42] #221 closed

[2022-07-13 12:42] encore9870 commented on #220
Closing this as we have moved the podcast discussion away and will be using this repository for content pipeline drafts.

[2022-07-13 12:42] #220 closed

[2022-07-13 12:43] encore9870 commented on #219
Closing this as we have moved the podcast discussion away and will be using this repository for content pipeline drafts.

[2022-07-13 12:43] #219 closed

[2022-07-13 12:43] encore9870 commented on #218
Closing this as we have moved the podcast discussion away and will be using this repository for content pipeline drafts.

[2022-07-13 12:43] #218 closed

[2022-07-13 12:43] encore9870 commented on #217
Closing this as we have moved the podcast discussion away and will be using this repository for content pipeline drafts.

[2022-07-13 12:43] #217 closed, assigned to nobody

[2022-07-13 12:43] encore9870 commented on #216
Closing this as we have moved the podcast discussion away and will be using this repository for content pipeline drafts.

[2022-07-13 12:43] #216 closed

[2022-07-13 12:43] encore9870 commented on #214
Closing this as we have moved the podcast discussion away and will be using this repository for content pipeline drafts.

[2022-07-13 12:43] #214 closed

[2022-07-13 12:43] #148 closed

[2022-07-13 12:43] #191 closed

[2022-07-13 12:43] #192 closed

[2022-07-13 12:44] #10 closed

[2022-07-13 12:45] encore9870 commented on #11
Closing this as part of cleaning stale tickets in Github

[2022-07-13 12:45] #11 closed

[2022-07-13 12:46] encore9870 commented on #43
Great idea. This is now captured in the wider video/podcast/live recording idea. smartcontractresearchforum/core-projects#4 for some info on the content team's perspective.

[2022-07-13 12:47] encore9870 commented on #44
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-13 12:47] #44 closed

[2022-07-13 12:47] encore9870 commented on #71
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-13 12:47] #71 closed

[2022-07-13 12:47] encore9870 commented on #79
I'm closing all issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-13 12:47] #79 closed

[2022-07-13 17:29] zubepaul commented on #265
@twan-dev @pvblick-vniversal-friend Engagement Review complete. Approved to publish no sooner than July 13, 2022

[2022-07-14 11:44] ralphlombreglia commented on #282
Thank you, @RuthTolulope, for your answers to the GtM questions. They are smart and useful. I recommend that we move this summary along toward publishing.

[2022-07-14 11:51] ralphlombreglia commented on #281
Hi @tomideadeoye. We're still waiting for your answers to our GtM questions, which we need for encouraging engagement with your summary after it's published. Please let me know if you're having problems with this process.

[2022-07-14 11:54] ralphlombreglia commented on #280
Hi @Hartxyz. I know that answering the GtM questions intelligently takes some time. Please let me know when you think you'll be able to do that, or if you're having any problems with it.

[2022-07-14 15:16] Fizzymidas commented on #279
Hi Twan, I think there is a misunderstanding. I am done with this research summary. You already did the first review.

You must be referring to the Discussion post on DAO legal wrappers that I expect to resume in August.

[2022-07-15 05:15] jamesmcgirk commented on #286
@zubepaul gtm complete

[2022-07-15 08:26] #254 closed

[2022-07-15 08:26] #297 closed, assigned to jamesmcgirk

[2022-07-15 08:26] #261 closed

[2022-07-15 08:26] #275 closed

[2022-07-15 08:26] #274 closed

[2022-07-15 08:26] #236 closed

[2022-07-15 08:26] #251 closed

[2022-07-15 08:26] #258 closed

[2022-07-15 08:26] #250 closed

[2022-07-15 08:26] #238 closed

[2022-07-15 08:26] #155 closed

[2022-07-15 08:27] #246 closed

[2022-07-15 08:27] #211 closed

[2022-07-15 08:27] #235 closed

[2022-07-15 08:27] #171 closed

[2022-07-15 08:27] #186 closed

[2022-07-15 08:27] #152 closed

[2022-07-15 08:27] #196 closed

[2022-07-15 08:27] #146 closed

[2022-07-15 08:27] #164 closed

[2022-07-15 08:27] #145 closed

[2022-07-15 08:27] #202 closed

[2022-07-15 08:27] #170 closed

[2022-07-15 08:28] #181 closed

[2022-07-15 08:28] #188 closed

[2022-07-15 08:28] #136 closed

[2022-07-15 08:28] #166 closed

[2022-07-15 08:28] #138 closed

[2022-07-15 08:28] #150 closed

[2022-07-15 08:28] #38 closed

[2022-07-15 08:28] #61 closed

[2022-07-15 08:28] #59 closed

[2022-07-15 08:28] #70 closed

[2022-07-15 08:28] #35 closed

[2022-07-15 08:29] #31 closed

[2022-07-15 08:29] #23 closed

[2022-07-15 08:29] #12 closed

[2022-07-15 08:29] #65 closed

[2022-07-15 08:29] #29 closed

[2022-07-15 08:29] #102 closed

[2022-07-15 08:29] #83 closed

[2022-07-15 08:29] #62 closed

[2022-07-15 08:29] #104 closed

[2022-07-15 08:29] #74 closed

[2022-07-15 08:29] #80 closed

[2022-07-15 08:29] #103 closed

[2022-07-15 08:29] #72 closed

[2022-07-15 08:29] #87 closed

[2022-07-15 08:29] #130 closed

[2022-07-15 08:29] #108 closed

[2022-07-15 08:29] #92 closed

[2022-07-15 08:29] #137 closed

[2022-07-15 08:29] #110 closed

[2022-07-15 08:29] #109 closed

[2022-07-15 08:29] #121 closed

[2022-07-15 08:30] #151 closed

[2022-07-15 08:30] #115 closed

[2022-07-15 08:30] #133 closed

[2022-07-15 08:30] #143 closed

[2022-07-15 08:32] #98 closed

[2022-07-15 08:32] #100 closed

[2022-07-15 08:33] #140 closed

[2022-07-15 08:33] #204 closed

[2022-07-15 08:33] #177 closed

[2022-07-15 08:34] #234 closed

[2022-07-15 08:34] #260 closed

[2022-07-15 08:35] #269 closed

[2022-07-15 09:30] content-scrf opened #304 "Research Summary: Resurrecting Address Clustering in Bitcoin"
Contributor: Idara (@idybest)

Drafting Deadline: July 20, 2022

Link to the Paper: https://arxiv.org/pdf/2107.05749.pdf

Link to the Draft: https://docs.google.com/document/d/1-zeaa91cgP31EhY3u1dmFUST9lhX0UXSFlQpFAY8kxM/edit?usp=sharing

Source of Approval: RP 22, Call for Summaries

[2022-07-15 09:45] content-scrf opened #305 "Discussion Post: Cryptoeconomics as a Limitation on Governance"
Contributor: David Wither (@davidwither)

Drafting Deadline: August 20, 2022

Link to the Paper: https://osf.io/wzf85?view_only=a10581ae9a804aa197ac39ebbba05766

Link to the Draft: https://docs.google.com/document/d/13FD1_QTpl5XiV-MnyCGPoIFGUSX3dWW7mYxYRBCKfj4/edit?usp=sharing

Source of Approval: RP 55

[2022-07-15 10:59] #91 closed

[2022-07-15 11:00] #67 closed

[2022-07-15 11:00] #15 closed

[2022-07-15 11:00] #4 closed

[2022-07-15 11:00] #2 closed

[2022-07-15 11:00] #1 closed

[2022-07-15 11:01] #205 closed

[2022-07-15 11:01] #213 closed

[2022-07-15 11:02] encore9870 commented on #197
test was successful

[2022-07-15 11:02] #197 closed

[2022-07-15 11:02] encore9870 commented on #212
test was successful

[2022-07-15 11:02] #212 closed

[2022-07-15 11:02] encore9870 commented on #225
test was successful

[2022-07-15 11:02] #225 closed

[2022-07-15 11:02] encore9870 commented on #226
test was successful

[2022-07-15 11:02] #226 closed

[2022-07-15 11:02] #94 closed

[2022-07-15 11:03] #182 closed

[2022-07-15 11:03] #168 closed

[2022-07-15 11:03] #174 closed

[2022-07-15 11:04] #230 closed

[2022-07-15 11:09] encore9870 opened #306 "Research Summary: User perceived privacy in Blockchain"
A summary by the researchers: https://eprint.iacr.org/2022/287.pdf

Draft in SCRF's drive:
(Removed)

[2022-07-15 11:10] encore9870 opened #307 "Research Summary: Studying Bitcoin privacy attacks and their Impact on Bitcoin-based Identity Methods"
A summary by the researchers
https://link.springer.com/chapter/10.1007/978-3-030-85867-4_7

Draft in SCRf's drive:
(Removed)

[2022-07-15 11:13] encore9870 opened #308 "Research Summary: Decentralized Governance of Stablecoins with Closed Form Valuation"
This paper used to be called "Decentralized Governance of Stablecoins with Option Pricing", and was selected to RP33 (3302)

[2022-07-15 11:14] encore9870 opened #309 "Research Summary: Penny Wise and Pound Foolish: Quantifying the Risk of Unlimited Approval of ERC20 Tokens on Ethereum"
A summary by the researchers. We're expecting their draft by Monday.

[2022-07-15 11:16] encore9870 opened #310 "Research Summary: FlashSyn: Flash Loan Attack Synthesis via Counter Example Driven Approximation"
https://arxiv.org/abs/2206.10708

[2022-07-15 11:17] encore9870 opened #311 "Research Summary: Suborn Channels: Incentives Against Timelock Bribes"
A summary by the researchers. Expecting the draft by EOM.

[2022-07-15 11:18] encore9870 opened #312 "Research Summary: Do not rug on me: zero-dimensional scam detection"
Already published on May 17, 2022. Creating an issue to keep the record.

[2022-07-15 11:18] #312 closed, assigned to nobody

[2022-07-15 11:19] encore9870 opened #313 "Research Summary: Dissimilar Redundancy in DeFi"
Already published on May 24, 2022. Keeping it as an issue for the record

[2022-07-15 11:19] #313 closed, assigned to nobody

[2022-07-15 11:21] encore9870 opened #314 "Research Summary: A DeFi Bank Run: Iron Finance, IRON Stablecoin, and the Fall of TITAN"
Already published on July 1, 2022. Keeping it as an issue just for the record.

[2022-07-15 11:22] #314 closed, assigned to nobody

[2022-07-15 11:29] encore9870 opened #315 "Discussion Post: Stablecoin Collateralization"
A post to clarify common confusions around a paper the researcher authored.

[2022-07-15 11:31] encore9870 opened #316 "Research Summary: Constant Power Root Market Makers"
Already published on Jun 30, 2022. Creating a ticket just for reference.

[2022-07-15 11:31] #316 closed, assigned to nobody

[2022-07-15 11:33] encore9870 opened #317 "Research Summary: CryptoMaze: Privacy-Preserving Splitting of Off-Chain Payments"
Already published on June 22, 2022. Creating an issue just for future reference.

[2022-07-15 11:33] #317 closed, assigned to nobody

[2022-07-15 11:36] encore9870 opened #318 "Research Summary: Privacy preserving decentralized netting"
Waiting for the researcher to incorporate edits to the draft.

[2022-07-15 11:39] encore9870 commented on #265
Published July 15, 2022

[2022-07-15 11:39] #265 closed

[2022-07-15 12:15] cashkid1994 commented on #294
Dear Twan,
This draft have been worked on as requested 
    On Wednesday, July 13, 2022 at 01:33:42 PM GMT+1, twan-dev ***@***.***> wrote:

@cashkid1994 Need you to go over the comments!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-15 12:16] cashkid1994 commented on #294
Kindly ignore the last message.
It wasn't for this paper
    On Friday, July 15, 2022 at 01:15:09 PM GMT+1, Chiebonam Onah ***@***.***> wrote:

  Dear Twan,
This draft have been worked on as requested 
    On Wednesday, July 13, 2022 at 01:33:42 PM GMT+1, twan-dev ***@***.***> wrote:

@cashkid1994 Need you to go over the comments!

—
Reply to this email directly, view it on GitHub, or unsubscribe.

[2022-07-15 12:17] cashkid1994 commented on #290
Dear Twan,
This draft have been worked on as requested 
    On Wednesday, July 13, 2022 at 01:33:35 PM GMT+1, twan-dev ***@***.***> wrote:

@cashkid1994 Need you to go over the comments!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-15 12:28] encore9870 commented on #290
Gotcha we'll get to it soon. In the meantime, I see that there are still open edit suggestions. Please go through them (accept the edits, or communicate) so they can be resolved soon!

[2022-07-15 13:31] cashkid1994 commented on #290
Dear twan,
Kindly check again
    On Friday, July 15, 2022 at 01:28:24 PM GMT+1, twan-dev ***@***.***> wrote:

Gotcha we'll get to it soon. In the meantime, I see that there are still open edit suggestions. Please go through them (accept the edits, or communicate) so they can be resolved soon!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you we

[2022-07-15 14:39] cashkid1994 commented on #294
Dear Twan,
This have been worked on as requested 
    On Wednesday, July 13, 2022 at 01:33:42 PM GMT+1, twan-dev ***@***.***> wrote:

@cashkid1994 Need you to go over the comments!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-15 17:31] encore9870 commented on #307
prioritize this draft (let this post go first, post a week apart) before #306

[2022-07-16 19:27] ElBethy commented on #289
Will do.

On Wed, Jul 13, 2022 at 1:33 PM twan-dev ***@***.***> wrote:

--
Aderonke F. Thompson *(Ph.D)*
Department of Cybersecurity Science
Federal University of Technology, Akure
Nigeria.
***@***.***, ***@***.***

[2022-07-16 19:48] ralphlombreglia commented on #259
Hi @Debbycool. I'm the Engagement person for this summary on the SCRF Forum. As a first step, I've pasted in our "Go to Market (GTM) questions at the bottom of your summary draft:

https://docs.google.com/document/d/1hSyZTtcxpgps_rAHZDRCzalfPPHZsyLhufkNJ7GhTuw/edit#

Please answer these to the best of your ability. The question "Please list 4 questions that we can ask you to get the conversation g

[2022-07-17 08:44] encore9870 opened #319 "Research Summary: Ponyta: Foundations of Side-Contract-Resilient Fair Exchange"
By the researchers. They are proofreading the draft.

[2022-07-17 08:46] encore9870 opened #320 "Research Summary: Prisma: A Tierless Language for Enforcing Contract-Client Protocols in Decentralized Applications"
By the researchers. They say that they are likely to get by a first draft by next week.

[2022-07-17 21:54] osapeter commented on #281
@tomideadeoye kindly review and update the summary. I have included some suggestions and inquiries for your validation.

[2022-07-17 23:10] Hartxyz commented on #280
Hello @ralphlombreglia. I have filled in my answers for the questions. Apologies for the delay.

[2022-07-18 00:34] jamesmcgirk commented on #306
@twan-dev I made a few very minor suggestions. Ready for engagement / publication

[2022-07-18 00:48] jamesmcgirk commented on #307
@twan-dev made some edits to this one, it's in good shape should be ready for engagement and publishing

[2022-07-18 05:20] encore9870 commented on #307
@jamesmcgirk Thank you so much!!

[2022-07-18 05:20] encore9870 commented on #306
@jamesmcgirk Thank you so much!!

[2022-07-18 06:05] encore9870 opened #321 "Research Summary: zPROBE: Zero Peek Robustness Checks for Federated Learning"
Paper:
https://arxiv.org/abs/2206.12100
Draft:
https://docs.google.com/document/d/1g-9oHNamqXT7WMNyfLliI1-s3-v-7-k4z9CEZ_kYMEg/edit?usp=sharing

[2022-07-18 06:11] encore9870 commented on #319
makes more sense in this column

[2022-07-18 06:16] encore9870 opened #322 "Discussion Post: MEV"
By the researcher that created #312

[2022-07-18 07:43] content-scrf commented on #302
- [x] Onboarding
- [x] Contributor does not have another draft in the drafting or editing stages

[2022-07-18 07:56] content-scrf commented on #304
- [x] Onboarding

- [x] Contributor does not have another draft in the drafting or editing stages

[2022-07-18 08:40] content-scrf opened #323 "Research Summary: On the Anonymity Guarantees of Anonymous Proof-of-Stake Protocols"
Contributor: Jeremiah (jeriwice)

Drafting Deadline: August 21, 2022

Link to the Paper: https://eprint.iacr.org/2021/409.pdff

Link to the Draft: https://docs.google.com/document/d/15XVYpCSleaAh9lo6HIljq28MlTk9qZoAL5QmoDrsLUM/edit?usp=sharing

Source of Approval: RP 7, Call for Summaries

[2022-07-18 08:57] encore9870 commented on #300
- [x] all sections have been filled out

[2022-07-18 11:05] osapeter commented on #282
@RuthTolulope I have included some suggestions and inquiries for your validation.

[2022-07-18 14:24] Debbycool commented on #259
Very well @ralphlombreglia I'll respond to the questions and revert. Looking forward to working with you as well.

[2022-07-18 14:26] Debbycool commented on #259
Very well Mr Ralph. I'll respond to the questions and revert. Looking
forward to working with you as well.

God bless.

Deborah Enyone Oni
Lead Partner
Hilton Top Solicitors

D/L : +234 9090245747
Office : +234 7047323799

Website: www.hiltontopsolicitors.com

On Sat, 16 Jul 2022, 20:48 Ralph Lombreglia, ***@***.***>
wrote:

[2022-07-18 14:27] encore9870 opened #324 "Research Summary: New optimization techniques for PlonK’s arithmetization"

[2022-07-18 16:03] ralphlombreglia commented on #280
Hi @Hartxyz. No problem at all with your timing; I just reminded you to make sure you realized the questions were ready.

@twan-dev @zubepaul: I think the GtM questions are answered well and we can move this to the next step.

[2022-07-18 19:26] RuthTolulope commented on #259
Hi @Debbycool, here is the markdown version of your research summary https://hackmd.io/@content/Hkuqo-k3q.
Kindly ensure that this is the ultimate version that is uploaded to the forum when publication is approved.
Let me know if you have any questions or need assistance.

[2022-07-18 21:03] osapeter commented on #280
Hello @Hartxyz, I am from the content review team, kindly review and update the summary. I have included some suggestions and inquiries for your validation. Thanks

[2022-07-18 21:18] Hartxyz commented on #280
Thank you @osapeter . I have reviewed all suggestions. I left a question to your comment. I'd really love some clarification on it.